<div class="table-toolbar">

    <ul class="list-group list-group-horizontal border-0">

        <li class="list-group-item border-0 refreshicon" aria-label="..." data-bs-toggle="tooltip"
            data-bs-placement="bottom" data-bs-original-title="Refresh">
            <i class="fal fa-redo"></i>
        </li>

    </ul>
    <div class="selected-row" style="display: none;">
        Selected <span class="badge skyBg rounded-pill">05<span>
            </span></span></div>
    <div class="pagination-bar">
        <span>1-100 of 569</span>
        <span>
            <i class="fal fa-chevron-left"></i>
        </span>
        <span>
            <i class="fal fa-chevron-right"></i>
        </span>
    </div>
</div>