<div class="content-box-wrapper d-flex w-100">
    <div class="middle-content d-flex">
        <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box"
            [fullScreen]="false">
            <p style="color: white"> Loading... </p>
        </ngx-spinner>
        <div class="page-content-wrapper custom-scroll" data-scrollbar="true" tabindex="-1"
            style="overflow: auto; outline: none;">

            <div class="scroll-content">
                <div class="p-4">
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <ul class="nav nav-tabs nav-fill linetabs" id="myTab1" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="query-tab" data-bs-toggle="tab"
                                        data-bs-target="#query-tab-pane" type="button" role="tab"
                                        aria-controls="home-tab-pane" aria-selected="true">Query</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="response-tab" data-bs-toggle="tab"
                                        data-bs-target="#response-tab-pane" type="button" role="tab"
                                        aria-controls="profile-tab-pane" aria-selected="false"
                                        tabindex="-1">Response</button>
                                </li>

                            </ul>
                        </div>


                    </div>
                    <form [formGroup]="IntendForm">

                        <div class="tab-content" id="myTabContent">

                            <div class="tab-pane fade show active" id="query-tab-pane" role="tabpanel"
                                aria-labelledby="query-tab" tabindex="0">
                                <div class="row align-items-start pb-5">
                                    <div class="col-md-3">
                                        <form>
                                            <div class="icon-input mb-3">
                                                <i class="fa-light fa-magnifying-glass"></i>
                                                <input class="form-control" [(ngModel)]="searchIntent"
                                                    placeholder="Search  ">
                                            </div>

                                        </form>

                                        <ul class="list-group list-group-flush component-list">
                                            <li *ngFor="let item of items | chatBotIntentFilter:searchIntent"
                                                class="list-group-item d-flex align-items-center justify-content-between rounded mb-2"
                                                [class.active]="item.active" (click)="selectIntent(item)"
                                                style="cursor: pointer;">
                                                <span>{{formatUtterance (item?.intent) }}</span>
                                                <div class="count-progress">

                                                    <span class="iconHover medium iconButton fadehide"
                                                        (click)="DeleteIntent(item.intent , $event)">
                                                        <i class="fa-light fa-trash radical"></i>
                                                    </span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="d-flex align-items-center justify-content-between mb-3">

                                        </div>
                                        <div class="card">
                                            <div
                                                class="card-header p-3 d-flex align-items-center justify-content-between bg-transparent">
                                                <h5 class="ms-3"> Add Intent</h5>
                                            </div>
                                            <div class="card-body">
                                                <input type="text" class="form-control" placeholder="Enter Intent"
                                                    formControlName="intent" [disabled]="isIntentSelected">
                                                <div *ngIf="IntendForm.get('intent')?.invalid && IntendForm.get('intent')?.touched"
                                                    class="text-danger mt-2">
                                                    Invalid input. Only alphabets, numerics, and spaces are allowed.
                                                </div>
                                            </div>
                                            <div
                                                 *ngIf="!isViewMode"class="card-header p-3 d-flex align-items-center justify-content-between bg-transparent">
                                                <h5 class="m-0"> Training Phrases</h5>

                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <textarea *ngIf="!isViewMode" name="" class="form-control" cols="16"
                                                        rows="4"
                                                        placeholder="Enter new training pharase manually and click on Generate training Phrases ......"
                                                        formControlName="newPhrase"
                                                        (keyup.enter)="addManuallyEnteredPhrase()"></textarea>
                                                </div>
                                                <ul class="list-group list-group-flush training-list"
                                                    data-scrollbar="true" tabindex="-1"
                                                    style="overflow: hidden; outline: none;">
                                                    <div class="scroll-container">
                                                        <ul class="list-group">
                                                            <span>
                                                                <li *ngFor="let item of Enterphrase"
                                                                    class="list-group-item d-flex align-items-center justify-content-between">
                                                                    <div>
                                                                        <input *ngIf="!isViewMode"
                                                                            class="form-check-input me-1"
                                                                            type="checkbox" [id]="'checkbox' + item.id"
                                                                            [value]="item.label"
                                                                            (change)="togglePhraseSelection(item.label)">

                                                                        <label class="form-check-label"
                                                                            [for]="'checkbox' + item.id">{{ item.label
                                                                            }}</label>
                                                                    </div>

                                                                </li>
                                                            </span>
                                                            <div
                                                                class="card-header p-3 d-flex align-items-center justify-content-end bg-transparent">
                                                                <button class="btn snowBg btn-sm night" type="button"
                                                                    (click)="generateAugments()"
                                                                    *ngIf="!isViewMode">Generate Training
                                                                    Phrases</button>
                                                            </div>

                                                            <li *ngFor="let item of phrase"
                                                                class="list-group-item d-flex align-items-center justify-content-between">
                                                                <div>
                                                                    <input *ngIf="!isViewMode"
                                                                        class="form-check-input me-1" type="checkbox"
                                                                        [id]="'checkbox' + item.id" [value]="item.label"
                                                                        (change)="togglePhraseSelection(item.label)">

                                                                    <label class="form-check-label"
                                                                        [for]="'checkbox' + item.id">{{ item.label
                                                                        }}</label>
                                                                </div>

                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="text-end mb-3">
                                                        
                                                        
                                
                                                        <button *ngIf="!isViewMode" type="button"
                                                        class="btn btn-outline-secondary btn-medium me-2" style ="font-size: 14px !important; background-color: white !important; color:black !important; min-width:100px !important;"
                                                            (click)="saveChatbot()">Save</button>
                                                        <button class="btn__theme flex items-center ms-2 px-4 btn-medium saveBtn" style ="font-size: 14px !important;" type="button"
                                                            *ngIf="isViewMode"
                                                            (click)="cancelIntentSelection()">Cancel</button>
                                                    </div>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="response-tab-pane" role="tabpanel"
                                aria-labelledby="response-tab" tabindex="0">
                                <div class="row align-items-start pb-5">
                                    <div class="col-md-3">
                                        <form>
                                            <div class="icon-input mb-3">
                                                <i class="fa-light fa-magnifying-glass"></i>
                                                <input class="form-control" placeholder="Search"
                                                    [(ngModel)]="searchResponse">
                                            </div>
                                        </form>
                                        <ul class="list-group list-group-flush component-list">
                                            <li *ngFor="let item of responseList | responsefilter:searchResponse"
                                                class="list-group-item d-flex align-items-center justify-content-between rounded mb-2"
                                                (click)="viewResponse(item)" style=" cursor: pointer">
                                                <span>{{formatUtterance (item?.utterance) }}</span>
                                                <span class="iconHover medium iconButton fadehide"
                                                    (click)="DeleteResponse(item.utterance , $event)">
                                                    <i class="fa-light fa-trash radical"></i>
                                                </span>
                                            </li>
                                        </ul>

                                    </div>
                                    <div class="col-md-9">
                                        <div class="d-flex align-items-center justify-content-between mb-3">
                                            <h6>Select Responses</h6>

                                        </div>
                                        <div class="card">
                                            <div
                                                class="card-header p-3 d-flex align-items-center justify-content-between bg-transparent">
                                                <h5 class="ms-3"> Add Response</h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <input type="text" class="form-control" cols="16" rows="4"
                                                        placeholder="Enter Response" formControlName="response"
                                                        [disabled]="isResponseSelected">
                                                    <div *ngIf="IntendForm.get('response')?.invalid && IntendForm.get('response')?.touched"
                                                        class="text-danger mt-2">Invalid input. Only alphabets,
                                                        numerics,
                                                        and spaces are allowed.</div>
                                                </div>

                                            </div>
                                            <div
                                                class="card-header p-3 d-flex align-items-center justify-content-between bg-transparent">
                                                <h5 class="m-0"> Responses</h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <textarea name="" class="form-control" cols="16" rows="4"
                                                        placeholder="Enter new training pharase......"
                                                        formControlName="text"
                                                        [disabled]="isResponseSelected"></textarea>
                                                </div>
                                                <div class="text-end mb-3">
                                                    <button *ngIf="!isResponseView" type="button"
                                                    class="btn btn-outline-secondary btn-medium me-2" style ="font-size: 14px !important; background-color: white !important; color:black !important; min-width:100px !important;"
                                                        (click)="SaveResponse()">Save</button>
                                                    <button class="btn__theme flex items-center ms-2 px-4 btn-medium saveBtn" style ="font-size: 14px !important;" type="button"
                                                        *ngIf="isResponseView"
                                                        (click)="cancelResponseSelection()">Cancel</button>
                                                </div>
                                                <ul class="list-group list-group-flush training-list"
                                                    data-scrollbar="true" tabindex="-1"
                                                    style="overflow: hidden; outline: none;">
                                                    <div class="scroll-content">
                                                        <li
                                                            class="list-group-item d-flex align-items-center justify-content-between">

                                                            <div class="action-icons d-flex align-items-center">
                                                                <span class="iconButton small iconHover me-2">
                                                                    <i class="fa-light fa-edit"></i>
                                                                </span>
                                                                <span class="iconButton small iconHover">
                                                                    <i class="fa-light fa-trash radical"></i>
                                                                </span>
                                                            </div>
                                                        </li>
                                                    </div>
                                                    <div class="scrollbar-track scrollbar-track-x"
                                                        style="display: none;">
                                                        <div class="scrollbar-thumb scrollbar-thumb-x"></div>
                                                    </div>
                                                    <div class="scrollbar-track scrollbar-track-y"
                                                        style="display: none;">
                                                        <div class="scrollbar-thumb scrollbar-thumb-y"></div>
                                                    </div>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>



                        </div>
                    </form>

                </div>
            </div>

            <div class="scrollbar-track scrollbar-track-x" style="display: none;">
                <div class="scrollbar-thumb scrollbar-thumb-x"
                    style="width: 1841px; transform: translate3d(0px, 0px, 0px);"></div>
            </div>
            <div class="scrollbar-track scrollbar-track-y" style="display: none;">
                <div class="scrollbar-thumb scrollbar-thumb-y"
                    style="height: 945px; transform: translate3d(0px, 0px, 0px);"></div>
            </div>
        </div>

    </div>

</div>

<div class="position-fixed toast-bar border-0 shadow-sm rounded navyBg" style="z-index: 60">
    <div [ngClass]="toastermessage == true ? 'show' : 'hide'" class="toast border-0 p-2 h-100 navyBg fade" role="alert"
        aria-live="assertive" aria-atomic="true">
        <div class="d-flex border-0 justify-content-between align-items-center w-100 h-100">
            <p class="toast-line-para ice m-0">{{AlterMsg}}</p>
            <div class="toast-btn d-flex align-items-center">

                <button type="button" class="btn m-0 ms-2" aria-label="Close" data-bs-dismiss="toast"
                    (click)="closeToaster()"><i class="fal fa-times"></i></button>

            </div>
        </div>
    </div>
</div>