<select 
        (change)="onTeamSelect($event)" 
        class="form-input form-select" 
        tabindex="-1" 
        aria-hidden="true">
    <option *ngFor="let op of opt; let i = index" [value]="op.id" [attr.selected]='op.id==selected?"selected":null' >{{ op.name }}</option>
</select>
<!-- [(ngModel)]="selectedTeam" -->
<!-- <ng-select [items]="opt"
            [(ngModel)]="selectedTeam"
            bindLabel="name" 
            bindValue="id"          
            [searchable]="false"
            [clearable]="false"
           >
        </ng-select> -->
