<!-- Coming From DB -->
<ng-container *ngFor="let menu of menus$" >
    <a (click)="update('all-inboxes/'+menu.link)"  routerLinkActive="active" ariaCurrentWhenActive="page"
    class="list-group-item d-flex justify-content-between align-items-center bg-transparent border-0 pt-0 pb-0 ps-2">
    <div class="list-group-text d-flex align-items-center" >
        <div class="iconButton medium" [innerHTML]="menu.icon">
            <!-- {{menu.icon}} -->
        </div>
        <a class="itemLabel">
            {{menu.name}}
        </a>
    </div>
    <!-- <span class="badge rounded-pill bg-light text-dark">38</span> -->
</a>
</ng-container>

<!-- Hard coded -->
<!-- <a (click)="update('all-inboxes')"
    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center bg-transparent border-0 pt-0 pb-0 ps-2">
    <div class="list-group-text d-flex align-items-center">
        <div class="iconButton medium">
            <i class="fal fa-inbox ice"></i>
        </div>
        <div class="itemLabel">
            All Inboxes
        </div>
    </div>
</a>
<a (click)="update('all-inboxes/sent')"
    class="list-group-item d-flex justify-content-between align-items-center bg-transparent border-0 pt-0 pb-0 ps-2">
    <div class="list-group-text d-flex align-items-center">
        <div class="iconButton medium">
            <i class="fal fa-paper-plane ice"></i>
        </div>
        <div class="itemLabel">
            Sent
        </div>
    </div>
</a> -->

<!-- Hard coded -->


<div class="position-fixed toast-bar border-0 shadow-sm rounded navyBg" style="z-index: 60">
    <div [ngClass]="toastermessage == true ? 'show' : 'hide'" class="toast border-0 p-2 h-100 navyBg fade" role="alert"
        aria-live="assertive" aria-atomic="true">
        <div class="d-flex border-0 justify-content-between align-items-center w-100 h-100">
            <p class="toast-line-para ice m-0">{{AlterMsg}}</p>
            <div class="toast-btn d-flex align-items-center">

                <button type="button" class="btn m-0 ms-2" aria-label="Close" data-bs-dismiss="toast"
                    (click)="closeToaster()"><i class="fal fa-times"></i></button>

            </div>
        </div>
    </div>
</div>
