<!-- From Database -->
<div class="dashboard-header-left">
  <nav class="navbar navbar-light bg-lightmain-navbar">
    <div class="container-fluid p-0">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation" *ngFor="let menu of inboxHeader">
          <button class="nav-link" [ngClass]="flag == menu.slug?'active':''"
            (click)="update('all-inboxes/'+menu.slug)" type="button">{{menu.name}}
            <span class="badge bg-white rounded-pill darkblue border " *ngIf="followUpCount>0 && menu.name =='Follow-Up'">{{followUpCount}}</span>
          </button>
        </li>
      </ul>
    </div>
  </nav>
</div>
