<!-- <header class="main-header shadow-sm agent-header">
    <div class="row justify-content-between">
        <div class="col-9"> -->
            <div class="dashboard-header-left">
                <nav class="navbar navbar-light bg-lightmain-navbar">
                  <div class="container-fluid p-0">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <!-- <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#Focused" type="button" role="tab" aria-controls="Focused" aria-selected="true">Focused <span class="badge bg-white rounded-pill darkblue border">{{UnResponded}}</span></button>
                      </li> -->
                      <!-- <li class="nav-item" role="presentation">
                        <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#livemonitoring" type="button" role="tab" aria-controls="livemonitoring" aria-selected="false" tabindex="-1">Live monitoring  <span class="badge bg-white rounded-pill darkblue border">0</span></button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="stars-tab" data-bs-toggle="tab" data-bs-target="#stars" type="button" role="tab" aria-controls="stars" aria-selected="false" tabindex="-1">Starred <span class="badge bg-white rounded-pill darkblue border">0</span></button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="Archive-tab" data-bs-toggle="tab" data-bs-target="#Archive" type="button" role="tab" aria-controls="Archive" aria-selected="false" tabindex="-1">Archive <span class="badge bg-white rounded-pill darkblue border">0</span></button>
                      </li>
              
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="Snoozed-tab" data-bs-toggle="tab" data-bs-target="#Snoozed" type="button" role="tab" aria-controls="Snoozed-tab" aria-selected="false" tabindex="-1">Snoozed <span class="badge bg-white rounded-pill darkblue border">0</span></button>
                      </li> -->
                    </ul>
                </div></nav>
              </div>
        <!-- </div>


        <div class="col-3">
            <right-header-components></right-header-components>
        </div>
    </div>
</header> -->