<!-- <div class="multiple-screens secondary-bg">
  <div id="all-inboxes-wrapper secondary-bg">
    <div class="collapsible__header py-4 px-3">
      <h3 class="level-3 font-regular py-4 px-3 fw-bold mt-3 ms-1 col-8" >
        <a (click)="updatevalue('consoleHeader')" [routerLink]="['/console/home']"
          >Console</a
        >
      </h3>
    </div> -->

<div class="multiple-screens secondary-bg" style="padding: 0px !important; margin-top: 0px !important;">
  <div id="all-inboxes-wrapper secondary-bg">
    <div class="collapsible__header">

      <h3 class="col-8 font-regular fw-bold level-3 px-3 pb-2 pt-3" >
        <a class="level-3 font-regular" (click)="updatevalue('consoleHeader')" [routerLink]="['/' + SubMenuPage.slug + '/home']">{{ SubMenuPage.name
          }}</a>
      </h3>
    </div>
  </div>
  <div class="spacer_line"></div>
  <!-- <ul class="list-group console-list mt-2" data-scrollbar="true" tabindex="-1"
        style="overflow-y: auto; outline: none;">
        <li class="list-group-item list-group-item-action" [hidden]="SuperTeamShow">
            <app-select-option></app-select-option>
        </li>
        <div class="scroll-content" style="transform: translate3d(0px, 0px, 0px);" *ngFor="let menu of menus$">
            <ng-template [ngIf]="menu.subMenu?.length<1" [ngIfElse]="showWithSubMenu">
                <li class="list-group-item list-group-item-action" >
                    <a (click)="updatevalue(menu.link)" [routerLink]="['/'+SubMenuPage.slug+'/'+menu.link]"
                        class="d-flex align-items-center">
                        <i class=" pe-2" [innerHTML]="menu.icon"></i>
                        {{menu.name}}
                    </a>
                </li>
            </ng-template>
            <ng-template #showWithSubMenu>
                <li class="list-group-item list-group-item-action collapsed" type="button"
                    data-bs-toggle="collapse" aria-expanded="false"
                    [attr.data-bs-target]="'#'+menu.slug"  [attr.aria-controls]="menu.slug">
                    <a class="d-flex chevron-icon align-items-center">
                        <i class="pe-2" [innerHTML]="menu.icon"></i>
                        {{menu.name}}
                    </a>
                </li>
                <ul class="list-unstyled-inner collapse" [attr.id]="menu.slug">
                    <li *ngFor="let submenu of menu.subMenu" class="list-group-item list-group-item-action d-flex align-items-center">
                        <a (click)="updatevalue(submenu.link)" [routerLink]="['/'+SubMenuPage.slug+'/'+menu.link+'/'+submenu.link]"
                            class="d-flex align-items-center">
                            <i class=" pe-2" [innerHTML]="submenu.icon"></i>
                            {{submenu.name}}
                        </a>
                    </li>
                </ul>
            </ng-template>
        </div>

    </ul> -->

  <!-- Hard Coded Menus -->
  <!-- <div class="scroll-content" style="transform: translate3d(0px, 0px, 0px)" *ngFor="let menu of menus$">
    <ng-template [ngIf]="menu.subMenu?.length < 1" [ngIfElse]="showWithSubMenu">
      <li class="list-group-item list-group-item-action">
        <a (click)="updatevalue(menu.link)" [routerLink]="['/' + SubMenuPage.slug + '/' + menu.link]"
          class="d-flex align-items-center">
          <i class="pe-2" [innerHTML]="menu.icon"></i>
          {{ menu.name }}
        </a>
      </li>
    </ng-template>
    <ng-template #showWithSubMenu>
      <li class="list-group-item list-group-item-action collapsed" type="button" data-bs-toggle="collapse"
        aria-expanded="false" [attr.data-bs-target]="'#' + menu.slug" [attr.aria-controls]="menu.slug">
        <a class="d-flex chevron-icon align-items-center">
          <i class="pe-2" [innerHTML]="menu.icon"></i>
          {{ menu.name }}
        </a>
      </li>
      <ul class="list-unstyled-inner collapse" [attr.id]="menu.slug">
        <li *ngFor="let submenu of menu.subMenu"
          class="list-group-item list-group-item-action d-flex align-items-center">
          <a (click)="updatevalue(submenu.link)" [routerLink]="[
              '/' + SubMenuPage.slug + '/' + menu.link + '/' + submenu.link
            ]" class="d-flex align-items-center">
            <i class="pe-2" [innerHTML]="submenu.icon"></i>
            {{ submenu.name }}
          </a>
        </li>
      </ul>
    </ng-template>
  </div> -->
  <ul class="list-group console-list mt-2" data-scrollbar="true" tabindex="-1" style="overflow: auto; outline: none">
    <div class="scroll-content">
      <li class="list-group-item list-group-item-action" [ngClass]="!menu.expanded ? 'collapsed' : ''"
        *ngFor="let menu of menuItems; let i = index">
        <a class="d-flex align-items-center level-8 font-regular" [ngClass]="menu.subMenu ? 'chevron-icon' : ''"
          type="button" (click)="updatevalue(menu)">
          <!-- <i [ngClass]="menu['icon']"></i> -->
          <span [innerHTML]="menu['icon']" class="p-2 cursor-pointer"></span>
          {{ menu["name"] }}
        </a>

        <ul *ngIf="menu.subMenu" class="list-unstyled-inner collapse" [ngClass]="menu.expanded ? 'show' : ''">
          <li *ngFor="let child of menu.subMenu" class="list-group-item list-group-item-action">
            <a class="d-flex align-items-center" (click)="updatevalue(child)">
              <!-- <i [ngClass]="child['icon']"></i> -->
          <span [innerHTML]="child['icon']" class="pe-2"></span>
              {{ child["name"] }}
            </a>
          </li>
        </ul>
      </li>
    </div>
  </ul>
</div>
