<div class="leftbar-console-expanded">
    <div class="sidebar-header pe-3 ps-3 row">
        <h5 class="fw-bold mt-3 ms-1 col-8 capital-letter">
            <a (click)="updatevalue('consoleHeader')" [routerLink]="['/'+SubMenuPage.slug+'/home']">{{SubMenuPage.name}}</a>
        </h5>
    </div>
    <ul class="list-group console-list mt-2" data-scrollbar="true" tabindex="-1"
        style="overflow-y: auto; outline: none;">
        <li class="list-group-item list-group-item-action" [hidden]="SuperTeamShow">
            <app-select-option></app-select-option>
        </li>
        <div class="scroll-content" style="transform: translate3d(0px, 0px, 0px);" *ngFor="let menu of menus$">
            <ng-template [ngIf]="menu.subMenu?.length<1" [ngIfElse]="showWithSubMenu">
                <li class="list-group-item list-group-item-action" >
                    <a (click)="updatevalue(menu.link)" [routerLink]="['/'+SubMenuPage.slug+'/'+menu.link]"
                        class="d-flex align-items-center">
                        <i class=" pe-2" [innerHTML]="menu.icon"></i>
                        {{menu.name}}
                    </a>
                </li>
            </ng-template>
            <ng-template #showWithSubMenu>
                <li class="list-group-item list-group-item-action collapsed" type="button" 
                    data-bs-toggle="collapse" aria-expanded="false"
                    [attr.data-bs-target]="'#'+menu.slug"  [attr.aria-controls]="menu.slug">
                    <a class="d-flex chevron-icon align-items-center">
                        <i class="pe-2" [innerHTML]="menu.icon"></i>
                        {{menu.name}}
                    </a>
                </li>
                <ul class="list-unstyled-inner collapse" [attr.id]="menu.slug">
                    <li *ngFor="let submenu of menu.subMenu" class="list-group-item list-group-item-action d-flex align-items-center">
                        <a (click)="updatevalue(submenu.link)" [routerLink]="['/'+SubMenuPage.slug+'/'++menu.link+'/'+submenu.link]"
                            class="d-flex align-items-center">
                            <i class=" pe-2" [innerHTML]="submenu.icon"></i>
                            {{submenu.name}}
                        </a>
                    </li>
                </ul>
            </ng-template>
        </div>

    </ul>
</div>
<a href="javascript:void;" class="panelToggle"></a>
<!-- [class.collapsed]="menu.subMenu?.length >= 1"
    [attr.data-bs-toggle]="(menu.subMenu?.length>=1)?'collapse':''"
    [attr.ata-bs-target]="(menu.subMenu?.length>=1)?'#sidebar1':''"
    [attr.aria-expanded]="(menu.subMenu?.length>=1)?'false':''"
    [attr.aria-controls]="(menu.subMenu?.length>=1)?'sidebar1':''" -->
