<div class="container mt-5" style="width:70%">
  <div class="form-group flex-grow-1" style="display: flex; flex-direction: column;">

    <div style="position: relative;">
      <input id="maxsimilarity" class="form-control" [(ngModel)]="maxSimilarity" style="height: 60px; padding-top: 20px;">
      <label for="maxsimilarity" style="position: absolute; top: 2px; left: 10px; color: #999; pointer-events: none;">Maximum similarity</label>
    </div>


    <div style="position: relative; margin-top:10px">
    <input id="threshold" class="form-control" placeholder="Threshold" [(ngModel)]="threshold"
    style="height: 60px; padding-top: 20px;">
    <label for="threshold" style="position: absolute; top: 2px; left: 10px; color: #999; pointer-events: none;">Threshold</label>
    </div>

    <div style="position: relative;margin-top:10px">
    <input id="defaultResponse" class="form-control" placeholder="Default Response" [(ngModel)]="default_response"
      style="height: 60px; padding-top: 20px;">
      <label for="threshold" style="position: absolute; top: 2px; left: 10px; color: #999; pointer-events: none;">Default Response</label>
    </div>
   
    <ng-select style="width: 300px; margin-top: 5px;" [(ngModel)]="responseName" (change)="selectIntent()">
      <ng-option *ngFor="let response_type of responseTypes" [value]="response_type">{{ response_type }}</ng-option>
    </ng-select>
  </div>

  <button class="btn btn-primary" style="margin-top: 20px; margin-left: 5px;" type="button" (click)="saveSetting()">Save</button>
</div>
