<!-- <div class="business-detail-wrap">
  <div class="business-detail-wrap">
    <div class="floating-item mb-3">
      <div class="form-floating">
        <input
        id="floatingInputDatabase"
        placeholder="intentName"
        class="form-control" type="text"  formControlName="intentName"
      />
        <label for="floatingInputValue">intentName</label>
      </div>
    </div>
  </div>
</div> -->
<div class="container mt-3">
  <div class="d-flex justify-content-center">
    <div class="col-lg-6">
  <form [formGroup]="stepOneForm"
        (ngSubmit)="stepOneSubmit()"
        autocomplete="off"
        novalidate
        #formRef="ngForm">
        <div class="business-detail-wrap">
          <div class="business-detail-wrap">
            <div class="floating-item mb-3">
              <div class="form-floating">
                <input
                id="floatingInputDatabase"
                placeholder="intentName"
                class="form-control" type="text"  formControlName="intentName"
              />
                <label for="floatingInputValue">intentName</label>
              </div>
            </div>
          </div>
        </div>
      <!--<span class="error" *ngIf="stepOneForm.controls['firstName'].hasError('required') && formRef.submitted">First Name is a required field
      </span>-->
    <!-- <div class="mt-3">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" placeholder="Enter Description" formControlName="description"></textarea>
    </div> -->
    <div class="mt-3">
      <button  type="button" class="btn btn-primary" cdkStepperNext>Next</button>
    </div>
  </form>
</div>
</div>
</div>
