<!-- <ng-container *ngIf="!restrictedAgentsString.includes(restrictedAgent) && !onlyAnalyticsTabVisible.includes(restrictedAgent) && totalParcoAdminUsers.includes(restrictedAgent)"> -->
  <!-- <ng-container *ngFor="let menu of menus$ ">
        <a [routerLink]="['/'+menu.link]" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="list-group-item d-flex justify-content-between align-items-center bg-transparent border-0 px-2">
            <div class="list-group-text d-flex align-items-center gap-3">
                <div class="iconButton medium" [innerHTML]="menu.icon">
                </div>
                <a class="itemLabel level-8">
                    {{menu.name}}
                </a>
            </div>
        </a>
    </ng-container> -->
    <a [routerLink]="['/analytics']" routerLinkActive="active" ariaCurrentWhenActive="page" data-tooltip="Sent" 
      (click)="opensidebar()"
      class="tooltips tooltip-right list-group-item d-flex justify-content-between align-items-center bg-transparent border-0 px-2"
      (click)="resetFilters()">
      <div class="list-group-text d-flex align-items-center gap-3">
          <div class="cursor-pointer">
              <i class="fa fa-chart-line-up"></i>
          </div>
          <div class="itemLabel level-8" style="color: black !important;">
            Analytics 
          </div>
      </div>
    </a>


    <!-- <a  [routerLink]="['/analytics']" routerLinkActive="active" ariaCurrentWhenActive="page"
    (click)="opensidebar()"
    class="list-group-item d-flex justify-content-between align-items-center bg-transparent border-0 px-2"
    (click)="resetFilters()">
    <div class="list-group-text d-flex align-items-center gap-3">
      <div class="iconButton medium">
        <i class="fa-light fa-chart-line-up ice"></i>
      </div>
      <a class="itemLabel level-8"> Analytics</a>
    </div>
  </a> -->
<!-- </ng-container> -->
<!-- <ng-container *ngIf="!onlyAnalyticsTabVisible.includes(restrictedAgent)">
  <a [routerLink]="['/all-inboxes/completed/all']" routerLinkActive="active" ariaCurrentWhenActive="page"
    class="list-group-item d-flex justify-content-between align-items-center bg-transparent border-0 px-2"
    [class.active]="activeChannel == 'completed'">
    <div class="list-group-text d-flex align-items-center gap-3">
      <div class="iconButton medium">
        <i class="fal fa-paper-plane ice"></i>
      </div>
      <div class="itemLabel level-8">Completed Interactions</div>
    </div>
  </a>
</ng-container>  -->

  <ng-container *ngIf="showBotManagement">
    <!-- <a [routerLink]="['/bot-monitoring']" routerLinkActive="active" ariaCurrentWhenActive="page"
      class="list-group-item d-flex justify-content-between align-items-center bg-transparent border-0 px-2"
      (click)="resetFilters()">
      <div class="list-group-text d-flex align-items-center gap-3">
        <div class="iconButton medium">
          <i class="fa-light fa-message-bot ice"></i>
        </div>
        <div class="itemLabel level-8">BOT Management</div>
      </div>
    </a> -->
    <a [routerLink]="['/bot-monitoring']" routerLinkActive="active" ariaCurrentWhenActive="page" data-tooltip="Sent" 
      class="tooltips tooltip-right list-group-item d-flex justify-content-between align-items-center bg-transparent border-0 px-2"
      (click)="resetFilters()">
      <div class="list-group-text d-flex align-items-center gap-3">
          <div class="cursor-pointer" style="color: black !important;">
              <i class="fa fa-message-bot"></i>
          </div>
          <div class="itemLabel level-8" style="color: black !important;">
            BOT Management 
          </div>
      </div>
    </a>
  </ng-container>

  <ng-container *ngIf="showConsole">
    <!-- <a [routerLink]="['/console/home']" routerLinkActive="active" ariaCurrentWhenActive="page"
      class="list-group-item d-flex justify-content-between align-items-center bg-transparent border-0 px-2"
      [class.active]="activeChannel == 'console'" (click)="resetFilters()">
      <div class="list-group-text d-flex align-items-center gap-3">
        <div class="iconButton medium">
          <i class="fal fa-cog ice"></i>
        </div>
        <div class="itemLabel level-8">Console</div>
      </div>
    </a> -->
    <a [routerLink]="['/console/home']" routerLinkActive="active" ariaCurrentWhenActive="page" data-tooltip="Sent" 
      class="tooltips tooltip-right list-group-item d-flex justify-content-between align-items-center bg-transparent border-0 px-2"
      [class.active]="activeChannel == 'console'" (click)="resetFilters()">
      <div class="list-group-text d-flex align-items-center gap-3">
          <div class="cursor-pointer">
              <i class="fa fa-cog"></i>
          </div>
          <div class="itemLabel level-8" style="color: black !important;">
            Console 
          </div>
      </div>
    </a>
  </ng-container>
  <!-- <ng-container>
    <a [routerLink]="['/telephone/admin']" routerLinkActive="active" ariaCurrentWhenActive="page"
    class="list-group-item d-flex justify-content-between align-items-center bg-transparent border-0 px-2"
    [class.active]="activeChannel == 'console'">
    <div class="list-group-text d-flex align-items-center gap-3">
      <div class="iconButton medium">
        <i class="fa fa-user ice"></i>
      </div>
      <div class="itemLabel level-8">Admin Panel</div>
    </div>
    </a>
  </ng-container> -->
<!-- <ng-container *ngIf="onlyAnalyticsTabVisible.includes(restrictedAgent)">
  <a [routerLink]="['/analytics']" routerLinkActive="active" ariaCurrentWhenActive="page"
    class="list-group-item d-flex justify-content-between align-items-center bg-transparent border-0 px-2">
    <div class="list-group-text d-flex align-items-center gap-3">
      <div class="iconButton medium">
        <i class="fa-light fa-chart-line-up ice"></i>
      </div>
      <a class="itemLabel level-8"> Analytics </a>
    </div>
  </a>
</ng-container> -->

<div class="position-fixed toast-bar border-0 shadow-sm rounded navyBg" style="z-index: 60">
  <div [ngClass]="toastermessage == true ? 'show' : 'hide'" class="toast border-0 p-2 h-100 navyBg fade" role="alert"
    aria-live="assertive" aria-atomic="true">
    <div class="d-flex border-0 justify-content-between align-items-center w-100 h-100">
      <p class="toast-line-para ice m-0">{{ AlterMsg }}</p>
      <div class="toast-btn d-flex align-items-center">
        <button type="button" class="btn m-0 ms-2" aria-label="Close" data-bs-dismiss="toast" (click)="closeToaster()">
          <i class="fal fa-times"></i>
        </button>
      </div>
    </div>
  </div>
</div>
