<nav id="complaint-ticket-panel" class="expended-rigth-sidebar p-0 open">
    <div class="right-bar-wrapper">
        <div class="bodyWrapper">
            <header class="tab-header rightbar-tab-header">
                <nav class="mb-0">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="complaint-ticket" data-bs-toggle="tab" data-bs-target="#complaint-ticket-tab" type="button" role="tab" aria-controls="complaint-ticket-tab" aria-selected="false">
                            FP-5876956
                            <a class="breadcrumbs">
                                <div class="subHeading m-0">complaint</div>
                            </a>
                        </button>
                    </div>
                    <div class="icons-list">
                        <form class="custom-searchbar searchbar-hover-effect">
                            <input class="form-control me-2 rounded-pill shadow-sm" placeholder="Search" aria-label="Search">
                            <span class="btn searchbar-btn" type="submit">
                                <i class="fal fa-search silver"></i>
                            </span>
                        </form>
                    </div>
                </nav>
            </header>
            <div class="rightbar-body-wrapper profile" data-scrollbar="true" tabindex="-1" style="overflow: auto; outline: none;"><div class="scroll-content">
                <div class="tab-content" id="nav-tabContent">
                    <div class="message-wrap agent-message-wrap right me-3">
                        <div class="d-flex align-items-center agent-container">
                            <div class="card w-d-inline messageUpper">
                                <div class="card-body shadow-sm">
                                    <div class="d-flex msg-user-info">
                                        <div class="d-flex align-items-center">
                                            <h6 class="card-title navy m-0">
                                                Fatima Ahmed</h6>
                                            <p class="card-text ms-3"><small class="silver">9:30
                                                    AM</small></p>
                                        </div>
                                        <div class="dropdown w-auto">
                                            <button class="btn coal p-0 ps-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                <small>4 Selected <i class="fas fa-times-circle ms-2 radical"></i></small>
                                            </button>
                                            <ul class="dropdown-menu custom-dropdown" aria-labelledby="dropdownMenuButton1">

                                                <li>
                                                    <a class="dropdown-item" >Read</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" >Responded</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" >Completed</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p class="card-text nignt">Hi, I was
                                        wondering if I am eligible to apply for
                                        the post that has been announced on your
                                        Facebook page</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-section pe-3">
                        <div class="section-heading">
                            <h6 class="silver pt-3 mb-0">Personal Information
                            </h6>
                        </div>
                        <div class="mb-3 row mt-2">
                            <div class="col-sm-6">
                                <div class="form-floating mb-2">
                                    <input class="form-control" placeholder="Full Name of the candidate" value="Fatima Ahmed">
                                    <label for="first-name">Full Name</label>
                                    <div class="valid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating mb-2">
                                    <input class="form-control" placeholder="Contact Number" value="879324432">
                                    <label for="first-name">Customer ID</label>
                                    <div class="valid-feedback"></div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row mt-2">
                            <div class="col-sm-6">
                                <div class="form-floating mb-2">
                                    <input class="form-control" placeholder="Secondary Number" value="+92 321 834893">
                                    <label for="first-name">Phone Number</label>
                                    <div class="valid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating mb-2">
                                    <input class="form-control" placeholder="Enter your age" value="A1/90, Nazimabad Block 15, Karachi">
                                    <label for="first-name">Address</label>
                                    <div class="valid-feedback"></div>
                                </div>
                            </div>
                        </div>
                        <div class="section-heading">
                            <h6 class="silver pt-3 mb-0">Extra Information</h6>
                        </div>
                        <div class="mb-3 row mt-2">
                            <div class="col-sm-6">
                                <div class="form-floating mb-2">
                                    <input class="form-control" placeholder="Full Name of the candidate" value="Topic Here">
                                    <label for="first-name">Topic Here</label>
                                    <div class="valid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating mb-2">
                                    <input class="form-control" placeholder="Full Name of the candidate" value="Topic Here">
                                    <label for="first-name">Topic Here</label>
                                    <div class="valid-feedback"></div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row mt-2">
                            <div class="col-sm-6">
                                <div class="form-floating mb-2">
                                    <input class="form-control" placeholder="Full Name of the candidate" value="Topic Here">
                                    <label for="first-name">Topic Here</label>
                                    <div class="valid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating mb-2">
                                    <input class="form-control" placeholder="Full Name of the candidate" value="Topic Here">
                                    <label for="first-name">Topic Here</label>
                                    <div class="valid-feedback"></div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row mt-2">
                            <div class="col-sm-6 pb-5">
                                <div class="form-floating mb-2">
                                    <input class="form-control" placeholder="Full Name of the candidate" value="Topic Here">
                                    <label for="first-name">Topic Here</label>
                                    <div class="valid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-sm-6 pb-5">
                                <div class="form-floating mb-2">
                                    <input class="form-control" placeholder="Full Name of the candidate" value="Topic Here">
                                    <label for="first-name">Topic Here</label>
                                    <div class="valid-feedback"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="footer pb-2">
                        <div class="ps-3 pe-3">
                            <div class="icon-buttons-wrapper d-flex justify-content-between pt-3 pb-4">
                                <div class="row w-100">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-8 justify-content-end d-flex">
                                        <div class="buttons-wrap d-flex">
                                            <button type="button" class="btn btn-success">Submit</button>
                                            <button type="button" class="btn btn-outline-secondary ms-2">Discard</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div><div class="scrollbar-track scrollbar-track-x" style="display: none;"><div class="scrollbar-thumb scrollbar-thumb-x" style="width: 874px; transform: translate3d(0px, 0px, 0px);"></div></div><div class="scrollbar-track scrollbar-track-y" style="display: none;"><div class="scrollbar-thumb scrollbar-thumb-y" style="height: 279.789px; transform: translate3d(0px, 0px, 0px);"></div></div></div>

        </div>
    </div>
</nav>