<div class="dashboard-header-left d-flex align-items-center">
        
    <button class="iconButton medium">
      <i class="fal fa-users-class"></i>
    </button>
    
    <nav>
      <ol class="breadcrumb m-0">
        
          
            <li class="breadcrumb-item">
              <a href="contacts.html">Contact</a>
            </li>
          
        
          
            <li class="breadcrumb-item">
              <a href="contact-detail.html">User</a>
            </li>
          
        
          
            <li class="breadcrumb-item active">
              <a href="contact-detail.html">Detail</a>
            </li>
          
        
      </ol>
    </nav>
  </div>