<nav id="bot-interaction-rightbar-social" class="expended-rigth-sidebar open" data-scrollbar="true" tabindex="-1"
    style="overflow: auto; outline: none;">
    <div class="scroll-content" style="transform: translate3d(0px, 0px, 0px);">
        <div class="tab-content m-4" id="myTabContent">
            <header class="tab-header rightbar-tab-header">
                <nav class="mb-0">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="user-profile" data-bs-toggle="tab"
                            data-bs-target="#user-profile-tab" type="button" role="tab" aria-controls="user-profile-tab"
                            aria-selected="true">
                            Bot Interaction
                        </button>
                    </div>

                </nav>
            </header>
            <div class="tab-pane fade show active mt-3" id="post" role="tabpanel" aria-labelledby="post-tab" style="overflow: auto; height: 600px; overflow-x: hidden
;">
                <div class="chat-box-wrap" *ngFor="let message of messages">
                    <div class="date-wrap">
                        <p class="date">{{message?.createdDate | date:'EEEE, MMMM d' }}</p>
                    </div>
                    <div class="message-wrap agent-message-wrap">
                        <div class="d-flex align-items-center agent-container">
                            <div class="card w-d-inline">
                                <div class="card-body shadow-sm">
                                    <div class="d-flex msg-user-info">
                                        <div class="d-flex align-items-center">
                                            <h6 class="card-title mint m-0">{{ message?.customer?.name }}</h6>

                                            <p class="card-text ms-3"><small class="silver">{{message?.createdDate |
                                                    date:'hh:mm:ss a'}}</small></p>
                                        </div>
                                        <div class="dropdown w-auto">
                                            <button class="btn coal p-0 ps-3" type="button" id="dropdownMenuButton1"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <small>Completed</small>
                                            </button>

                                        </div>
                                    </div>
                                    <div class="tags">
                                        <span>{{ message?.customer?.phone }}</span>
                                    </div>
                                    <p class="card-textnignt p-0">{{ message?.message }}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="message-wrap agent-message-wrap left">
                        <div class="agent-container">
                            <div class="card w-d-inline card-txt">
                                <div class="card-body shadow-sm ms-auto">
                                    <div class="d-flex align-items-center mb-2">
                                        <h6 class="card-title m-0">{{message?.client?.name}}</h6>
                                        <p class="card-text ms-3"><small class="silver">{{message?.createdDate |
                                                date:'hh:mm:ss a'}}</small></p>
                                    </div>
                                    <div class="tags">
                                        <span>{{ message?.client?.phone }}</span>
                                    </div>
                                    <ng-container *ngFor="let item of message?.replies">
                                        <p class="card-textnignt p-0">{{ item?.message }}</p> <br>
                                    </ng-container>
                                </div>
                                <div class="message-bottom">
                                    <div class="row">
                                        <div class="col-lg-12 ps-4 d-flex align-items-center">
                                            <div class="commentWrap">
                                                Commented on by
                                                <a class="fw-bold">Bot</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>