<nav id="chat-rightbar-social" class="expended-rigth-sidebar p-0 open">
    <div class="right-bar-wrapper chat-room-wraper">
<ul class="list-group list-group-flush chat-room-header">
    <li class="list-group-item d-flex p-0">
        <div class="w-100 list-txt">
            <div class="chatroom-main-header">
                <div class="user-msg-header">
                    <a class="breadcrumbs d-none">
                        <i class="far fa-arrow-left"></i>
                    </a>
                    <div class="avatar medium d-none">
                        <img src="../../../../assets/images/avatar-16.jpg" alt="-" class="rounded-circle w-100">
                        <span class="online-n-offline small"></span>
                    </div>
                    <h6 class="chat-name">Messenger </h6>
                </div>
                <div class="icons-list">
                    <button class="iconButton medium notification iconHover" data-bs-toggle="tooltip" data-bs-placement="top" title="" id="searchbtn" data-bs-original-title="Search">
                        <i class="fal fa-search metal"></i>
                    </button>
                    <div class="dropdown" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Add Logs">
                        <button class="iconButton medium notification iconHover" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fal fa-plus"></i>
                        </button>
                        <ul class="dropdown-menu custom-dropdown" aria-labelledby="dropdownMenuButton1">
                            <li>
                                <a class="dropdown-item p-1 active newChatBtn"  value="New Chat">
                                    <button class="iconButton dropdown-iconBtn small active" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fal fa-comment"></i>
                                    </button>New Chat
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item newGroupChat p-1"  value="New Group Chat">
                                    <button class="iconButton dropdown-iconBtn small" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fal fa-comments"></i>
                                    </button>New Group Chat
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="newChatHeader d-none">
                <span class="close-new-chat">
                    <i class="far fa-times"></i>
                </span>
                <div class="chat-name">New Chat</div>
                <button class="btn oceanBg create-new-chat-group rounded-pill">
                    Done
                </button>
            </div>
        </div>
    </li>
</ul>
<div class="bodyWrapper user-chat-panels">
    <header class="tab-header rightbar-tab-header">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="chat-room" data-bs-toggle="tab" data-bs-target="#chat-room-tab" type="button" role="tab" aria-controls="chat-room-tab" aria-selected="true">
                    User
                </button>
                <button class="nav-link" id="chat-room-group" data-bs-toggle="tab" data-bs-target="#chat-room-group-tab" type="button" role="tab" aria-controls="chat-room-group-tab" aria-selected="false">
                   Group<span class="badge bg-danger rounded-pill ms-1">2</span>
                </button>
            </div>
            <div class="icons-list">
                <div class="dropdown" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Add Logs">
                    <button class="btn pe-0" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <small>Sort By <span class="ms-2">
                                <i class="fal fa-chevron-down"></i>
                                <span></span></span></small>
                            </button>
                            <ul class="dropdown-menu custom-dropdown" aria-labelledby="dropdownMenuButton1">
                                <li>
                                    <a class="dropdown-item p-1 active" >
                                default
                            </a>
                                </li>
                                <li>
                                    <a class="dropdown-item p-1" >
                                Date &amp; Time
                            </a>
                                </li>
                                <li>
                                    <a class="dropdown-item p-1" >
                               Unread
                            </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <div class="rightbar-body-wrapper" data-scrollbar="true" tabindex="-1" style="overflow: auto; outline: none;"><div class="scroll-content">
                <div class="tab-content" id="nav-tabContent">
                    <div id="chat-room-tab" class="tab-pane fade active show" role="tabpanel" aria-labelledby="chat">
                        <div class="list-group-section pt-3">
                            <div class="messenger">
                                <div class="list-group list-group-flush">
                                    <a class="list-group-item messenger-wraper open-chat" value="Tahir Ahmend">
                                        <div class="avatar large">
                                            <img src="../../../../assets/images/avatar-16.jpg" alt="-" class="rounded-circle w-100">
                                            <span class="online-n-offline big"></span>
                                        </div>
                                        <div class="w-100 list-txt user-msg">
                                            <h6 class="mb-0 darkblue">Tahir Ahmend
                                    </h6>
                                            <small class="silver">14:59<span class="badge bg-danger ms-1 rounded-pill">2</span></small>
                                        </div>
                                    </a>
                                    <a class="list-group-item messenger-wraper open-chat" value="Sajjad Akber">
                                        <div class="avatar large">
                                            <img src="../../../../assets/images/avatar-2.jpg" alt="-" class="rounded-circle w-100">
                                            <span class="online-n-offline big away">
                                                <i class="fas fa-clock"></i>
                                            </span>
                                        </div>
                                        <div class="w-100 list-txt user-msg">
                                            <h6 class="mb-0 darkblue">Sajjad Akber
                                    </h6>
                                            <small class="silver">Fri<span class="badge bg-danger ms-1 rounded-pill">1</span></small>
                                        </div>
                                    </a>
                                    <a class="list-group-item messenger-wraper open-chat" value="Umer Masood">
                                        <div class="avatar large pearlBg">
                                    UM
                                    <span class="online-n-offline big"></span>
                                        </div>
                                        <div class="w-100 list-txt user-msg">
                                            <h6 class="mb-0 darkblue">Umer Masood
                                    </h6>
                                            <small class="silver">Mon</small>
                                        </div>
                                    </a>
                                    <a class="list-group-item messenger-wraper open-chat" value="Daniyal Ahmed">
                                        <div class="avatar large">
                                            <img src="../../../../assets/images/avatar-9.jpg" alt="-" class="rounded-circle w-100">
                                            <span class="online-n-offline big"></span>
                                        </div>
                                        <div class="w-100 list-txt user-msg">
                                            <h6 class="mb-0 darkblue">Daniyal Ahmed
                                    </h6>
                                            <small class="silver">21/01/2021</small>
                                        </div>
                                    </a>
                                    <a class="list-group-item messenger-wraper open-chat" value="Ahmed Ali">
                                        <div class="avatar large">
                                            <img src="../../../../assets/images/avatar-14.jpg" alt="-" class="rounded-circle w-100">
                                            <span class="online-n-offline big"></span>
                                        </div>
                                        <div class="w-100 list-txt user-msg">
                                            <h6 class="mb-0 darkblue">Ahmed Ali
                                    </h6>
                                            <small class="silver">20/01/2021</small>
                                        </div>
                                    </a>
                                    <a class="list-group-item messenger-wraper open-chat" value="Saif Raza">
                                        <div class="avatar large pearlBg">
                                    SR
                                   <span class="online-n-offline big away">
                                                <i class="fas fa-clock"></i>
                                            </span>
                                        </div>
                                        <div class="w-100 list-txt user-msg">
                                            <h6 class="mb-0 darkblue">Saif Raza
                                    </h6>
                                            <small class="silver">Mon</small>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="chat-room-group-tab" class="tab-pane fade" role="tabpanel" aria-labelledby="group">
                        <div class="list-group-section pt-3">
                            <div class="messenger">
                                <div class="list-group list-group-flush">
                                    <a class="list-group-item messenger-wraper open-chat" value="Hatrick Deal">
                                        <div class="avatar large">
                                            <img src="../../../../assets/images/food5.jpg" alt="-" class="rounded-circle w-100">
                                            <span class="online-n-offline big"></span>
                                        </div>
                                        <div class="w-100 list-txt user-msg">
                                            <h6 class="mb-0 darkblue">Hatrick Deal
                                    </h6>
                                            <small class="silver">14:59<span class="badge bg-danger ms-1 rounded-pill">4</span></small>
                                        </div>
                                    </a>
                                    <a class="list-group-item messenger-wraper open-chat" value="Foodpanda Deals">
                                        <div class="avatar large powderBg">
                                            <i class="far fa-users coal"></i>
                                            <span class="online-n-offline big away">
                                                <i class="fas fa-clock"></i>
                                            </span>
                                        </div>
                                        <div class="w-100 list-txt user-msg">
                                            <h6 class="mb-0 darkblue">Foodpanda Deals
                                    </h6>
                                            <small class="silver">12:19<span class="badge bg-danger ms-1 rounded-pill">1</span></small>
                                        </div>
                                    </a>
                                    <a class="list-group-item messenger-wraper open-chat" value="Black Friday">
                                        <div class="avatar large pearlBg">
                                            <img src="../../../../assets/images/food4.jpg" alt="-" class="rounded-circle w-100">
                                            <span class="online-n-offline big"></span>
                                        </div>
                                        <div class="w-100 list-txt user-msg">
                                            <h6 class="mb-0 darkblue">Black Friday
                                    </h6>
                                            <small class="silver">Mon</small>
                                        </div>
                                    </a>
                                    <a class="list-group-item messenger-wraper open-chat" value="Popular Deals">
                                        <div class="avatar large powderBg">
                                            <i class="far fa-users coal"></i>
                                            <span class="online-n-offline big"></span>
                                        </div>
                                        <div class="w-100 list-txt user-msg">
                                            <h6 class="mb-0 darkblue">Popular Deals
                                    </h6>
                                            <small class="silver">21/01/2021</small>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="scrollbar-track scrollbar-track-x" style="display: none;"><div class="scrollbar-thumb scrollbar-thumb-x"></div></div><div class="scrollbar-track scrollbar-track-y" style="display: none;"><div class="scrollbar-thumb scrollbar-thumb-y"></div></div></div>
        </div>
        <div class="list-group-section secondLevelChat d-none">
            <div class="chat-body" data-scrollbar="true" tabindex="-1" style="overflow: auto; outline: none;"><div class="scroll-content">
                <div class="chat-box-wrap">
                    <div class="date-wrap">
                        <p class="date">Tuesday, July 8, 2021</p>
                    </div>
                    <div class="message-wrap agent-message-wrap right">
                        <div class="d-flex align-items-center agent-container">
                            <div class="card w-d-inline shadow-sm chat-card">
                                <div class="card-body">
                                    <div class="d-flex msg-user-info">
                                        <div class="d-flex align-items-center">
                                            <h6 class="card-title m-0">Daniyal Khan</h6>
                                            <p class="card-text ms-3">
                                                <small class="silver">12:01 PM</small>
                                            </p>
                                        </div>
                                    </div>
                                    <p class="card-textnignt p-0">How are you?</p>
                                </div>
                            </div>
                            <div class="dropdown w-auto msg-options">
                                <button class="btn coal p-0 ps-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">
                                    <small>
                                        <i class="fal fa-ellipsis-v"></i>
                                    </small>
                                </button>
                                <ul class="dropdown-menu custom-dropdown" aria-labelledby="dropdownMenuButton1" data-popper-placement="bottom-start" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 29px);">
                                    <li>
                                        <a class="dropdown-item" >Copy</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" >Qoute</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" >Forword</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="message-wrap agent-message-wrap left">
                        <div class="agent-container">
                            <div class="card w-d-inline card-txt ms-auto shadow-sm chat-card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center mb-2">
                                        <h6 class="card-title m-0">Tahir ahmend</h6>
                                        <p class="card-text ms-3">
                                            <small class="silver">10:05 AM</small>
                                        </p>
                                    </div>
                                    <p class="card-text nignt mb-1">Fine</p>
                                </div>
                            </div>
                            <div class="dropdown w-auto msg-options">
                                <button class="btn coal p-0 ps-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">
                                    <small>
                                        <i class="fal fa-ellipsis-v"></i>
                                    </small>
                                </button>
                                <ul class="dropdown-menu custom-dropdown" aria-labelledby="dropdownMenuButton1" data-popper-placement="bottom-start" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 29px);">
                                    <li>
                                        <a class="dropdown-item" >Copy</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" >Qoute</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" >Forword</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="message-wrap agent-message-wrap right">
                        <div class="d-flex align-items-center agent-container">
                            <div class="card w-d-inline shadow-sm chat-card">
                                <div class="card-body">
                                    <div class="d-flex msg-user-info">
                                        <div class="d-flex align-items-center">
                                            <h6 class="card-title m-0">Daniyal Khan</h6>
                                            <p class="card-text ms-3">
                                                <small class="silver">12:01 PM</small>
                                            </p>
                                        </div>
                                    </div>
                                    <p class="card-textnignt p-0">What's going on?</p>
                                </div>
                            </div>
                            <div class="dropdown w-auto msg-options">
                                <button class="btn coal p-0 ps-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">
                                    <small>
                                        <i class="fal fa-ellipsis-v"></i>
                                    </small>
                                </button>
                                <ul class="dropdown-menu custom-dropdown" aria-labelledby="dropdownMenuButton1" data-popper-placement="bottom-start" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 29px);">
                                    <li>
                                        <a class="dropdown-item" >Copy</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" >Qoute</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" >Forword</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="message-wrap agent-message-wrap right">
                        <div class="d-flex align-items-center agent-container">
                            <div class="card w-d-inline shadow-sm chat-card">
                                <div class="card-body">
                                    <div class="d-flex msg-user-info">
                                        <div class="d-flex align-items-center">
                                            <h6 class="card-title m-0">Daniyal Khan</h6>
                                            <p class="card-text ms-3">
                                                <small class="silver">09:55 PM</small>
                                            </p>
                                        </div>
                                    </div>
                                    <p class="card-textnignt p-0">How are you doing today sir?</p>
                                </div>
                            </div>
                            <div class="dropdown w-auto msg-options">
                                <button class="btn coal p-0 ps-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">
                                    <small>
                                        <i class="fal fa-ellipsis-v"></i>
                                    </small>
                                </button>
                                <ul class="dropdown-menu custom-dropdown" aria-labelledby="dropdownMenuButton1" data-popper-placement="bottom-start" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 29px);">
                                    <li>
                                        <a class="dropdown-item" >Copy</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" >Qoute</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" >Forword</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="date-wrap">
                        <p class="date">Today</p>
                    </div>
                    <div class="message-wrap agent-message-wrap right">
                        <div class="d-flex align-items-center agent-container">
                            <div class="card w-d-inline shadow-sm chat-card">
                                <div class="card-body">
                                    <div class="d-flex msg-user-info">
                                        <div class="d-flex align-items-center">
                                            <h6 class="card-title m-0">Daniyal Khan</h6>
                                            <p class="card-text ms-3">
                                                <small class="silver">09:55 PM</small>
                                            </p>
                                        </div>
                                    </div>
                                    <p class="card-textnignt p-0">How are you?</p>
                                </div>
                            </div>
                            <div class="dropdown w-auto msg-options">
                                <button class="btn coal p-0 ps-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">
                                    <small>
                                        <i class="fal fa-ellipsis-v"></i>
                                    </small>
                                </button>
                                <ul class="dropdown-menu custom-dropdown" aria-labelledby="dropdownMenuButton1" data-popper-placement="bottom-start" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 29px);">
                                    <li>
                                        <a class="dropdown-item" >Copy</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" >Qoute</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" >Forword</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="message-wrap agent-message-wrap left">
                        <div class="agent-container">
                            <div class="card w-d-inline card-txt ms-auto shadow-sm chat-card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center mb-2">
                                        <h6 class="card-title m-0">Tahir ahmend</h6>
                                        <p class="card-text ms-3">
                                            <small class="silver">09:57 PM</small>
                                        </p>
                                    </div>
                                    <p class="card-text nignt mb-1">How can i help you Daniyal?is there anything related to deals?</p>
                                </div>
                            </div>
                            <div class="dropdown w-auto msg-options">
                                <button class="btn coal p-0 ps-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">
                                    <small>
                                        <i class="fal fa-ellipsis-v"></i>
                                    </small>
                                </button>
                                <ul class="dropdown-menu custom-dropdown" aria-labelledby="dropdownMenuButton1" data-popper-placement="bottom-start" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 29px);">
                                    <li>
                                        <a class="dropdown-item" >Copy</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" >Qoute</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" >Forword</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="message-wrap agent-message-wrap right">
                        <div class="d-flex align-items-center agent-container">
                            <div class="card w-d-inline shadow-sm chat-card">
                                <div class="card-body">
                                    <div class="d-flex msg-user-info">
                                        <div class="d-flex align-items-center">
                                            <h6 class="card-title m-0">Daniyal Khan</h6>
                                            <p class="card-text ms-3">
                                                <small class="silver">09:60 PM</small>
                                            </p>
                                        </div>
                                    </div>
                                    <p class="card-textnignt p-0">What's going on?</p>
                                </div>
                            </div>
                            <div class="dropdown w-auto msg-options">
                                <button class="btn coal p-0 ps-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">
                                    <small>
                                        <i class="fal fa-ellipsis-v"></i>
                                    </small>
                                </button>
                                <ul class="dropdown-menu custom-dropdown" aria-labelledby="dropdownMenuButton1" data-popper-placement="bottom-start" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 29px);">
                                    <li>
                                        <a class="dropdown-item" >Copy</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" >Qoute</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" >Forword</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="message-wrap agent-message-wrap left">
                        <div class="agent-container">
                            <div class="card w-d-inline card-txt ms-auto shadow-sm chat-card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center mb-2">
                                        <h6 class="card-title m-0">Tahir ahmend</h6>
                                        <p class="card-text ms-3">
                                            <small class="silver">10:07 PM</small>
                                        </p>
                                    </div>
                                    <p class="card-text nignt mb-1">Anything Else Sir?</p>
                                </div>
                            </div>
                            <div class="dropdown w-auto msg-options">
                                <button class="btn coal p-0 ps-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">
                                    <small>
                                        <i class="fal fa-ellipsis-v"></i>
                                    </small>
                                </button>
                                <ul class="dropdown-menu custom-dropdown" aria-labelledby="dropdownMenuButton1" data-popper-placement="bottom-start" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 29px);">
                                    <li>
                                        <a class="dropdown-item" >Copy</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" >Qoute</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" >Forword</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="scrollbar-track scrollbar-track-x" style="display: none;"><div class="scrollbar-thumb scrollbar-thumb-x"></div></div><div class="scrollbar-track scrollbar-track-y" style="display: none;"><div class="scrollbar-thumb scrollbar-thumb-y"></div></div></div>
            <div class="msgTypingField shadow-lg">
                <div class="card hideMsg">
                    <div class="card-body">
                        <div class="card-text">
                            <span class="fw-bold navy">2354545</span>
                    To find out about new exiting opportunity, kindly go to our careers page: <a href="https://www.ibex.co/careers/pakistan/" target="blank">www.ibex.co/careers/pakistan</a>.
                    </div>
                        <button class="iconButton small closeMsgBtn" data-bs-toggle="tooltip" data-bs-placement="top" id="searchbtn" data-bs-original-title="Close">
                            <i class="fal fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="input-group input-group-lg">
                    <div class="form-floating textarea-field" id="chat-textarea">
                        <textarea class="form-control" rows="1" id="chatroom" placeholder="Write a response here"></textarea>
                    </div>
                    <div class="icons-list align-items-md-center d-flex ps-2">
                        <button class="iconButton small notification iconHover" data-bs-toggle="tooltip" data-bs-placement="top" title="" id="searchbtn" data-bs-original-title="Send">
                            <i class="fal fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="new-chat-panel d-none">
            <div class="newChatWrapper">
                <form class="d-flex">
                    <input class="form-control" placeholder="Search" aria-label="Search">
                </form>
                <div class="rightbar-body-wrapper" data-scrollbar="true" tabindex="-1" style="overflow: auto; outline: none;"><div class="scroll-content">
                    <div class="section-heading">
                        <h6 class="silver pt-3 mb-0">Suggested</h6>
                    </div>
                    <div class="list-group-section pt-3">
                        <div class="messenger">
                            <div class="list-group list-group-flush">
                                <a class="list-group-item messenger-wraper open-new-chat" value="Zain Haider">
                                    <div class="avatar large">
                                        <img src="../../../../assets/images/avatar-16.jpg" alt="-" class="rounded-circle w-100">
                                        <span class="online-n-offline big"></span>
                                    </div>
                                    <div class="w-100 list-txt user-msg">
                                        <h6 class="mb-0 darkblue">Zain Haider
                                </h6>
                                    </div>
                                </a>
                                <a class="list-group-item messenger-wraper open-new-chat" value="Sajjad Akber">
                                    <div class="avatar large">
                                        <img src="../../../../assets/images/avatar-2.jpg" alt="-" class="rounded-circle w-100">
                                        <span class="online-n-offline big away">
                                            <i class="fas fa-clock"></i>
                                        </span>
                                    </div>
                                    <div class="w-100 list-txt user-msg">
                                        <h6 class="mb-0 darkblue">Sajjad Akber
                                </h6>
                                    </div>
                                </a>
                                <a class="list-group-item messenger-wraper open-new-chat" value="Umer Masood">
                                    <div class="avatar large pearlBg">
                                UM
                                <span class="online-n-offline big"></span>
                                    </div>
                                    <div class="w-100 list-txt user-msg">
                                        <h6 class="mb-0 darkblue">Umer Masood
                                </h6>
                                    </div>
                                </a>
                                <a class="list-group-item messenger-wraper open-new-chat" value="Daniyal Ahmed">
                                    <div class="avatar large">
                                        <img src="../../../../assets/images/avatar-9.jpg" alt="-" class="rounded-circle w-100">
                                        <span class="online-n-offline big"></span>
                                    </div>
                                    <div class="w-100 list-txt user-msg">
                                        <h6 class="mb-0 darkblue">Daniyal Ahmed
                                </h6>
                                    </div>
                                </a>
                                <a class="list-group-item messenger-wraper open-new-chat" value="Ahmed Ali">
                                    <div class="avatar large">
                                        <img src="../../../../assets/images/avatar-14.jpg" alt="-" class="rounded-circle w-100">
                                        <span class="online-n-offline big"></span>
                                    </div>
                                    <div class="w-100 list-txt user-msg">
                                        <h6 class="mb-0 darkblue">Ahmed Ali
                                </h6>
                                    </div>
                                </a>
                                <a class="list-group-item messenger-wraper open-new-chat" value="Saif Raza">
                                    <div class="avatar large pearlBg">
                                SR
                                <span class="online-n-offline big away">
                                            <i class="fas fa-clock"></i>
                                        </span>
                                    </div>
                                    <div class="w-100 list-txt user-msg">
                                        <h6 class="mb-0 darkblue">Saif Raza
                                </h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div><div class="scrollbar-track scrollbar-track-x" style="display: none;"><div class="scrollbar-thumb scrollbar-thumb-x"></div></div><div class="scrollbar-track scrollbar-track-y" style="display: none;"><div class="scrollbar-thumb scrollbar-thumb-y"></div></div></div>
            </div>
            <div class="new-chat-initiated d-none">
                <div class="list-group-section">
                    <div class="chat-body" data-scrollbar="true" tabindex="-1" style="overflow: auto; outline: none;"><div class="scroll-content">
                        <div class="card text-center">
                            <div class="card-header messenger">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item messenger-wraper" value="Zain Haider">
                                        <div class="avatar exlarge">
                                            <img src="../../../../assets/images/avatar-16.jpg" alt="-" class="rounded-circle w-100">
                                        </div>
                                        <div class="list-txt user-msg">
                                            <h5 class="mb-0 darkblue">Zain Haider
                                    </h5>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Say Hi to Zain with wave</p>
                                <a  class="btn oceanBg rounded-pill">Say hi</a>
                            </div>
                            <div class="card-footer"></div>
                        </div>
                    </div><div class="scrollbar-track scrollbar-track-x" style="display: none;"><div class="scrollbar-thumb scrollbar-thumb-x"></div></div><div class="scrollbar-track scrollbar-track-y" style="display: none;"><div class="scrollbar-thumb scrollbar-thumb-y"></div></div></div>
                    <div class="msgTypingField shadow-lg">
                        <div class="card hideMsg">
                            <div class="card-body">
                                <div class="card-text">
                                    <span class="fw-bold navy">2354545</span>
                            To find out about new exiting opportunity, kindly go to our careers page: <a href="https://www.ibex.co/careers/pakistan/" target="blank">www.ibex.co/careers/pakistan</a>.
                            </div>
                                <button class="iconButton small closeMsgBtn" data-bs-toggle="tooltip" data-bs-placement="top" id="searchbtn" data-bs-original-title="Close">
                                    <i class="fal fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="input-group input-group-lg">
                            <div class="form-floating textarea-field" id="chat-textarea">
                                <textarea class="form-control" rows="1" id="chatroom" placeholder="Write a response here"></textarea>
                            </div>
                            <div class="icons-list align-items-md-center d-flex ps-2">
                                <button class="iconButton small notification iconHover" data-bs-toggle="tooltip" data-bs-placement="top" title="" id="searchbtn" data-bs-original-title="Choose an emoji">
                                    <i class="far fa-smile"></i>
                                </button>
                                <button class="iconButton small notification iconHover" data-bs-toggle="tooltip" data-bs-placement="top" title="" id="searchbtn" data-bs-original-title="Audio">
                                    <i class="fal fa-microphone"></i>
                                </button>
                                <button class="iconButton small notification iconHover" data-bs-toggle="tooltip" data-bs-placement="top" title="" id="searchbtn" data-bs-original-title="Send">
                                    <i class="fal fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="new-group-chat d-none">
            <div class="card">
                <div class="card-header">
                    <div class="file-input" id="upload-img">
                        <i class="fal fa-camera-alt ice img-icon"></i>
                        <img src="../../../../assets/images/avatar-2.jpg" alt="-" class="selected-group-img d-none">
                        <span class="fileSelected d-none">
                            <i class="fal fa-pen ice"></i>
                        </span>
                    </div>
                    <input class="form-control d-none" type="file" id="formFile">
                </div>
                <div class="card-body">
                    <div>
                        <input class="form-control" id="group-name-input" placeholder="Group Name">
                    </div>
                </div>
                <div class="card-footer">
                    <button class="iconButton btn exlarge oceanBg group-chat-next-btn">
                        <i class="fal fa-long-arrow-right"></i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </div>
        </div>
        <div class="user-selection-for-group d-none">
            <div class="newGroupWrapper newChatWrapper">
                <form class="d-flex">
                    <input class="form-control" placeholder="Search" aria-label="Search">
                </form>
                <div class="rightbar-body-wrapper" data-scrollbar="true" tabindex="-1" style="overflow: auto; outline: none;"><div class="scroll-content">
                    <div class="selected-users">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item">
                                <div class="avatar large">
                                    <span class="remove-selected-user">
                                        <i class="far fa-times"></i>
                                    </span>
                                    <img src="../../../../assets/images/avatar-16.jpg" alt="-" class="rounded-circle w-100">
                                </div>
                                <small>Zain</small>
                            </li>
                            <li class="list-group-item">
                                <div class="avatar large">
                                    <span class="remove-selected-user">
                                        <i class="far fa-times"></i>
                                    </span>
                                    <img src="../../../../assets/images/avatar-2.jpg" alt="-" class="rounded-circle w-100">
                                </div>
                                <small>Taimoor</small>
                            </li>
                            <li class="list-group-item">
                                <div class="avatar large">
                                    <span class="remove-selected-user">
                                        <i class="far fa-times"></i>
                                    </span>
                                    <img src="../../../../assets/images/avatar-13.jpg" alt="-" class="rounded-circle w-100">
                                </div>
                                <small>Maham</small>
                            </li>
                            <li class="list-group-item">
                                <div class="avatar large">
                                    <span class="remove-selected-user">
                                        <i class="far fa-times"></i>
                                    </span>
                                    <img src="../../../../assets/images/avatar-2.jpg" alt="-" class="rounded-circle w-100">
                                </div>
                                <small>Saif</small>
                            </li>
                        </ul>
                    </div>
                    <div class="section-heading">
                        <h6 class="silver pt-3 mb-0">Suggested</h6>
                    </div>
                    <div class="list-group-section pt-3">
                        <div class="messenger">
                            <div class="list-group list-group-flush suggested-users">
                                <a class="list-group-item messenger-wraper suggested-user-item form-check w-100 p-0 theme-check" value="Zain Haider">
                                    <label class="form-check-label coal d-flex align-items-center w-100" for="check1">
                                        <div class="avatar large">
                                            <img src="../../../../assets/images/avatar-16.jpg" alt="-" class="rounded-circle w-100">
                                            <span class="online-n-offline big"></span>
                                        </div>
                                        <div class="w-100 list-txt user-msg">
                                            <h6 class="mb-0 darkblue">Zain Haider
                                </h6>
                                        </div>
                                    </label>
                                    <input class="form-check-input float-end" type="checkbox" id="check1">
                                </a>
                                <a class="list-group-item messenger-wraper suggested-user-item form-check w-100 p-0 theme-check" value="Zain Haider">
                                    <label class="form-check-label coal d-flex align-items-center w-100" for="check2">
                                        <div class="avatar large">
                                            <img src="../../../../assets/images/avatar-2.jpg" alt="-" class="rounded-circle w-100">
                                            <span class="online-n-offline big away">
                                                <i class="fas fa-clock"></i>
                                            </span>
                                        </div>
                                        <div class="w-100 list-txt user-msg">
                                            <h6 class="mb-0 darkblue">Sajjad Akber
                                </h6>
                                        </div>
                                    </label>
                                    <input class="form-check-input float-end" type="checkbox" id="check2">
                                </a>
                                <a class="list-group-item messenger-wraper suggested-user-item form-check w-100 p-0 theme-check" value="Zain Haider">
                                    <label class="form-check-label coal d-flex align-items-center w-100" for="check3">
                                        <div class="avatar large pearlBg">
                                UM
                                <span class="online-n-offline big"></span>
                                        </div>
                                        <div class="w-100 list-txt user-msg">
                                            <h6 class="mb-0 darkblue">Umer Masood
                                </h6>
                                        </div>
                                    </label>
                                    <input class="form-check-input float-end" type="checkbox" id="check3">
                                </a>
                                <a class="list-group-item messenger-wraper suggested-user-item form-check w-100 p-0 theme-check" value="Zain Haider">
                                    <label class="form-check-label coal d-flex align-items-center w-100" for="check4">
                                        <div class="avatar large">
                                            <img src="../../../../assets/images/avatar-9.jpg" alt="-" class="rounded-circle w-100">
                                            <span class="online-n-offline big"></span>
                                        </div>
                                        <div class="w-100 list-txt user-msg">
                                            <h6 class="mb-0 darkblue">Daniyal Ahmed
                                </h6>
                                        </div>
                                    </label>
                                    <input class="form-check-input float-end" type="checkbox" id="check4">
                                </a>
                                <a class="list-group-item messenger-wraper suggested-user-item form-check w-100 p-0 theme-check" value="Zain Haider">
                                    <label class="form-check-label coal d-flex align-items-center w-100" for="check5">
                                        <div class="avatar large">
                                            <img src="../../../../assets/images/avatar-14.jpg" alt="-" class="rounded-circle w-100">
                                            <span class="online-n-offline big"></span>
                                        </div>
                                        <div class="w-100 list-txt user-msg">
                                            <h6 class="mb-0 darkblue">Ahmed Ali
                                </h6>
                                        </div>
                                    </label>
                                    <input class="form-check-input float-end" type="checkbox" id="check5">
                                </a>
                                <a class="list-group-item messenger-wraper suggested-user-item form-check w-100 p-0 theme-check" value="Zain Haider">
                                    <label class="form-check-label coal d-flex align-items-center w-100" for="check6">
                                        <div class="avatar large pearlBg">
                                SR
                                <span class="online-n-offline big away">
                                                <i class="fas fa-clock"></i>
                                            </span>
                                        </div>
                                        <div class="w-100 list-txt user-msg">
                                            <h6 class="mb-0 darkblue">Saif Raza
                                </h6>
                                        </div>
                                    </label>
                                    <input class="form-check-input float-end" type="checkbox" id="check6">
                                </a>
                            </div>
                        </div>
                    </div>
                </div><div class="scrollbar-track scrollbar-track-x" style="display: none;"><div class="scrollbar-thumb scrollbar-thumb-x"></div></div><div class="scrollbar-track scrollbar-track-y" style="display: none;"><div class="scrollbar-thumb scrollbar-thumb-y"></div></div></div>
            </div>
        </div>
        <div class="new-group-chat-initiated d-none">
            <div class="list-group-section">
                <div class="chat-body" data-scrollbar="true" tabindex="-1" style="overflow: auto; outline: none;"><div class="scroll-content">
                    <div class="card text-center">
                        <div class="card-body">
                            <p class="card-text">
                                <small>Mr.Syed Ahmed created this group</small>
                            </p>
                            <p class="card-text">
                                <small>Mr.Syed Ahmed added Zain Ahmed to conversation</small>
                            </p>
                            <p class="card-text">
                                <small>Mr.Syed Ahmed added Saif Raza to conversation</small>
                            </p>
                            <p class="card-text">
                                <small>Mr.Syed Ahmed added Maham Khan to conversation</small>
                            </p>
                            <button class="btn oceanBg rounded-pill addMorePeopleBtn">Add more people</button>
                        </div>
                    </div>
                </div><div class="scrollbar-track scrollbar-track-x" style="display: none;"><div class="scrollbar-thumb scrollbar-thumb-x"></div></div><div class="scrollbar-track scrollbar-track-y" style="display: none;"><div class="scrollbar-thumb scrollbar-thumb-y"></div></div></div>
                <div class="msgTypingField shadow-lg">
                    <div class="card hideMsg">
                        <div class="card-body">
                            <div class="card-text">
                                <span class="fw-bold navy">2354545</span>
                        To find out about new exiting opportunity, kindly go to our careers page: <a href="https://www.ibex.co/careers/pakistan/" target="blank">www.ibex.co/careers/pakistan</a>.
                        </div>
                            <button class="iconButton small closeMsgBtn" data-bs-toggle="tooltip" data-bs-placement="top" id="searchbtn" data-bs-original-title="Close">
                                <i class="fal fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="input-group input-group-lg">
                        <div class="form-floating textarea-field" id="chat-textarea">
                            <textarea class="form-control" rows="1" id="chatroom" placeholder="Write a response here"></textarea>
                        </div>
                        <div class="icons-list align-items-md-center d-flex ps-2">
                            <button class="iconButton small notification iconHover" data-bs-toggle="tooltip" data-bs-placement="top" title="" id="searchbtn" data-bs-original-title="Choose an emoji">
                                <i class="far fa-smile"></i>
                            </button>
                            <button class="iconButton small notification iconHover" data-bs-toggle="tooltip" data-bs-placement="top" title="" id="searchbtn" data-bs-original-title="Audio">
                                <i class="fal fa-microphone"></i>
                            </button>
                            <button class="iconButton small notification iconHover" data-bs-toggle="tooltip" data-bs-placement="top" title="" id="searchbtn" data-bs-original-title="Send">
                                <i class="fal fa-paper-plane"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>