<div class="leftbar-console-expanded">
  <div class="sidebar-header pe-3 ps-3">
    <h5 class="fw-bold mt-3 ms-1">
      <a>Machine Learning</a>
    </h5>
  </div>
  <ul
    class="list-group console-list mt-2"
    data-scrollbar="true"
    tabindex="-1"
    style="overflow: hidden; outline: none"
  >
    <div class="scroll-content">
      <li
        class="list-group-item list-group-item-action active"
        value="Executive Dashboard"
        id="analyticstab1"
      >
        <a routerLink="/bot/intents" class="d-flex"> Intents </a>
      </li>
    </div>
    <div class="scroll-content">
      <li
        class="list-group-item list-group-item-action active"
        value="Executive Dashboard"
        id="analyticstab1"
      >
        <a routerLink="/bot/bot-builder" class="d-flex"> InBot Builder </a>
      </li>
    </div>
    <!-- <div class="scroll-content">
      <li
        class="list-group-item list-group-item-action active"
        value="Executive Dashboard"
        id="analyticstab1"
      >
        <a routerLink="/bot/bot-settings" class="d-flex">InBot Settings</a>
      </li>
    </div> -->
    <div class="scroll-content">
      <li
        class="list-group-item list-group-item-action active"
        value="Executive Dashboard"
        id="analyticstab1"
      >
        <a routerLink="/bot/sentiment-anlysis" class="d-flex">Sentiment Analysis</a>
      </li>
    </div>
    <div class="scroll-content">
      <li
        class="list-group-item list-group-item-action active"
        value="Executive Dashboard"
        id="analyticstab1"
      >
        <a routerLink="/analytics/report-builder" class="d-flex">Report Builder</a>
      </li>
    </div>
    <div class="scrollbar-track scrollbar-track-x" style="display: none">
      <div
        class="scrollbar-thumb scrollbar-thumb-x"
        style="width: 293px; transform: translate3d(0px, 0px, 0px)"
      ></div>
    </div>
    <div class="scrollbar-track scrollbar-track-y" style="display: none">
      <div
        class="scrollbar-thumb scrollbar-thumb-y"
        style="height: 473px; transform: translate3d(0px, 0px, 0px)"
      ></div>
    </div>
  </ul>
</div>
<a href="javascript:void;" class="panelToggle"></a>
