<div class="content-box-wrapper d-flex w-100">
    <div class="middle-content d-flex">
        <div class="team-user-wrap console-body-wrapper inbox-container" data-scrollbar="true" tabindex="-1"
            style="overflow: auto; outline: none;">
            <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box"
                [fullScreen]="false">
                <p style="color: white"> Loading... </p>
            </ngx-spinner>
            <div class="scroll-content" style="transform: translate3d(0px, 0px, 0px);">
                <div class="p-4">
                    <div class="filter-toolbar">
                        <div class="row">
                            <div class="col-md-8">
                                <ul class="list-inline m-0 d-flex align-items-center">
                                    <li class="list-inline-item">
                                        <a class="search-btn">
                                            <button class="iconButton medium">
                                                <i class="fal fa-search silver"></i>
                                            </button>
                                            <input [(ngModel)]="searchText" placeholder="Search" class="me-1"
                                                (ngModelChange)="searchText ? applySearchFilter() : getTeamList()">
                                        </a>
                                    </li>
                                    <!-- <li class="list-inline-item">
                                        <select class="js-example-basic-single select2-hidden-accessible"
                                            data-select2-id="select2-data-1-n4mu" tabindex="-1" aria-hidden="true">
                                            <option data-select2-id="select2-data-3-z81v">All </option>
                                            <option>Ascending </option>
                                            <option> Descending</option>
                                            <option>Roles</option>
                                            <option>Teams</option>
                                        </select><span class="select2 select2-container select2-container--default"
                                            dir="ltr" data-select2-id="select2-data-2-94vp" style="width: 108px;"><span
                                                class="selection"><span
                                                    class="select2-selection select2-selection--single" role="combobox"
                                                    aria-haspopup="true" aria-expanded="false" tabindex="0"
                                                    aria-disabled="false" aria-labelledby="select2-7a5h-container"
                                                    aria-controls="select2-7a5h-container"><span
                                                        class="select2-selection__rendered" id="select2-7a5h-container"
                                                        role="textbox" aria-readonly="true" title="All ">All
                                                    </span><span class="select2-selection__arrow" role="presentation"><b
                                                            role="presentation"></b></span></span></span><span
                                                class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    </li> -->
                                </ul>
                            </div>
                            <div class="col-md-4 d-flex align-items-center justify-content-end" *ngIf="hasCreatePermission">
                                <a (click)="updatevalue('consoleCreateTeamsHeader')" [routerLink]="['/console/teams/create/0']" class="ms-2">
                                    <button type="button" class="btn__theme flex items-center gap-[10px]">
                                        <i class="fal fa-plus me-2"></i>
                                        Create Team
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="filter-container border-0">
                        <ul class="list-group list-group-horizontal border-0">
                            <li class="list-group-item border-0 refreshicon iconHover iconButton medium rounded-circle"
                                aria-label="..." data-bs-toggle="tooltip" data-bs-placement="bottom"
                                style="display: block;" data-bs-original-title="Refresh"
                                aria-describedby="tooltip946912" (click)="reloadComponent()">
                                <i class="fal fa-redo"></i>
                            </li>
                            <li class="list-group-item after-select-fun iconHover iconButton medium rounded-circle"
                                [ngStyle]="{display:isChecked==true? 'block':'none'}" aria-label="..."
                                data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Delete">
                                <i class="fal fa-trash"></i>
                            </li>
                        </ul>
                        <!-- <div class="pagination-bar">
                            <div class="dropdown">
                                <button class="btn iconHover" type="button" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                  1-10 of 100
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item">Newest</a></li>
                                    <li><a class="dropdown-item"> Oldest</a></li>
                                </ul>
                            </div>
                            <span class="iconButton medium iconHover">
                                <i class="fal fa-chevron-left"></i>
                            </span>
                            <span class="iconButton medium iconHover">
                                <i class="fal fa-chevron-right"></i>
                            </span>
                        </div> -->
                    </div>
                    <div class="table-section table-scrool-y mb-3 query-container table-white">
                        <!-- <div class="alert alert-secondary text-center email-info-alert p-2" role="alert"     [ngStyle]="{display:isChecked==true? 'block':'none'}" >
                                All <strong>{{Ids.length}}</strong> conversations on this page are selected.
                                <a href="javascript:void(0);" class="clear-selection" (click)="reloadComponent()" style="color: rgb(28, 86, 192);">Clear
                                    selection</a>
                            </div> -->
                        <table class="table align-middle">
                            <thead>
                                <tr>
                                    <!-- <th>
                                        <div class="filter-container checkbox-reset">
                                            <ul class="list-group list-group-horizontal border-0">
                                                <li class="list-group-item border-0 all-check-boxes"
                                                    [class.selected]="isChecked == true">
                                                    <input class="form-check-input me-1" type="checkbox"
                                                        (click)="checkUncheckAll($event)" [checked]="masterSelected"
                                                        aria-label="..." data-bs-toggle="tooltip"
                                                        data-bs-placement="bottom" data-bs-original-title="Check All">
                                                </li>
                                            </ul>
                                        </div>
                                    </th> -->
                                    <!-- <th *ngFor="let column of teams_Columns">{{column}}</th> -->
                                    <th>
                                        <a class="charcoal hover-icon">
                                            Name
                                            <!-- <i class="fas fa-long-arrow-alt-down"></i> -->
                                        </a>
                                    </th>
                                    <th>
                                        <a class="charcoal hover-icon">
                                            Description
                                            <!-- <i class="fas fa-long-arrow-alt-down"></i> -->
                                        </a>
                                    </th>
                                    <th>...</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr class="region-row" *ngFor="let row of teams ">
                                    <td *ngFor="let column of teams_Columns">
                                        {{ row[column] }}
                                    </td>
                                </tr> -->
                                <tr *ngFor="let row of teams ,index as i">
                                    <!-- <td>
                                        <input class="form-check-input me-1" [checked]="row.isChecked" [value]='row.id'
                                            (click)="isAllSelected($event,i)" type="checkbox" aria-label="...">
                                    </td> -->
                                    <td>
                                        {{row?.name}}
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center darkblue">
                                            <i class="fal fa-users coal me-2"></i>
                                            {{makeTitle(row?.desc)}}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="icons-list d-flex justify-content-end dropstart" *ngIf="hasupdatePermission || hasDeletePermission">
                                            <button class="btn iconButton medium iconHover btn-group" type="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="far fa-ellipsis-v"></i>
                                            </button>
                                            <ul class="dropdown-menu fade">
                                                <li [routerLink]="['/console/teams/create/',row.id]" *ngIf="hasupdatePermission">
                                                    <a class="dropdown-item"><i class="fal fa-edit me-2"> </i>
                                                        Edit</a>
                                                </li>
                                                <li (click)="deleteTeam(row.id)" *ngIf="hasDeletePermission">
                                                    <a class="dropdown-item delete-dd"><i class="fal fa-trash me-2"></i>
                                                        Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>
                                        <nav aria-label="Page navigation example"
                                            class="d-flex align-items-center mt-3 mb-3">
                                            <ul class="pagination m-0">
                                                <li class="page-item" (click)="previousPage()">
                                                    <a class="page-link">Previous</a>
                                                </li>
                                                <li class="page-item" *ngFor="let pageNumber of getVisiblePageNumbers()"
                                                    [class.active]="pageNumber === currentPage">
                                                    <a class="page-link" (click)="goToPage(pageNumber)">{{ pageNumber
                                                        }}</a>
                                                </li>
                                                <li class="page-item" (click)="nextPage()">
                                                    <a class="page-link">Next</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </td>
                                    <td>
                                        <div
                                            class="tags-per-page d-flex align-items-center justify-content-end mt-3 mb-3 coal">
                                            Per page
                                            <div class="dropdown simple-dropdown w-auto">
                                                <button class="dropdown-toggle chevron-icon down ps-2 pe-4"
                                                    type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                    {{ perPage }}
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                    <li>
                                                        <a class="dropdown-item" (click)="setPerPage(10)">10</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" (click)="setPerPage(20)">20</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" (click)="setPerPage(30)">30</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
