<div class="add-templates console-body-wrapper" data-scrollbar="true" tabindex="-1"
    style="overflow-y:auto; outline: none;">
    <div class="scroll-content">
        <form [formGroup]="messageForm" (ngSubmit)="saveForm()">
            <div class="wider-container pt-3">
                <div class="floating-item mb-3">
                    <div class="floating-wrap form-floating">
                      <input type="text" class="form-control" id="templateName" placeholder="Template Name"
                        formControlName="templateName" [class.is-invalid]="messageForm.get('templateName')?.invalid && (messageForm.get('templateName')?.dirty || messageForm.get('templateName')?.touched)"
                        [class.is-valid]="messageForm.get('templateName')?.valid && (messageForm.get('templateName')?.dirty || messageForm.get('templateName')?.touched)">
                      <label for="templateName" class="coal">Template Name</label>
                      <div class="invalid-feedback" *ngIf="messageForm.get('templateName')?.errors?.['required']">Template name is required.</div>
                      <div class="invalid-feedback" *ngIf="messageForm.get('templateName')?.errors?.['pattern']">Only alphabets and spaces are allowed.</div>
                    </div>
                  </div>
                  <div class="floating-item mb-4">
                    <div class="floating-wrap form-floating mb-3">
                      <input class="form-control" id="subject" placeholder="Subject"
                        formControlName="subject" [class.is-invalid]="messageForm.get('subject')?.invalid && (messageForm.get('subject')?.dirty || messageForm.get('subject')?.touched)"
                        [class.is-valid]="messageForm.get('subject')?.valid && (messageForm.get('subject')?.dirty || messageForm.get('subject')?.touched)">
                      <label for="subject" class="coal">Subject</label>
                      <div class="invalid-feedback" *ngIf="messageForm.get('subject')?.errors?.['required']">Subject is required.</div>
                    </div>
                  </div>
                  <div class="text-area-section pb-5">
                    <ckeditor [(ngModel)]="editorContent" formControlName="message"></ckeditor>
                    <div class="invalid-feedback" *ngIf="messageForm.get('message')?.invalid && (messageForm.get('message')?.dirty || messageForm.get('message')?.touched)">Message is required.</div>
                  </div>
            </div>
            <footer class="footer">
                <div class="ps-3 pe-3">
                    <div class="icon-buttons-wrapper d-flex justify-content-between pt-3 pb-4">
                        <div class="row w-100">
                            <div class="col-md-4">
                                <div class="f-icon-txt-wrapper d-flex align-items-center">
                                    <button class="iconButton medium iconHover" id="deleteModalBtn">
                                        <!-- <i class="fal fa-trash radical"></i> -->
                                    </button>
                                    <!-- <p class="f-icon-txt radical ms-1 m-0">Delete Message</p> -->
                                </div>
                            </div>
                            <div class="col-md-8 justify-content-end d-flex">
                                <div class="buttons-wrap d-flex">
                                    <button type="button" class="btn btn-outline-secondary btn-medium me-2" style ="font-size: 14px !important; background-color: white !important; color:black !important; min-width:100px !important;"
                                        (click)="cancelForm()">Cancel</button>
                                    <button type="submit" class="btn__theme flex items-center ms-2 px-4 btn-medium saveBtn" style ="font-size: 14px !important;" [disabled]="messageForm.invalid"
                                         data-bs-target="">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </form>
    </div>
</div>
