<div class="alert alert-warning alert-group">
    <div class="form-inline">
        <select [ngModel]="group.operator" (ngModelChange)="group.operator = $event" class="form-control input-sm">
            <option *ngFor="let operator of operators" [value]="operator.name">{{ operator.name }}</option>
        </select>
        <button style="margin-left: 5px" (click)="addCondition()" class="btn btn-sm btn-success"><span
                class="glyphicon glyphicon-plus-sign"></span> Add Condition</button>
        <button style="margin-left: 5px" (click)="addGroup()" class="btn btn-sm btn-success"><span
                class="glyphicon glyphicon-plus-sign"></span> Add Group</button>
        <button style="margin-left: 5px" (click)="removeGroup()" class="btn btn-sm btn-danger"><span
                class="glyphicon glyphicon-minus-sign"></span> Remove Group</button>
    </div>
    <div class="group-conditions">
        <div *ngFor="let rule of getSortedRules(); let i = index" class="condition">
            <div [ngSwitch]="rule.hasOwnProperty('group')">
                <div *ngSwitchCase="true">
                    <app-query-builder [group]="rule.group"></app-query-builder>
                </div>
                <div *ngSwitchDefault>
                    <div class="form-inline">
                        <select [ngModel]="rule.field" (ngModelChange)="rule.field = $event"
                            class="form-control input-sm">
                            <option *ngFor="let field of fields" [value]="field.name">{{ field.name }}</option>
                        </select>
                        <select style="margin-left: 5px" [ngModel]="rule.condition"
                            (ngModelChange)="rule.condition = $event" class="form-control input-sm">
                            <option *ngFor="let condition of conditions" [value]="condition.name">{{ condition.name }}
                            </option>
                        </select>
                        <input style="margin-left: 5px" type="text" [(ngModel)]="rule.data"
                            class="form-control input-sm"/>
                        <button style="margin-left: 5px" (click)="removeCondition(i)"
                            class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-minus-sign"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>