<nav id="new-event-rightbar-dashboard" class="expended-rigth-sidebar open">
    <div class="right-bar-wrapper">
<div class="bodyWrapper">
    <header class="tab-header rightbar-tab-header pe-3">
        <nav class="mb-0">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="new-event" data-bs-toggle="tab" data-bs-target="#new-event-tab" type="button" role="tab" aria-controls="new-event-tab" aria-selected="true">
                     New event
                </button>
            </div>
            <div class="icons-list">
                <button class="iconButton medium notification iconHover">
                    <i class="fal fa-plus"></i>
                </button>
                <button class="iconButton medium notification iconHover" id="calendaropen">
                    <i class="fal fa-calendar-alt"></i>
                </button>
                <button class="iconButton medium notification iconHover">
                    <i class="fal fa-external-link-alt"></i>
                </button>
            </div>
        </nav>
    </header>
    
    <div class="new-event">
        <div class="tab-content" id="nav-tabContent">
            <div id="new-event-tab" class="tab-pane fade active show" role="tabpanel" aria-labelledby="new-event">
                <div class="rightbar-inner">
                    <div class="rightbar-inner-scroll" data-scrollbar="true" tabindex="-1" style="overflow: auto; outline: none;"><div class="scroll-content">
                        <div class="profile-form pt-4 me-3 pb-4 px-3">
                            <div class="input-group mb-3">
                                <input class="form-control border-info" placeholder="test" aria-label="test">
                            </div>
                            <form>
                                <div class="input-group mb-3">
                                    <input class="form-control" placeholder="May 1, 2021" aria-label="May 1, 2021">
                                </div>
                                <div class="input-group mb-3">
                                    <input class="form-control" placeholder="2:00 AM" aria-label="2:00 AM">
                                    <span class="input-group-text">to</span>
                                    <input class="form-control" placeholder="2:00 AM" aria-label="2:00 AM">
                                </div>
                                <div class="row mb-3">
                                    
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">All day</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputEmail3" placeholder="Does not repeat">
                                    </div>
                                </div>

                                <div class="input-group mb-3">
                                    <input class="form-control input-disabled" placeholder="Add guests" aria-label="Add guests example">
                                </div>
                                <div class="input-group mb-3">
                                    <input class="form-control input-disabled" placeholder="Add a location" aria-label="Add a location example">
                                </div>
                                <div class="input-group mb-3">
                                    <input class="form-control input-disabled" placeholder="Add a meeting room" aria-label="Add a meeting room example">
                                </div>
                                <select class="form-select mb-3 input-disabled" aria-label="No conference">
                                    <option selected="">Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <div class="form-floating mb-3">
                                    <textarea class="form-control input-disabled" placeholder="Add a description" id="floatingTextarea" disabled="" style="height:150px;"></textarea>
                                    <label for="floatingTextarea">Add a description</label>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-9">
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected="">tahirahmed@gmail.com</option>
                                            <option value="1">nadeemali@outlook.com</option>
                                            <option value="2">maria@gmail.com</option>
                                            <option value="3">zainab@yahoo.com</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3 ps-0">
                                        <div class="input-group color-picker">
                                            <input type="color" class="form-control form-control-color" id="exampleColorInput" value="#563d7c" title="Choose your color">
                                            <i class="fas fa-sort-down"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="input-group mb-3">
                                            <input class="form-control" type="number" placeholder="30" aria-label="number example">
                                            <select class="form-select ms-2" aria-label="No conference">
                                                <option selected="">minutes</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 p-0">
                                        <div class="input-group mb-3">
                                            <span class="badge bg-secondary rounded-circle badge-right">
                                                <i class="fas fa-times"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <button class="btn iconButton sky mb-3">
                                            <i class="fal fa-plus me-1"></i> 
                                            Add notification
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="input-group mb-3">
                                            <select class="form-select" aria-label="No conference">
                                                <option selected="">Show as busy</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-sm-6">
                                        <div class="input-group mb-3">
                                            <select class="form-select" aria-label="No conference">
                                                <option selected="">Default visiblity</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div><div class="scrollbar-track scrollbar-track-x" style="display: none;"><div class="scrollbar-thumb scrollbar-thumb-x"></div></div><div class="scrollbar-track scrollbar-track-y" style="display: none;"><div class="scrollbar-thumb scrollbar-thumb-y"></div></div></div>
                    <footer class="footer">
                        <div class="ps-3 pe-3">
                            <div class="icon-buttons-wrapper d-flex justify-content-between pt-3 pb-4">
                                <div class="row w-100">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-8 justify-content-end d-flex">
                                        <div class="buttons-wrap d-flex">
                                            <button type="button" class="btn btn-outline-secondary">Cancel</button>
                                            <button type="button" class="btn btn-success ms-2" data-bs-toggle="modal" data-bs-target="#scheduleSaveModal">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</nav>