<nav id="tickets-rightbar-dashboard" class="expended-rigth-sidebar open toggled">
    <div class="right-bar-wrapper">
        <div class="bodyWrapper">
            <header class="tab-header rightbar-tab-header pe-3">
                <nav>
                    <div class="nav nav-tabs align-items-center" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="tickets-dashboard" data-bs-toggle="tab"
                            data-bs-target="#tickets-dashboard-tab" type="button" role="tab"
                            aria-controls="tickets-dashboard-tab" aria-selected="true">
                            <h2 class="heading">06 Tickets</h2>
                            <div class="breadcrumbs">Tickets</div>
                        </button>
                        <button class="nav-link" id="app" data-bs-toggle="tab" data-bs-target="#app-dashboard-tab"
                            type="button" role="tab" aria-controls="app-dashboard-tab" aria-selected="false"> <i
                                class="fas fa-times-circle closeTab radical"></i>
                            <h2 class="heading">FP-5876956</h2>
                            <div class="breadcrumbs">Complaints</div>

                        </button>


                    </div>
                    <div class="icons-list">
                        <div class="searchbar-click">
                            <form  [ngClass]="show == true ? 'searchbox-open' : ''" class="searchbox">
                                <input placeholder="What are you looking for?" name="search" class="searchbox-input"
                                    required="">
                                <span class="searchbox-icon medium iconButton iconHover" (click)="click(show)"><i
                                        [ngClass]="show == false ? 'fa fa-search': 'fa fa-times'"></i></span>
                            </form>
                        </div>
                    </div>
                </nav>
            </header>
            <div>
                <div class="tab-content" id="nav-tabContent">
                    <div id="tickets-dashboard-tab" class="tab-pane fade active show" role="tabpanel"
                        aria-labelledby="tickets">
                        <div class="list-group-section pt-3 pe-3">
                            <div>
                                <div class="list-group list-group-flush">
                                    <a class="list-group-item d-flex app-btn">
                                        <div class="list-down-icon"> <span
                                                class="btn iconButton iconHover medium navyBg me-3">
                                                <i class="fab fa-facebook-f"></i>
                                            </span> </div>
                                        <div class="w-100 list-txt">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h6 class="mb-1 darkblue">Ticket Number - RMS157
                                                    <span
                                                        class="badge rounded-pill emerald emeraldBorder">Completed</span>
                                                </h6> <small class="silver">June 6, 2021 at 9:30 AM</small>
                                            </div>
                                            <p class="mb-1 coal">Hi, I was wondering if I am eligible to apply …</p>
                                        </div>
                                    </a>
                                    <a class="list-group-item d-flex app-btn">
                                        <div class="list-down-icon"> <span
                                                class="btn iconButton iconHover medium mintBg me-3">
                                                <i class="fab fa-whatsapp"></i>
                                            </span> </div>
                                        <div class="w-100 list-txt">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h6 class="mb-1 darkblue">Ticket Number - RMS551
                                                    <span
                                                        class="badge rounded-pill mustard mustardBorder">In-Process</span>
                                                </h6> <small class="silver">June 1, 2021 at 2:00 PM</small>
                                            </div>
                                            <p class="mb-1 coal">Hi, I applied for the job opening by going onto the
                                                link …</p>
                                        </div>
                                    </a>
                                    <a class="list-group-item d-flex app-btn">
                                        <div class="list-down-icon"> <span
                                                class="btn iconButton iconHover medium mintBg me-3">
                                                <i class="fab fa-whatsapp"></i>
                                            </span> </div>
                                        <div class="w-100 list-txt">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h6 class="mb-1 darkblue">Ticket Number - RMS884
                                                    <span
                                                        class="badge rounded-pill radical radicalBorder">Rejected</span>
                                                </h6> <small class="silver">May 28, 2021 at 11:35 AM</small>
                                            </div>
                                            <p class="mb-1 coal">Few days back, I applied on your Facebook page for the
                                                …</p>
                                        </div>
                                    </a>
                                    <a class="list-group-item d-flex app-btn">
                                        <div class="list-down-icon"> <span
                                                class="btn iconButton iconHover medium cherryBg me-3">
                                                <i class="fal fa-comment-alt-lines"></i>
                                            </span> </div>
                                        <div class="w-100 list-txt">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h6 class="mb-1 darkblue">Ticket Number - RMS884
                                                    <span
                                                        class="badge rounded-pill mustard mustardBorder">In-Process</span>
                                                </h6> <small class="silver">May 25, 2021 at 10:05 AM</small>
                                            </div>
                                            <p class="mb-1 coal">Fatima Ahmed! You have been shortlisted and scheduled
                                                for interview on …</p>
                                        </div>
                                    </a>
                                    <a class="list-group-item d-flex app-btn">
                                        <div class="list-down-icon"> <span
                                                class="btn iconButton iconHover medium berryBg me-3">
                                                <i class="fal fa-envelope"></i>
                                            </span> </div>
                                        <div class="w-100 list-txt">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h6 class="mb-1 darkblue">Ticket Number - RMS442
                                                    <span
                                                        class="badge rounded-pill emerald emeraldBorder">Completed</span>
                                                </h6> <small class="silver">May 5, 2021 at 4:35 PM</small>
                                            </div>
                                            <p class="mb-1 coal">Still no response from your HR ...</p>
                                        </div>
                                    </a>
                                    <a class="list-group-item d-flex app-btn">
                                        <div class="list-down-icon"> <span
                                                class="btn iconButton iconHover medium cherryBg me-3">
                                                <i class="fal fa-comment-alt-lines"></i>
                                            </span> </div>
                                        <div class="w-100 list-txt">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h6 class="mb-1 darkblue">Ticket Number - RMS884
                                                    <span
                                                        class="badge rounded-pill mustard mustardBorder">In-Process</span>
                                                </h6> <small class="silver">May 28, 2021 at 11:12 AM</small>
                                            </div>
                                            <p class="mb-1 coal">Adeel Ahmed You have been shortlisted and scheduled for
                                                interview on …</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="app-dashboard-tab" class="tab-pane fade" role="tabpanel" aria-labelledby="app-files">
                        <div class="rightbar-inner">
                            <div class="rightbar-inner-scroll" data-scrollbar="true" tabindex="-1"
                                style="overflow: auto; outline: none;">
                                <div class="scroll-content">
                                    <div class="complaint-timeline">
                                        <div class="timeline-item person hidden customer">
                                            <div class="avatar medium"> <img src="../../../../assets/images/avatar-7.jpg"> </div>
                                            <div class="timeline-item-content">
                                                <div class="case-heading"> <strong>9014563</strong> messaged Foodpanda
                                                    in Facebook </div>
                                                <div class="case-msg">
                                                    <p>Hi, I would like to place my order complaint Order number is
                                                        OR-456767.</p>
                                                </div>
                                                <div class="case-date"> <span class="date">24/2/2020</span> <span
                                                        class="time">6:20 PM</span> </div>
                                            </div> <span class="toggle-msg">
                                                <i class="far fa-comment-alt-lines"></i>
                                            </span>
                                            <div class="vl"></div>
                                        </div>
                                        <div class="timeline-item icon">
                                            <div class="avatar medium skyBg"> <i class="fas fa-clipboard-list"></i>
                                            </div>
                                            <div class="timeline-item-content">
                                                <div class="case-heading"> <strong>Complaint Launched</strong> </div>
                                                <div class="case-date"> <span class="date">24/2/2020</span> <span
                                                        class="time">6:20 PM</span> </div>
                                            </div>
                                            <div class="vl"></div>
                                        </div>
                                        <div class="timeline-item person hidden">
                                            <div class="avatar medium"> <img src="../../../../assets/images/avatar-3.jpg"> </div>
                                            <div class="timeline-item-content">
                                                <div class="case-heading"> <strong>Agent#123</strong> responded to
                                                    customer </div>
                                                <div class="case-msg">
                                                    <p>Hi, I would like to place my order complaint Order number is
                                                        OR-456767.</p>
                                                </div>
                                                <div class="case-date"> <span class="date">24/2/2020</span> <span
                                                        class="time">6:20 PM</span> </div>
                                            </div> <span class="toggle-msg">
                                                <i class="far fa-comment-alt-lines active"></i>
                                            </span>
                                            <div class="vl"></div>
                                        </div>
                                        <div class="timeline-item icon">
                                            <div class="avatar medium skyBg"> <i class="fas fa-user-friends"></i> </div>
                                            <div class="timeline-item-content">
                                                <div class="case-heading"> <strong>Complaint forwarded to finance
                                                        team</strong> </div>
                                                <div class="case-date"> <span class="date">24/2/2020</span> <span
                                                        class="time">6:20 PM</span> </div>
                                            </div>
                                            <div class="vl"></div>
                                        </div>
                                        <div class="timeline-item icon">
                                            <div class="avatar medium skyBg"> <i class="fas fa-coins"></i> </div>
                                            <div class="timeline-item-content">
                                                <div class="case-heading"> <strong>Funds Refunded</strong> </div>
                                                <div class="case-date"> <span class="date">24/2/2020</span> <span
                                                        class="time">6:20 PM</span> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-section app-section pe-3">
                                        <div class="separator"> <span class="badge rounded-pill emerald">Resolved</span>
                                        </div>
                                        <select class="form-select mb-3" aria-label=".form-select-lg example">
                                            <option selected="">Disposition</option>
                                            <option value="1">Complete Call</option>
                                            <option value="2">Busy</option>
                                            <option value="3">No Answer</option>
                                        </select>
                                        <div class="mb-3 row mt-2">
                                            <div class="col-sm-6">
                                                <div class="form-floating mb-2">
                                                    <input class="form-control" placeholder="Full Name of the candidate"
                                                        value="Iqbal Haider">
                                                    <label for="first-name">Full Name</label>
                                                    <div class="valid-feedback"></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-floating mb-2">
                                                    <input class="form-control" placeholder="Contact Number"
                                                        value="03451212122">
                                                    <label for="first-name">Contact Number</label>
                                                    <div class="valid-feedback"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row mt-2">
                                            <div class="col-sm-6">
                                                <div class="form-floating mb-2">
                                                    <input class="form-control" placeholder="Secondary Number"
                                                        value="03002121211">
                                                    <label for="first-name">Secondary Number</label>
                                                    <div class="valid-feedback"></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-floating mb-2">
                                                    <input class="form-control" placeholder="Enter your age" value="25">
                                                    <label for="first-name">Age</label>
                                                    <div class="valid-feedback"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row mt-2">
                                            <div class="col-sm-6">
                                                <div class="input-group mb-3">
                                                    <select class="form-select" aria-label="No conference">
                                                        <option selected="">Gender</option>
                                                        <option value="1">Male</option>
                                                        <option value="2">Female</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-floating mb-2">
                                                    <input class="form-control" placeholder="CNIC Number"
                                                        value="1155594845928">
                                                    <label for="first-name">CNIC</label>
                                                    <div class="valid-feedback"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row mt-2">
                                            <div class="col-sm-6">
                                                <div class="input-group mb-3">
                                                    <select class="form-select" aria-label="No conference">
                                                        <option selected="">Source of Leads</option>
                                                        <option value="1">Advertisements</option>
                                                        <option value="2">Branding</option>
                                                        <option value="2">Called</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-floating mb-2">
                                                    <input class="form-control" placeholder="Source Type" value="NA">
                                                    <label for="first-name">Source Type</label>
                                                    <div class="valid-feedback"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row mt-2">
                                            <div class="col-sm-6">
                                                <div class="form-floating mb-2">
                                                    <input class="form-control" placeholder="Referee's Name"
                                                        value="Adnan Ahmed">
                                                    <label for="first-name">Referee's Name</label>
                                                    <div class="valid-feedback"></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-floating mb-2">
                                                    <input class="form-control" placeholder="Referee Employee ID"
                                                        value="15877">
                                                    <label for="first-name">Referee Employee ID</label>
                                                    <div class="valid-feedback"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row mt-2">
                                            <div class="col-sm-6">
                                                <div class="form-floating mb-2">
                                                    <input class="form-control" placeholder="Referrer's Email"
                                                        value="adnanahmed1@ibx.co">
                                                    <label for="first-name">Referrer's Email</label>
                                                    <div class="valid-feedback"></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-floating mb-2">
                                                    <input class="form-control" placeholder="Sub Source" value="NA">
                                                    <label for="first-name">Sub Source</label>
                                                    <div class="valid-feedback"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row mt-2">
                                            <div class="col-sm-6">
                                                <div class="form-floating mb-2">
                                                    <input class="form-control" placeholder="Education" value="MBA">
                                                    <label for="first-name">Education</label>
                                                    <div class="valid-feedback"></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-floating mb-2">
                                                    <input class="form-control" placeholder="Email"
                                                        value="Iqbal.Haider@gmail.com">
                                                    <label for="first-name">Email</label>
                                                    <div class="valid-feedback"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row mt-2">
                                            <div class="col-sm-6">
                                                <div class="input-group mb-3">
                                                    <select class="form-select" aria-label="No conference">
                                                        <option selected="">Transport</option>
                                                        <option value="1">Yes</option>
                                                        <option value="2">No</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group mb-3">
                                                    <select class="form-select" aria-label="No conference">
                                                        <option selected="">Location</option>
                                                        <option value="1">Lahore</option>
                                                        <option value="2">Karachi</option>
                                                        <option value="2">Islamabad</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row mt-2">
                                            <div class="col-sm-6">
                                                <div class="input-group mb-3">
                                                    <select class="form-select" aria-label="No conference">
                                                        <option selected="">Program Type</option>
                                                        <option value="1">Local</option>
                                                        <option value="2">International</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group mb-3">
                                                    <select class="form-select" aria-label="No conference">
                                                        <option selected="">Area</option>
                                                        <option value="1">DHA</option>
                                                        <option value="2">Gulberg</option>
                                                        <option value="2">Model Town</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row mt-2">
                                            <div class="col-sm-6">
                                                <div class="form-floating mb-2">
                                                    <input class="form-control" placeholder="Area: (If Other)"
                                                        value="NA">
                                                    <label for="first-name">Area: (If Other)</label>
                                                    <div class="valid-feedback"></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-floating mb-2">
                                                    <input class="form-control" type="datetime-local" id="datetime"
                                                        name="datetime">
                                                    <label for="first-name">Schedule Interview</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row mt-2">
                                            <div class="col-sm-6">
                                                <div class="form-floating mb-2">
                                                    <input class="form-control" placeholder="Job"
                                                        value="Domestic Customer Service Executive">
                                                    <label for="first-name">Job</label>
                                                    <div class="valid-feedback"></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-floating mb-2">
                                                    <input class="form-control" placeholder="Job"
                                                        value="123 - ABC, DHA, Phase 1, Lahore">
                                                    <label for="first-name">Candidate Address</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <input class="form-control" placeholder="What do you know about TRG?"
                                                aria-label="Disabled input example" disabled="">
                                        </div>
                                        <div class="mb-3">
                                            <input class="form-control"
                                                placeholder="What do you think about Customer Service?"
                                                aria-label="Disabled input example" disabled="">
                                        </div>
                                        <div class="mb-3">
                                            <input class="form-control"
                                                placeholder="Why do you want to work in IBEX Global?"
                                                aria-label="Disabled input example" disabled="">
                                        </div>
                                        <div class="mb-3 row mt-2">
                                            <div class="col-sm-6">
                                                <div class="input-group mb-3">
                                                    <select class="form-select" aria-label="No conference">
                                                        <option selected="">Clarity</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group mb-3">
                                                    <select class="form-select" aria-label="No conference">
                                                        <option selected="">Comprehension</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row mt-2">
                                            <div class="col-sm-6">
                                                <div class="input-group mb-3">
                                                    <select class="form-select" aria-label="No conference">
                                                        <option selected="">English Communication</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group mb-3">
                                                    <select class="form-select" aria-label="No conference">
                                                        <option selected="">Fluency</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-floating mb-2">
                                            <input class="form-control" type="datetime-local" id="datetime"
                                                name="datetime">
                                            <label for="first-name">Schedule Callback</label>
                                        </div>
                                        <div class="mb-3 row mt-2">
                                            <div class="col-sm-12">
                                                <h6 class="mt-3 mb-3">Personal Information</h6>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-floating mb-2">
                                                    <input class="form-control" id="first-name"
                                                        placeholder="Enter First Name" value="Iqbal Haider">
                                                    <label for="first-name">Full Name</label>
                                                    <div class="valid-feedback"></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-floating mb-2">
                                                    <input class="form-control" placeholder="Customer IS"
                                                        value="454548">
                                                    <label for="first-name">Customer IS</label>
                                                    <div class="valid-feedback"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <div class="col-sm-6">
                                                <div class="form-floating mb-2">
                                                    <input class="form-control" placeholder="Phone Number"
                                                        value="+923451212122">
                                                    <label for="first-name">Phone Number</label>
                                                    <div class="valid-feedback"></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-floating mb-2">
                                                    <input class="form-control" placeholder="Enter Address"
                                                        value="123 - ABC, DHA, Phase 1, Lahore">
                                                    <label for="first-name">Address</label>
                                                    <div class="valid-feedback"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="scrollbar-track scrollbar-track-x" style="display: none;">
                                    <div class="scrollbar-thumb scrollbar-thumb-x"></div>
                                </div>
                                <div class="scrollbar-track scrollbar-track-y" style="display: none;">
                                    <div class="scrollbar-thumb scrollbar-thumb-y"></div>
                                </div>
                            </div>
                            <footer class="footer">
                                <div class="ps-3 pe-3">
                                    <div class="icon-buttons-wrapper d-flex justify-content-between pt-3 pb-4">
                                        <div class="row w-100">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-8 justify-content-end d-flex">
                                                <div class="buttons-wrap d-flex">
                                                    <button type="button"
                                                        class="btn btn-outline-secondary">Cancel</button>
                                                    <button type="button" class="btn btn-success ms-2"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#dashboardTicketSaveModal">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>