<div class="card card-body darkblue">
    <div class="list-group list-group-flush">
        <label class="list-group-item active text-decoration-underline night fw-bold">
            <input class="form-check-input me-2" type="checkbox" value="m1" name="list_name" [(ngModel)]="checkboxListMaster" (change)="checkUncheckAll()">
            {{ checkboxListCheck.length  || 0 }} {{checkboxListHeader}}
        </label>
        <!-- <label class="list-group-item night fw-bold">
            <input class="form-check-input me-2" type="checkbox">
            {{menu?.name}} - <small class="fw-normal">Access</small>
        </label> -->
        <label *ngFor="let submenu of checkboxListCheck" class="list-group-item night fw-bold">
            <input class="form-check-input me-2" type="checkbox"
            [(ngModel)]="submenu.isSelected" name="list_name" value="{{submenu.mainId}}" (change)="isAllSelected()">
           
            <small class="fw-normal">{{submenu.name}}</small>
        </label>
    </div>
</div>
