<div class="message-wrap d-flex-1 console-body-wrapper" data-scrollbar="true" tabindex="-1"
    style="overflow-y:auto; outline: none;">
    <div class="scroll-content">
        <div class="wider-container pt-3">
            <div class="searchBar-wrapper mb-2 p-0">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="d-flex align-items-lg-center">
                            <p class="coal m-0">Status:</p>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle coal" type="button" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ selectedSortOption }}
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li>
                                      <a class="dropdown-item" (click)="selectedSortOption = 'All'; sortTemplates()">All</a>
                                    </li>
                                    <li>
                                      <a class="dropdown-item" (click)="selectedSortOption = 'Ascending'; sortTemplates()">Ascending</a>
                                    </li>
                                    <li>
                                      <a class="dropdown-item" (click)="selectedSortOption = 'Descending'; sortTemplates()">Descending</a>
                                    </li>
                                  </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 d-flex align-items-center justify-content-end">
                        <a href="javascript:" class="search-btn">
                            <button class="iconButton medium">
                                <i class="fal fa-search silver"></i>
                            </button>
                            <input placeholder="Search" class="me-1">
                        </a>
                        <a (click)="updatevalue('consoleCreateQuickResponseTemplatesComponent')"
                            [routerLink]="['/console/createresponse']" class="ms-2">
                            <button type="button" class="btn btn-success">
                                <i class="fal fa-plus me-2"></i>
                                Add Quick Response
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="table-section">
                <table class="table mb-5 align-middle">
                    <thead>
                        <tr>
                            <th>
                                Templates
                            </th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let template of messages">
                            <th>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item d-flex justify-content-between align-items-start"
                                        [class.disabled]="template.disabled">
                                        <div class="ms-2 me-auto fw-normal coal">
                                            {{ template.text }}
                                        </div>
                                    </li>
                                </ul>
                            </th>
                            <td>
                                <div class="icons-list d-flex justify-content-end dropstart">
                                    <button class="btn iconButton medium iconHover" (click)="editTemplate(template)">
                                        <i class="fal fa-edit"></i>
                                    </button>

                                    <button class="btn iconButton medium iconHover btn-group" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="far fa-ellipsis-v dropdown-toggle"></i>
                                    </button>
                                    <ul class="dropdown-menu fade">
                                        <li>
                                            <a class="dropdown-item" (click)="editTemplate(template)">Edit</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" (click)="deleteTemplate(template)">Delete</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" (click)="disableTemplate(template)">Disable</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" (click)="cloneTemplate(template)">Clone</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- <div class="scrollbar-track scrollbar-track-x" style="display: none;">
        <div class="scrollbar-thumb scrollbar-thumb-x" style="width: 1176px; transform: translate3d(0px, 0px, 0px);">
        </div>
    </div>
    <div class="scrollbar-track scrollbar-track-y" style="display: block;">
        <div class="scrollbar-thumb scrollbar-thumb-y"
            style="height: 196.009px; transform: translate3d(0px, 0px, 0px);"></div>
    </div> -->
</div>