.dropdown-item{
    position: relative;
 }
 .dropend .dropdown-toggle:after{
    position: absolute;
    right: 13px;
    top: 10px;
 }
 .dropdown-menu{
    animation: drop 0.5s ease 1;
    min-width: 13rem;
 }
 .upload-btn-wrapper {
   position: relative;
   overflow: hidden;
   display: inline-block;
 }
 .upload-btn-wrapper input[type=file] {
   font-size: 100px;
   position: absolute;
   left: 0;
   top: 0;
   opacity: 0;
 }
//  @media screen and (max-width: 800px) {
//    .long-word-wrap {
//       overflow-wrap: break-word;
//       width: 400px;
//  }
//  }
 .long-word-wrap {
   overflow-wrap: break-word;
   width: 500px;
}
//  @media screen and (min-width: 801px) and (max-width: 1200px) {
//    .long-word-wrap {
//       overflow-wrap: break-word;
//       width: 600px;
//  }
// }
// @media screen and (min-width: 1201px) and (max-width: 1500px) {
//    .long-word-wrap {
//       overflow-wrap: break-word;
//       width: 800px;
//  }
// }
// @media screen and (min-width: 1501px) and (max-width: 2000px) {
//    .long-word-wrap {
//       overflow-wrap: break-word;
//       width: 1200px;
//  }
// }
.download-button {
   padding: 10px 20px;
   width: 145px;
   height: 145px;
   background-color: #000;
   color: #fff;
   border: none;
   border-radius: 12px;
   cursor: pointer;
   margin: 3px;
 }
 .video, .audio {
   padding: 3px;
   width: 145px;
   height: 145px;
   background-color: #000;
   color: #fff;
   border: none;
   border-radius: 12px;
   margin: 2px;
 }
//  .download-button:hover {
//    background-color: #0056b3;
//  }
.invalid-feedback {
  display: block!important;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}