.Question{
    text-align: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: #D3D3D3;
 }
 .Services{
     text-align: center;
     font-family: 'Times New Roman', Times, serif;
 }
 .dissatisfied{
     text-align: center;
     font-family: Trebuchet MS, sans-serif;
 }
 .buttons{
     margin-left: 10px;
     text-align: center;
 }
 .submitbutton{
     text-align: center;
 }


 .customStylingForLogo {
    max-width: 150px;
    margin: 0 auto;
 }