<div class="create-team console-body-wrapper inbox-container footerheight" data-scrollbar="true" tabindex="-1"
  style="overflow-y: auto; outline: none">
  <div class="scroll-content" style="transform: translate3d(0px, 0px, 0px)">
    <div class="p-4">
      <header class="tab-header">
        <nav>
          <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
            <button class="nav-link active" id="user-tab" data-bs-toggle="tab" data-bs-target="#team-detail"
              type="button" role="tab" aria-controls="team-detail" aria-selected="true">
              <h6>Add Queue</h6>
            </button>
          </div>
        </nav>
      </header>
      <div class="tab-body">
        <div class="tab-content" id="nav-tabContent">
          <div id="team-detail" class="tab-pane fade active show" role="tabpanel" aria-labelledby="user-tab">
            <div class="wider-container">
              <div class="team-detail-form-box mb-5">
                <form class="team-detail-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
                  <div class="floating-item mb-4">
                    <div [ngClass]="{
                          'was-validated':
                            userForm.get('tagId')!.valid &&
                            userForm.get('tagId')!.touched
                        }" class="floating-wrap form-floating mb-2">
                      <select [ngClass]="{
                            'is-invalid':
                              userForm.get('tagId')!.errors &&
                              (userForm.get('tagId')!.touched ||
                                userForm.get('tagId')!.dirty)
                          }" formControlName="tagId" class="form-select" id="floatingSelect"
                        aria-label="Floating label select">
                        <option selected disabled>Channels</option>
                        <option *ngFor="let channel of channelsList" [value]="channel.mainId">
                          {{ channel.name }}
                        </option>
                      </select>
                      <label for="floatingSelect">Channels</label>
                      <div class="invalid-feedback" *ngIf="
                            userForm.get('tagId')!.errors &&
                            (userForm.get('tagId')!.touched ||
                              userForm.get('tagId')!.dirty)
                          ">
                        <div *ngIf="userForm.get('tagId')!.errors?.['required']">
                          Please select Channel
                        </div>
                      </div>
                      <div class="valid-tagId" *ngIf="
                            userForm.get('tagId')!.valid &&
                            userForm.get('tagId')!.touched
                          ">
                        Looks Good!
                      </div>
                    </div>
                  </div>
                  <div class="floating-item mb-4">
                    <div [ngClass]="{
                          'was-validated':
                            userForm.get('teamSlug')!.valid &&
                            userForm.get('teamSlug')!.touched
                        }" class="floating-wrap form-floating mb-2">
                      <select [ngClass]="{
                            'is-invalid':
                              userForm.get('teamSlug')!.errors &&
                              (userForm.get('teamSlug')!.touched ||
                                userForm.get('teamSlug')!.dirty)
                          }" formControlName="teamSlug" class="form-select" id="floatingSelect"
                        aria-label="Floating label select">
                        <option selected disabled>Teams</option>
                        <option *ngFor="let team of teamsList" [value]="team.slug">
                          {{ team.name }}
                        </option>
                      </select>
                      <label for="floatingSelect">Teams</label>
                      <div class="invalid-feedback" *ngIf="
                            userForm.get('teamSlug')!.errors &&
                            (userForm.get('teamSlug')!.touched ||
                              userForm.get('teamSlug')!.dirty)
                          ">
                        <div *ngIf="userForm.get('teamSlug')!.errors?.['required']">
                          Please select Team
                        </div>
                      </div>
                      <div class="valid-feedback" *ngIf="
                            userForm.get('teamSlug')!.valid &&
                            userForm.get('teamSlug')!.touched
                          ">
                        Looks Good!
                      </div>
                    </div>
                  </div>


                  <div class="floating-item mb-4">
                    <div [ngClass]="{
                          'was-validated':
                            userForm.get('wingSlug')!.valid &&
                            userForm.get('wingSlug')!.touched
                        }" class="floating-wrap form-floating mb-2">
                      <select [ngClass]="{
                            'is-invalid':
                              userForm.get('wingSlug')!.errors &&
                              (userForm.get('wingSlug')!.touched ||
                                userForm.get('wingSlug')!.dirty)
                          }" formControlName="wingSlug" class="form-select" id="floatingSelect"
                        aria-label="Floating label select">
                        <option selected disabled>Wings</option>
                        <option *ngFor="let wing of wingsList" [value]="wing.slug">
                          {{ wing.name }}
                        </option>
                      </select>
                      <label for="floatingSelect">Wings</label>
                      <div class="invalid-feedback" *ngIf="
                            userForm.get('wingSlug')!.errors &&
                            (userForm.get('wingSlug')!.touched ||
                              userForm.get('wingSlug')!.dirty)
                          ">
                        <div *ngIf="userForm.get('wingSlug')!.errors?.['required']">
                          Please select Wing
                        </div>
                      </div>
                      <div class="valid-feedback" *ngIf="
                            userForm.get('wingSlug')!.valid &&
                            userForm.get('wingSlug')!.touched
                          ">
                        Looks Good!
                      </div>
                    </div>
                  </div>


                  <div class="floating-item mb-4">
                    <div [ngClass]="{
                          'was-validated':
                            userForm.get('groupSlug')!.valid &&
                            userForm.get('groupSlug')!.touched
                        }" class="floating-wrap form-floating mb-2">
                      <select [ngClass]="{
                            'is-invalid':
                              userForm.get('groupSlug')!.errors &&
                              (userForm.get('groupSlug')!.touched ||
                                userForm.get('groupSlug')!.dirty)
                          }" formControlName="groupSlug" class="form-select" id="floatingSelect"
                        aria-label="Floating label select">
                        <option selected disabled>Groups</option>
                        <option *ngFor="let group of groupsList" [value]="group.slug">
                          {{ group.name }}
                        </option>
                      </select>
                      <label for="floatingSelect">Groups</label>
                      <div class="invalid-feedback" *ngIf="
                            userForm.get('groupSlug')!.errors &&
                            (userForm.get('groupSlug')!.touched ||
                              userForm.get('groupSlug')!.dirty)
                          ">
                        <div *ngIf="userForm.get('groupSlug')!.errors?.['required']">
                          Please select Group
                        </div>
                      </div>
                      <div class="valid-feedback" *ngIf="
                            userForm.get('groupSlug')!.valid &&
                            userForm.get('groupSlug')!.touched
                          ">
                        Looks Good!
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="floating-item mb-3">
                        <div class="floating-wrap form-floating"><input type="number" id="Weight" placeholder="Weight"
                          formControlName="Weight" class="form-control" min="0" step="1" oninput="this.value = this.value.replace(/\D+/g, '')" [ngClass]="{
                            'is-invalid':
                              userForm.get('Weight')!.errors &&
                              (userForm.get('Weight')!.touched ||
                                userForm.get('Weight')!.dirty)
                          }">
                          <label class="coal">Weight</label>
                          <div class="invalid-feedback" *ngIf="
                            userForm.get('Weight')!.errors &&
                            (userForm.get('Weight')!.touched ||
                              userForm.get('Weight')!.dirty)
                          ">
                        <div *ngIf="userForm.get('Weight')!.errors?.['required']">
                          Weight is required!
                        </div>
                      </div>
                      <div class="valid-feedback" *ngIf="
                            userForm.get('Weight')!.valid &&
                            userForm.get('Weight')!.touched
                          ">
                        Looks Good!
                      </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="floating-item mb-3">
                        <div class="floating-wrap form-floating"><input type="number" id="Count" placeholder="Count"
                          formControlName="Count" class="form-control" min="0" step="1" oninput="this.value = this.value.replace(/\D+/g, '')" [ngClass]="{
                            'is-invalid':
                              userForm.get('Count')!.errors &&
                              (userForm.get('Count')!.touched ||
                                userForm.get('Count')!.dirty)
                          }">
                          <label class="coal">Count</label>
                          <div class="invalid-feedback" *ngIf="
                            userForm.get('Count')!.errors &&
                            (userForm.get('Count')!.touched ||
                              userForm.get('Count')!.dirty)
                          ">
                        <div *ngIf="userForm.get('Count')!.errors?.['required']">
                          Count is required!
                        </div>
                      </div>
                      <div class="valid-feedback" *ngIf="
                            userForm.get('Count')!.valid &&
                            userForm.get('Count')!.touched
                          ">
                        Looks Good!
                      </div>
                        </div>
                      </div>
                    </div>
                  <!-- </div>
                  <div class="row"> -->
                    <div class="col">
                      <div class="floating-item mb-3">
                        <div class="floating-wrap form-floating"><input type="number" id="Priority" placeholder="Priority"
                          formControlName="Priority" class="form-control" min="0" step="1" oninput="this.value = this.value.replace(/\D+/g, '')" [ngClass]="{
                            'is-invalid':
                              userForm.get('Priority')!.errors &&
                              (userForm.get('Priority')!.touched ||
                                userForm.get('Priority')!.dirty)
                          }">
                          <label class="coal">Priority</label>
                          <div class="invalid-feedback" *ngIf="
                            userForm.get('Priority')!.errors &&
                            (userForm.get('Priority')!.touched ||
                              userForm.get('Priority')!.dirty)
                          ">
                        <div *ngIf="userForm.get('Priority')!.errors?.['required']">
                          Priority is required!
                        </div>
                      </div>
                      <div class="valid-feedback" *ngIf="
                            userForm.get('Priority')!.valid &&
                            userForm.get('Priority')!.touched
                          ">
                        Looks Good!
                      </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="floating-item mb-3">
                        <div class="floating-wrap form-floating"><input type="number" id="TimeWise" placeholder="TimeWise"
                          formControlName="TimeWise" class="form-control" min="0" step="1" oninput="this.value = this.value.replace(/\D+/g, '')" [ngClass]="{
                            'is-invalid':
                              userForm.get('TimeWise')!.errors &&
                              (userForm.get('TimeWise')!.touched ||
                                userForm.get('TimeWise')!.dirty)
                          }">
                          <label class="coal">TimeWise</label>
                          <div class="invalid-feedback" *ngIf="
                            userForm.get('TimeWise')!.errors &&
                            (userForm.get('TimeWise')!.touched ||
                              userForm.get('TimeWise')!.dirty)
                          ">
                        <div *ngIf="userForm.get('TimeWise')!.errors?.['required']">
                          TimeWise is required!
                        </div>
                      </div>
                      <div class="valid-feedback" *ngIf="
                            userForm.get('TimeWise')!.valid &&
                            userForm.get('TimeWise')!.touched
                          ">
                        Looks Good!
                      </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
<footer class="footer">
  <div class="ps-3 pe-3">
    <div class="icon-buttons-wrapper d-flex justify-content-between pt-3 pb-4">
      <div class="row w-100">
        <div class="col-md-4"></div>
        <div class="col-md-8 justify-content-end d-flex">
          <div class="buttons-wrap d-flex">
            <a type="button" class="btn btn-outline-secondary btn-medium me-2 px-4" (click)="routerLink()"
              data-bs-toggle="modal" data-bs-target="">Cancel
            </a>
            <button type="button" class="btn btn-success ms-e f-saveBtn btn-large d-none"></button>
            <button type="button" (click)="onSubmit()" class="btn skyBg ms-2 px-4 btn-medium saveBtn"
              data-bs-toggle="modal" data-bs-target="">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>