<main>
    <div class="main-wrapper d-flex">
        <!-- Main menu is static component -->
        <main-menu></main-menu>
        <!-- <div class="user-comment-widget-container">
            <template #maximizeChat></template>
        </div> -->
        <nav id="left-sidebar-expand" class="conversation-list all-conversation"
            [ngClass]="toggleLeftBar ? '':'toggled' ">
            <!-- Have to show here all different sub menus, but other components shouldn't reload -->
            <!-- <inbox-menu></inbox-menu> -->
            <template #submenu></template>
            <a class="panelToggle" (click)="toggleSubLeftBar()"></a>
        </nav>
        <div class="middle-wrapper relative z-0 d-flex w-100 flex-column">
            <header class="main-header agent-header">
                <div class="row justify-content-between">
                    <div class="col-9">
                        <template #header></template>
                    </div>


                    <div class="col-3">
                        <right-header-components></right-header-components>
                    </div>
                </div>
            </header>
            <div class="content-box-wrapper d-flex w-100">
                <div class="middle-content d-flex">
                    <div class="page-content-wrapper social">
                        <!-- <ng-content select=".responderModule"></ng-content> -->
                        <!-- <template #body></template> -->
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
        <!-- <app-dialer></app-dialer> -->
    </div>
</main>