<div class="selected-users">
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">
            <div class="avatar large">
                <span class="remove-selected-user">
                    <i class="far fa-times"></i>
                </span>
                <img src="../../../../../../assets/images/avatar-16.jpg" alt="-" class="rounded-circle w-100">
            </div>
            <small>Zain</small>
        </li>
        <li class="list-group-item">
            <div class="avatar large">
                <span class="remove-selected-user">
                    <i class="far fa-times"></i>
                </span>
                <img src="../../../../../../assets/images/avatar-10.jpg" alt="-" class="rounded-circle w-100">
            </div>
            <small>Taimoor</small>
        </li>
        <li class="list-group-item">
            <div class="avatar large">
                <span class="remove-selected-user">
                    <i class="far fa-times"></i>
                </span>
                <img src="../../../../../../assets/images/avatar-11.jpg" alt="-" class="rounded-circle w-100">
            </div>
            <small>Maham</small>
        </li>
        <li class="list-group-item">
            <div class="avatar large">
                <span class="remove-selected-user">
                    <i class="far fa-times"></i>
                </span>
                <img src="../../../../../../assets/images/avatar-16.jpg" alt="-" class="rounded-circle w-100">
            </div>
            <small>Saif</small>
        </li>
    </ul>
</div>