<div class="rightbarNav dashboard">
    <div class="navUpper">
        <div class="rightbar-btn-group" (click)="toggleRightBar('history')" value="history-rightbar-social">
            <button class="iconButton btn medium iconHover" data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Activity Log"
            data-bs-original-title="History">
                <i class="fal fa-history"></i>
            </button>
        </div>
        <div class="rightbar-btn-group" (click)="toggleRightBar('profile')" value="profile-rightbar-social">
            <button class="iconButton btn medium iconHover" data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Profile"
            data-bs-original-title="Profile">
                <i class="fal fa-user-alt"></i>
            </button>
        </div>
        <div *ngFor="let menu of menus$" (click)="toggleRightBar(menu.link)" class="rightbar-btn-group panelToggle" 
        [attr.value]="menu.slug+'-rightbar-dashboard'">
            <button class="iconButton btn medium iconHover" data-bs-toggle="tooltip" 
            data-bs-placement="left" [attr.data-bs-original-title]="menu.name">
               <div [innerHTML]="menu.icon"></div>
            </button>
        </div>
    </div>    
</div>