<analytics-content>
    <div class="w-auto chat-message-component w-100 inbox-container" [ngClass]="showPanel?'panelToggled':''">
        <div class="d-flex main-body-wrapper">
            <div class="agent-page-main-content">
                <template #container></template>
            </div>
            <div class="rightbar-expanded-wrapper">
                <template #rightcontainer></template>
            </div>
        </div>
        <analytics-right-sidebar-menu></analytics-right-sidebar-menu>
    </div>
</analytics-content>