<div class="content-box-wrapper d-flex w-100">
    <div class="middle-content d-flex">
        <div class="page-content-wrapper custom-scroll chatbot-main">
            <div class="p-4">
                <div class="filter-toolbar mb-3 d-flex align-items-center justify-content-between mt-1">
                    <ul class="list-inline m-0 d-flex align-items-center">
                        <li class="list-inline-item">
                            <div class="icon-input">
                                <i class="fa-light fa-magnifying-glass"></i>
                                <input class="form-control" placeholder="Search.. ">
                            </div>
                        </li>
                    </ul>
                    <div class="text-end">
                        <a class="btn btn-success me-2" data-bs-toggle="modal" data-bs-target="#create-chatbot">
                            Create Chatbot
                        </a>
                    </div>
                </div>


                <div class="row align-items-start">
                    <ng-container *ngFor="let row of chatbots">
                        <div class="col-md-4">
                            <div class="card zoom-in chatbotcard">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="d-flex align-items-center">
                                            <span class="iconButton medium skyTransBg night me-2"><i
                                                    class="fa-light fa-message-bot"></i></span>
                                            <h4 class="m-0">{{ row.name }}</h4>
                                        </div>
                                        <ul class="list-inline ms-auto">
                                            <!-- <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-title="Edit ">
                                            <span class="iconButton small iconHover" data-bs-toggle="modal"
                                                data-bs-target="#create-chatbot">
                                                <i class="fa-light fa-edit"></i>
                                            </span>
                                        </li> -->
                                            <!-- <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-title="Translate Bot">
                                            <span class="iconButton small iconHover">
                                                <i class="fa-light fa-language"></i>
                                            </span>
                                        </li> -->
                                            <li class="list-inline-item" data-bs-toggle="tooltip"
                                                data-bs-placement="top" data-bs-title="Delete"  (click)="DeleteChat(row.bot_id)"> 
                                                <span class="iconButton small iconHover">
                                                    <i class="fa-light fa-trash radical"></i>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- <div class="progress my-4" role="progressbar" aria-label="Example with label"
                                    [attr.aria-valuenow]="row.progress" aria-valuemin="0" aria-valuemax="100">

                                    <div class="progress-bar" [style.width.%]="row.progress"> {{ row.progress
                                        }}%</div>
                                </div> -->
                                    <div class="d-flex align-items-center justify-content-between mt-1">
                                        <a class="btn btn-primary btn-sm px-4" (click)="updatevalue('component')"
                                        (click)="shareValue(row)"
                                            >Component</a>
                                            <a class="btn btn-primary btn-sm px-4" (click)="shareValueStepper(row)" (click)="updatevalue('rule')">Rule</a>

                                        <a class="btn btn-primary btn-sm px-4" (click)="shareValueStory(row)" (click)="updatevalue('story')">Story</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <div class="col-md-4">
                        <div class="card zoom-in chatbotcard addchatcard" data-bs-toggle="modal" data-bs-target="#create-chatbot">
                          <div class="card-body">
                            <i class="fa-light fa-plus"></i>
                          </div>
                        </div>
                      </div>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- your-component.component.html -->
<div class="modal" id="create-chatbot" tabindex="-1" aria-labelledby="create-chatbotLabel" style="display: none;"
    aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="creat-categoryLabel">Create Chatbot</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="chatbotForm" (ngSubmit)="saveChatbot()">
                    <div class="floating-item mb-4">
                        <div class="form-floating mb-2">
                            <input class="form-control" formControlName="name" placeholder="Name">
                            <label for="floatingSelect">Name </label>
                        </div>
                        <div class="form-floating mb-2">
                            <input class="form-control" formControlName="timeout" placeholder="Timeout">
                            <label for="floatingSelect">Time Out / Session </label>
                        </div>
                        <div class="form-floating mb-2">
                            <select class="form-select" formControlName="botType" aria-label="Select Help">
                                <option value="Flow Bot">Flow Bot</option>
                                <option value="Q/A Bot">Q/A Bot</option>
                                <option value="Intent Bot">Intent Bot</option>
                            </select>
                            <label for="floatingSelect">Bot Type</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary"  data-bs-dismiss="modal">Save</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>