<div class="dashboard-header-left d-flex align-items-center">
        
    <button class="iconButton medium">
      <i class="fal fa-folder-tree"></i>
    </button>
    
    <nav>
      <ol class="breadcrumb m-0">
        
          
            <li class="breadcrumb-item">
              <a>Documents</a>
            </li>
          
        
          
            <li class="breadcrumb-item active">
              <a >Documents Detail</a>
            </li>
          
        
      </ol>
    </nav>
  </div>