
<!-- <ng-container *ngIf="vm$ | async as vm"> -->
<div class="table-section table-scrool-y mb-3 query-container h-100 table-white">
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box"
    [fullScreen]="false">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
    <ng-template [ngIf]="filter?.template?.toolbar=='top'">
        <!-- (onNext)="onNextPage" (onPrevious)="onPreviousPage" -->
        <!-- <console-table-toolbar  ></console-table-toolbar> -->
        <!-- <console-table-pagination 
            [length]="pagingLength$"
            [pageSize]="pagingSize$"
            [pageSizeOptions]="pagingSizeOptions$"
            (page)="paginator($event)"
            (searchPageEvent)="seracher($event)"
            (reloadPageEvent)="reloader()"
            
        >
        </console-table-pagination> -->
        <!-- <console-table-pagination 
        [length]="pagingLength$"
        [pageSize]="pagingSize$"
        [pageSizeOptions]="pagingSizeOptions$"
        (page)="paginator($event)"
        (input)="handleSearch($any($event.target).value)" 
        (reloadPageEvent)="reloader()">
      </console-table-pagination> -->
    </ng-template>
    <div class="filter-container border-0"><div class="col-md-8">
        <ul class="list-inline m-0 d-flex align-items-center">
          <li class="list-inline-item">
            <a href="javascript:" class="search-btn">
              <button class="iconButton medium">
                <i class="fal fa-search silver"></i>
              </button>
              <input [(ngModel)]="pageSearchText$" (input)="reloader()" placeholder="Search">
            </a>
          </li>
          <li class="list-group-item border-0 refreshicon iconHover iconButton medium rounded-circle" 
          aria-label="..." data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Refresh" (click)="_fetchData()" >
            <i class="fal fa-redo"></i>
          </li>
        
        </ul>
       
  
        
       
      </div>

      
       
        <div class="pagination-bar">
          <div class="dropdown">
            {{startpoint}} - {{endpoint}} of {{totalCount}}
<!--             
            <button class="btn iconHover" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              1-100 of 569
            </button> -->
            <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Newest</a></li>
              <li><a class="dropdown-item" href="#"> Oldest</a></li>
            </ul> -->
          </div>
          <span class="iconButton medium iconHover" (click)="perviousPage(pagingIndex$)">
            <i class="fal fa-chevron-left"></i>
          </span>
          <span class="iconButton medium iconHover" (click)="nextPage(pagingIndex$)">
            <i class="fal fa-chevron-right"></i>
          </span>
        </div>
      </div>
    <table class="table align-middle" width="100%">       
        <!-- <console-table-header [TblHeaders]="$any(filter).headers" ></console-table-header> -->        
        <!-- <thead console-table-header [TblHeaders]="$any(filter).headers"></thead> -->        
        <thead>
            <tr>
                <th *ngFor="let header of $any(filter).headers | consoleTableVisibility ">
                    <ng-template [ngIf]="header?.type=='check'" [ngIfElse]="showName">
                        <div class="filter-container checkbox-reset">
                            <ul class="list-group list-group-horizontal border-0">
                                <li class="list-group-item border-0 all-check-boxes">
                                    <input class="form-check-input me-1" type="checkbox" aria-label="..."
                                        data-bs-toggle="tooltip" data-bs-placement="bottom"
                                        data-bs-original-title="Check All">
                                </li>
                            </ul> 
                        </div>
                    </ng-template>
                    <ng-template #showName>
                        {{header?.name}}
                    </ng-template>
                </th>    
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of data">
                <td *ngFor="let column of $any(filter).headers | consoleTableVisibility" >
                    <ng-template [ngIf]="column.type=='display'">
                        {{row['name']}}
                    </ng-template>
                    <ng-template [ngIf]="column.type=='check'">
                        <input type="checkbox" class="form-check-input me-1" aria-label="..." [(ngModel)]="row['id']">
                    </ng-template>
                    <ng-template [ngIf]="column.type=='icondisplay'">
                        <div class="d-flex align-items-center darkblue">
                            <i class="fal fa-users coal me-2"></i>{{ row[column.index] }}                        </div>
                    </ng-template>
                    <ng-template [ngIf]="column.type=='with-image'">
                        <console-table-with-image [columns]="column.index" [data]="row"></console-table-with-image>
                    </ng-template>
                    <ng-template [ngIf]="column.type=='wrap'">
                        <console-table-wrap  [wrapdata]="row[column.index]" [wrapflow]="column.group" [wrapindex]="column.wrap"></console-table-wrap>
                    </ng-template>
                    <ng-template [ngIf]="column.type=='action-list'">
                        <console-table-action-list (procedure)="procedure($event)" [actions]="column.actions" [data]="row"></console-table-action-list>
                    </ng-template>
                    
                </td> 
            </tr>
        </tbody>
    </table>
    <!-- <ng-template [ngIf]="filter.template.toolbar=='top'">
        <console-table-toolbar ></console-table-toolbar>
    </ng-template>     -->
</div>
<ng-template >
    <overlay-right-panel [header]="'Add Team Members'" [isActive]="OverLayIsActive" [search]="true"></overlay-right-panel>
</ng-template>
<!-- </ng-container> -->
