.console-landing-page .heading-large {
    font-size: 28px;
    font-weight: bold;
}
.radical{
    color:rgb(84, 84, 251) !important;
}
.radicalBg{
    background-color:rgb(84, 84, 251) !important;
}
.iconButton{
    background-color: #bebefa !important;
    color: rgb(84, 84, 251) !important;
}