<div class="leftbar-console-expanded">
  <div class="sidebar-header pe-3 ps-3">
    <h5 class="fw-bold mt-3 ms-1">
      <a>Analytics</a>
    </h5>
  </div>
  <ul
    class="list-group console-list mt-2"
    data-scrollbar="true"
    tabindex="-1"
    style="overflow: hidden; outline: none"
  >
    <div
      class="scroll-content"
      style="overflow: auto; height: calc(100%-200px)"
    >
      <span *ngFor="let item of analyticeReport">
        <li
          class="list-group-item list-group-item-action"
          routerLinkActive="active"
          value="Live Monitoring"
          id="analyticstab2"
        >
          <a [routerLink]="[item.link]" class="d-flex">
            {{ item.name }}
          </a>
        </li>
      </span>
    </div>
  </ul>
</div>
<a class="panelToggle"></a>
