<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade  show active phone-channel-tabs socila-channels-tab" id="phone" role="tabpanel"
        aria-labelledby="phone-tab">
        <div class="headerWrap pearlBg d-flex align-items-center justify-content-between shadow-sm">
            <div class="titleIcon d-flex align-items-center">
                <i class="fas fa-phone-alt"></i>
                <div class="titleLink ms-1">
                    Customer Support</div>
            </div>
            <ul class="nav nav-tabs ms-3 h-100" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="iconButton medium btn iconHover">
                        <div class="chat-tab-title d-flex align-items-center">
                            <span>
                                <i class="fas fa-exclamation-circle"></i>
                            </span>
                        </div>
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="iconButton medium btn iconHover">
                        <div class="chat-tab-title d-flex align-items-center mutebht">
                            <span>
                                <i class="fas fa-microphone-slash"></i>
                                <i class="fal fa-microphone"></i>
                            </span>
                        </div>
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="iconButton medium btn iconHover radicalBg callEnd">
                        <div class="chat-tab-title d-flex align-items-center">
                            <span>
                                <i class="fas fa-phone-alt"></i>
                            </span>
                        </div>
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="iconButton medium btn iconHover">
                        <div class="chat-tab-title d-flex align-items-center">
                            <span>
                                <i class="fal fa-pause"></i>
                            </span>
                        </div>
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="iconButton medium btn iconHover">
                        <div class="chat-tab-title d-flex align-items-center">
                            <span>
                                <i class="fal fa-share"></i>
                            </span>
                        </div>
                    </button>
                </li>
            </ul>
        </div>
        <div class="chat-body" data-scrollbar="true" tabindex="-1" style="overflow: auto; outline: none;">
            <div class="scroll-content">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active">
                        <div class="card mb-3 callInfoWrap">
                            <div class="row g-0">
                                <div class="col-md-6">
                                    <div class="d-flex">
                                        <button class="iconButton medium btn iconHover pearlBg">
                                            <div class="chat-tab-title d-flex align-items-center">
                                                <span>
                                                    <i class="fal fa-pause"></i>
                                                </span>
                                            </div>
                                        </button>
                                        <div class="card-body pt-0">
                                            <p class="card-text m-0">Incoming Call
                                            </p>
                                            <h5 class="card-title">03219209209</h5>
                                            <p class="card-text mt-3 mb-0">DNIS
                                                <strong>8:34</strong>
                                            </p>
                                            <p class="card-text">
                                                <span class="raring-bar">
                                                    <i class="fas fa-star sun"></i>
                                                    <i class="fas fa-star sun"></i>
                                                    <i class="fas fa-star sun"></i>
                                                    <i class="fas fa-star metal"></i>
                                                    <i class="fas fa-star metal"></i>
                                                </span>
                                                <strong>3.2</strong>
                                                <small class="callDescription">Rated
                                                    to Agent</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body d-flex justify-content-center">
                                        <div class="callAction">
                                            <button class="iconButton medium btn iconHover">
                                                <div class="chat-tab-title d-flex align-items-center">
                                                    <span>
                                                        <i class="fal fa-phone-alt"></i>
                                                    </span>
                                                </div>
                                            </button>
                                            <strong class="call-min">8:34 </strong>
                                            <small class="call-updates">Call
                                                Time</small>
                                        </div>
                                        <div class="callAction">
                                            <button class="iconButton medium btn iconHover">
                                                <div class="chat-tab-title d-flex align-items-center">
                                                    <span>
                                                        <i class="fal fa-pause"></i>
                                                    </span>
                                                </div>
                                            </button>
                                            <strong class="call-min">8:34 </strong>
                                            <small class="call-updates">On-Hold</small>
                                        </div>
                                        <div class="callAction">
                                            <button class="iconButton medium btn iconHover">
                                                <div class="chat-tab-title d-flex align-items-center emerald">
                                                    <span>
                                                        <i class="fal fa-tachometer-slow"></i>
                                                    </span>
                                                </div>
                                            </button>
                                            <strong class="call-min emerald">8:34
                                            </strong>
                                            <small class="call-updates emerald">Wrap-up</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-0">
                                <div class="col-md-12">
                                    <div class="card callTags-wrapper">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <p class="mb-0 me-4 silver">IVR Flow
                                                </p>
                                                <div class="d-flex">
                                                    <div class="pe-3 darkblue">
                                                        <span class="flowNumber"><strong>2</strong>
                                                            - English</span>
                                                        <span
                                                            class="d-inline-flex fa-chevron-right fal iconButton small">
                                                        </span>
                                                    </div>
                                                    <div class="pe-3 darkblue">
                                                        <span class="flowNumber"><strong>5</strong>
                                                            - Total Deals</span>
                                                        <span
                                                            class="d-inline-flex fa-chevron-right fal iconButton small">
                                                        </span>
                                                    </div>
                                                    <div class="darkblue">
                                                        <span class="flowNumber"><strong>3</strong>
                                                            - Order</span>
                                                        <span
                                                            class="d-inline-flex fa-chevron-right fal iconButton small"></span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="basicInfoDesc">
                            <div class="card w-100">
                                <div class="card-body">
                                    <div class="callNotes mb-4">
                                        <span class="bmd-form-group">
                                            <span class="icon">
                                                <i class="fal fa-notes-medical skyxv"></i>
                                            </span>
                                            <textarea placeholder="Call Notes" id="comments"
                                                class="form-control textAreaField"></textarea>
                                        </span>
                                    </div>
                                    <h5 class="card-title night">Welcome Fatimah
                                        Ahmed</h5>
                                    <p class="card-text">Good afternoon! Welcome to
                                        Food Panda customer service. My name is
                                        Maria Khan, Just to let you know our calls
                                        may be recorded. How may I help you today?
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scrollbar-track scrollbar-track-x" style="display: none;">
                <div class="scrollbar-thumb scrollbar-thumb-x"></div>
            </div>
            <div class="scrollbar-track scrollbar-track-y" style="display: none;">
                <div class="scrollbar-thumb scrollbar-thumb-y"></div>
            </div>
        </div>

    </div>
</div>