<div class="console-contact-detail console-body-wrapper" data-scrollbar="true" tabindex="-1"
    style="overflow-y:auto; outline: none;">
    <div class="scroll-content" style="transform: translate3d(0px, 0px, 0px);">
        <div class="conact-header">
            <div class="about-profile bg-dark">
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0">
                        <div class="list-down-icon avatar xxl me-3 mb-2">
                            <img src="../../../../../../assets/images/avatar-2.jpg" alt="...">
                        </div>
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h6 class="text-white">
                            <span class="btn text-white">
                                <i class="fal fa-envelope"></i>
                            </span> farooq.shad@ibex.co
                        </h6>
                        <span class="badge rounded-pill bg-light darkblue">Software Engineer</span>
                    </div>
                </div>
                <h4 class="text-white">Farooq Shad</h4>
            </div>

        </div>
        <div class="pt-3">
            <header class="tab-header">
                <nav>
                    <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="team-tab" data-bs-toggle="tab"
                            data-bs-target="#conact-timeline" type="button" role="tab" aria-controls="conact-timeline"
                            aria-selected="false">
                            <h6>Timeline</h6>
                        </button>
                        <button class="nav-link" id="team-tab" data-bs-toggle="tab" data-bs-target="#general-info"
                            type="button" role="tab" aria-controls="general-info" aria-selected="false">
                            <h6>General Info
                            </h6>
                        </button>
                        <button class="nav-link" id="team-tab" data-bs-toggle="tab" data-bs-target="#contact-social"
                            type="button" role="tab" aria-controls="contact-social" aria-selected="false">
                            <h6>Social Links
                            </h6>
                        </button>
                        <button class="nav-link" id="team-tab" data-bs-toggle="tab" data-bs-target="#contact-files"
                            type="button" role="tab" aria-controls="contact-files" aria-selected="false">
                            <h6>Files
                            </h6>
                        </button>
                    </div>
                </nav>
            </header>
            <div class="tab-body p-3">
                <div class="tab-content" id="nav-tabContent">

                    <div id="conact-timeline" class="tab-pane fade active show" role="tabpanel"
                        aria-labelledby="team-tab"></div>

                    <div id="general-info" class="tab-pane fade list-group-section" role="tabpanel"
                        aria-labelledby="team-tab">
                        <h5 class="fw-bold pb-3">General Info</h5>
                        <ul class="list-group contact-social-list list-group-flush">
                            <li class="list-group-item">
                                <div class="row">
                                    <label class="col-md-2">First name</label>
                                    <div class="col-md-10">
                                        <input name="" class="form-control" value="Farooq">
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <label class="col-md-2">Last name</label>
                                    <div class="col-md-10">
                                        <input name="" class="form-control" value="Shad">
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="row">
                                    <label for="Mailing address" class="col-md-2">Mailing address</label>
                                    <div class="col-md-10">
                                        <textarea name="address" cols="20" rows="4" id="address" value=""
                                            class="form-control" placeholder="Mailing address"
                                            spellcheck="false"></textarea>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <label for="Alternative address" class="col-md-2">Alternative address</label>
                                    <div class="col-md-10">
                                        <textarea name="address" cols="20" rows="4" id="address" value=""
                                            class="form-control" placeholder="Alternative address"
                                            spellcheck="false"></textarea>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <label for="Phone" class="col-md-2">Phone </label>
                                    <div class="col-md-10">
                                        <input name="" class="form-control" placeholder="Phone">
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <label for="Alternative phone" class="col-md-2">Alternative phone </label>
                                    <div class="col-md-10">
                                        <input name="" class="form-control" placeholder="Alternative phone">
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <label for="Skype" class="col-md-2">Skype </label>
                                    <div class="col-md-10">
                                        <input name="" class="form-control" placeholder="Skype">
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <label for="Date of birth" class="col-md-2">Date of birth </label>
                                    <div class="col-md-10">

                                        <input name="" class="form-control" placeholder="Date of birth">
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="row">
                                    <label class="col-md-2"> Gender</label>
                                    <div class="col-md-10">
                                        <div class="form-check theme-check form-check-inline ms-2">
                                            <input class="form-check-input" type="radio" name="id1" id="gender-male">
                                            <label class="form-check-label" for="gender-male">
                                                Male
                                            </label>
                                        </div>
                                        <div class="form-check theme-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="id1" id="gender-female">
                                            <label class="form-check-label" for="gender-female">
                                                Female
                                            </label>
                                        </div>

                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="contact-social" class="tab-pane fade list-group-section" role="tabpanel"
                        aria-labelledby="team-tab">
                        <h5 class="fw-bold pb-3">Social Links</h5>
                        <ul class="list-group contact-social-list list-group-flush">
                            <li class="list-group-item">
                                <div class="row">
                                    <label for="facebook" class="col-md-2">Facebook</label>
                                    <div class="col-md-10">
                                        <input name="facebook" id="facebook" class="form-control"
                                            placeholder="https://www.facebook.com/">
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <label for="twitter" class="col-md-2">Twitter</label>
                                    <div class="col-md-10">
                                        <input name="twitter" id="twitter" class="form-control"
                                            placeholder="https://twitter.com/">
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <label for="linkedin" class="col-md-2">Linkedin</label>
                                    <div class="col-md-10">
                                        <input name="linkedin" id="linkedin" class="form-control"
                                            placeholder="https://www.linkedin.com/">
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <label for="youtube" class="col-md-2">Youtube</label>
                                    <div class="col-md-10">
                                        <input name="youtube" id="youtube" class="form-control"
                                            placeholder="https://www.youtube.com/">
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <label for="instagram" class="col-md-2">Instagram</label>
                                    <div class="col-md-10">
                                        <input name="instagram" id="instagram" class="form-control"
                                            placeholder="https://instagram.com/">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="contact-files" class="tab-pane fade list-group-section" role="tabpanel"
                        aria-labelledby="team-tab"></div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="ps-3 pe-3">
                <div class="icon-buttons-wrapper d-flex justify-content-between pt-3 pb-4">
                    <div class="row w-100">
                        <div class="col-md-4">


                        </div>
                        <div class="col-md-8 justify-content-end d-flex">
                            <div class="buttons-wrap d-flex">
                                <button type="button" class="btn btn-outline-secondary btn-medium me-2 px-4"
                                    data-bs-toggle="modal" data-bs-target="">Cancel </button>
                                <button type="button" class="btn btn-success ms-e f-saveBtn btn-large"></button>
                                <button type="button" class="btn skyBg ms-2 px-4 btn-medium saveBtn"
                                    data-bs-toggle="modal" data-bs-target="">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- <div class="scrollbar-track scrollbar-track-x" style="display: none;">
        <div class="scrollbar-thumb scrollbar-thumb-x" style="width: 1176px; transform: translate3d(0px, 0px, 0px);">
        </div>
    </div>
    <div class="scrollbar-track scrollbar-track-y" style="display: block;">
        <div class="scrollbar-thumb scrollbar-thumb-y"
            style="height: 222.566px; transform: translate3d(0px, 0px, 0px);"></div>
    </div> -->
</div>