a.canvasjs-chart-credit {
    background-color: yellow;
    /* Add more styles here */
}

.facebook {
    color: #9c87ee;
}

.twitter {
    color: green;
}

.instagram {
    color: #cf61ea;
}

.linkedin {
    color: blue;
}
.whatsapp{
    color: greenyellow;
}