<div class="offcanvas-header align-items-center saltBg">

    <h5 id="select-accesspointlabel" class="darkblue fw-bold m-0"> <i class="fal fa-users-class me-2 fs-6"></i> Add
        Team Members</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body p-0 overflow-visible">
    <div class="user-selection-for-group">
        <div class="newGroupWrapper newChatWrapper">
            <form >
                <input class="form-control" 
                type="text"
                [(ngModel)]="search"
                placeholder="Search" aria-label="Search">
            </form>
            <div class="rightbar-body-wrapper" data-scrollbar="true" tabindex="-1"
                style="overflow-y:auto; outline: none;">
                <div class="scroll-content">
                    <div class="selected-users">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item">
                                <div class="avatar large">
                                    <span class="remove-selected-user">
                                        <i class="far fa-times"></i>
                                    </span>
                                    <img src="../../../../../../assets/images/avatar-16.jpg" alt="-" class="rounded-circle w-100">
                                </div>
                                <small>Zain</small>
                            </li>
                            <li class="list-group-item">
                                <div class="avatar large">
                                    <span class="remove-selected-user">
                                        <i class="far fa-times"></i>
                                    </span>
                                    <img src="../../../../../../assets/images/avatar-10.jpg" alt="-" class="rounded-circle w-100">
                                </div>
                                <small>Taimoor</small>
                            </li>
                            <li class="list-group-item">
                                <div class="avatar large">
                                    <span class="remove-selected-user">
                                        <i class="far fa-times"></i>
                                    </span>
                                    <img src="../../../../../../assets/images/avatar-11.jpg" alt="-" class="rounded-circle w-100">
                                </div>
                                <small>Maham</small>
                            </li>
                            <li class="list-group-item">
                                <div class="avatar large">
                                    <span class="remove-selected-user">
                                        <i class="far fa-times"></i>
                                    </span>
                                    <img src="../../../../../../assets/images/avatar-16.jpg" alt="-" class="rounded-circle w-100">
                                </div>
                                <small>Saif</small>
                            </li>
                        </ul>
                    </div>

                    <div class="section-heading"  >
                        <h6 class="silver pt-3 mb-0">
                            <mark>
                                {{teamMemberDetails.length}} Team Members
                            </mark>
                            </h6>
                    </div>
                  
                        <div class="list-group-section pt-0">
                            <div class="messenger">
                                <div class="list-group list-group-flush suggested-users" >
                                    <a
                                        class="list-group-item messenger-wraper suggested-user-item form-check w-100 p-0 theme-check"
                                        value="Zain Haider" *ngFor="let user of  teamMemberDetails" >
    
                                        <label class="form-check-label coal d-flex align-items-center w-100" for="check1">
                                            <div class="avatar large" >
                                                <img [src]="user.imageUrl" alt="-" class="rounded-circle w-100">
                                                <span class="online-n-offline big"></span>
                                            </div>
                                            <div class="w-100 list-txt user-msg" >
                                                <h6 class="mb-0 darkblue">
                                                    <mark>
                                                        {{user.name}}
                                                    </mark>
                                                   
                                                </h6>
                                            </div>
                                        </label>
                                        <form [formGroup]="teamMemberForm" >
                                            <input class="form-check-input float-end"
                                      
                                            (click)="toggleSelectionIds(user.id)"
                                            formControlName="memberids"
                                                type="checkbox">
                                        </form>
                                       
                                    </a>
                                 
                                </div>
                            </div>
                        </div>
                
                    

                </div>
                <!-- <div class="scrollbar-track scrollbar-track-x" style="display: none;">
                    <div class="scrollbar-thumb scrollbar-thumb-x"
                        style="width: 1151px; transform: translate3d(0px, 0px, 0px);"></div>
                </div>
                <div class="scrollbar-track scrollbar-track-y" style="display: block;">
                    <div class="scrollbar-thumb scrollbar-thumb-y"
                        style="height: 31.1704px; transform: translate3d(0px, 0px, 0px);"></div>
                </div> -->
            </div>
        </div>

    </div>

</div>
<div class="off-canvaas-footer border-top p-3 pe-5">
    <div class="icon-buttons-wrapper d-flex justify-content-end">
        <div class="buttons-wrap d-flex">
            <button type="button" class="btn btn-outline-secondary btn-medium" data-bs-dismiss="offcanvas"
                aria-label="Close">Cancel</button>
            <button type="submit" class="btn skyBg ms-2 f-nextBtn btn-medium" data-bs-dismiss="offcanvas"
                aria-label="Close"
                (click)="save()">Add</button>
        </div>
    </div>
</div>
