<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-lg-6">
      <form [formGroup]="stepThreeForm" (ngSubmit)="stepThreeSubmit()" autocomplete="off" novalidate #formRef="ngForm">
        <div class="mt-3" formArrayName="answers">
          <div class="row" *ngFor="let answer of answers.controls; let i = index;" [formGroupName]="i">
            <!-- <div class="col-sm-10" style="position: relative; margin-top:10px">

              <input class="form-control" type="text" style="height: 60px; padding-top: 20px;" formControlName="questionText"/>
              <label for="threshold" style="position: absolute; top: 2px; left: 15px; color: #999; pointer-events: none;">Question </label>
            </div> -->

            <div class="col-sm-10" style="position: relative; margin-top:10px">
              <input class="form-control" type="text" formControlName="answerText" style="height: 60px; padding-top: 20px;" />
              <label for="threshold" style="position: absolute; top: 2px; left: 15px; color: #999; pointer-events: none;">Answer </label>
            </div>

            <div *ngIf="i===0;else removebutton" class="col-sm-2 mt-1 pt-2">
              <button class="btn btn-primary" (click)="addAnswer()">+</button>
            </div>
            <ng-template #removebutton>
            <div class="col-sm-2 mt-1 pt-2">
              <button class="btn btn-primary px-3" (click)="removeAnswer(i)">-</button>
            </div>
          </ng-template>
          </div>

        </div>
        <div class="mt-3">
          <button class="btn btn-success" cdkStepperPrevious>Previous</button>
          <button class="btn btn-primary" style="margin-left: 10px;" cdkStepperNext (click)="priview()">Next</button>
        </div>
      </form>
    </div>
  </div>
</div>
