<div class="console-body-wrapper" data-scrollbar="true" tabindex="-1" style="overflow-y:auto; outline: none;">
    <div class="scroll-content">
        <div class="skybg pb-5">
            <div class="bodyWrapper">
                <div
                    class="d-flex align-items-center pb-3 m-3 justify-content-between border-2 border-bottom border-info">
                    <h5 class="fw-bold">
                        Posts List
                    </h5>
                    <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#creat-post">Create
                        Post</button>
                </div>
                <div class="card list-group-item-action mb-4">
                    <div class="card-body">
                        <div aria-current="true">
                            <div class="d-flex w-100 d-flex justify-content-between align-items-md-center">
                                <h6 class="mb-1 card-title">Allowing any users to add content</h6>
                                <div class="dropdown w-auto" data-bs-toggle="tooltip" data-bs-placement="top"
                                    data-bs-original-title="Add Content">
                                    <button class="iconButton medium notification iconHover" id="dropdownMenuButton1"
                                        data-bs-toggle="dropdown" aria-expanded="false"> <i
                                            class="far fa-ellipsis-v"></i> </button>
                                    <ul class="dropdown-menu custom-dropdown" aria-labelledby="dropdownMenuButton1">
                                        <li>
                                            <a class="dropdown-item p-1" >
                                                <button class="iconButton dropdown-iconBtn small"
                                                    id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                    aria-expanded="false"> <i class="fab fa-facebook-f"></i> </button>
                                                Via Message</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item p-1" >
                                                <button class="iconButton dropdown-iconBtn small"
                                                    id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                    aria-expanded="false"> <i class="fab fa-twitter"></i> </button> Via
                                                Direct Message</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item active p-1" >
                                                <button class="iconButton dropdown-iconBtn small active"
                                                    id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                    aria-expanded="false"> <i class="fab fa-instagram"></i> </button>
                                                Via Message</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item p-1" >
                                                <button class="iconButton dropdown-iconBtn small"
                                                    id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                    aria-expanded="false"> <i class="fab fa-whatsapp"></i> </button>Via
                                                Message</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item p-1" >
                                                <button class="iconButton dropdown-iconBtn small"
                                                    id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                    aria-expanded="false"> <i class="fal fa-comment-alt"></i>
                                                </button>Via SMS</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item p-1" >
                                                <button class="iconButton dropdown-iconBtn small"
                                                    id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                    aria-expanded="false"> <i class="fal fa-envelope"></i> </button>Via
                                                Email</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item p-1" >
                                                <button class="iconButton dropdown-iconBtn small"
                                                    id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                    aria-expanded="false"> <i class="fal fa-heart"></i> </button>Add to
                                                Favourite</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <p>Not every time you may want everyone to see all of your articles.</p>
                            <p>Do you want to restrict access to your content to a certain category of users?</p>
                            <p>User Access tab has settings to control the access to your Knowledgebase for different
                                User roles.</p>
                            <p>User Access can be found in Dashboard -&gt; Helpdesk -&gt; Helpie Settings -&gt; User
                                Access. [ph_sp_menu id=’basic’ label=’Basic’]</p>
                        </div>
                    </div>
                </div>
                <div class="card list-group-item-action mb-4">
                    <div class="card-body">
                        <div aria-current="true">
                            <div class="d-flex w-100 d-flex justify-content-between align-items-md-center">
                                <h6 class="mb-1 card-title">Allowing any users to add content</h6>
                                <div class="dropdown w-auto" data-bs-toggle="tooltip" data-bs-placement="top"
                                    data-bs-original-title="Add Content">
                                    <button class="iconButton medium notification iconHover" id="dropdownMenuButton1"
                                        data-bs-toggle="dropdown" aria-expanded="false"> <i
                                            class="far fa-ellipsis-v"></i> </button>
                                    <ul class="dropdown-menu custom-dropdown" aria-labelledby="dropdownMenuButton1">
                                        <li>
                                            <a class="dropdown-item p-1" >
                                                <button class="iconButton dropdown-iconBtn small"
                                                    id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                    aria-expanded="false"> <i class="fab fa-facebook-f"></i> </button>
                                                Via Message</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item p-1" >
                                                <button class="iconButton dropdown-iconBtn small"
                                                    id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                    aria-expanded="false"> <i class="fab fa-twitter"></i> </button> Via
                                                Direct Message</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item active p-1" >
                                                <button class="iconButton dropdown-iconBtn small active"
                                                    id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                    aria-expanded="false"> <i class="fab fa-instagram"></i> </button>
                                                Via Message</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item p-1" >
                                                <button class="iconButton dropdown-iconBtn small"
                                                    id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                    aria-expanded="false"> <i class="fab fa-whatsapp"></i> </button>Via
                                                Message</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item p-1" >
                                                <button class="iconButton dropdown-iconBtn small"
                                                    id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                    aria-expanded="false"> <i class="fal fa-comment-alt"></i>
                                                </button>Via SMS</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item p-1" >
                                                <button class="iconButton dropdown-iconBtn small"
                                                    id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                    aria-expanded="false"> <i class="fal fa-envelope"></i> </button>Via
                                                Email</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item p-1" >
                                                <button class="iconButton dropdown-iconBtn small"
                                                    id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                    aria-expanded="false"> <i class="fal fa-heart"></i> </button>Add to
                                                Favourite</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <p>Not every time you may want everyone to see all of your articles.</p>
                            <p>Do you want to restrict access to your content to a certain category of users?</p>
                            <p>User Access tab has settings to control the access to your Knowledgebase for different
                                User roles.</p>
                            <p>User Access can be found in Dashboard -&gt; Helpdesk -&gt; Helpie Settings -&gt; User
                                Access. [ph_sp_menu id=’basic’ label=’Basic’]</p>
                        </div>
                    </div>
                </div>
                <div class="card list-group-item-action mb-4">
                    <div class="card-body">
                        <div aria-current="true">
                            <div class="d-flex w-100 d-flex justify-content-between align-items-md-center">
                                <h6 class="mb-1 card-title">Allowing any users to add content</h6>
                                <div class="dropdown w-auto" data-bs-toggle="tooltip" data-bs-placement="top"
                                    data-bs-original-title="Add Content">
                                    <button class="iconButton medium notification iconHover" id="dropdownMenuButton1"
                                        data-bs-toggle="dropdown" aria-expanded="false"> <i
                                            class="far fa-ellipsis-v"></i> </button>
                                    <ul class="dropdown-menu custom-dropdown" aria-labelledby="dropdownMenuButton1">
                                        <li>
                                            <a class="dropdown-item p-1" >
                                                <button class="iconButton dropdown-iconBtn small"
                                                    id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                    aria-expanded="false"> <i class="fab fa-facebook-f"></i> </button>
                                                Via Message</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item p-1" >
                                                <button class="iconButton dropdown-iconBtn small"
                                                    id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                    aria-expanded="false"> <i class="fab fa-twitter"></i> </button> Via
                                                Direct Message</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item active p-1" >
                                                <button class="iconButton dropdown-iconBtn small active"
                                                    id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                    aria-expanded="false"> <i class="fab fa-instagram"></i> </button>
                                                Via Message</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item p-1" >
                                                <button class="iconButton dropdown-iconBtn small"
                                                    id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                    aria-expanded="false"> <i class="fab fa-whatsapp"></i> </button>Via
                                                Message</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item p-1" >
                                                <button class="iconButton dropdown-iconBtn small"
                                                    id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                    aria-expanded="false"> <i class="fal fa-comment-alt"></i>
                                                </button>Via SMS</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item p-1" >
                                                <button class="iconButton dropdown-iconBtn small"
                                                    id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                    aria-expanded="false"> <i class="fal fa-envelope"></i> </button>Via
                                                Email</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item p-1" >
                                                <button class="iconButton dropdown-iconBtn small"
                                                    id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                    aria-expanded="false"> <i class="fal fa-heart"></i> </button>Add to
                                                Favourite</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <p>Not every time you may want everyone to see all of your articles.</p>
                            <p>Do you want to restrict access to your content to a certain category of users?</p>
                            <p>User Access tab has settings to control the access to your Knowledgebase for different
                                User roles.</p>
                            <p>User Access can be found in Dashboard -&gt; Helpdesk -&gt; Helpie Settings -&gt; User
                                Access. [ph_sp_menu id=’basic’ label=’Basic’]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- <div class="scrollbar-track scrollbar-track-x" style="display: none;">
        <div class="scrollbar-thumb scrollbar-thumb-x" style="width: 1176px; transform: translate3d(0px, 0px, 0px);">
        </div>
    </div>
    <div class="scrollbar-track scrollbar-track-y" style="display: block;">
        <div class="scrollbar-thumb scrollbar-thumb-y"
            style="height: 191.153px; transform: translate3d(0px, 0px, 0px);"></div>
    </div> -->
</div>