<div class="content-box-wrapper d-flex w-100">
    <div class="middle-content d-flex">
        <div class="d-grid w-100">
            <div class="analytics-dashboard px-4 py-2 scroll">
                <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box"
                    [fullScreen]="false">
                    <p style="color: white"> Loading... </p>
                </ngx-spinner>
                <div class="report-toolbar mb-4">
                    <ul class="list-inline  m-0 d-flex align-items-center">
                        <li class="list-inline-item">
                            <div class="iconholder">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="date" class="form-control" placeholder="Start Date"
                                            [(ngModel)]="fromDate" [max]="maxEndDate" (click)="resetEndDate()" />
                                    </div>
                                    <div class="col-sm-6">
                                          <input type="date" class="form-control" [(ngModel)]="toDate" [max]="maxEndDate" placeholder="End Date" (change)="GetSocialRawData()" 
                                           />
                                        </div>
                                </div>
                            </div>
                        </li>
                        <!-- <li class="list-inline-item">
                            <div class="dropdown icondropdown w-auto">
                                <button class="btn dropdown-toggle" type="button" id="columnssort"
                                    data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                    Channels
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="columnssort">
                                    <li class="dropdown-listing-header">
                                        <form class="custom-searchbar my-2 mx-0">
                                            <input class="form-control bg-light border-0 py-2" placeholder="Search"
                                                aria-label="Search">
                                            <span class="btn searchbar-btn" type="submit">
                                                <i class="fal fa-search silver"></i>
                                            </span>
                                        </form>
                                    </li>
                                    <div class="dd-scroll" data-scrollbar="true" tabindex="-1"
                                        style="overflow: outo; outline: none; height: 400px;">
                                        <div class="scroll-content">
                                            <li *ngFor="let channel of channelOptions | filter:searchText">
                                                <a class="dropdown-item d-flex align-items-center">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox"
                                                            [id]="channel.id" [(ngModel)]="channel.isSelected"
                                                                 (click)="checkUncheckChannels(channel.name)">
                                                        <label class="form-check-label" [for]="channel.id">
                                                            <i [ngClass]="channel.icon"></i> {{ channel.name }}
                                                        </label>
                                                    </div>
                                                </a>
                                            </li>
                                        </div>
                                        <div class="scrollbar-track scrollbar-track-x" style="display: none;">
                                            <div class="scrollbar-thumb scrollbar-thumb-x"></div>
                                        </div>
                                        <div class="scrollbar-track scrollbar-track-y" style="display: none;">
                                            <div class="scrollbar-thumb scrollbar-thumb-y"></div>
                                        </div>
                                    </div>
                
                
                                </ul>
                            </div>
                        </li> -->
                        <li class="list-inline-item">
                            <div class="dropdown w-auto">
                                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                 aria-expanded="false" data-bs-auto-close="outside">
                                 Wings
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="posttype">
                                    <li class="dropdown-listing-header">
                                        <form class="custom-searchbar my-2 mx-0">
                                            <input class="form-control bg-light border-0 py-2" placeholder="Search"
                                                [(ngModel)]="searchText" aria-label="Search">
                                            <span class="btn searchbar-btn" type="submit">
                                                <i class="fal fa-search silver"></i>
                                            </span>
                                        </form>
                                    </li>
                                    <div class="dd-scroll" data-scrollbar="true" tabindex="-1"
                                        style="overflow: auto; height: 400px;">
                                        <div class="scroll-content">
                                            <li *ngFor="let wing of AllWingsList | filter:searchText">
                                                <a class="dropdown-item d-flex align-items-center">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox"
                                                            [id]="wing.id" 
                                                            (click)="checkUnCheckWings(wing.slug)"
                                                            >
                                                        <label class="form-check-label" [for]="wing.id">{{
                                                            wing.name }}</label>
                                                    </div>
                                                </a>
                                            </li>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </li>
                        <li class="list-inline-item ms-auto">
                            <button class="btn btn-primary" (click)="DownloadSocialRawData()"
                                [disabled]="downloading">Export as CSV
                                <div *ngIf="downloading" class="loader"></div>
                            </button>
                        </li>
                    </ul>
                </div>
                            <div class="filter-container border-0 m-0 justify-content-end">
                                <div class="pagination-bar  ms-5 w-auto">
                                    <div class="dropdown">
                                        <button class="btn iconHover" type="button" id="dropdownMenuButton1"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <span> {{startingPoint}}-{{endingPoint}} of {{totalCounts}}</span>
                                        </button>
                                    </div>
                                    <span class="iconButton medium iconHover" (click)="perviousPage(pageNumber)">
                                        <i class="fal fa-chevron-left"></i>
                                    </span>
                                    <span class="iconButton medium iconHover" (click)="nextPage(pageNumber)">
                                        <i class="fal fa-chevron-right"></i>
                                    </span>
                                </div>
                            </div>
                    
                <div class="card p-3 iceBg tableScroll mt-2" >
                    <div class="table-section table-scroll-x perfect-scrollbar" data-scrollbar="true" tabindex="-1"
                        style="overflow: auto; outline: none">
                        <div class="scroll-content" style="width: 45vh; white-space: nowrap">
                            <table class="table table-sm">
                                <thead class="first_row_sticky">
                                    <tr>
                                        <th *ngFor="let column of whatsAppColumns">{{column}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="region-Raw" *ngFor="let Raw of whatsAppRawData">
                                        <td *ngFor="let column of whatsAppColumns">
                                            {{ Raw[column] }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="position-fixed toast-bar border-0 shadow-sm rounded navyBg" style="z-index: 999999">
    <div [ngClass]="toastermessage == true ? 'show' : 'hide'" class="toast border-0 p-2 h-100 navyBg fade" role="alert"
        aria-live="assertive" aria-atomic="true">
        <div class="d-flex border-0 justify-content-between align-items-center w-100 h-100">
            <p class="toast-line-para ice m-0">{{AlterMsg}}</p>
            <div class="toast-btn d-flex align-items-center">
                <button type="button" class="btn m-0 ms-2" aria-label="Close" data-bs-dismiss="toast"
                    (click)="closeToaster()"><i class="fal fa-times"></i></button>
            </div>
        </div>
    </div>
</div>