<div class="w-auto chat-message-component w-100 inbox-container">
  <div class="d-flex main-body-wrapper">
      <div class="agent-page-main-content">
        <div class="fluid-container mt-5">
          <div style="margin-top: 10px">
            <div
              class="tab-pane fade show active"
              id="agent-stats"
              role="tabpanel"
              aria-labelledby="agent-stats-tab">
              <div class="row" cdkDropListGroup>
                <div class="col-sm-2">
                  <div class="table-section">
                    <div style="overflow: auto; max-height: 600px">
                      <table
                        class="table align-middle agent-stats-table mt-0 w-100 mb-4">
                        <thead>
                          <tr>
                            <th *ngFor="let column of columns">{{ column }}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let report of reports">
                            <td class="question-cell" style="width: 400px">
                              <div
                                cdkDropList
                                class="example-list"
                                (cdkDropListDropped)="drop()"
                              >
                                <div
                                  class="example-box"
                                  cdkDrag
                                  (cdkDragStarted)="onDragStarted(report)"
                                >
                                  {{ report.name }}
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-sm-10">
                  <div class="card" style="overflow: auto; height: 500px">
                    <div class="card-body d-flex flex-wrap justify-content-center align-items-start">

                      <ng-container *ngFor="let chartData of chartDataArray; let i = index">
                        <div class="example-box m-2" style="display: flex; flex-direction: column; align-items: center;">

                          <!-- ng-select -->
                          <ng-select style="width: 250px; margin-bottom: 10px;" [(ngModel)]="chartData.type" (change)="selectGraph(i, chartData.type)"  [clearable]="false">
                            <ng-option *ngFor="let graph of graphTypes[0] | keyvalue" [value]="graph.value">{{ graph.key }}</ng-option>
                          </ng-select>

                          <!-- Canvas -->
                          <canvas
                            baseChart
                            [data]="chartData.data"
                            [options]="ChartOptions"
                            [plugins]="ChartPlugins"
                            [legend]="ChartLegend"
                            [type]="chartData.type"

                            style="width: 350px; height: 400px; margin-bottom: 10px;"
                          ></canvas>

                          <!-- Trash Icon -->
                          <i class="fal fa-trash" (click)="removeGraph(i)"></i>

                        </div>
                      </ng-container>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="rightbar-expanded-wrapper">
          <template #rightcontainer></template>
      </div> -->
  </div>
  <!-- <analytics-right-sidebar-menu></analytics-right-sidebar-menu> -->
</div>




