<form [formGroup]="form" (ngSubmit)="onSave()">
  <div class="create-tags-wrap console-body-wrapper" data-scrollbar="true" tabindex="-1"
    style="overflow-y:auto; outline: none;">
    <div class="scroll-content" style="transform: translate3d(0px, 0px, 0px);">
      <div class="wider-container pt-3">
        <!-- <div class="row">
        </div> -->
        <div class="row" *ngIf="parentTags.length > 0">
          <div class="col-md-12">
            <div class="floating-wrap form-floating">
              <label for="parent tags">Parent Tags</label>
              <select class="form-control" formControlName="parentId" (change)="selectParentTag($event)">
                <option value="">Select an option</option>
                <option *ngFor="let parent of parentTags" [value]="parent.mainId">{{ parent.name }}</option>
              </select>
              <label for="parent tags">Parent Tag</label>
            </div>
          </div>
        </div>
        <!-- <div class="row" *ngIf="nestTags.length > 0">
          <div class="col-md-12">&nbsp;
            <div class="floating-wrap form-floating">
              <select class="form-control" formControlName="parentId" (change)="selectChildTag($event)">
                <option value="">Select an option</option>
                <option *ngFor="let child of nestTags" [value]="child.mainId">{{ child.name }}</option>
              </select>
              <label>Child Tags</label>
            </div>
          </div>
        </div> -->
        <div class="row" *ngIf="childTag.length > 0">
          <div class="col-md-12">&nbsp;
            <div class="floating-wrap form-floating">
              <select class="form-control" formControlName="parentId" (change)="selectParentChildTag($event)">
                <option value="">Select an option</option>
                <option *ngFor="let childs of childTag" [value]="childs.id">{{ childs.name }}</option>
              </select>
              <label>Child Tags</label>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="parentChildTag.length > 0">
          <div class="col-md-12">&nbsp;
            <div class="floating-wrap form-floating">
              <select class="form-control" formControlName="parentId" (change)="ParentChildTag($event)">
                <option value="">Select an option</option>
                <option *ngFor="let childss of parentChildTag" [value]="childss.id">{{ childss.name }}</option>
              </select>
              <label>Child Tags</label>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="parentChild.length > 0">
          <div class="col-md-12">&nbsp;
            <div class="floating-wrap form-floating">
              <select class="form-control" formControlName="lastChildTagId">
                <option value="">Select an option</option>
                <option *ngFor="let chil of parentChild" [value]="chil.id">{{ chil.name }}</option>
              </select>
              <label>Child Tags</label>
            </div>
          </div>
        </div>
        <br>
        <div class="col-md-12">
          <div class="floating-wrap form-floating">
            <!-- <input type="text" class="form-control" id="tagName0" placeholder="Tag Name" formControlName="name"> -->
            <!-- <label for="tagName0">Tag Name</label>  -->
            <input type="text" class="form-control" id="tagName0" placeholder="Tag Name" formControlName="name"
              [style.color]="selectedTextColor">
            <label for="tagName0" class="font-regular"> Tag Name</label>
          </div>
        </div>
        <br>
        <div class="col-md-12">
          <div class="floating-wrap form-floating">
            <input type="text" class="form-control" id="tagDescription0" placeholder="Description" formControlName="desc"
              [style.color]="selectedTextColor">
            <label for="tagDescription0" class="font-regular"> Description</label>
          </div>
        </div>
        <br>
        <!-- <div class="col-md-12" >
          <div class="card"  >
            < <div *ngIf="showPopup">
              <div class="color-picker">
                <input type="color" [(ngModel)]="selectedTextColor" (change)="onTextColorChange($event)" />
                <label for="tagName0">Select  Tag Color</label>
              </div>
            </div>
          </div>
        </div> -->
        <div class="list-group-section">
          <div class="section-heading">
            <h6 class="coal text-uppercase mb-0 font-regular"class="font-regular">Style</h6>
          </div><br>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-sm-center">
              <div class="me-auto coal font-regular">
                <div class="fw-bold night font-regular" >Color</div>
                Create Shared inboxes for teammates to work together
              </div>
              <span class="col-sm-1">
                <div *ngIf="showPopup">
                  <div class="color-picker">
                    <input type="color" [(ngModel)]="selectedTextColor" (change)="onTextColorChange($event)" />
                  </div>
                </div>
              </span>
              <span>
                <i class="fal fa-user me-3" style="color: rgb(84, 84, 251) !important;"></i>
                <a class="text-decoration-underline font-regular" (click)="openPopup()"><span *ngIf="showPopup==true">
                    UnSelect Visuals
                  </span>
                  <span *ngIf="showPopup==false">Select Visuals</span>
                </a>
              </span>
              <span>
              </span>
            </li>
            <div class="form-floating">
              <input type="text" class="form-control" id="icon" placeholder="Icon" formControlName="icon">
              <label for="icon font-regular">Icon</label>
            </div>
            <!-- <div class="col-md-2">
          <div class="card">
            <div *ngIf="showPopup">
              <div class="color-picker">
                <input type="color" [(ngModel)]="selectedTextColor" (change)="onTextColorChange($event)" />
              </div>
              <div>Selected Color: {{ selectedTextColor }}</div>
              <button type="button" class="btn btn-success " style="margin-left: 50px;" (click)="saveVisuals()">Save</button>
            </div>
          </div>
        </div> -->
            <li class="list-group-item d-flex justify-content-between align-items-sm-end">
              <div class="me-auto coal font-regular">
                <div class="fw-bold night font-regular">Nest tag under</div>
                Organize this tag under an existing parent tag
              </div>
              <span>
                <i class="fal fa-tags me-3" style="color: rgb(84, 84, 251) !important;"></i>
                <a class="text-decoration-underline font-regular" (click)="addTag()">Select Parent Tag</a>
              </span>
            </li>
          </ul>
        </div>
        <!-- <div class="list-group-section">
          <div class="section-heading">
            <h6 class="coal text-uppercase mb-0">Access</h6>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-sm-center">
              <div class="me-auto coal">
                <div class="fw-bold night">Pin to Users Workspaces</div>
                Pin this tag for users who need to use it
              </div>
              <span>
                <i class="fal fa-users sky me-3"></i>
                <a class="text-decoration-underline">Select Users</a>
              </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-sm-center">
              <div class="me-auto coal">
                <div class="fw-bold night">Add to conversation list</div>
                Anyone with access to the tag will see it in their conversation list
              </div>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox">
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-sm-center">
              <div class="me-auto coal">
                <div class="fw-bold night">Make available for any inbox</div>
                Anyone can add this tag to any conversation
              </div>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox">
              </div>
            </li>
          </ul>
        </div> -->
      </div>
      <footer class="footer">
        <div class="ps-3 pe-3">
          <div class="icon-buttons-wrapper d-flex justify-content-between pt-3 pb-4">
            <div class="row w-100">
              <div class="col-md-4">
                <div class="f-icon-txt-wrapper d-flex align-items-center">
                  <!-- <button class="iconButton medium iconHover" id="deleteModalBtn">
                    <i class="fal fa-trash radical"></i>
                  </button> -->
                  <!-- <p class="f-icon-txt radical ms-1 m-0">Delete Tag</p> -->
                </div>
              </div>
              <div class="col-md-8 justify-content-end d-flex">
                <div class="buttons-wrap d-flex">
                  <button type="button" class="btn btn-outline-secondary btn-medium me-2" style ="font-size: 14px !important; background-color: white !important; color:black !important; min-width:100px !important;"
                    (click)="onDiscardChanges('tags')">Cancel</button>
                  <button type="button" class="btn__theme flex items-center ms-2 px-4 btn-medium saveBtn" style ="font-size: 14px !important;"(click)="onSave()">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</form>
<div class="position-fixed toast-bar border-0 shadow-sm rounded navyBg" style="z-index: 999999">
  <div [ngClass]="toastermessage == true ? 'show' : 'hide'" class="toast border-0 p-2 h-100 navyBg fade" role="alert"
    aria-live="assertive" aria-atomic="true">
    <div class="d-flex border-0 justify-content-between align-items-center w-100 h-100">
      <p class="toast-line-para ice m-0">{{AlterMsg}}</p>
      <div class="toast-btn d-flex align-items-center">
        <button type="button" class="btn m-0 ms-2" aria-label="Close" data-bs-dismiss="toast"
          (click)="closeToaster()"><i class="fal fa-times"></i></button>
      </div>
    </div>
  </div>
</div>