.circlestatus {
    width: 12px;
    height: 12px;
    border-radius: 50px;
    display: inline-block;
}
// .scroll{
//     overflow: auto;
//     height: 100px;
//     position: absolute;
//     inset: 0px auto auto 0px;
//     margin: 0px;
//     transform: translate(0px, 32px);
// }
// .exportbtn {
   
//         position: relative;
//         display: flex;
//         align-items: center;
//         width: 100%;
      
// }