<!-- <div class="business-detail-wrap">
  <div class="business-detail-wrap">
    <div class="floating-item mb-3">
      <div class="form-floating">
        <input
        id="floatingInputDatabase"
        placeholder="intentName"
        class="form-control" type="text"  formControlName="intentName"
      />
        <label for="floatingInputValue">intentName</label>
      </div>
    </div>
  </div>
</div> -->
<div class="container">
  <div class="d-flex justify-content-center" style="max-height: 650px;overflow-y: auto;">
    <div class="col-lg-6" >
      <form  [formGroup]="stepTwoForm"
      (ngSubmit)="stepTwoSubmit()"
      autocomplete="off"
      novalidate
         #formRef="ngForm">
        <div class="mt-3" formArrayName="questions">
          <div class="row" *ngFor="let question of questions.controls; let i = index;" [formGroupName]="i">
            <div class="col-sm-10" style="position: relative; margin-top:10px">
              <div class="business-detail-wrap">
                <div class="business-detail-wrap">
                  <div class="floating-item mb-3">
                    <div class="form-floating">
                      <input
                      id="floatingInputDatabase"
                      placeholder="intentName"
                      class="form-control" type="text"  formControlName="questionText"
                    />
                      <label for="floatingInputValue">Question</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="i===0;else removebutton" class="col-sm-2 mb-2">
              <button class="btn btn-primary" (click)="addQuestion()">+</button>
            </div>
            <ng-template #removebutton>
            <div class="col-sm-2 pt-2">
              <button class="btn btn-primary px-3 mb-2" (click)="removeQuestion(i)">-</button>
            </div>
          </ng-template>
          </div>
        </div>
        <div class="mt-3">
          <button class="btn btn-primary" cdkStepperPrevious>Previous</button>
          <button class="btn btn-primary" style="margin-left: 10px;" cdkStepperNext>Next</button>
        </div>
      </form>
    </div>
  </div>
</div>
