<form class="team-detail-form" [formGroup]="teamForm" (ngSubmit)="onSubmit()">
    <div class="create-team console-body-wrapper inbox-container footerheight" data-scrollbar="true" tabindex="-1"
        style="overflow-y:auto; outline: none;">
        <div class="scroll-content" style="transform: translate3d(0px, 0px, 0px);">
            <div class="p-4">
                <header class="tab-header">
                    <nav>
                        <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="user-tab" data-bs-toggle="tab"
                                data-bs-target="#team-detail" type="button" role="tab" aria-controls="team-detail"
                                aria-selected="true">
                                <h6>Team Information
                                </h6>
                            </button>
                            <!-- <button class="nav-link" id="team-tab" data-bs-toggle="tab" data-bs-target="#team-user"
                            type="button" role="tab" aria-controls="team-user" aria-selected="false">
                            <h6>Team Members
                            </h6>
                        </button> -->
                        </div>
                    </nav>
                </header>

                <!-- <div class="tab-body">
                <div class="tab-content" id="nav-tabContent">
                    <div id="team-detail" class="tab-pane fade active show" role="tabpanel" aria-labelledby="user-tab">
                        -->
                <div class="wider-container">
                    <div class="team-detail-form-box mb-5">
                        <!-- <div class="row" data-scrollbar="true" tabindex="-1"
                                    style="overflow-y:auto; outline: none;">
                                    <div class="col-lg-6 fixed-top sticky-top "> -->
                        <div class="floating-item mb-4">
                            <div class="floating-wrap form-floating mb-2"
                                [ngClass]="{'was-validated' : teamForm.get('name')!.valid && teamForm.get('name')!.touched}">
                                <input [ngClass]="{'is-invalid' : (teamForm.get('name')!.errors && (teamForm.get('name')!.touched ||
                                                teamForm.get('name')!.dirty))}" formControlName="name" name=" name"
                                    type="text" class="form-control" id="name" placeholder="Sales Team">
                                <label for="name">Team Name</label>
                                <div class="invalid-feedback" *ngIf="(teamForm.get('name')!.errors && (teamForm.get('name')!.touched ||
                                                                                teamForm.get('name')!.dirty))">
                                    <div
                                        *ngIf="teamForm.get('name')!.errors?.['maxlength'] || teamForm.get('name')!.errors?.['minlength']">
                                        Team name must be grater than 1 character and less than 25
                                        characters!
                                    </div>
                                    <div *ngIf="teamForm.get('name')!.errors?.['required']">
                                        Skill Name is required!
                                    </div>
                                </div>
                                <div class="valid-feedback"
                                    *ngIf="teamForm.get('name')!.valid && teamForm.get('name')!.touched">

                                    Looks Good!
                                </div>
                            </div>
                            <small class="example-text ms-3">e.g. Customer support Team</small>

                        </div>
                        <div class="floating-item mb-4">
                            <div [ngClass]="{'was-validated' : teamForm.get('desc')!.valid && teamForm.get('desc')!.touched}"
                                class="floating-wrap form-floating mb-2">
                                <textarea [attr.disabled]="identity>0?'disabled':null" [ngClass]="{'is-invalid' : (teamForm.get('desc')!.errors && (teamForm.get('desc')!.touched ||
                                            teamForm.get('desc')!.dirty))}" formControlName="desc"
                                    class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                    style="height: 100px"></textarea>
                                <label for="floatingTextarea2">desc</label>
                                <div class="invalid-feedback" *ngIf="(teamForm.get('desc')!.errors && (teamForm.get('desc')!.touched ||
                                                                              teamForm.get('desc')!.dirty))">

                                    <div *ngIf="teamForm.get('desc')!.errors?.['required']">
                                        desc is required!
                                    </div>
                                </div>
                                <div class="valid-feedback"
                                    *ngIf="teamForm.get('desc')!.valid && teamForm.get('desc')!.touched">

                                    Looks Good!
                                </div>
                            </div>
                            <small class="example-text ms-3">e.g. This Team belongs to Customer Support in
                                Tokyo
                                timezone</small>

                        </div>
                        <div class="floating-item mb-4">
                            <div [ngClass]="{'was-validated' : teamForm.get('timeZone')!.valid && teamForm.get('timeZone')!.touched}"
                                class="floating-wrap form-floating mb-2">
                                <select [ngClass]="{'is-invalid' : (teamForm.get('timeZone')!.errors && (teamForm.get('timeZone')!.touched ||
                                                teamForm.get('timeZone')!.dirty))}"
                                    formControlName="timeZone" class="form-select" id="floatingSelect"
                                    aria-label="Floating label select">
                                    <option selected="" disabled>Select Time</option>
                                    <option selected="">(GMT+09:00) Karachi</option>
                                    <option value="1">(GMT+03:00) Lahore</option>
                                    <option value="2">(GMT+05:00) Peshawar</option>
                                    <option value="3">(GMT+06:00) Islamabad</option>
                                </select>
                                <label for="floatingSelect">TimeZone</label>
                                <div class="invalid-feedback"
                                    *ngIf="(teamForm.get('timeZone')!.errors && (teamForm.get('timeZone')!.touched || teamForm.get('timeZone')!.dirty))">
                                    <div *ngIf="teamForm.get('timeZone')!.errors?.['required']">
                                        Please select Business Hours
                                    </div>

                                </div>
                                <div class="valid-feedback"
                                    *ngIf="teamForm.get('timeZone')!.valid && teamForm.get('timeZone')!.touched">
                                    Looks Good!
                                </div>
                            </div>
                        </div>
                        <!-- <div class="floating-item mb-4">
                            <div class="floating-wrap form-floating mb-2"
                                [ngClass]="{'was-validated' : teamForm.get('supportchannelhour')!.valid && teamForm.get('supportchannelhour')!.touched}">
                                <select [ngClass]="{'is-invalid' : (teamForm.get('supportchannelhour')!.errors && (teamForm.get('supportchannelhour')!.touched ||
                                                teamForm.get('supportchannelhour')!.dirty))}"
                                    formControlName="supportchannelhour" class="form-select" id="supportchannelhour"
                                    aria-label="Floating label select">
                                    <option selected="">1 hour</option>
                                    <option value="1">2 hours</option>
                                    <option value="2">4 hours</option>
                                    <option value="3">6 hours</option>
                                </select>
                                <label for="floatingSelect">If a ticket remains unassigned for more
                                    than</label>
                                <div class="invalid-feedback" *ngIf="(teamForm.get('supportchannelhour')!.errors && (teamForm.get('supportchannelhour')!.touched ||
                                  teamForm.get('supportchannelhour')!.dirty))">
                                    <div *ngIf="teamForm.get('supportchannelhour')!.errors?.['required']">
                                        Please select Hours
                                    </div>


                                </div>
                                <div class="valid-feedback"
                                    *ngIf="teamForm.get('supportchannelhour')!.valid && teamForm.get('supportchannelhour')!.touched">
                                    Looks Good!
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="floating-item mb-4">
                                            <div class="floating-wrap form-floating mb-2"
                                            [ngClass]="{'was-validated' : teamForm.get('supportchannelteam')!.valid && teamForm.get('supportchannelteam')!.touched}">
                                                <select [ngClass]="{'is-invalid' : (teamForm.get('supportchannelteam')!.errors && (teamForm.get('supportchannelteam')!.touched ||
                                                teamForm.get('supportchannelteam')!.dirty))}" formControlName="supportchannelteam" class="form-select" id="floatingSelect"
                                                    aria-label="Floating label select">
                                                    <option selected="">Any</option>
                                                    <option value="1" selected="">Admin</option>
                                                    <option value="2">Corporate</option>
                                                    <option value="3">Sales</option>
                                                </select>
                                                <label for="floatingSelect">then send an email to</label>
                                                <div class="invalid-feedback" *ngIf="(teamForm.get('supportchannelteam')!.errors && (teamForm.get('supportchannelteam')!.touched ||
                                  teamForm.get('supportchannelteam')!.dirty))">
                                                    <div *ngIf="teamForm.get('supportchannelteam')!.errors?.['required']">
                                                        Please select Team
                                                    </div>
                                                </div>
                                                <div class="valid-feedback"
                                                    *ngIf="teamForm.get('supportchannelteam')!.valid && teamForm.get('supportchannelteam')!.touched">
    
                                                    Looks Good!
                                                </div>
                                            </div>
                                        </div> -->
                        <!-- <div class="floating-item mb-4">
                                            <ul class="list-group">
                                                <li
                                                    class="list-group-item d-flex justify-content-between align-items-sm-center shadow-sm rounded border p-3 saltBg">
                                                    <div class="ms-2 me-auto darkblue">
                                                        <div class="fw-bold darkblue">Automatic conversation assignment</div>
                                                        Distribute and balance the number of conversation assigned to agents in this
                                                        group
                                                    </div>
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input collapsed" type="checkbox"
                                                            id="flexSwitchCheckDefault" data-bs-toggle="collapse"
                                                            data-bs-target="#togglecard1" aria-expanded="false"
                                                            aria-controls="togglecard1">
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="collapse" id="togglecard1">
                                                <div class="card card-body">
                                                    <h5 class="darkblue mb-3 mt-3">Choose and assignment mode</h5>
                                                    <div class="form-check mb-3">
                                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                            id="flexRadioDefault1">
                                                        <div class="ms-2 me-auto silver lh-sm">
                                                            <div class="fw-bold darkblue mb-1">Round robin assignment</div>
                                                            Assign conversation to agents in a circular order.
                                                        </div>
                                                    </div>
                                                    <div class="form-check mb-3">
                                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                            id="flexRadioDefault1">
                                                        <div class="ms-2 me-auto silver lh-sm">
                                                            <div class="fw-bold darkblue mb-1">Load balanced assignment ( Powered by
                                                                EnteractRoute
                                                                <sup>TM</sup>)
                                                            </div>
                                                            Distribute and balance the number of tickets assigned to agents in this
                                                            group, based on channels.
                                                            Edit the agent’s capping limit in
                                                            <a href="javascript:">EnteractRoute settings.</a>
                                                        </div>
                                                    </div>
                
                                                    <div class="form-check mb-3">
                                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                            id="flexRadioDefault1">
                                                        <div class="ms-2 me-auto silver lh-sm">
                                                            <div class="fw-bold darkblue mb-1">Round robin assignment -
                                                                <a href="javascript:">Manage skills
                                                                </a>
                                                            </div>
                                                            Assign conversation to agents based on their skills.
                                                        </div>
                                                    </div>
                                                </div>
                
                                                <div>
                                                    <h5 class="mb-3 mt-5 fw-bold darkblue">Agent availability</h5>
                                                    <div class="form-check mb-3">
                                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                            id="flexRadioDefault1">
                                                        <div class="ms-2 me-auto silver lh-sm">
                                                            <div class="fw-bold darkblue mb-1">Allow agents to set their own
                                                                availability status</div>
                                                            Agents can set their status according to their activity. Admins and
                                                            supervisors can still override
                                                            an agent’s availability from the dashboard.
                                                        </div>
                                                    </div>
                                                    <div class="form-check mb-3">
                                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                            id="flexRadioDefault1">
                                                        <div class="ms-2 me-auto coal lh-sm">
                                                            <div class="fw-bold darkblue mb-1">Centrally manage the agent availabilities
                                                            </div>
                                                            Admins and supervisors will manage the agent’s availability from the
                                                            dashboard.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                        <!-- </div>
                                    <div class="col-lg-6 fixed-top sticky-top overflow-scroll" style="height: 500px;"> -->
                        <!-- <span class="coal mb-4">
                                            The Accesses of default teams cannot be edited. Create a new role to select custom
                                            accesses.
                                        </span>
                                        <div class="border mb-3"></div> -->
                        <!-- <engage2-card-box-list [menulist]="TeamsNAccesses" [menulistselectall]="menulistselectall"
                            (menulistchecked)="setMenuList($event)"></engage2-card-box-list> -->
                    </div>
                    <!-- </div> -->

                </div>
            </div>
            <!-- </div> -->
            <!-- <div id="team-user" class="tab-pane fade" role="tabpanel" aria-labelledby="team-tab">
                        <div class="filter-toolbar">
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul class="list-inline m-0 d-flex align-items-center">
                                        <li class="list-inline-item">
                                            <a href="javascript:" class="search-btn">
                                                <button class="iconButton medium">
                                                    <i class="fal fa-search silver"></i>
                                                </button>
                                                <input placeholder="Search">
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <select class="js-example-basic-single form-select"
                                                data-select2-id="select2-data-1-wzqv" tabindex="-1" aria-hidden="true">
                                                <option data-select2-id="select2-data-3-7fv9">All </option>
                                                <option>Ascending </option>
                                                <option> Descending</option>
                                                <option>Roles</option>
                                                <option>Teams</option>
                                            </select>
                                            <span class="select2 select2-container select2-container--default"
                                                dir="ltr" data-select2-id="select2-data-2-pec0"
                                                style="width: auto;"><span class="selection"><span
                                                        class="select2-selection select2-selection--single"
                                                        role="combobox" aria-haspopup="true" aria-expanded="false"
                                                        tabindex="0" aria-disabled="false"
                                                        aria-labelledby="select2-qfuy-container"
                                                        aria-controls="select2-qfuy-container"><span
                                                            class="select2-selection__rendered"
                                                            id="select2-qfuy-container" role="textbox"
                                                            aria-readonly="true" title="All ">All </span><span
                                                            class="select2-selection__arrow" role="presentation"><b
                                                                role="presentation"></b></span></span></span><span
                                                    class="dropdown-wrapper" aria-hidden="true"></span></span>

                                        </li>
                                    </ul>

                                </div>
                                <div class="col-lg-6 d-flex align-items-center justify-content-end">

                                    <button (click)="AddTeamMembers()" type="button" class="btn btn-success"
                                        data-bs-toggle="offcanvas" data-bs-target="#addteammembers"
                                        aria-controls="offcanvasRight">
                                        <i class="fal fa-plus me-2"></i>
                                        Add Team Members
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="filter-container">

                            <ul class="list-group list-group-horizontal border-0">

                                <li class="list-group-item border-0 refreshicon" aria-label="..."
                                    data-bs-toggle="tooltip" data-bs-placement="bottom"
                                    data-bs-original-title="Refresh">
                                    <i class="fal fa-redo"></i>
                                </li>

                            </ul>
                            <div class="selected-row" style="display:none;">
                                Selected <span class="badge skyBg rounded-pill">05<span>
                                    </span></span></div>
                            <div class="pagination-bar">
                                <span>1-100 of 569</span>
                                <span>
                                    <i class="fal fa-chevron-left"></i>
                                </span>
                                <span>
                                    <i class="fal fa-chevron-right"></i>
                                </span>
                            </div>
                        </div>
                        <div class="table-section table-scrool-y mb-3 query-container table-white">
                            <table class="table mb-5 align-middle">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="filter-container checkbox-reset">
                                                <ul class="list-group list-group-horizontal border-0">
                                                    <li class="list-group-item border-0 all-check-boxes">
                                                        <input class="form-check-input me-1" type="checkbox"
                                                            aria-label="..." data-bs-toggle="tooltip"
                                                            data-bs-placement="bottom"
                                                            data-bs-original-title="Check All"
                                                            aria-describedby="tooltip6548">
                                                    </li>
                                                </ul>
                                            </div>
                                        </th>
                                        <th>
                                            Users
                                        </th>
                                        <th>
                                            <a href="javascript:" class="darkblue hover-icon">
                                                Roles
                                                <i class="fas fa-long-arrow-alt-down"></i>
                                            </a>
                                        </th>
                                        <th>
                                            <a href="javascript:" class="darkblue hover-icon">
                                                Other Teams
                                                <i class="fas fa-long-arrow-alt-down"></i>
                                            </a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input class="form-check-input me-1" type="checkbox" aria-label="...">
                                        </td>
                                        <td>
                                            <a href="javascript:">
                                                <ul class="list-group list-group-flush">
                                                    <li
                                                        class="list-group-item d-flex justify-content-between align-items-center p-0">
                                                        <span class="iconButton large">
                                                            <img src="../../../../../../assets/images/avatar-16.jpg"
                                                                alt="-" class="rounded-circle w-100">
                                                        </span>
                                                        <div class="ms-2 me-auto coal">
                                                            <div class="fw-bold night">Ahmed Khan</div>
                                                            EMP-1254894
                                                        </div>
                                                    </li>
                                                </ul>
                                            </a>
                                        </td>
                                        <td>
                                            <p class="d-inline-block">Agent, Admin</p>
                                            <div class="d-inline-block dropdown w-auto">
                                                <button class="d-inline-block dropdown w-auto btn ps-0" type="button"
                                                    id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <span class="silver">+4</span>
                                                </button>
                                                <ul class="dropdown-menu w-auto" aria-labelledby="dropdownMenu2">
                                                    <li>
                                                        <a class="dropdown-item" >
                                                            <span>Agent</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" >
                                                            Admin</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" >Accounts</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" >
                                                            Subscriber
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" >
                                                            Editor
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" >
                                                            Contributor
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <p>Support,Sales
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input class="form-check-input me-1" type="checkbox" aria-label="...">
                                        </td>
                                        <td>
                                            <a href="javascript:">
                                                <ul class="list-group list-group-flush">
                                                    <li
                                                        class="list-group-item d-flex justify-content-between align-items-center p-0">
                                                        <span class="iconButton large">
                                                            <img src="../../../../../../assets/images/avatar-2.jpg"
                                                                alt="-" class="rounded-circle w-100">
                                                        </span>
                                                        <div class="ms-2 me-auto coal">
                                                            <div class="fw-bold night">Nabeel Naseem</div>
                                                            EMP-895894
                                                        </div>
                                                    </li>
                                                </ul>
                                            </a>
                                        </td>
                                        <td>
                                            <p class="d-inline-block">Agent, Subscriber</p>
                                            <div class="d-inline-block dropdown w-auto">
                                                <button class="d-inline-block dropdown w-auto btn ps-0" type="button"
                                                    id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <span class="silver">+2</span>
                                                </button>
                                                <ul class="dropdown-menu w-auto" aria-labelledby="dropdownMenu2">
                                                    <li>
                                                        <a class="dropdown-item" >
                                                            <span>Agent</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" >Subscriber</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" >Accounts</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" >Contributor</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="d-inline-block">Support, Marketing
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input class="form-check-input me-1" type="checkbox" aria-label="...">
                                        </td>
                                        <td>
                                            <a href="javascript:">
                                                <ul class="list-group list-group-flush">
                                                    <li
                                                        class="list-group-item d-flex justify-content-between align-items-center p-0">
                                                        <span class="iconButton large">
                                                            <img src="../../../../../../assets/images/avatar-3.jpg"
                                                                alt="-" class="rounded-circle w-100">
                                                        </span>
                                                        <div class="ms-2 me-auto coal">
                                                            <div class="fw-bold night">Ijteba Sultan</div>
                                                            EMP-59894
                                                        </div>
                                                    </li>
                                                </ul>
                                            </a>
                                        </td>
                                        <td>
                                            <p class="d-inline-block">Agent, Accounts</p>
                                            <div class="d-inline-block dropdown w-auto">
                                                <button class="d-inline-block dropdown w-auto btn ps-0" type="button"
                                                    id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <span class="silver">+2</span>
                                                </button>
                                                <ul class="dropdown-menu w-auto" aria-labelledby="dropdownMenu2">
                                                    <li>
                                                        <a class="dropdown-item" >
                                                            <span>Agent</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" >Accounts</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" >Subscriber</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" >Admin</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="d-inline-block">Support,Sales
                                            </p>
                                            <div class="d-inline-block dropdown w-auto">
                                                <button class="d-inline-block dropdown w-auto btn ps-0" type="button"
                                                    id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <span class="silver">+2</span>
                                                </button>
                                                <ul class="dropdown-menu w-auto" aria-labelledby="dropdownMenu2">
                                                    <li>
                                                        <a class="dropdown-item" >
                                                            Support
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" >Sales</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" >Marketing</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" >Technical Support</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> -->
            <!-- </div> -->
            <!-- </div> -->
            <!-- </div> -->
        </div>
        <!-- <div class="scrollbar-track scrollbar-track-x" style="display: none;">
        <div class="scrollbar-thumb scrollbar-thumb-x" style="width: 1560px; transform: translate3d(0px, 0px, 0px);">
        </div>
    </div>
    <div class="scrollbar-track scrollbar-track-y" style="display: block;">
        <div class="scrollbar-thumb scrollbar-thumb-y"
            style="height: 179.594px; transform: translate3d(0px, 0px, 0px);"></div>
    </div> -->
    </div>
    <footer class="footer">
        <div class="ps-3 pe-3">
            <div class="icon-buttons-wrapper d-flex justify-content-between pt-3 pb-4">
                <div class="row w-100">
                    <div class="col-md-4">


                    </div>
                    <div class="col-md-8 justify-content-end d-flex">
                        <div class="buttons-wrap d-flex">
                            <button type="button" class="btn btn-outline-secondary btn-medium me-2 px-4"
                                (click)="cancelForm()">Cancel</button>
                            <button type="submit" class="btn skyBg ms-2 px-4 btn-medium saveBtn">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</form>
<div class="position-fixed toast-bar border-0 shadow-sm rounded navyBg" style="z-index: 60">
    <div [ngClass]="toastermessage == true ? 'show' : 'hide'" class="toast border-0 p-2 h-100 navyBg fade" role="alert"
       aria-live="assertive" aria-atomic="true">
       <div class="d-flex border-0 justify-content-between align-items-center w-100 h-100">
          <p class="toast-line-para ice m-0">{{AlterMsg}}</p>
          <div class="toast-btn d-flex align-items-center">
 
             <button type="button" class="btn m-0 ms-2" aria-label="Close" data-bs-dismiss="toast"
                (click)="closeToaster()"><i class="fal fa-times"></i></button>
 
          </div>
       </div>
    </div>
 </div>