<div class="content-box-wrapper d-flex w-100">
    <div class="middle-content d-flex">
        <div class="p-4 d-grid w-100">
            <div class="analytics-dashboard" data-scrollbar="true" tabindex="-1"
                style="overflow: auto; outline: none; overflow-x: hidden;">
                <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box"
                    [fullScreen]="false">
                    <p style="color: white"> Loading... </p>
                </ngx-spinner>
                <div class="scroll-content">
                    <div class="d-flex align-items-center">
                        <ul class="nav nav-tabs buttontabs">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" [ngClass]="{'active': !isMediaActive}" id="social-tab"
                                    (click)="isMediaActive = false">
                                    Social Media
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" [ngClass]="{'active': isMediaActive}" id="media-tab"
                                    (click)="isMediaActive = true">
                                    Media
                                </button>
                            </li>
                        </ul>
                        <div class="iconholder ms-auto">
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="date" class="form-control" placeholder="End Date"
                                        [(ngModel)]="startDate" [max]="maxEndDate" (change)="resetStartDate()" />
                                </div>
                                <div class="col-sm-6">
                                    <input type="date" class="form-control" [(ngModel)]="endDate" [max]="maxEndDate"
                                        placeholder="Start Date" (change)="resetEndDate()" />

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="socialmedia" [ngClass]="{'d-none': isMediaActive}">
                        <ul class="scrollerstat my-4">
                            <li>
                                <div class="card">
                                    <div class="card-body">
                                        <span class="iconButton medium navyBg mb-3">
                                            <i class="fa-light fa-thumbs-up"></i>
                                        </span>
                                        <h4>{{executiveDashborad?.totalPageLikes}}</h4>
                                        <p class="mb-0">Total likes</p>
                                        <!-- <small class="sky">+8% from yesterday</small> -->
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <div class="card-body">
                                        <span class="iconButton medium navyBg mb-3">
                                            <i class="fa-light fa-comment"></i>
                                        </span>
                                        <h4>{{executiveDashborad?.totalPostComments}}</h4>
                                        <p class="mb-0">Comments</p>
                                        <!-- <small class="sky">+4% from yesterday</small> -->
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <div class="card-body">
                                        <span class="iconButton medium navyBg mb-3">
                                            <i class="fa-light fa-share"></i>
                                        </span>
                                        <h4>{{executiveDashborad?.totalPostShares}}</h4>
                                        <p class="mb-0"> Share</p>
                                        <!-- <small class="sky">+1.2% from yesterday</small> -->
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <div class="card-body">
                                        <span class="iconButton medium twltte-bg ice mb-3">
                                            <i class="fa-light fa-hashtag"></i>
                                        </span>
                                        <h4>{{social_media_report?.tweetsCount}}</h4>
                                        <p class="mb-0"> Tweets</p>
                                        <!-- <small class="sky">0.5% from yesterday</small> -->
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <div class="card-body">
                                        <span class="iconButton medium twltte-bg ice mb-3">
                                            <i class="fa-light fa-retweet"></i>
                                        </span>
                                        <h4>{{social_media_report?.retweetsCount}}</h4>
                                        <p class="mb-0">Retweets</p>
                                        <!-- <small class="sky">+8% from yesterday</small> -->
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <div class="card-body">
                                        <span class="iconButton medium twltte-bg ice mb-3">
                                            <i class="fa-light fa-reply"></i>
                                        </span>
                                        <h4>{{social_media_report?.repliesCount}}</h4>
                                        <p class="mb-0"> Replies</p>
                                        <!-- <small class="sky">+8% from yesterday</small> -->
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <div class="card-body">
                                        <span class="iconButton medium linkedinBg mb-3">
                                            <i class="fa-brands fa-linkedin"></i>
                                        </span>
                                        <h4>{{social_media_report?.linkedInCount}}</h4>
                                        <p class="mb-0">Connections</p>
                                        <!-- <small class="sky">0.5% from yesterday</small> -->
                                    </div>
                                </div>
                            </li>

                        </ul>
                       
                        <div class="my-4">
                            <div class="row align-items-start h-auto">
                                <div class="col-md-8">
                                    <div class="card iceBg p-4 rounded">
                                        <h5 class="section-heading mb-4 p-0">Engagement</h5>
                                        <ul class="nav nav-tabs buttontabs">
                                            <li class="nav-item" role="presentation">
                                                <!-- <button class="nav-link active" id="channel-tab">Channel Wise</button> -->
                                            </li>
                                            <!-- <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="category-tab">Category wise</button>
                                            </li> -->
                                        </ul>
                                        <ng-container *ngIf="isShowEngagementGraph==false">
                                            <div class="graphcontainer align-items-end">
                                                <div id="enagement" style="height: 400px; width: 100%;">

                                                </div>

                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="isShowEngagementGraph==true">
                                            <div class="graphcontainer align-items-end">
                                                <!-- <div id="enagement" style="height: 400px; width: 100%;">
    
                                                </div> -->
                                                <p>No Data Found</p>
                                            </div>
                                        </ng-container>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card iceBg p-4 rounded">
                                        <h5 class="section-heading mb-3 p-0">SENTIMENT ANALYSIS</h5>
                                        <ng-container *ngIf="isShowSentimentGraph==false">
                                            <div>
                                                <div id="main" style="height: 440px ; width: 100%; margin-left: 0px;">
                                                </div>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="isShowSentimentGraph==true">
                                            <div class="graphcontainer align-items-end">
                                                <!-- <div id="enagement" style="height: 400px; width: 100%;">
    
                                                </div> -->
                                                <p>No Data Found</p>
                                            </div>
                                        </ng-container>


                                        <!-- <ul class="statlist list-0">
                                            <li>
                                                <p class="m-0">
                                                    <span class="staticon mintBg"></span>
                                                    <span>Positive</span>
                                                </p>
                                                <span class="ms-auto">40%</span>
                                            </li>
                                            <li>
                                                <p class="m-0">
                                                    <span class="staticon sunBg"></span>
                                                    <span>Neutral</span>
                                                </p>
                                                <span class="ms-auto">40%</span>
                                            </li>
                                            <li>
                                                <p class="m-0">
                                                    <span class="staticon radicalBg"></span>
                                                    <span>Negative</span>
                                                </p>
                                                <span class="ms-auto">20%</span>
                                            </li>
                                        </ul> -->
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="my-6">
                            <div class="row align-items-start h-auto">
                                <div class="col-md-6">
                                    <div class="card iceBg p-4 rounded">
                                        <h5 class="section-heading mb-4 p-0">Audience Engagement Graph</h5>
                                        <ng-container *ngIf="isShowAudienceEngagementGraph==false">
                                            <div class="graphcontainer align-items-end">
                                                <div id="audience" style="height: 350px; width: 100%;"></div>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="isShowAudienceEngagementGraph==true">
                                            <div class="graphcontainer align-items-end">
                                                <p> No Data found</p>
                                                <!-- <div id="audience" style="height: 350px; width: 100%;"></div> -->

                                            </div>
                                        </ng-container>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card iceBg p-4 rounded">

                                        <h5 class="section-heading mb-3 p-0">Inbound Traffic Graph </h5>
                                        <ng-container *ngIf="isShowInboundGraph==false">
                                            <div class="graphcontainer align-items-end">
                                                <div id="inbound" style="height: 350px; width: 100%;"></div>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="isShowInboundGraph==true">
                                            <div class="graphcontainer align-items-end">
                                                <p>No Data found</p>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="my-4">
                            <div class="row align-items-start h-auto">
                                <div class="col-md-6">
                                    <div class="card iceBg p-4 rounded">
                                        <h5 class="section-heading mb-4 p-0">FACEBOOK REACTIONS</h5>
                                        <ng-container *ngIf="isShowfacebookreations==false">
                                            <div class="graphcontainer align-items-end">
                                                <div id="facebookReaction"
                                                    style="height: 300px; width: 100%; max-width: 700px;"></div>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="isShowfacebookreations==true">
                                            <div class="graphcontainer align-items-end">
                                                <p>No Data Found</p>

                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card iceBg p-4 rounded">
                                        <h5 class="section-heading mb-3 p-0">Word Cloud</h5>
                                        <div class="graphcontainer align-items-center">
                                            <div class="worldcloud">
                                                <app-word-cloud [wordCloud]="dateTimeObj"></app-word-cloud>
                                                <!-- <angular-tag-cloud [config]="options" [data]="data"  
                                                [zoomOnHover]="zoomOnHoverOptions"></angular-tag-cloud> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="heatmap card p-4 my-4">
                            <div class="row align-items-start h-auto">
                                <div class="col-md-4">
                                        <div class="d-flex">
                                            <input name="" id="datepickerrange" class="form-control flatpickr-input"
                                            [(ngModel)]="mapstartDate"
                                        
                                            placeholder="Date" type="date">
                      
                                   &nbsp; &nbsp;
                                        <input name="" id="datepickerrange"
                                        [(ngModel)]="mapendDate" 
                                
                                        class="form-control flatpickr-input"
                                            placeholder="Date" type="date">
                                        </div>  <br>              
                                     
                                    

                                    <button class="btn skyBg mb-4" (click)="OnClick()">Search</button>
                                    <ul class="list-0">
                                        <li class="pb-2">
                                            <span class="staticon me-2 mintBg"></span>Very low Frequency
                                        </li>
                                        <li class="pb-2">
                                            <span class="staticon me-2 sunBg"></span>Low frequency
                                        </li>
                                        <li class="pb-2">
                                            <span class="staticon me-2 radicalBg"></span>Moderate Frequency
                                        </li>
                                        <li class="pb-2">
                                            <span class="staticon me-2 cherryBg"></span>High frequency
                                        </li>
                                        <li>
                                            <span class="staticon me-2 berryBg"></span> Negative
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-md-8">
                                    <div class="text-center">
                                        <google-map height="400px" width="100%" [center]="center" [zoom]="zoom"
                                            (mapClick)="moveMap($event)" (mapMousemove)="move($event)">

                                            <map-polygon *ngFor="let path of pathsArray" [paths]="path"
                                                [options]="{ strokeColor: 'black', strokeWeight: 1, fillColor: 'green' }">
                                            </map-polygon>
                                        </google-map>


                                    </div>
                                </div>
                            </div>
                        </div>

                        <ng-container *ngIf="isShowReginwiseGraph==false">
                            <div class="card iceBg p-4 my-4">
                                <h5 class="section-heading mb-4 p-0"> REGIONWISE TRAFFIC</h5>
                                <div class="graphcontainer align-items-end">

                                    <div id="regionWiseTrafic" style="height: 400px; width: 100%;"></div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="isShowReginwiseGraph==true">
                            <div class="card iceBg p-4 my-4">
                                <h5 class="section-heading mb-4 p-0"> REGIONWISE TRAFFIC</h5>
                                <div class="graphcontainer align-items-end">
                                    <p>No Data found</p>
                                    <!-- <div id="regionWiseTrafic" style="height: 400px; width: 100%;"></div> -->

                                </div>

                            </div>
                        </ng-container>

                    </div>
                    <div class="mediasection" [ngClass]="{'d-none': !isMediaActive}">
                        <div class="my-4">
                            <div class="row align-items-start h-auto">
                                <div class="col-md-7">
                                    <div class="card iceBg p-4 rounded">
                                        <h5 class="section-heading mb-4 p-0">SENTIMENT ANALYSIS</h5>
                                        <ul class="nav nav-tabs buttontabs">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link " [ngClass]="{'active':!isSentimentAnalysisActive}" id="social-tab"
                                                 (click)="isSentimentAnalysisActive=false">Channel Wise</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link"  [ngClass]="{'active':isSentimentAnalysisActive}" 
                                                 (click)="isSentimentAnalysisActive=true" id="media-tab">Category wise</button>
                                            </li>
                                        </ul>
                                        <div class="py-5 space"></div>
                                        <div  [ngClass]="{'d-none': isSentimentAnalysisActive}">
                                            <div id="SentimentAnalysisChannelWise" style="height: 400px; width: 700px;"></div>
                                      
                                     
                                        </div>
                                        <div  [ngClass]="{'d-none': !isSentimentAnalysisActive}">
                                            <div id="SentimentAnalysisCategoryWise" style="height: 400px; width: 700px;"></div>
                                    
                        
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="card iceBg p-4 rounded">
                                        <h5 class="section-heading mb-3 p-0">NOISE INDEX SUMMATION </h5>
                                        <ul class="nav nav-tabs buttontabs">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link " [ngClass]="{'active':!isNoiseIndexSummationActive}"  id="social-tab"
                                                (click)="isNoiseIndexSummationActive=false">Channel Wise</button>
                                            </li> 
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" [ngClass]="{'active':isNoiseIndexSummationActive}" id="media-tab"
                                                (click)="isNoiseIndexSummationActive=true">Category wise</button>
                                            </li>
                                        </ul>
                                        <div class="graphcontainer align-items-end">
                                            <div [ngClass]="{'d-none':isNoiseIndexSummationActive}">
                                             <div id="NoiseIndexChannelWise" style="height: 400px; width: 400px;"></div>
                                        
                                            </div>
                                            <div [ngClass]="{'d-none':!isNoiseIndexSummationActive}">
                                            <div id="NoiceIndexCategoryWise" style="height: 400px; width: 400px;" ></div>
                                   
                                                   </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-4">
                            <div class="row align-items-start h-auto">
                                <div class="col-md-6">
                                    <div class="card iceBg p-4 rounded">
                                        <h5 class="section-heading mb-4 p-0">SENTIMENT ANALYSIS</h5>

                                        <div class="graphcontainer">
                                            <div id="sentimentAnalysisChart" style="height: 400px; width: 900px;">
                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card iceBg p-4 rounded">
                                        <h5 class="section-heading mb-3 p-0">Engagement </h5>

                                        <div class="graphcontainer">
                                            <div id="MediaEngagement" style="height: 400px; width: 600px;">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-4">
                            <div class="row align-items-start h-auto">
                                <div class="col-md-6">
                                    <div class="card iceBg p-4 rounded">
                                        <h5 class="section-heading mb-4 p-0"> Category comparison</h5>
                                        <div class="graphcontainer">
                                            <div id="MediaCategorycomparison" style="height: 400px; width: 600px;">
                                                <!-- <img src="../images/g05.svg" class="img-fluid" alt=""> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card iceBg p-4 rounded">
                                        <h5 class="section-heading mb-4 p-0"> Channel comparison</h5>
                                        <div class="graphcontainer">
                                            <div id="Mediacomparison" style="height: 400px; width: 600px;">
                                                
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        &nbsp;
                        <div >
                            <div class="card iceBg p-4 rounded">
                                <h5 class="section-heading mb-3 p-0">Word Cloud</h5>
                                <div class="graphcontainer  align-items-center">
                                    <div class="worldcloud">
                                        <!-- <angular-tag-cloud
                                        [width]="options.width"
                                        [data]="MediaData"  
                                        [zoomOnHover]="zoomOnHoverOptions"
                                        [overflow]="options.overflow">
                                      </angular-tag-cloud>
                                   -->
                                 <!-- <app-word-cloud [wordCloud]="dateTimeObj"></app-word-cloud> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        &nbsp;
                        <div class="printsection card p-4 iceBg">
                            <h5 class="section-heading mb-4 p-0"> Print Feed</h5>
                            <div class="printscroll">
                                <div class="row">
                                    <ng-container *ngFor="let item of printFeed">
                                    <div class="col-md-4">
                                 
                                            <figure>
                                                <figcaption class="mb-2">{{item?.Channel}}</figcaption>
                                                <div class="print_feed_cont img">
                                                    <img class="img-responsive" src="https://kemedia.360scrm.com/Content//PrintClips//Print-293264.jpg" alt="" title="">
                                                </div>
                                                
                                            </figure>
                                   
                                       
                                    </div>
                                </ng-container>
                                </div>
                            </div>
                        </div>
                        &nbsp;
                        <div class="heatmap card p-4">
                            <div class="row align-items-start h-auto">
                                <div class="col-md-4">
                                    <div class="iconholder ms-auto mb-2">
                                        <i class="fa-light fa-calendar-plus iconleft"></i>
                                        <input name="" id="datepickerrange" class="form-control flatpickr-input"
                                            placeholder="Date" readonly="readonly" type="text">
                                    </div>
                                    <button class="btn skyBg mb-2">Search</button>
                                    <ul class="list-0">
                                        <li>
                                            <span class="staticon mintBg"></span>Very low Frequency
                                        </li>
                                        <li>
                                            <span class="staticon sunBg"></span>Low frequency
                                        </li>
                                        <li>
                                            <span class="staticon radicalBg"></span>Moderate Frequency
                                        </li>
                                        <li>
                                            <span class="staticon cherryBg"></span>High frequency
                                        </li>
                                        <li>
                                            <span class="staticon berryBg"></span> Negative
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-8">

                                    <div>
                                        <google-map height="400px" width="100%" [center]="center" [zoom]="zoom"
                                        (mapClick)="moveMap($event)" (mapMousemove)="move($event)">

                                        <map-polygon *ngFor="let path of pathsArray" [paths]="path"
                                            [options]="{ strokeColor: 'black', strokeWeight: 1, fillColor: 'green' }">
                                        </map-polygon>
                                    </google-map>
                                    </div>
                                </div>
                            </div>
                        </div>

                       
                            <ng-container *ngIf="isShowReginwiseGraph==false">
                                <div class="card iceBg p-4 my-4">
                                    <h5 class="section-heading mb-4 p-0"> REGIONWISE TRAFFIC</h5>
                                    <div class="graphcontainer align-items-end">
    
                                        <div id="regionWiseTrafic" style="height: 400px; width: 100%;"></div>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="isShowReginwiseGraph==true">
                                <div class="card iceBg p-4 my-4">
                                    <h5 class="section-heading mb-4 p-0"> REGIONWISE TRAFFIC</h5>
                                    <div class="graphcontainer align-items-end">
                                        <p>No Data found</p>
                                        <!-- <div id="regionWiseTrafic" style="height: 400px; width: 100%;"></div> -->
    
                                    </div>
    
                                </div>
                            </ng-container>
    

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>