<div class="content-box-wrapper d-flex w-100">
    <div class="middle-content d-flex">
        <div class="p-4 d-grid w-100">
            <div class="analytics-dashboard" data-scrollbar="true" tabindex="-1" style="overflow: auto; outline: none;">
                <div class="scroll-content">
                    <div class="d-flex align-items-center">
                        <ul class="nav nav-tabs buttontabs">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" [ngClass]="{'active': !isMediaActive}" id="social-tab"
                                    (click)="isMediaActive = false">
                                    Social Media
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" [ngClass]="{'active': isMediaActive}" id="media-tab"
                                    (click)="isMediaActive = true">
                                    Media
                                </button>
                            </li>
                        </ul>
                        <div class="iconholder ms-auto">
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="date" class="form-control" placeholder="Start Date"
                                        [(ngModel)]="startDate" [max]="maxEndDate" (change)="resetEndDate()" />
                                </div>
                                <div class="col-sm-6">
                                    <input type="date" class="form-control" [(ngModel)]="endDate" [max]="maxEndDate"
                                        placeholder="End Date" (change)="GetAllSocialMediaReport()" />

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="socialmedia" [ngClass]="{'d-none': isMediaActive}">
                        <ul class="scrollerstat my-4">
                            <li>
                                <div class="card">
                                    <div class="card-body">
                                        <span class="iconButton medium navyBg mb-3">
                                            <i class="fa-light fa-thumbs-up"></i>
                                        </span>
                                        <h4>{{social_media_report?.likesCount}}</h4>
                                        <p class="mb-0">Total likes</p>
                                        <small class="sky">+8% from yesterday</small>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <div class="card-body">
                                        <span class="iconButton medium navyBg mb-3">
                                            <i class="fa-light fa-comment"></i>
                                        </span>
                                        <h4>{{social_media_report?.commentCount}}</h4>
                                        <p class="mb-0">Comments</p>
                                        <small class="sky">+4% from yesterday</small>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <div class="card-body">
                                        <span class="iconButton medium navyBg mb-3">
                                            <i class="fa-light fa-share"></i>
                                        </span>
                                        <h4>{{social_media_report?.sharesCount}}</h4>
                                        <p class="mb-0"> Share</p>
                                        <small class="sky">+1.2% from yesterday</small>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <div class="card-body">
                                        <span class="iconButton medium twltte-bg ice mb-3">
                                            <i class="fa-light fa-hashtag"></i>
                                        </span>
                                        <h4>{{social_media_report?.tweetsCount}}</h4>
                                        <p class="mb-0"> Tweets</p>
                                        <small class="sky">0.5% from yesterday</small>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <div class="card-body">
                                        <span class="iconButton medium twltte-bg ice mb-3">
                                            <i class="fa-light fa-retweet"></i>
                                        </span>
                                        <h4>{{social_media_report?.retweetsCount}}</h4>
                                        <p class="mb-0">Retweets</p>
                                        <small class="sky">+8% from yesterday</small>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <div class="card-body">
                                        <span class="iconButton medium twltte-bg ice mb-3">
                                            <i class="fa-light fa-reply"></i>
                                        </span>
                                        <h4>{{social_media_report?.repliesCount}}</h4>
                                        <p class="mb-0"> Replies</p>
                                        <small class="sky">+8% from yesterday</small>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <div class="card-body">
                                        <span class="iconButton medium linkedinBg mb-3">
                                            <i class="fa-brands fa-linkedin"></i>
                                        </span>
                                        <h4>NA</h4>
                                        <p class="mb-0">Connections</p>
                                        <small class="sky">0.5% from yesterday</small>
                                    </div>
                                </div>
                            </li>

                        </ul>
                        <div class="my-4">
                            <div class="row align-items-start h-auto">
                                <div class="col-md-8">
                                    <div class="card iceBg p-4 rounded">
                                        <h5 class="section-heading mb-4 p-0">Engagement</h5>
                                        <ul class="nav nav-tabs buttontabs">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link active" id="channel-tab">Channel Wise</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="category-tab">Category wise</button>
                                            </li>
                                        </ul>
                                        <div class="graphcontainer align-items-end">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="channelwise" role="tabpanel"
                                                    aria-labelledby="channelwise-tab" tabindex="0">
                                                    <div id="enagement" style="height: 400px; width: 600px;">

                                                    </div>
                                                </div>
                                                <!-- <div class="tab-pane" id="categorywise" role="tabpanel"
                                                    aria-labelledby="categorywise-tab" tabindex="0">
                                                    <div>
                                                        <img src="../images/kgraph12.png" class="img-fluid" alt="">
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card iceBg p-4 rounded">
                                        <h5 class="section-heading mb-3 p-0">SENTIMENT ANALYSIS</h5>
                                        <div class="text-center">
                                            <div id="main" style="height: 440px ; width: 490px; margin-left: 0px;">
                                            </div>
                                        </div>
                                        <!-- <ul class="statlist list-0">
                                            <li>
                                                <p class="m-0">
                                                    <span class="staticon mintBg"></span>
                                                    <span>Positive</span>
                                                </p>
                                                <span class="ms-auto">40%</span>
                                            </li>
                                            <li>
                                                <p class="m-0">
                                                    <span class="staticon sunBg"></span>
                                                    <span>Neutral</span>
                                                </p>
                                                <span class="ms-auto">40%</span>
                                            </li>
                                            <li>
                                                <p class="m-0">
                                                    <span class="staticon radicalBg"></span>
                                                    <span>Negative</span>
                                                </p>
                                                <span class="ms-auto">20%</span>
                                            </li>
                                        </ul> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-4">
                            <div class="row align-items-start h-auto">
                                <div class="col-md-6">
                                    <div class="card iceBg p-4 rounded">
                                        <h5 class="section-heading mb-4 p-0">Audience Engagement Graph</h5>
                                        <div class="graphcontainer align-items-end">
                                            <div class="text-center">
                                                <div id="audience" style="height: 300px; width: 500px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card iceBg p-4 rounded">
                                        <h5 class="section-heading mb-3 p-0">Inbound Traffic Graph </h5>
                                        <div class="graphcontainer align-items-end">
                                            <div class="text-center">
                                                <div id="inbound" style="height: 300px; width: 500px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-4">
                            <div class="row align-items-start h-auto">
                                <div class="col-md-6">
                                    <div class="card iceBg p-4 rounded">
                                        <h5 class="section-heading mb-4 p-0">FACEBOOK REACTIONS</h5>
                                        <div class="graphcontainer align-items-end">
                                            <div class="text-center">
                                                <div id="facebookReaction" style="height: 300px; width: 500px;"></div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card iceBg p-4 rounded">
                                        <h5 class="section-heading mb-3 p-0">Word Cloud</h5>
                                        <div class="graphcontainer align-items-center">
                                            <div class="worldcloud">
                                                <angular-tag-cloud [config]="options" [data]="data"></angular-tag-cloud>
                                                <!-- <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <span class="badge rounded-pill skyTransBg">Power Bills
                                                            (1)</span>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <span class="badge rounded-pill mintTransBg">Electricity
                                                            (8)</span>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <span class="badge rounded-pill skyTransBg">Electricity Prices
                                                            (1)</span>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <span class="badge rounded-pill skyTransBg">Load Shedding
                                                            (1)</span>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <span class="badge rounded-pill grayfilled fs-4">K-Electric
                                                            (87)</span>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <span class="badge rounded-pill skyTransBg">Electricity Bills
                                                            (1)</span>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <span class="badge rounded-pill sunBg fs-6">Energy (17)</span>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <span class="badge rounded-pill skyTransBg">KE (8)</span>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <span class="badge rounded-pill skyTransBg">Oil (8)</span>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <span class="badge rounded-pill skyTransBg">Electrocution
                                                            (1)</span>
                                                    </li>
                                                </ul> -->
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="printsection card my-4 p-4 iceBg">
                            <h5 class="section-heading mb-4 p-0"> Print Feed</h5>
                            <div class="printscroll">
                                <div class="row">
                                    <div class="col-md-4">
                                        <figure>
                                            <figcaption class="mb-2">The news</figcaption>
                                            <!-- <img src="..//images/news1.png" class="img-fluid" alt=""> -->
                                        </figure>
                                    </div>
                                    <div class="col-md-4">
                                        <figure>
                                            <figcaption class="mb-2"> Jang</figcaption>
                                            <!-- <img src="..//images/news2.png" class="img-fluid" alt=""> -->
                                        </figure>
                                    </div>
                                    <div class="col-md-4">
                                        <figure>
                                            <figcaption class="mb-2"> Dunya</figcaption>
                                            <!-- <img src="..//images/news3.png" class="img-fluid" alt=""> -->
                                        </figure>
                                    </div>
                                    <div class="col-md-4">
                                        <figure>
                                            <figcaption class="mb-2">The news</figcaption>
                                            <!-- <img src="..//images/news1.png" class="img-fluid" alt=""> -->
                                        </figure>
                                    </div>
                                    <div class="col-md-4">
                                        <figure>
                                            <figcaption class="mb-2"> Jang</figcaption>
                                            <!-- <img src="..//images/news2.png" class="img-fluid" alt=""> -->
                                        </figure>
                                    </div>
                                    <div class="col-md-4">
                                        <figure>
                                            <figcaption class="mb-2"> Dunya</figcaption>
                                            <!-- <img src="..//images/news3.png" class="img-fluid" alt=""> -->
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="heatmap card p-4 my-4">
                            <div class="row align-items-start h-auto">
                                <div class="col-md-4">
                                    <div class="iconholder ms-auto mb-2">
                                        <i class="fa-light fa-calendar-plus iconleft"></i>
                                        <input name="" id="datepickerrange" class="form-control flatpickr-input"
                                            placeholder="Date" readonly="readonly" type="text">
                                    </div>
                                    <button class="btn skyBg mb-4">Search</button>
                                    <ul class="list-0">
                                        <li class="pb-2">
                                            <span class="staticon me-2 mintBg"></span>Very low Frequency
                                        </li>
                                        <li class="pb-2">
                                            <span class="staticon me-2 sunBg"></span>Low frequency
                                        </li>
                                        <li class="pb-2">
                                            <span class="staticon me-2 radicalBg"></span>Moderate Frequency
                                        </li>
                                        <li class="pb-2">
                                            <span class="staticon me-2 cherryBg"></span>High frequency
                                        </li>
                                        <li>
                                            <span class="staticon me-2 berryBg"></span> Negative
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-8">

                                    <div class="text-center">
                                        <!-- <img src="../images/kgraph6.png" class="img-fluid" alt=""> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card iceBg p-4 my-4">
                            <h5 class="section-heading mb-4 p-0"> REGIONWISE TRAFFIC</h5>
                            <div class="graphcontainer align-items-end">
                                <div class="text-center">
                                    <div id="regionWiseTrafic" style="height: 300px; width: 500px;"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="mediasection" [ngClass]="{'d-none': !isMediaActive}">
                        <div class="my-4">
                            <div class="row align-items-start h-auto">
                                <div class="col-md-8">
                                    <div class="card iceBg p-4 rounded">
                                        <h5 class="section-heading mb-4 p-0">SENTIMENT ANALYSIS</h5>
                                        <ul class="nav nav-tabs buttontabs">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link active" id="social-tab">Channel Wise</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="media-tab">Category wise</button>
                                            </li>
                                        </ul>
                                        <div class="py-5 space"></div>
                                        <div>
                                            <!-- <img src="../images/kgraph8.png" class="img-fluid" alt=""> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card iceBg p-4 rounded">
                                        <h5 class="section-heading mb-3 p-0">NOISE INDEX SUMMATION </h5>
                                        <ul class="nav nav-tabs buttontabs">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link active" id="social-tab">Channel Wise</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="media-tab">Category wise</button>
                                            </li>
                                        </ul>
                                        <div class="graphcontainer align-items-end">
                                            <div class="text-center">
                                                <!-- <img src="../images/kgraph9.png" class="img-fluid" alt=""> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-4">
                            <div class="row align-items-start h-auto">
                                <div class="col-md-6">
                                    <div class="card iceBg p-4 rounded">
                                        <h5 class="section-heading mb-4 p-0">SENTIMENT ANALYSIS</h5>

                                        <div class="graphcontainer">
                                            <div class="text-center">
                                                <!-- <img src="../images/g03.svg" class="img-fluid" alt=""> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card iceBg p-4 rounded">
                                        <h5 class="section-heading mb-3 p-0">Engagement </h5>

                                        <div class="graphcontainer">
                                            <div class="text-center">
                                                <!-- <img src="../images/g04.svg" class="img-fluid" alt=""> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-4">
                            <div class="row align-items-start h-auto">
                                <div class="col-md-6">
                                    <div class="card iceBg p-4 rounded">
                                        <h5 class="section-heading mb-4 p-0"> Category comparison</h5>
                                        <div class="graphcontainer">
                                            <div class="text-center">
                                                <!-- <img src="../images/g05.svg" class="img-fluid" alt=""> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="graphcontainer">
                                        <div class="text-center">
                                            <!-- <img src="../images/g06.svg" class="img-fluid" alt=""> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="stats-cards-section">
                            <div class="card iceBg p-4 rounded">
                                <h5 class="section-heading mb-3 p-0">Word Cloud</h5>
                                <div class="graphcontainer">
                                    <div class="worldcloud">
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <span class="badge rounded-pill skyTransBg">Power Bills (1)</span>
                                            </li>
                                            <li class="list-inline-item">
                                                <span class="badge rounded-pill mintTransBg">Electricity (8)</span>
                                            </li>
                                            <li class="list-inline-item">
                                                <span class="badge rounded-pill skyTransBg">Electricity Prices
                                                    (1)</span>
                                            </li>
                                            <li class="list-inline-item">
                                                <span class="badge rounded-pill skyTransBg">Load Shedding (1)</span>
                                            </li>
                                            <li class="list-inline-item">
                                                <span class="badge rounded-pill grayfilled fs-4">K-Electric (87)</span>
                                            </li>
                                            <li class="list-inline-item">
                                                <span class="badge rounded-pill skyTransBg">Electricity Bills (1)</span>
                                            </li>
                                            <li class="list-inline-item">
                                                <span class="badge rounded-pill sunBg fs-6">Energy (17)</span>
                                            </li>
                                            <li class="list-inline-item">
                                                <span class="badge rounded-pill skyTransBg">KE (8)</span>
                                            </li>
                                            <li class="list-inline-item">
                                                <span class="badge rounded-pill skyTransBg">Oil (8)</span>
                                            </li>
                                            <li class="list-inline-item">
                                                <span class="badge rounded-pill skyTransBg">Electrocution (1)</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="printsection card p-4 iceBg">
                            <h5 class="section-heading mb-4 p-0"> Print Feed</h5>
                            <div class="printscroll">
                                <div class="row">
                                    <div class="col-md-4">
                                        <figure>
                                            <figcaption class="mb-2">The news</figcaption>
                                            <!-- <img src="..//images/news1.png" class="img-fluid" alt=""> -->
                                        </figure>
                                    </div>
                                    <div class="col-md-4">
                                        <figure>
                                            <figcaption class="mb-2"> Jang</figcaption>
                                            <!-- <img src="..//images/news2.png" class="img-fluid" alt=""> -->
                                        </figure>
                                    </div>
                                    <div class="col-md-4">
                                        <figure>
                                            <figcaption class="mb-2"> Dunya</figcaption>
                                            <!-- <img src="..//images/news3.png" class="img-fluid" alt=""> -->
                                        </figure>
                                    </div>
                                    <div class="col-md-4">
                                        <figure>
                                            <figcaption class="mb-2">The news</figcaption>
                                            <!-- <img src="..//images/news1.png" class="img-fluid" alt=""> -->
                                        </figure>
                                    </div>
                                    <div class="col-md-4">
                                        <figure>
                                            <figcaption class="mb-2"> Jang</figcaption>
                                            <!-- <img src="..//images/news2.png" class="img-fluid" alt=""> -->
                                        </figure>
                                    </div>
                                    <div class="col-md-4">
                                        <figure>
                                            <figcaption class="mb-2"> Dunya</figcaption>
                                            <!-- <img src="..//images/news3.png" class="img-fluid" alt=""> -->
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="heatmap card p-4">
                            <div class="row align-items-start h-auto">
                                <div class="col-md-4">
                                    <div class="iconholder ms-auto mb-2">
                                        <i class="fa-light fa-calendar-plus iconleft"></i>
                                        <input name="" id="datepickerrange" class="form-control flatpickr-input"
                                            placeholder="Date" readonly="readonly" type="text">
                                    </div>
                                    <button class="btn skyBg mb-2">Search</button>
                                    <ul class="list-0">
                                        <li>
                                            <span class="staticon mintBg"></span>Very low Frequency
                                        </li>
                                        <li>
                                            <span class="staticon sunBg"></span>Low frequency
                                        </li>
                                        <li>
                                            <span class="staticon radicalBg"></span>Moderate Frequency
                                        </li>
                                        <li>
                                            <span class="staticon cherryBg"></span>High frequency
                                        </li>
                                        <li>
                                            <span class="staticon berryBg"></span> Negative
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-8">

                                    <div class="text-center">
                                        <!-- <img src="../images/kgraph6.png" class="img-fluid" alt=""> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card iceBg p-4">
                            <h5 class="section-heading mb-4 p-0"> REGIONWISE TRAFFIC</h5>
                            <div>
                                <!-- <img src="../images/kgraph7.png" class="img-fluid" alt=""> -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>