<main class="morinaga-main m-2">
        <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box"
            [fullScreen]="false">
            <p style="color: white"> Loading... </p>
        </ngx-spinner>
    <section class="morinaga-wrapper" *ngIf="feedbackSubmitted == false">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-11">
                    <div class="card mt-5">
                        <div class="card-body p-5 ">
                            <div class="Question">
                                <h3>
                                    Question :1/1</h3>
                            </div>
                            <div class="Services">
                                <h1>
                                    How would you rate our services ?</h1>
                            </div><br>
                            <div class="dissatisfied">
                                <h5>(1 for very dissatisfied - 5 for very satisfied)</h5>
                            </div><br><br>
                            <div class="buttons">

                                <button type="button" class="btn btn-secondary  btn-lg"
                                    (click)="markScore(1)">1</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" class="btn btn-secondary  btn-lg"
                                    (click)="markScore(2)">2</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" class="btn btn-secondary  btn-lg"
                                    (click)="markScore(3)">3</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" class="btn btn-secondary  btn-lg"
                                    (click)="markScore(4)">4</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" class="btn btn-secondary btn-lg"
                                    (click)="markScore(5)">5</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                            <hr>
                            <div class="submitbutton">
                                <button type="button" class="btn btn-primary" (click)="save()">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="morinaga-wrapper afterSubmission" *ngIf="feedbackSubmitted == true">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-11">
                    <div class="card mt-5">
                        <div class="card-body p-5 ">
                            <div class="dissatisfied">
                                <h5>Thanks for the feedback on your experience with our customer support team. We
                                    sincerely appreciate your insights because it helps us build a better customer
                                    experience</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<div class="position-fixed toast-bar border-0 shadow-sm rounded navyBg" style="z-index: 60">
    <div [ngClass]="toastermessage == true ? 'show' : 'hide'" class="toast border-0 p-2 h-100 navyBg fade" role="alert"
        aria-live="assertive" aria-atomic="true">
        <div class="d-flex border-0 justify-content-between align-items-center w-100 h-100">
            <p class="toast-line-para ice m-0">{{AlterMsg}}</p>
            <div class="toast-btn d-flex align-items-center">
                <button type="button" class="btn m-0 ms-2" aria-label="Close" data-bs-dismiss="toast"
                    (click)="closeToaster()"><i class="fal fa-times"></i></button>
            </div>
        </div>
    </div>
</div>