<div class="add-templates console-body-wrapper" data-scrollbar="true" tabindex="-1"
    style="overflow-y:auto; outline: none;">
    <div class="scroll-content">
        <form [formGroup]="messageForm" (ngSubmit)="saveForm()">
            <div class="wider-container pt-3">
                <!-- <div class="text-area-section pb-5">
                    <ckeditor [(ngModel)]="editorContent" [config]="editorConfig" formControlName="text"></ckeditor>
                    <div *ngIf="messageForm.get('text')?.invalid && messageForm.get('text')?.touched"
                        class="invalid-feedback">Text is required.</div>
                </div> -->
                <div class="row">
                    <div class="col-sm-12">
                      <div class="d-flex justify-content-end mb-2">
                        <a class="text-decoration-underline me-2" data-bs-toggle="offcanvas" href="#invitemembers" role="button" aria-controls="invitemembers">
                          Select Parent
                        </a>
                      </div>
                      <div class="floating-item mb-2" *ngIf="this.parentId > 0">
                        <div class="floating-wrap form-floating">
                          <textarea class="form-control" id="parentTextName" placeholder="Selected Parent" readonly
                          formControlName="parentText">
                          </textarea>
                          <label for="parentTextName" class="coal">Parent Response</label>
                        </div>
                      </div>
                      <div class="floating-item">
                        <div class="floating-wrap form-floating">
                          <textarea class="form-control" id="templateName" placeholder="Enter Response"
                                    formControlName="text"
                                    [class.is-invalid]="messageForm.get('text')?.invalid && (messageForm.get('text')?.dirty || messageForm.get('text')?.touched)"
                                    [class.is-valid]="messageForm.get('text')?.valid && (messageForm.get('text')?.dirty || messageForm.get('text')?.touched)">
                          </textarea>
                          <label for="text" class="coal">Response</label>
                          <div class="invalid-feedback" *ngIf="messageForm.get('text')?.errors?.['required']">Response is required.</div>
                        </div>
                      </div>



                    </div>
                  </div>
            </div>
            <footer class="footer">
                <!-- Editor content display section -->
                <div class="content-display fs-5" [innerHTML]="editorContent"></div>
                <div class="ps-3 pe-3">
                    <div class="icon-buttons-wrapper d-flex justify-content-between pt-3 pb-4">
                        <div class="row w-100">
                            <div class="col-md-4">
                                <div class="f-icon-txt-wrapper d-flex align-items-center">
                                    <button class="iconButton medium iconHover" id="deleteModalBtn">
                                        <!-- <i class="fal fa-trash radical"></i> -->
                                    </button>
                                    <!-- <p class="f-icon-txt radical ms-1 m-0">Delete Message</p> -->
                                </div>
                            </div>
                            <div class="col-md-8 justify-content-end d-flex">
                                <div class="buttons-wrap d-flex">
                                    <button type="button" class="btn btn-outline-secondary btn-medium me-2 px-4"
                                        (click)="cancelForm()">Cancel</button>
                                    <button type="submit" class="btn skyBg ms-2 px-4 btn-medium saveBtn"
                                        [disabled]="messageForm.invalid" data-bs-target="">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </form>
    </div>
</div>

<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="invitemembers" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header align-items-center saltBg">
      <h5 id="select-accesspointlabel" class="darkblue fw-bold m-0">Select Parent Response</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
            <div class="searchBar-wrapper mb-2 p-0">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="d-flex align-items-lg-center">
                            <p class="coal m-0">Sort:</p>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle coal" type="button" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <span
                                        [ngClass]="{'fa-solid fa-arrow-up': selectedSortOption === 'Ascending', 'fa fa-arrow-down': selectedSortOption === 'Descending'}"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li>
                                        <a class="dropdown-item" (click)="setSortOption('Ascending')">Ascending</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" (click)="setSortOption('Descending')">Descending</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 d-flex align-items-center justify-content-end">
                        <a class="search-btn">
                            <button class="iconButton medium">
                                <i class="fal fa-search silver"></i>
                            </button>
                            <input [(ngModel)]="searchText" placeholder="Search" class="me-1"
                                (ngModelChange)="searchText ? applySearchFilter() : refreshMessages()">
                        </a>
                    </div>
                </div>
            </div>
            <div class="table-section">
                <table class="table mb-5 align-middle">
                    <thead>
                        <tr>
                            <th>
                                Templates
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let template of messages">
                            <th>
                                <ul class="list-group list-group-flush">
                                    
                                    <li class="list-group-item d-flex justify-content-between align-items-start"
                                        [class.disabled]="template.disabled">
                                        <div class="ms-2 me-auto fw-normal coal">
                                            <a (click)="onParentSelection(template)" data-bs-dismiss="offcanvas"><i class="fa-solid fa-check" *ngIf="template.id == this.parentId"></i> {{ template.text}}</a>
                                        </div>
                                    </li>
  
                                </ul>
                            </th>
                            <th></th>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <nav aria-label="Page navigation example" class="d-flex align-items-center mt-3 mb-3">
                                    <ul class="pagination m-0">
                                        <li class="page-item" (click)="previousPage()">
                                            <a class="page-link">Previous</a>
                                        </li>
                                        <li class="page-item" *ngFor="let pageNumber of getVisiblePageNumbers()"
                                            [class.active]="pageNumber === currentPage">
                                            <a class="page-link" (click)="goToPage(pageNumber)">{{ pageNumber }}</a>
                                        </li>
                                        <li class="page-item" (click)="nextPage()">
                                            <a class="page-link">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </td>
                            <td>
                                <div class="tags-per-page d-flex align-items-center justify-content-end mt-3 mb-3 coal">
                                    Per page
                                    <div class="dropdown simple-dropdown w-auto">
                                        <button class="dropdown-toggle chevron-icon down ps-2 pe-4" type="button"
                                            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            {{ perPage }}
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li>
                                                <a class="dropdown-item" (click)="setPerPage(10)">10</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" (click)="setPerPage(20)">20</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" (click)="setPerPage(30)">30</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
    </div>
  </div>