<div class="container mt-5" style="width: 60%">
  <form [formGroup]="dbSettingsForm">
    <div class="form-group flex-grow-1" style="display: flex; flex-direction: column">
      <div style="position: relative">
        <input
          id="ConnectionName"
          class="form-control"
          formControlName="ConnectionName"
          style="height: 60px; padding-top: 20px"
        />
        <label
          for="ConnectionName"
          style="
            position: absolute;
            top: 2px;
            left: 10px;
            color: #999;
            pointer-events: none;
          "
          >Connection Name</label
        >
      </div>

      <div>
        <ng-select
        
        formControlName="ENGINE"
          style="margin-top: 10px;"
        >
        <ng-option *ngFor="let engine of engineOptions" [value]="engine">
          {{ engine }}
        </ng-option>
        </ng-select>
      </div>

      <div style="position: relative; margin-top: 10px">
        <input
          id="DATABASE"
          class="form-control"
          formControlName="DATABASE"
          style="height: 60px; padding-top: 20px"
        />
        <label
          for="DATABASE"
          style="
            position: absolute;
            top: 2px;
            left: 10px;
            color: #999;
            pointer-events: none;
          "
          >DATABASE NAME</label
        >
      </div>

      <div style="position: relative; margin-top: 10px">
        <input
          id="USER"
          class="form-control"
          formControlName="USER"
          style="height: 60px; padding-top: 20px"
        />
        <label
          for="USER"
          style="
            position: absolute;
            top: 2px;
            left: 10px;
            color: #999;
            pointer-events: none;
          "
          >User</label
        >
      </div>

      <div style="position: relative; margin-top: 10px">
        <input
          type="password"
          id="PASSWORD"
          class="form-control"
          formControlName="PASSWORD"
          style="height: 60px; padding-top: 20px"
        />
        <label
          for="PASSWORD"
          style="
            position: absolute;
            top: 2px;
            left: 10px;
            color: #999;
            pointer-events: none;
          "
          >Password</label
        >
      </div>

      <div style="position: relative; margin-top: 10px">
        <input
          id="HOST"
          class="form-control"
          formControlName="HOST"
          style="height: 60px; padding-top: 20px"
        />
        <label
          for="HOST"
          style="
            position: absolute;
            top: 2px;
            left: 10px;
            color: #999;
            pointer-events: none;
          "
          >Host</label
        >
      </div>

      <div style="position: relative; margin-top: 10px">
        <input
          id="PORT"
          class="form-control"
          formControlName="PORT"
          style="height: 60px; padding-top: 20px"
        />
        <label
          for="PORT"
          style="
            position: absolute;
            top: 2px;
            left: 10px;
            color: #999;
            pointer-events: none;
          "
          >Port</label
        >
      </div>

      <button
        class="btn btn-primary"
        style="margin-top: 20px; margin-left: 5px; width: 100px;"
        type="button"
        (click)="saveSetting()"
        [disabled]="dbSettingsForm.invalid"
      >
        Save
      </button>
    </div>
  </form>
</div>
