
<div class="container mt-5" style="width: 40%;">

  <form [formGroup]="dbSettingsForm">
    <div class="business-detail-wrap">
      <div class="business-detail-wrap">
        <div class="floating-item mb-3">
          <div class="form-floating">
            <ng-select formControlName="ENGINE">
              <ng-option *ngFor="let engine of engineOptions" [value]="engine">
                {{ engine }}
              </ng-option>
            </ng-select>

          </div>
        </div>
      </div>
    </div>
    <div class="business-detail-wrap">
      <div class="business-detail-wrap">
        <div class="floating-item mb-3">
          <div class="form-floating">
            <input
            type="text"
              class="form-control"
              id="floatingInputValue"
              placeholder="Connection Name"
              formControlName="ConnectionName"
            />
            <label for="floatingInputValue">Connection Name</label>
          </div>
        </div>
      </div>
    </div>


    <div class="business-detail-wrap">
      <div class="business-detail-wrap">
        <div class="floating-item mb-3">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="floatingInputDatabase"
              placeholder="Database Name"
              formControlName="DATABASE"
            />
            <label for="floatingInputDatabase">Database Name</label>
          </div>
        </div>
      </div>
    </div>

    <div class="business-detail-wrap">
      <div class="business-detail-wrap">
        <div class="floating-item mb-3">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="floatingInputUser"
              placeholder="User"
              formControlName="USER"
            />
            <label for="floatingInputUser">User</label>
          </div>
        </div>
      </div>
    </div>

    <div class="business-detail-wrap">
      <div class="business-detail-wrap">
        <div class="floating-item mb-3">
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="floatingInputPassword"
              placeholder="Password"
              formControlName="PASSWORD"
            />
            <label for="floatingInputPassword">Password</label>
          </div>
        </div>
      </div>
    </div>

    <div class="business-detail-wrap">
      <div class="business-detail-wrap">
        <div class="floating-item mb-3">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="floatingInputHost"
              placeholder="Host"
              formControlName="HOST"
            />
            <label for="floatingInputHost">Host</label>
          </div>
        </div>
      </div>
    </div>

    <div class="business-detail-wrap">
      <div class="business-detail-wrap">
        <div class="floating-item mb-3">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="floatingInputPort"
              placeholder="Port"
              formControlName="PORT"
            />
            <label for="floatingInputPort">Port</label>
          </div>
        </div>
      </div>
    </div>


      <button
        class="btn btn-primary"
        style="margin-top: 20px; margin-left: 5px; width: 100px;"
        type="button"
        (click)="saveSetting()"
        [disabled]="dbSettingsForm.invalid"
      >
        Save
      </button>

  </form>
</div>
