<div class="social-header-left">
    <div class="header-left d-flex align-items-center">
        <!-- only for KE -->
        <a class="btn iconButton medium iconHover btn-group me-1 back-to-dashboard-btn" type="button"
            (click)="removeAssignedQuery()">
            <i class="fal fa-arrow-left"></i>
        </a>
        <div class="iconButton large" *ngIf="userInfo?.profilePic">
            <img src={{userInfo?.profilePic}} class="rounded-circle w-100">
        </div>
        <!-- <h6 class="avatar-title navy m-0 ms-2">{{userName.split('<')[0]}}</h6> -->
        <h6 class="avatar-title  m-0 ms-2">{{userInfo?.userName}}
            <i *ngIf="userInfo.isVerified == true" class="fa-solid fa-badge-check text-primary"></i>
        </h6>

        <div class="dropdown w-auto">
            <button class="iconButton medium iconHover mx-2 mt-2" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fal fa-ellipsis-v-alt"></i>
            </button>
            <ng-container *ngIf="flag == 'focused' || flag == 'assigned_to_me' || flag == 'follow_up'">
                <ul class="dropdown-menu custom-dropdown medium shadow p-0 mt-2 assignFirstDropdownList"
                    aria-labelledby="dropdownMenuButton1" [ngClass]="showMoreOptions == true?'show':''">
                    <li>
                        <ul>

                            <li>
                                <a class="dropdown-item" (click)="showTeamList()" id="assignToList">
                                    Assign to...
                                </a>
                            </li>
                            <li class="important-option mb-0" *ngFor="let status of profileStatus">
                                <a class="dropdown-item" id="assignToList"
                                    (click)="InsertTagInProfile('black_list', 'Tag', userInfo.id)">
                                    {{status.name}}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="dropdown-menu custom-dropdown medium shadow p-0 mt-2 assignSecondDropdownList"
                    [ngClass]="showAgentsList == true?'show':''" aria-labelledby="dropdownMenuButton2">
                    <div>
                        <ul class="dropdown-listing">
                            <li class="dropdown-listing-header">
                                <div class="head-section">
                                    <div class="left">
                                        <a class="dropdown-item p-1 active dropdownBackBtn iconButton dropdown-iconBtn small active"
                                            (click)="hideTeamList()">
                                            <i class="fal fa-arrow-left silver"></i>
                                        </a>
                                        <h6>Assign to</h6>
                                    </div>
                                    <a class="iconButton dropdown-iconBtn small active dropdownCrossBtn"
                                        (click)="closeTeamList()" id="dropdownMenuButton3" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="fal fa-times silver"></i>
                                    </a>
                                </div>
                                <form class="custom-searchbar">
                                    <input class="form-control rounded-pill shadow-sm" placeholder="Search"
                                        aria-label="Search" [(ngModel)]="searchText">
                                    <span class="btn searchbar-btn" type="submit">
                                        <i class="fal fa-search silver"></i>
                                    </span>
                                </form>
                            </li>
                            <div class="dd-scroll" data-scrollbar="true" tabindex="-1"
                                style="overflow: auto; height: 400px;">
                                <div class="scroll-content">
                                    <li class="list-body small-list">
                                        <div class="list-group list-group-flush">
                                            <a class="list-group-item d-flex level1Btn"
                                                *ngFor="let agent of ActiveAgents | filter:searchText">
                                                <div class="form-check w-100 p-0 theme-check">
                                                    <input class="form-check-input float-end" type="radio"
                                                        [id]="agent.userId" (click)="sendAgentId(agent.userId)">
                                                    <label class="form-check-label coal d-flex align-items-center"
                                                        [for]="agent.userId">
                                                        <!-- <div class="list-down-icon">
                                                            <span class="btn iconButton iconHover medium cherryTransBg">
                                                                AK
                                                            </span>
                                                        </div> -->
                                                        <div class="w-100 list-txt">
                                                            <div class="d-flex w-100 justify-content-between">
                                                                <h6 class="mb-1 darkblue">{{agent.name}}
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </label>
                                                </div>
                                            </a>

                                        </div>
                                    </li>
                                </div>
                            </div>
                            <li class="card-footer">
                                <div class="dropdown-item">
                                    <button type="button" class="btn__theme flex items-center gap-[10px]"
                                        (click)="assignToAnotherAgent()">Assign</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </ul>
            </ng-container>
            <ng-container *ngIf="flag == 'black_list'">
                <ul class="dropdown-menu custom-dropdown medium shadow mt-2 assignFirstDropdownList"
                    aria-labelledby="dropdownMenuButton1" [ngClass]="showMoreOptions == true?'show':''">
                    <li>
                        <ul>
                            <li class="mb-0" *ngFor="let status of profileStatus">
                                <a class="dropdown-item" id="assignToList"
                                    (click)="RemoveTagInProfile('black_list', 'Tag', userInfo.id)">
                                    {{'Un'+ status.name.toLowerCase() }}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </ng-container>
        </div>

        <div class="social-wrapper d-flex align-items-center mx-2">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-original-title="facebook" *ngIf="activeChannel == 'Facebook'">
                    <button [class.active]="activeChannel == 'Facebook'"
                        class="nav-link iconButton medium btn iconHover notification facebook " id="facebook-tab"
                        data-bs-toggle="tab" data-bs-target="#facebook" type="button" role="tab"
                        aria-controls="facebook" aria-selected="true" (click)="updatevalue(facebookId, 'Facebook')">
                        <i class="fab fa-facebook-f coal"></i>
                        <span class="badge badge-pill badge-dark"
                            *ngIf="unrespondedCount > 0">{{unrespondedCount}}</span>
                    </button>
                </li>
                <li class="nav-item" role="presentation" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-original-title="Whatsapp" *ngIf="activeChannel == 'WhatsApp'">
                    <button [class.active]="activeChannel == 'WhatsApp'"
                        class="nav-link iconButton medium btn iconHover notification whatsapp" id="whatsapp-tab"
                        data-bs-toggle="tab" data-bs-target="#whatsapp" type="button" role="tab"
                        aria-controls="whatsapp" aria-selected="false" (click)="updatevalue(whatsappId, 'WhatsApp')">
                        <i class="fab fa-whatsapp coal"></i>
                        <span class="badge badge-pill badge-dark"
                            *ngIf="unrespondedCount > 0">{{unrespondedCount}}</span>
                    </button>
                </li>
                <li class="nav-item selector_nav_item" role="presentation" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" data-bs-original-title="WebChat" *ngIf="activeChannel == 'WebChat'">
                    <button [class.active]="activeChannel == 'WebChat'"
                        class="nav-link iconButton medium btn notification iconHover webchat" id="webChat-tab"
                        data-bs-toggle="tab" data-bs-target="#webChat" type="button" role="tab" aria-controls="webChat"
                        aria-selected="false" tabindex="-1" (click)="updatevalue(webChatId, 'WebChat')">
                        <i class="fal fa-comments-alt coal"></i>
                        <span class="badge badge-pill badge-dark"
                            *ngIf="unrespondedCount > 0">{{unrespondedCount}}</span>
                    </button>
                </li>
                <li class="nav-item selector_nav_item" role="presentation" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" data-bs-original-title="SMS/Text" *ngIf="activeChannel == 'SMS'">
                    <button [class.active]="activeChannel == 'SMS'"
                        class="nav-link iconButton medium btn iconHover notification sms" id="sms-tab"
                        data-bs-toggle="tab" data-bs-target="#sms" type="button" role="tab" aria-controls="sms"
                        aria-selected="false" (click)="updatevalue(smsId, 'SMS')">
                        <i class="fal fa-comment-alt-lines coal"></i>
                        <span class="badge badge-pill badge-dark"
                            *ngIf="unrespondedCount > 0">{{unrespondedCount}}</span>
                    </button>
                </li>

                <li class="nav-item selector_nav_item" role="presentation" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" data-bs-original-title="Insta" *ngIf="activeChannel == 'Instagram'">
                    <button [class.active]="activeChannel == 'Instagram'"
                        class="nav-link iconButton medium btn iconHover notification insta" id="insta-tab"
                        data-bs-toggle="tab" data-bs-target="#insta" type="button" role="tab" aria-controls="insta"
                        aria-selected="false" (click)="updatevalue(instagramId, 'Instagram')">
                        <span class="badge badge-pill badge-dark"
                            *ngIf="unrespondedCount > 0">{{unrespondedCount}}</span>
                        <i class="fab fa-instagram"></i>
                    </button>
                </li>
                <li class="nav-item selector_nav_item" role="presentation" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" data-bs-original-title="Twitter" *ngIf="activeChannel == 'Twitter'">
                    <button [class.active]="activeChannel == 'Twitter'"
                        class="nav-link iconButton medium btn iconHover notification twitter" id="twitter-tab"
                        data-bs-toggle="tab" data-bs-target="#twitter" type="button" role="tab" aria-controls="insta"
                        aria-selected="false" (click)="updatevalue(twitterId, 'Twitter')">
                        <i class="fab fa-twitter"></i>
                        <span class="badge badge-pill badge-dark"
                            *ngIf="unrespondedCount > 0">{{unrespondedCount}}</span>
                    </button>
                </li>
                <li class="nav-item selector_nav_item" role="presentation" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" data-bs-original-title="Phone" *ngIf="activeChannel == 'Phone'">
                    <button [class.active]="activeChannel == 'Phone'"
                        class="nav-link iconButton medium btn iconHover notification phone" id="phone-tab"
                        data-bs-toggle="tab" data-bs-target="#phone" type="button" role="tab" aria-controls="phone"
                        aria-selected="false" (click)="updatevalue(phoneId, 'Phone')">
                        <i class="fas fa-phone-alt"></i>
                    </button>
                </li>
                <li class="nav-item" role="presentation" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-original-title="Email" *ngIf="activeChannel == 'Email' || activeChannel == 'OfficeEmail'">
                    <button [class.active]="activeChannel == 'Email' || activeChannel == 'OfficeEmail'"
                        class="nav-link iconButton medium btn iconHover notification email" id="emails-tab"
                        data-bs-toggle="tab" data-bs-target="#emails" type="button" role="tab" aria-controls="emails"
                        aria-selected="false" tabindex="-1" (click)="updatevalue(emailId, 'Email')">
                        <i class="fal fa-envelope coal"></i>
                        <span class="badge badge-pill badge-dark"
                            *ngIf="unrespondedCount > 0">{{unrespondedCount}}</span>
                    </button>
                </li>
                <li class="nav-item" role="presentation" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-original-title="linkedin" *ngIf="activeChannel == 'LinkedIn'">
                    <button [class.active]="activeChannel == 'LinkedIn'"
                        class="nav-link iconButton medium btn iconHover notification linkedin" id="linkedin-tab"
                        data-bs-toggle="tab" data-bs-target="#linkedin" type="button" role="tab"
                        aria-controls="linkedin" aria-selected="false" tabindex="-1"
                        (click)="updatevalue(linkedInId, 'LinkedIn')">
                        <i class="fa-brands fa-linkedin-in"></i>
                        <span class="badge badge-pill badge-dark"
                            *ngIf="unrespondedCount > 0">{{unrespondedCount}}</span>
                    </button>
                </li>
                <li class="nav-item" role="presentation" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-original-title="googleplay" *ngIf="activeChannel == 'PlayStore'">
                    <button class="nav-link iconButton medium btn iconHover notification googleplay"
                        [class.active]="activeChannel == 'PlayStore'" id="googleplay-tab" data-bs-toggle="tab"
                        data-bs-target="#googleplay" type="button" role="tab" aria-controls="googleplay"
                        aria-selected="false" tabindex="-1" (click)="updatevalue(playStoreId, 'PlayStore')">
                        <i class="fa-brands fa-google-play"></i>
                    </button>
                </li>
                <li class="nav-item" role="presentation" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-original-title="Youtube" *ngIf="activeChannel == 'Youtube'">
                    <button [class.active]="activeChannel == 'Youtube'"
                        class="nav-link iconButton medium btn iconHover notification youtube" id="youtube-tab"
                        data-bs-toggle="tab" data-bs-target="#youtube" type="button" role="tab" aria-controls="youtube"
                        aria-selected="false" tabindex="-1" (click)="updatevalue(youtubeId, 'Youtube')">
                        <i class="fab fa-youtube"></i>
                        <span class="badge badge-pill badge-dark"
                            *ngIf="unrespondedCount > 0">{{unrespondedCount}}</span>
                    </button>
                </li>
            </ul>
        </div>
        <div class="dropdown borderDropdown w-auto markAs-dropdown"
            *ngIf="flag == 'focused' || flag == 'assigned_to_me' || flag == 'follow_up'">
            <a class="btn " role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">
                <div class="dropdown-title">Mark As <i class="fa-light fa-angle-down"></i></div>
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li *ngFor="let status of finalStatus">
                    <a class="dropdown-item" id="assignToList" (click)="completeQuery(status.slug)">
                        {{status.name}}
                    </a>
                </li>
                <!-- <li *ngIf="this.teamPermissions.priviledge.includes('__qrycndrft__')">
                    <a class="dropdown-item mark-as-draftbtn" (click)="minimizeChat()">Draft</a>
                </li> -->
                <!-- <li>
                    <a class="dropdown-item" (click)="markAllAsRead()">Read All</a>
                </li> 
                <li>
                    <a class="dropdown-item" (click)="markAsComplete()">Save</a>
                </li> -->
            </ul>
        </div>
    </div>
</div>
<div class="position-fixed toast-bar border-0 shadow-sm rounded navyBg" style="z-index: 999999">
    <div [ngClass]="toastermessage == true ? 'show' : 'hide'" class="toast border-0 p-2 h-100 navyBg fade" role="alert"
        aria-live="assertive" aria-atomic="true">
        <div class="d-flex border-0 justify-content-between align-items-center w-100 h-100">
            <p class="toast-line-para ice m-0">{{AlterMsg}}</p>
            <div class="toast-btn d-flex align-items-center">

                <button type="button" class="btn m-0 ms-2" aria-label="Close" data-bs-dismiss="toast"
                    (click)="closeToaster()"><i class="fal fa-times"></i></button>

            </div>
        </div>
    </div>
</div>