<main>
  <div class="main-wrapper d-flex">
    <main-menu></main-menu>

    <nav
      id="left-sidebar-expand"
      class="conversation-list all-conversation"
      [ngClass]="toggleLeftBar ? 'toggled' : ''"
    >
      <bot-menu></bot-menu>
      <a class="panelToggle" (click)="toggleSubLeftBar()"></a>
    </nav>
    <div class="middle-wrapper d-flex w-100 flex-column">
      <bot-header></bot-header>
      <div class="content-box-wrapper d-flex w-100">
        <div class="middle-content d-flex">
          <div class="page-content-wrapper social">
            <ng-content></ng-content>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
