<div class="team-user-wrap console-body-wrapper" data-scrollbar="true" tabindex="-1" style="overflow-y: auto; outline: none;"><div class="scroll-content">
    <div class="wider-container pt-3">
        <header class="tab-header">
            <nav>
                <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="user-tab" data-bs-toggle="tab" data-bs-target="#nav-user" type="button" role="tab" aria-controls="nav-user" aria-selected="false">
                        <h6>Contacts
                    </h6>
                    </button>

                </div>
            </nav>
        </header>
        <div class="tab-body">
            <div class="tab-content" id="nav-tabContent">
                <!-- User Tab Section -->
                <div id="nav-user" class="tab-pane fade active show" role="tabpanel" aria-labelledby="user-tab">
                    <div class="searchBar-wrapper mb-4">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="d-flex align-items-lg-center">
                                    <p class="coal m-0">Status:</p>
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle coal" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        All
                                    </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li>
                                                <a class="dropdown-item" >Ascending</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" >Descending</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" >Roles</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" >Teams</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 d-flex align-items-center justify-content-end">
                                <!-- <a href="javascript:" class="search-btn">
                                <button class="iconButton medium">
                                    <i class="fal fa-search silver"></i>
                                </button>
                                <input type="text" placeholder="Search">
                            </a> -->
                                <a (click)="updatevalue('consoleCreateContactHeader')" [routerLink]="['/console/console-contacts:create-contact']" class="ms-2">
                                    <button type="button" class="btn btn-success">
                                        <i class="fal fa-plus me-2"></i>
                                    Create Contact
                                </button>
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="list-group-section pt-3 pe-3">
                        <div class="list-group list-group-flush">
                            <a (click)="updatevalue('consoleUserDetailsHeader')" [routerLink]="['/console/console-contacts:user-details']" class="list-group-item d-flex contact-user" value="Amin Khan">
                                <div class="list-down-icon">
                                    <div class="iconButton medium mintBg me-3">
                                        AK
                                    </div>
                                </div>
                                <div class="w-100 list-txt d-flex">
                                    <div class="w-100">
                                        <h6 class="mb-1 darkblue">Amin Khan
                                        </h6>
                                        <p class="mb-1 coal">amin.khan@gmail.com</p>
                                    </div>

                                    <div class="icons-list d-flex">
                                        <span type="button" class="iconButton iconHover medium btn rounded-circle">
                                            <i class="fal fa-envelope"></i>
                                        </span>
                                        <span type="button" class="iconButton iconHover medium btn rounded-circle">
                                            <i class="fal fa-ellipsis-v-alt"></i>
                                        </span>
                                    </div>
                                </div>
                            </a>
                            <a class="list-group-item d-flex contact-user" value="Aniqa Khan">
                                <div class="list-down-icon avatar medium me-3">
                                    <img src="../../../../../assets/images/avatar-18.png" alt="...">
                                </div>
                                <div class="w-100 list-txt d-flex">
                                    <div class="w-100">
                                        <h6 class="mb-1 darkblue">Aniqa Khan
                                        </h6>
                                        <p class="mb-1 coal">aniqa@gmail.com</p>
                                    </div>

                                    <div class="icons-list d-flex">
                                        <span type="button" class="iconButton iconHover medium btn rounded-circle">
                                            <i class="fal fa-envelope"></i>
                                        </span>
                                        <span type="button" class="iconButton iconHover medium btn rounded-circle">
                                            <i class="fal fa-ellipsis-v-alt"></i>
                                        </span>
                                    </div>
                                </div>
                            </a>
                            <a class="list-group-item d-flex contact-user" value="Bilal Ali">
                                <div class="list-down-icon">
                                    <div class="iconButton medium berryBg me-3">
                                        BA
                                    </div>
                                </div>
                                <div class="w-100 list-txt d-flex">
                                    <div class="w-100">
                                        <h6 class="mb-1 darkblue">Bilal Ali
                                        </h6>
                                        <p class="mb-1 coal">bilal.ali@gmail.com</p>
                                    </div>

                                    <div class="icons-list d-flex">
                                        <span type="button" class="iconButton iconHover medium btn rounded-circle">
                                            <i class="fal fa-envelope"></i>
                                        </span>
                                        <span type="button" class="iconButton iconHover medium btn rounded-circle">
                                            <i class="fal fa-ellipsis-v-alt"></i>
                                        </span>
                                    </div>
                                </div>
                            </a>
                            <a class="list-group-item d-flex contact-user" value="Jawad Khan">
                                <div class="list-down-icon avatar medium me-3">
                                    <img src="../../../../../assets/images/avatar-16.jpg" alt="...">
                                </div>
                                <div class="w-100 list-txt d-flex">
                                    <div class="w-100">
                                        <h6 class="mb-1 darkblue">Jawad Khan
                                        </h6>
                                        <p class="mb-1 coal">jawadkhan@gmail.com</p>
                                    </div>

                                    <div class="icons-list d-flex">
                                        <span type="button" class="iconButton iconHover medium btn rounded-circle">
                                            <i class="fal fa-envelope"></i>
                                        </span>
                                        <span type="button" class="iconButton iconHover medium btn rounded-circle">
                                            <i class="fal fa-ellipsis-v-alt"></i>
                                        </span>
                                    </div>
                                </div>
                            </a>
                            <a class="list-group-item d-flex contact-user" value="Sana Khan">
                                <div class="list-down-icon">
                                    <div class="iconButton medium mintBg me-3">
                                        SK
                                    </div>
                                </div>
                                <div class="w-100 list-txt d-flex">
                                    <div class="w-100">
                                        <h6 class="mb-1 darkblue">Sana Khan
                                        </h6>
                                        <p class="mb-1 coal">sana.khan@gmail.com</p>
                                    </div>

                                    <div class="icons-list d-flex">
                                        <span type="button" class="iconButton iconHover medium btn rounded-circle">
                                            <i class="fal fa-envelope"></i>
                                        </span>
                                        <span type="button" class="iconButton iconHover medium btn rounded-circle">
                                            <i class="fal fa-ellipsis-v-alt"></i>
                                        </span>
                                    </div>
                                </div>
                            </a>
                            <a class="list-group-item d-flex contact-user" value="Tabish Ali">
                                <div class="list-down-icon">
                                    <div class="iconButton medium cherryBg me-3">
                                        TA
                                    </div>
                                </div>
                                <div class="w-100 list-txt d-flex">
                                    <div class="w-100">
                                        <h6 class="mb-1 darkblue">Tabish Ali
                                        </h6>
                                        <p class="mb-1 coal">tabish.ali@gmail.com</p>
                                    </div>

                                    <div class="icons-list d-flex">
                                        <span type="button" class="iconButton iconHover medium btn rounded-circle">
                                            <i class="fal fa-envelope"></i>
                                        </span>
                                        <span type="button" class="iconButton iconHover medium btn rounded-circle">
                                            <i class="fal fa-ellipsis-v-alt"></i>
                                        </span>
                                    </div>
                                </div>
                            </a>
                            <a class="list-group-item d-flex contact-user" value="Talha Iqbal">
                                <div class="list-down-icon avatar medium me-3">
                                    <img src="../../../../../assets/images/avatar-3.jpg" alt="...">
                                </div>
                                <div class="w-100 list-txt d-flex">
                                    <div class="w-100">
                                        <h6 class="mb-1 darkblue">Talha Iqbal
                                        </h6>
                                        <p class="mb-1 coal">talhaiqbal@gmail.com</p>
                                    </div>

                                    <div class="icons-list d-flex">
                                        <span type="button" class="iconButton iconHover medium btn rounded-circle">
                                            <i class="fal fa-envelope"></i>
                                        </span>
                                        <span type="button" class="iconButton iconHover medium btn rounded-circle">
                                            <i class="fal fa-ellipsis-v-alt"></i>
                                        </span>
                                    </div>
                                </div>
                            </a>
                            <a class="list-group-item d-flex contact-user" value="Umair Khan">
                                <div class="list-down-icon avatar medium me-3">
                                    <img src="../../../../../assets/images/avatar-2.jpg" alt="...">
                                </div>
                                <div class="w-100 list-txt d-flex">
                                    <div class="w-100">
                                        <h6 class="mb-1 darkblue">Umair Khan
                                        </h6>
                                        <p class="mb-1 coal">umairkhan@gmail.com</p>
                                    </div>

                                    <div class="icons-list d-flex">
                                        <span type="button" class="iconButton iconHover medium btn rounded-circle">
                                            <i class="fal fa-envelope"></i>
                                        </span>
                                        <span type="button" class="iconButton iconHover medium btn rounded-circle">
                                            <i class="fal fa-ellipsis-v-alt"></i>
                                        </span>
                                    </div>
                                </div>
                            </a>
                            <a class="list-group-item d-flex contact-user" value="Uroosa Ahmed">
                                <div class="list-down-icon">
                                    <div class="iconButton medium berryBg me-3">
                                        UA
                                    </div>
                                </div>
                                <div class="w-100 list-txt d-flex">
                                    <div class="w-100">
                                        <h6 class="mb-1 darkblue">Uroosa Ahmed
                                        </h6>
                                        <p class="mb-1 coal">uroosaahmed@gmail.com</p>
                                    </div>

                                    <div class="icons-list d-flex">
                                        <span type="button" class="iconButton iconHover medium btn rounded-circle">
                                            <i class="fal fa-envelope"></i>
                                        </span>
                                        <span type="button" class="iconButton iconHover medium btn rounded-circle">
                                            <i class="fal fa-ellipsis-v-alt"></i>
                                        </span>
                                    </div>
                                </div>
                            </a>
                            <a class="list-group-item d-flex contact-user" value="Zara Khan">
                                <div class="list-down-icon avatar medium me-3">
                                    <img src="../../../../../assets/images/avatar-18.png" alt="...">
                                </div>
                                <div class="w-100 list-txt d-flex">
                                    <div class="w-100">
                                        <h6 class="mb-1 darkblue">Zara Khan
                                        </h6>
                                        <p class="mb-1 coal">zarakhan@gmail.com</p>
                                    </div>

                                    <div class="icons-list d-flex">
                                        <span type="button" class="iconButton iconHover medium btn rounded-circle">
                                            <i class="fal fa-envelope"></i>
                                        </span>
                                        <span type="button" class="iconButton iconHover medium btn rounded-circle">
                                            <i class="fal fa-ellipsis-v-alt"></i>
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                

            </div>
        </div>
    </div>
</div>
<!-- <div class="scrollbar-track scrollbar-track-x" style="display: none;">
    <div class="scrollbar-thumb scrollbar-thumb-x" style="width: 1560px; transform: translate3d(0px, 0px, 0px);"></div>
</div>
<div class="scrollbar-track scrollbar-track-y" style="display: block;">
    <div class="scrollbar-thumb scrollbar-thumb-y" style="height: 280.896px; transform: translate3d(0px, 0px, 0px);">
    </div>
</div> -->
</div>