<div class="create-business-hour console-body-wrapper" data-scrollbar="true" tabindex="-1"
    style="overflow-y:auto; outline: none;">
    <div class="scroll-content">
        <form [formGroup]="messageForm" (ngSubmit)=" onSubmit()">
            <div class="wider-container pt-3">
                <div class="tab-header">
                    <nav>
                        <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="holiday-detail-tab" data-bs-toggle="tab"
                                data-bs-target="#holiday-detail" type="button" role="tab" aria-controls="holiday-detail"
                                aria-selected="true">
                                <h6>Details
                                </h6>
                            </button>
                            <button class="nav-link" id="business-hour-tab" data-bs-toggle="tab"
                                data-bs-target="#business-hour" type="button" role="tab" aria-controls="business-hour"
                                aria-selected="false" tabindex="-1">
                                <h6>Business Hours
                                </h6>
                            </button>
                            <!-- <button class="nav-link" id="holiday-tab" data-bs-toggle="tab" data-bs-target="#holiday-sec"
                                type="button" role="tab" aria-controls="holiday-sec" aria-selected="false"
                                tabindex="-1">
                                <h6>Holiday
                                </h6>
                            </button> -->
                        </div>
                    </nav>
                </div>
                <div class="tab-body">
                    <div class="tab-content" id="nav-tabContent">
                        <div id="holiday-detail" class="tab-pane fade active show" role="tabpanel"
                            aria-labelledby="holiday-detail-tab">
                            <div class="business-detail-wrap">
                                <div class="floating-item mb-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="businessName"
                                            placeholder="Business Name" formControlName="templateName"
                                            [ngClass]="{'is-valid': messageForm.get('templateName')?.valid, 'is-invalid': messageForm.get('templateName')?.invalid && (messageForm.get('templateName')?.dirty || messageForm.get('templateName')?.touched)}">
                                        <label for="businessName">Business Name</label>
                                        <span
                                            *ngIf="messageForm.get('templateName')?.invalid && (messageForm.get('templateName')?.dirty || messageForm.get('templateName')?.touched)"
                                            class="invalid-feedback">Only alphabets are allowed.</span>
                                        <span *ngIf="messageForm.get('templateName')?.valid" class="success-icon">
                                            <!-- <i class="fa fa-check-circle"></i> -->
                                        </span>
                                    </div>
                                </div>
                                <div class="floating-item mb-4">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Leave a comment here"
                                            id="description" style="height: 100px" formControlName="description"
                                            [ngClass]="{'is-valid': messageForm.get('description')?.valid, 'is-invalid': messageForm.get('description')?.invalid && (messageForm.get('description')?.dirty || messageForm.get('description')?.touched)}"></textarea>
                                        <label for="description">Description</label>
                                        <span
                                            *ngIf="messageForm.get('description')?.invalid && (messageForm.get('description')?.dirty || messageForm.get('description')?.touched)"
                                            class="invalid-feedback">Description is required.</span>
                                        <span *ngIf="messageForm.get('description')?.valid" class="success-icon">
                                            <!-- <i class="fa fa-check-circle"></i> -->
                                        </span>
                                    </div>
                                </div>
                                <div class="floating-item mb-4">
                                    <div class="form-floating mb-2">
                                        <select class="form-select multi-select" aria-label="Floating label select"
                                            formControlName="timeZone"
                                            [ngClass]="{'is-valid': messageForm.get('timeZone')?.valid, 'is-invalid': messageForm.get('timeZone')?.invalid && (messageForm.get('timeZone')?.dirty || messageForm.get('timeZone')?.touched)}">
                                            <option disabled selected>Select Time zone</option>
                                            <option value="(GMT+09:00) Karachi">(GMT+09:00) Karachi</option>
                                            <option value="(GMT+03:00) Lahore">(GMT+03:00) Lahore</option>
                                            <option value="(GMT+05:00) Peshawar">(GMT+05:00) Peshawar</option>
                                            <option value="(GMT+06:00) Islamabad">(GMT+06:00) Islamabad</option>
                                        </select>
                                        <label for="timeZone">Time zone</label>
                                        <span
                                            *ngIf="messageForm.get('timeZone')?.invalid && (messageForm.get('timeZone')?.dirty || messageForm.get('timeZone')?.touched)"
                                            class="invalid-feedback">Time zone is required.</span>
                                        <span *ngIf="messageForm.get('timeZone')?.valid" class="success-icon">
                                            <!-- <i class="fa fa-check-circle"></i> -->
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="business-hour" class="tab-pane fade" role="tabpanel"
                            aria-labelledby="business-hour-tab">
                            <div class="bussiness-hour-wrap ps-5 pe-5">
                                <div class="choose-assignment-section mb-5">
                                    <h5 class="darkblue mb-4 mt-5">Choose an assignment mode</h5>
                                    <div class="business-hour-list">
                                        <div class="form-check mb-3">
                                            <input class="form-check-input" type="radio" name="exampleRadios"
                                                id="exampleRadios1" [value]="true" formControlName="roundTheClock"
                                                (click)="showhideWorkingDays(false)">
                                            <div class="ms-2 me-auto silver lh-sm">
                                                <div class="fw-bold darkblue mb-1">24 hrs x 7 days</div>
                                                Round the clock support
                                            </div>
                                        </div>
                                        <div class="form-check mb-3">
                                            <input class="form-check-input" type="radio" name="exampleRadios"
                                                id="exampleRadios2" [value]="false" formControlName="roundTheClock"
                                                (click)="showhideWorkingDays(true)">
                                            <div class="ms-2 me-auto silver lh-sm">
                                                <div class="fw-bold darkblue mb-1">Custom business hours</div>
                                                Setup custom working hours for your team
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rounded-tab-nav mb-4" *ngIf="showWorkingDaysSection">
                                    <h5 class="darkblue mb-4 mt-5">Select the working days</h5>
                                    <div class="rounded-tab-nav d-flex">
                                        <div *ngFor="let day of daysOfWeek"
                                            class="border-0 nav-link p-0 pe-2 rounded-tab-btn">
                                            <button type="button"
                                                class="btn btn-outline-secondary rounded-pill shadow-sm ps-3 pe-3 btn-sm"
                                                [ngClass]="{'selected-day': isDaySelected(day)}"
                                                formControlName="workingDay" (click)="addBusinessWorkingDay(day)">
                                                {{ day }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="working-days-section" *ngIf="showWorkingDaysSection">
                                    <div class="selected-working-head">
                                        <h5 class="darkblue mb-4 mt-5">{{ getSelectedDaysCount() }} days selected</h5>
                                        <p class="coal">
                                            Enter the working hours</p>
                                    </div>
                                    <div class="select-day-list mt-3" formArrayName="businessWorkingDays">
                                        <div *ngFor="let item of BusinessControls.controls let i = index"
                                            class="select-day-item mb-3">
                                            <div class="row" [formGroupName]="i">
                                                <div class="col-lg-3 mt-2">
                                                    {{getValueByIndex(i)}}
                                                </div>
                                                <div class="col-lg-5">
                                                    <div class="set-time ms-1 me-1">
                                                        <select class="form-select ms-2" name="time-from" tabindex="-1"
                                                            aria-hidden="true" formControlName="shiftStart">
                                                            <option value="" selected disabled>Select Shift Start
                                                            </option>
                                                            <option *ngFor="let time of shiftTiming" [value]="time">
                                                                {{ time }}</option>
                                                        </select>
                                                        <button class="iconButton medium snowBg">
                                                            <i class="fal fa-arrow-right coal"></i>
                                                        </button>
                                                        <select class="form-select" name="time-to" tabindex="-1"
                                                            aria-hidden="true" formControlName="shiftEnd">
                                                            <option value="" selected disabled>Select Shift End</option>
                                                            <option *ngFor="let time of shiftTiming" [value]="time">{{
                                                                time }}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="icon-anchor-wrap blue sky d-flex align-items-center">
                                                        <button class="iconButton medium ms-2">
                                                            <i class="fal fa-copy"></i>
                                                        </button>
                                                        <a (click)="copyToAll(item?.value)">Copy to all</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer">
                    <div class="ps-3 pe-3">
                        <div class="icon-buttons-wrapper d-flex justify-content-between pt-3 pb-4">
                            <div class="row w-100">
                                <div class="col-md-4">
                                    <div class="f-icon-txt-wrapper d-flex align-items-center">
                                    </div>
                                </div>
                                <div class="col-md-8 justify-content-end d-flex">
                                    <div class="buttons-wrap d-flex">                                        
                                        <button type="button" class="btn btn-outline-secondary btn-medium me-2" style ="font-size: 14px !important; background-color: white !important; color:black !important; min-width:100px !important;"
                                            (click)="cancelForm()">Cancel</button>
                                        <button type="submit" class="btn__theme flex items-center ms-2 px-4 btn-medium saveBtn" style ="font-size: 14px !important;"
                                            data-bs-target="">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </form>
    </div>
</div>