.linetext {
    display: flex;
    align-items: center;
}
.enteract-gradient {
    background-image: -webkit-linear-gradient(6deg,#fa8e6f,#f6428b);
    background-image: -webkit-linear-gradient(84deg,#fa8e6f,#f6428b);
    background-image: linear-gradient(6deg,#fa8e6f,#f6428b);
  }