<main class="morinaga-main m-2">
    <section class="morinaga-wrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-11">
                    <div class="card mt-5">
                        <div class="card-body p-5 ">  
                             <div class="Question">
                                <h3 > 
                                    Question :1/1</h3>
                             </div>
                             <div class="Services">
                                <h1 >
                                    How would you rate our services ?</h1>
                             </div><br>
                             <div class="dissatisfied">
                                 <h5>(1 for very dissatisfied -5 for very satisfied)</h5>
                             </div><br><br>
                             <form [formGroup]="servicesForm" (ngSubmit)="save()">
                                <!-- <div class="holder">
                                    <ul class="optionlist">
                                        <li class="customradio" (click)="markScore(1)" role="button">
                                            <input type="radio" id="1" name="radio-group" class="radio">
                                            <label for="1"><span>1</span> </label>
                                        </li>
                                        <li class="customradio" (click)="markScore(2)" role="button">
                                            <input type="radio" id="2" name="radio-group">
                                            <label for="2"><span>2</span></label>
                                        </li>
                                        <li class="customradio" (click)="markScore(3)" role="button">
                                            <input type="radio" id="3" name="radio-group">
                                            <label for="3"><span>3</span> </label>
                                        </li>
                                        <li class="customradio" (click)="markScore(4)" role="button">
                                            <input type="radio" id="4" name="radio-group">
                                            <label for="4"><span> 4</span></label>
                                        </li>
                                        <li class="customradio" (click)="markScore(5)" role="button">
                                            <input type="radio" id="5" name="radio-group">
                                            <label for="5"> <span>5</span></label>
                                        </li>
                                    </ul>
                                    <div class="info">
                                        <span>Very dissatisfied</span>
                                        <span>Very satisfied</span>
                                    </div>
                                </div> -->
                               <div class="buttons" >
                             
                             <button type="button" class="btn btn-secondary  btn-lg" (click)="markScore(1)">1</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" class="btn btn-secondary  btn-lg" (click)="markScore(2)">2</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" class="btn btn-secondary  btn-lg" (click)="markScore(3)">3</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" class="btn btn-secondary  btn-lg" (click)="markScore(4)">4</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                                 <button type="button" class="btn btn-secondary btn-lg" (click)="markScore(5)">5</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                                  <button type="button" class="btn btn-secondary  btn-lg" (click)="markScore(6)">6</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                               </div>
                               <!-- <div *ngFor="let num of numbers">
                                  <button class="btn btn-secondary" [(ngModel)]="value">{{num}}</button>
                               </div> -->
                               <hr>
                                <div class="submitbutton">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                             </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>