<div class="rightbarNav dashboard">
  <div class="navUpper">
      <div (click)="toggle('sentiment-analysis')" class="rightbar-btn-group panelToggle" value="contacts-rightbar-dashboard">
          <button class="iconButton btn medium iconHover" data-bs-toggle="tooltip" data-bs-placement="left" title="" data-bs-original-title="Contacts">
              <i class="fal fa-address-book"></i>
          </button>
      </div>
      <div (click)="toggle('chat')" class="rightbar-btn-group panelToggle" value="contacts-rightbar-dashboard">
        <button class="iconButton btn medium iconHover" data-bs-toggle="tooltip" data-bs-placement="left" title="" data-bs-original-title="Contacts">
            <i class="fal fa-address-book"></i>
        </button>
    </div>
  </div>

</div>
