// // Custom Theming for Angular Material
// // For more information: https://material.angular.io/guide/theming
// @use '@angular/material' as mat;
// // Plus imports for other components in your app.
// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// @include mat.core();
// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $Enteract.Engage2.0-primary: mat.define-palette(mat.$indigo-palette);
// $Enteract.Engage2.0-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// // The warn palette is optional (defaults to red).
// $Enteract.Engage2.0-warn: mat.define-palette(mat.$red-palette);
// // Create the theme object. A theme consists of configurations for individual
// // theming systems such as "color" or "typography".
// $Enteract.Engage2.0-theme: mat.define-light-theme((
//   color: (
//     primary: $Enteract.Engage2.0-primary,
//     accent: $Enteract.Engage2.0-accent,
//     warn: $Enteract.Engage2.0-warn,
//   )
// ));
// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include mat.all-component-themes($Enteract.Engage2.0-theme);
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./assets/tailwind/globals";
@import "./assets/tailwind/_common.scss";
@import "./assets/tailwind/_fonts.scss";
@import "./assets/tailwind/_variables.scss";
@import "./assets/tailwind/_layout.scss";
@import "./assets/tailwind/_auth.scss";
@import "./assets/scss/base/typography";
@import "./assets/scss/base/base.scss";
@import "../node_modules/bootstrap/scss/functions";
@import "./assets/SCSS/_bootstrap-variables.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";
@import "../node_modules/bootstrap/scss/_mixins.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/select2/src/scss/core.scss";
//colors
@import "./assets/SCSS/colors/_colors.scss";
@import "./assets/SCSS/colors/_colors-classes.scss";
//bot-monitoring
@import "./assets/SCSS/components/bot-monitoring.scss";
//Typography
@import "./assets/SCSS/base/_typography.scss";
//Mixins
@import "./assets/SCSS/mixins/mixins.scss";
//Base
@import "./assets/SCSS/base/base.scss";
//Layouts
@import "assets/SCSS/layouts/header.scss";
@import "./assets/SCSS/layouts/footer.scss";
@import "./assets/SCSS/layouts/search-bar.scss";
//Components
@import "./assets/SCSS/components/avatar.scss";
@import "./assets/SCSS/components/breadcrumb.scss";
@import "./assets/SCSS/components/bootstrap-classes.scss";
@import "./assets/SCSS/components/bootstrap-variables.scss";
@import "./assets/SCSS/components/buttons.scss";
@import "./assets/SCSS/components/carousel.scss";
@import "./assets/SCSS/components/dropdown.scss";
@import "./assets/SCSS/components/right-side-bar.scss";
@import "./assets/SCSS/components/leftbar.scss";
@import "./assets/SCSS/components/rightbar.scss";
@import "./assets/SCSS/components/modal.scss";
@import "./assets/SCSS/components/sidebar.scss";
@import "./assets/SCSS/components/select2.scss";
@import "./assets/SCSS/components/toast.scss";
@import "./assets/SCSS/components/off-canvas.scss";
@import "./assets/SCSS/components/list.scss";
@import "./assets/SCSS/components/table.scss";
@import "./assets/SCSS/components/toggle-wrap.scss";
@import "./assets/SCSS/components/bootstrap-classes.scss";
@import "./assets/SCSS/components/chat-message.scss";
@import "./assets/SCSS/components/tooltip.scss";
@import "./assets/SCSS/components/searchbar.scss";
@import "./assets/SCSS/components/carousel.scss";
@import "./assets/SCSS/components/facebook-reactions.scss";
@import "./assets/SCSS/components/tags-pills.scss";
@import "./assets/SCSS/components/email-chat.scss";
@import "./assets/SCSS/components/offcanvas.scss";
@import "./assets/SCSS/components/chat-room.scss";
@import "./assets/SCSS/components/mark-as.scss";
@import "./assets/SCSS/components/contact-merge.scss";
@import "./assets/SCSS/components/score-card.scss";
@import "./assets/SCSS/chat-widget.css";
//Pages CSS
@import "./assets/SCSS/pages/login.scss";
@import "./assets/SCSS/pages/team-user.scss";
@import "./assets/SCSS/pages/create-business-hour.scss";
@import "./assets/SCSS/pages/sla-polices.scss";
@import "./assets/SCSS/pages/dashboard.scss";
@import "./assets/SCSS/pages/console-page.scss";
@import "./assets/SCSS/pages/console-landing.scss";
@import "./assets/SCSS/pages/dialer.scss";
@import "./assets/SCSS/pages/analytics.scss";
@import "./assets/SCSS/pages/chatbot.scss";
@import "./assets/SCSS/pages/ke.scss";
@import "./assets/SCSS/chat-widget.css";
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
//font-awesome6
@import "./assets/SCSS/font-awesome-6/fontawesome.scss";
@import "./assets/SCSS/font-awesome-6/brands.scss";
@import "./assets/SCSS/font-awesome-6/light.scss";
@import "./assets/SCSS/font-awesome-6/solid.scss";
@import "./assets/SCSS/font-awesome-6/thin.scss";
@import "./assets/SCSS/font-awesome-6/regular.scss";
// Import ng-select component styles
@import "~@ng-select/ng-select/themes/default.theme.css";
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #eee;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #c5c5c5;
  border-radius: 15px !important;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #979797;
}
.online-n-offline {
  left: 36px;
  bottom: 9px;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  border-radius: 4px;
  padding: 15px;
  background-color: #fff;
}
//  for model only
.modal-backdrop {
  z-index: 1040;
}
.modal {
  z-index: 1050;
}
.icon-circle {
  min-width: 90px;
  width: 90px;
  height: 90px;
  background-color: #e6f3f4;
  color: #34b3bc;
  font-size: 36px;
}
.modal .modal-content {
  border-radius: 0px;
}
.modal .modal-content .modal-header .h5,
.modal .modal-content .modal-header h5 {
  font-size: 1.25rem;
}
.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}
.gif-dropdown {
  width: 650px;
   right: 0 !important;
   left: auto !important;
   .gif-container{
     display: flex;
     flex-wrap: wrap;
     .gif-item {
       flex: 0 0 23%;
   }
 }
 .dropdown-listing {
   overflow: scroll;
   height: 400px;
 }
 .webchatbg {
  background-color: #6e2585!important;
  color: #fff;
}
.instabg{
  background-image: linear-gradient(45deg,#405de6,#5851db,#833ab4,#c13584,#e1306c,#fd1d1d);
  color: #fff;
}
.fb-messenger{
  background: radial-gradient(circle at 33% 100%, #167AFF, #9F33FF, #FF6070);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.insta-messenger{
  background: radial-gradient(circle at 33% 100%, #405de6,#5851db,#833ab4,#c13584,#e1306c,#fd1d1d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.linkedinbg{
  background-color: #0a66c2!important;
  color: #fff;

}
.googleplaybg{
  background-color: #00a173!important;
  color: #fff;
}
.whiteBg {
  background-color: #fff!important;
}
.active{
  background-color: rgb(240, 237, 237);
  color: black;
}
.enteract-gradient {
  background-image: -webkit-linear-gradient(6deg,#fa8e6f,#f6428b);
  background-image: -webkit-linear-gradient(84deg,#fa8e6f,#f6428b);
  background-image: linear-gradient(6deg,#fa8e6f,#f6428b);
}

}
.ngx-spinner-overlay{
  background-color: rgba(0,0,0,0.25) !important;
} 