// // Custom Theming for Angular Material
// // For more information: https://material.angular.io/guide/theming
// @use '@angular/material' as mat;
// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// @include mat.core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $Enteract.Engage2.0-primary: mat.define-palette(mat.$indigo-palette);
// $Enteract.Engage2.0-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// // The warn palette is optional (defaults to red).
// $Enteract.Engage2.0-warn: mat.define-palette(mat.$red-palette);

// // Create the theme object. A theme consists of configurations for individual
// // theming systems such as "color" or "typography".
// $Enteract.Engage2.0-theme: mat.define-light-theme((
//   color: (
//     primary: $Enteract.Engage2.0-primary,
//     accent: $Enteract.Engage2.0-accent,
//     warn: $Enteract.Engage2.0-warn,
//   )
// ));

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include mat.all-component-themes($Enteract.Engage2.0-theme);


@import "../node_modules/bootstrap/scss/functions";
@import "./assets/SCSS/_bootstrap-variables.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";
@import "../node_modules/bootstrap/scss/_mixins.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/select2/src/scss/core.scss";


//colors
@import "./assets/SCSS/colors/_colors.scss";
@import "./assets/SCSS/colors/_colors-classes.scss";

//Typography
@import "./assets/SCSS/base/_typography.scss";

//Mixins
@import "./assets/SCSS/mixins/mixins.scss";




//Base
@import "./assets/SCSS/base/base.scss";


//Layouts
@import "assets/SCSS/layouts/header.scss";
@import "./assets/SCSS/layouts/footer.scss";
@import "./assets/SCSS/layouts/search-bar.scss";


//Components
@import "./assets/SCSS/components/avatar.scss";
@import "./assets/SCSS/components/breadcrumb.scss";
@import "./assets/SCSS/components/bootstrap-classes.scss";
@import "./assets/SCSS/components/bootstrap-variables.scss";
@import "./assets/SCSS/components/buttons.scss";
@import "./assets/SCSS/components/carousel.scss";
@import "./assets/SCSS/components/dropdown.scss";
@import "./assets/SCSS/components/right-side-bar.scss";
@import "./assets/SCSS/components/leftbar.scss";
@import "./assets/SCSS/components/rightbar.scss";
@import "./assets/SCSS/components/modal.scss";
@import "./assets/SCSS/components/sidebar.scss";
@import "./assets/SCSS/components/select2.scss";
@import "./assets/SCSS/components/toast.scss";
@import "./assets/SCSS/components/off-canvas.scss";
@import "./assets/SCSS/components/list.scss";
@import "./assets/SCSS/components/table.scss";
@import "./assets/SCSS/components/toggle-wrap.scss";
@import "./assets/SCSS/components/bootstrap-classes.scss";
@import "./assets/SCSS/components/chat-message.scss";
@import "./assets/SCSS/components/tooltip.scss";
@import "./assets/SCSS/components/searchbar.scss";
@import "./assets/SCSS/components/carousel.scss";
@import "./assets/SCSS/components/facebook-reactions.scss";
@import "./assets/SCSS/components/tags-pills.scss";
@import "./assets/SCSS/components/email-chat.scss";
@import "./assets/SCSS/components/offcanvas.scss";
@import "./assets/SCSS/components/chat-room.scss";
@import "./assets/SCSS/components/mark-as.scss";
@import "./assets/SCSS/components/contact-merge.scss";
@import "./assets/SCSS/components/score-card.scss";



//Pages CSS
@import "./assets/SCSS/pages/login.scss";
@import "./assets/SCSS/pages/team-user.scss";
@import "./assets/SCSS/pages/create-business-hour.scss";
@import "./assets/SCSS/pages/sla-polices.scss";
@import "./assets/SCSS/pages/dashboard.scss";
@import "./assets/SCSS/pages/console-page.scss";
@import "./assets/SCSS/pages/console-landing.scss";
@import "./assets/SCSS/pages/dialer.scss";
@import "./assets/SCSS/pages/analytics.scss";
@import "./assets/SCSS/pages/chatbot.scss";
@import "./assets/SCSS/pages/ke.scss";

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//font-awesome6
@import "./assets/SCSS/font-awesome-6/fontawesome.scss";
@import "./assets/SCSS/font-awesome-6/brands.scss";
@import "./assets/SCSS/font-awesome-6/light.scss";
@import "./assets/SCSS/font-awesome-6/solid.scss";
@import "./assets/SCSS/font-awesome-6/thin.scss";
@import "./assets/SCSS/font-awesome-6/regular.scss";
// Import ng-select component styles
@import "~@ng-select/ng-select/themes/default.theme.css";

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #495057;
  border-radius: 15px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #212529;
}

.online-n-offline {
  left: 36px;
  bottom: 9px;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  border-radius: 4px;
  padding: 15px;
  background-color: #fff;
}
//  for model only

.modal-backdrop {
  z-index: 1040;
}

.modal {
  z-index: 1050;
} 




.icon-circle {
  min-width: 90px;
  width: 90px;
  height: 90px;
  background-color: #e6f3f4;
  color: #34b3bc;
  font-size: 36px;
}

.modal .modal-content {
  border-radius: 0px; 
}
.modal .modal-content .modal-header .h5, .modal .modal-content .modal-header h5 {
  font-size: 1.25rem;
}
.modal-title {
  margin-bottom: 0;
  line-height: 1.5;

}




// body {
//   font-family: "Roboto", sans-serif !important;
//   font-weight: 400;
//   height: 100vh;
//   width: 100vw;
//   overflow: hidden;
// }
// img {
//   height: 100%;
//   width: 100%;
// }
// * {
//   box-sizing: border-box;
// }
// p {
//   margin-top: 0;
// }
// button {
//   cursor: pointer;
// }
// .dialer-wrapper {
//   position: absolute;
//   bottom: 40px;
//   right: 35px;
//   z-index: 9999;
//   height: 48px;
//   width: 48px;
//   -webkit-transition: all 0.5s ease;
//   transition: all 0.5s ease;
//   background-color: #452778;
//   border-radius: 20px;
//   -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
//   box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
// }
// .dialer-wrapper .dialer-btn {
//   color: #fff;
//   font-size: 18px;
//   height: 100%;
//   width: 100%;
//   -webkit-transition: all 0.5s ease;
//   transition: all 0.5s ease;
// }
// .dialer-wrapper .dialer-btn button {
//   background-color: transparent;
//   border: 0;
//   color: #fff;
//   border-radius: 20px;
//   height: 100%;
//   width: 100%;
// }
// .dialer-wrapper .dialer-btn #dialer-disabled {
//   visibility: visible;
//   opacity: 1;
//   width: 100%;
//   background-color: #a1a1a1;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
// }
// .dialer-wrapper .dialer-btn #dialer-disabled,
// .dialer-wrapper .dialer-btn .dialer-connecting {
//   height: 100%;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
// }
// .dialer-wrapper .dialer-btn .dialer-connecting {
//   -webkit-box-pack: justify;
//   -ms-flex-pack: justify;
//   justify-content: space-between;
//   opacity: 0;
//   visibility: hidden;
//   border-radius: 20px;
//   color: #fff;
//   width: 140px;
//   padding: 0 16px;
//   -webkit-transition: all 0.5s ease;
//   transition: all 0.5s ease;
//   position: absolute;
//   top: 0;
//   left: 0;
// }
// .dialer-wrapper .dialer-btn .dialer-connecting p {
//   margin-bottom: 0;
// }
// .dialer-wrapper .dialer-btn #dialer-connected-time {
//   -webkit-box-pack: justify;
//   -ms-flex-pack: justify;
//   justify-content: space-between;
//   padding: 0 16px;
//   visibility: hidden;
//   opacity: 0;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 140px;
//   -webkit-transition: all 0.5s ease;
//   transition: all 0.5s ease;
// }
// .dialer-wrapper .dialer-btn #dialer-connected-time,
// .dialer-wrapper .dialer-btn #dialer-connected-time p {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
// }
// .dialer-wrapper .dialer-btn #dialer-connected-time p {
//   margin-bottom: 0;
//   position: relative;
//   padding-left: 15px;
//   font-size: 15px;
// }
// .dialer-wrapper .dialer-btn #dialer-connected-time p:before {
//   position: absolute;
//   height: 8px;
//   width: 8px;
//   border-radius: 5px;
//   background-color: #3cc480;
//   content: "";
//   left: 0;
// }

// .dialer-wrapper .dialer-btn #dialer-connected-time p.offline:before {
//   background-color: #dc3545 !important;
// }
// .dialer-wrapper .dialer-body {
//   position: absolute;
//   right: 0;
//   bottom: 0;
//   height: 48px;
//   width: 140px;
//   background-color: #452778;
//   border-radius: 24px;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
//   box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
//   visibility: hidden;
//   opacity: 0;
//   -webkit-transition: all 0.5s ease;
//   transition: all 0.5s ease;
// }
// .dialer-wrapper .dialer-body .dialer-menu {
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-pack: end;
//   -ms-flex-pack: end;
//   justify-content: flex-end;
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
//   -ms-flex-direction: column;
//   flex-direction: column;
//   margin-bottom: 10px;
//   width: 50px;
//   height: 100%;
// }
// .dialer-wrapper .dialer-body .dialer-menu .dialer-menu-btn {
//   width: 100%;
//   background-color: transparent;
//   border: none;
//   margin-bottom: 10px;
//   height: 40px;
//   width: 40px;
//   border-radius: 8px;
// }
// .dialer-wrapper .dialer-body .dialer-menu .dialer-menu-btn svg path {
//   fill: #fff;
//   font-size: 14px;
// }
// .dialer-wrapper .dialer-body .dialer-menu .dialer-menu-btn.active,
// .dialer-wrapper .dialer-body .dialer-menu .dialer-menu-btn:hover {
//   background-color: rgba(0, 0, 0, 0.2);
// }
// .dialer-wrapper .dialer-body .dialer-main-section {
//   background-color: #241243;
//   border-radius: 24px;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
//   -ms-flex-direction: column;
//   flex-direction: column;
//   position: relative;
//   z-index: 9;
//   width: 240px;
//   -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
//   box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
//   border: 2px solid #241243;
//   overflow: hidden;
//   -webkit-transition: all 0.5s ease;
//   transition: all 0.5s ease;
// }
// .dialer-wrapper .dialer-body .dialer-main-section .dialer-main-header {
//   height: 60px;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-pack: justify;
//   -ms-flex-pack: justify;
//   justify-content: space-between;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   padding: 0 20px;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-header
//   .dialer-header-btn {
//   background-color: transparent;
//   border: none;
//   font-size: 14px;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-header
//   .dialer-header-btn
//   svg
//   path {
//   fill: #fff;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-header
//   .dialer-connection-chipset {
//   border-radius: 30px;
//   background-color: hsla(0, 0%, 100%, 0.2);
//   padding: 3px 7px;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   position: relative;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-header
//   .dialer-connection-chipset
//   .dialer-connection-time {
//   font-size: 10px;
//   color: #fff;
//   margin: 0;
//   margin-left: 12px;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-header
//   .dialer-connection-chipset:before {
//   position: absolute;
//   height: 6px;
//   width: 6px;
//   background-color: #3cc480;
//   border-radius: 6px;
//   content: "";
//   left: 7px;
// }
// .dialer-wrapper .dialer-body .dialer-main-section .dialer-main-body {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
//   -ms-flex-direction: column;
//   flex-direction: column;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   padding: 0 20px;
//   padding-top: 10px;
//   -webkit-box-flex: 1;
//   -ms-flex-positive: 1;
//   flex-grow: 1;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-component {
//   -webkit-box-flex: 1;
//   -ms-flex: 1;
//   flex: 1;
//   position: absolute;
//   visibility: hidden;
//   opacity: 0;
//   -webkit-transition: all 0.5s ease;
//   transition: all 0.5s ease;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-component#dialer-initial-screen {
//   opacity: 1;
//   visibility: visible;
//   margin-top: 30px;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-component#dialer-outgoing-call
//   .outgoing-call {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
//   -ms-flex-direction: column;
//   flex-direction: column;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-component#dialer-outgoing-call
//   .outgoing-call
//   .connected-call-journey {
//   visibility: hidden;
//   opacity: 0;
//   -webkit-transition: all 0.5s ease;
//   transition: all 0.5s ease;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-component#dialer-outgoing-call
//   .outgoing-call
//   .connected-call-journey
//   ul {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   list-style-type: none;
//   padding-left: 0;
//   margin-bottom: 10px;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-component#dialer-outgoing-call
//   .outgoing-call
//   .connected-call-journey
//   ul
//   li {
//   font-size: 12px;
//   color: hsla(0, 0%, 100%, 0.7);
//   position: relative;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   padding: 0 8px;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-component#dialer-outgoing-call
//   .outgoing-call
//   .connected-call-journey
//   ul
//   li:after {
//   position: absolute;
//   content: "";
//   background-image: url("./assets/images/chevron-right.svg");
//   font-size: 12px;
//   color: hsla(0, 0%, 100%, 0.7);
//   height: 10px;
//   width: 10px;
//   background-size: contain;
//   right: -5px;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-component#dialer-outgoing-call
//   .outgoing-call
//   .connected-call-journey
//   ul
//   li:last-child:after {
//   display: none;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-component#dialer-outgoing-call
//   .outgoing-call
//   .call-connectivity-time {
//   background-color: hsla(0, 0%, 100%, 0.2);
//   border-radius: 10px;
//   padding: 4px 6px;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   font-size: 10px;
//   color: #3cc480;
//   margin-top: 10px;
//   visibility: hidden;
//   opacity: 0;
//   -webkit-transition: all 0.5s ease;
//   transition: all 0.5s ease;
// }

// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-component#dialer-outgoing-call
//   .outgoing-call
//   .call-connectivity-time
//   svg
//   path {
//   fill: #3cc480;
// }

// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-component#dialer-outgoing-call
//   .outgoing-call
//   .call-connectivity-time
//   p {
//   margin-left: 5px;
//   margin-bottom: 0;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-component#dialer-outgoing-call
//   .outgoing-call
//   .call-connected-actions {
//   display: grid;
//   grid-template-columns: auto auto auto;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
//   gap: 8px;
//   max-width: 170px;
//   margin-top: 50px;
//   visibility: hidden;
//   opacity: 0;
//   -webkit-transition: all 0.5s ease;
//   transition: all 0.5s ease;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-component#dialer-outgoing-call
//   .outgoing-call
//   .call-completed-actions {
//   visibility: hidden;
//   opacity: 0;
//   -webkit-transition: all 0.5s ease;
//   transition: all 0.5s ease;
//   margin-top: 50px;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-component#dialer-outgoing-call
//   .outgoing-call
//   .call-completed-actions
//   .feedback-item {
//   background-color: hsla(0, 0%, 100%, 0.1);
//   padding: 7px 12px;
//   font-size: 12px;
//   color: #fff;
//   width: 200px;
//   border-radius: 8px;
//   margin-bottom: 8px;
//   position: relative;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   padding-left: 34px;
//   border: 0;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-component#dialer-outgoing-call
//   .outgoing-call
//   .call-completed-actions
//   .feedback-item:before {
//   position: absolute;
//   left: 12px;
//   content: "";
//   color: #fff;
//   background-image: url("./assets/images/circle.svg");
//   background-repeat: no-repeat;
//   width: 12px;
//   height: 12px;
//   background-size: contain;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-component#dialer-incoming-call
//   .incoming-call {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
//   -ms-flex-direction: column;
//   flex-direction: column;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-component
//   .call-going-loader {
//   height: 40px;
//   width: 40px;
//   border-radius: 10px;
//   background-color: #452778;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   margin-bottom: 16px;
//   -webkit-transition: all 0.5s ease;
//   transition: all 0.5s ease;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-component
//   .pre-heading {
//   font-size: 12px;
//   color: hsla(0, 0%, 100%, 0.7);
//   margin-bottom: 0;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-component
//   .user-name {
//   font-size: 14px;
//   color: #fff;
//   margin-bottom: 0;
//   margin: 4px 0;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-component
//   .user-number {
//   font-size: 12px;
//   color: hsla(0, 0%, 100%, 0.7);
//   margin-bottom: 0;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-main-btn {
//   margin: auto auto 40px;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
//   position: relative;
//   -webkit-box-align: end;
//   -ms-flex-align: end;
//   align-items: flex-end;
//   width: 100%;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-main-btn
//   button {
//   background-color: hsla(0, 0%, 100%, 0.1);
//   height: 40px;
//   width: 40px;
//   border-radius: 12px;
//   border: none;
//   color: #fff;
//   font-size: 16px;
//   -webkit-transition: all 0.5s ease;
//   transition: all 0.5s ease;
//   position: absolute;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-main-btn
//   button
//   svg {
//   -webkit-transition: inherit;
//   transition: inherit;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-main-btn
//   button#call-dial-btn {
//   background-color: #3cc480;
//   -webkit-transform: translateY(0);
//   transform: translateY(0);
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-main-btn
//   button#call-hangup-btn {
//   background-color: #ff505c;
//   visibility: hidden;
//   opacity: 0;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-main-btn
//   button#call-hangup-btn
//   svg {
//   -webkit-transition: -webkit-transform 0.5s ease;
//   transition: -webkit-transform 0.5s ease;
//   transition: transform 0.5s ease;
//   transition: transform 0.5s ease, -webkit-transform 0.5s ease;
//   -webkit-transform: rotate(0deg);
//   transform: rotate(0deg);
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-main-btn
//   button#call-ivr-btn {
//   position: relative;
//   visibility: hidden;
//   opacity: 0;
//   background-color: transparent;
//   -webkit-transform: translateX(0);
//   transform: translateX(0);
//   -webkit-transition: all 0.5s ease;
//   transition: all 0.5s ease;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-main-btn
//   button#submit-feedback-btn {
//   visibility: hidden;
//   opacity: 0;
//   font-size: 12px;
//   background-color: #3cc480;
//   color: #fff;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-main-btn
//   button#submit-feedback-btn:disabled {
//   background-color: hsla(0, 0%, 72%, 0.6);
//   color: #333;
// }
// .dialer-wrapper .dialer-body .dialer-main-section .dialer-bg {
//   background-image: url("./assets/images/dialer-bg.svg");
//   background-repeat: no-repeat;
//   background-size: cover;
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 100%;
//   width: 100%;
//   mix-blend-mode: luminosity;
//   z-index: -9;
// }
// .dialer-wrapper .dialer-body .dialer-menu-items {
//   width: 0;
//   height: 100%;
//   opacity: 0;
//   -webkit-transition: all 0.5s ease;
//   transition: all 0.5s ease;
//   -webkit-transform: translateX(-100%);
//   transform: translateX(-100%);
//   -webkit-box-flex: 1;
//   -ms-flex-positive: 1;
//   flex-grow: 1;
// }
// .dialer-wrapper .dialer-body .dialer-menu-items .dialer-menu-content {
//   height: 100%;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-menu-items
//   .dialer-menu-content#logs-content {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
//   -ms-flex-direction: column;
//   flex-direction: column;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-menu-items
//   .dialer-menu-content#logs-content
//   .h3,
// .dialer-wrapper
//   .dialer-body
//   .dialer-menu-items
//   .dialer-menu-content#logs-content
//   h3 {
//   font-size: 12px;
//   text-align: center;
//   color: hsla(0, 0%, 100%, 0.7);
//   margin: 20px 0;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-menu-items
//   .dialer-menu-content#logs-content
//   .call-logs-data {
//   -webkit-box-flex: 1;
//   -ms-flex: 1;
//   flex: 1;
//   margin-bottom: 15px;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-menu-items
//   .dialer-menu-content#logs-content
//   .call-logs-data
//   p {
//   font-size: 12px;
//   color: hsla(0, 0%, 100%, 0.6);
// }
// .dialer-wrapper .dialer-body .dialer-menu-items .dialer-menu-content .nav {
//   border-bottom-color: hsla(0, 0%, 100%, 0.2);
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-menu-items
//   .dialer-menu-content
//   .nav
//   .nav-link {
//   border: 0;
//   font-size: 10px;
//   color: hsla(0, 0%, 100%, 0.6);
//   -webkit-box-flex: 1;
//   -ms-flex-positive: 1;
//   flex-grow: 1;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-menu-items
//   .dialer-menu-content
//   .nav
//   .nav-link.active {
//   color: #fff;
//   border-bottom: 1px solid #fff;
//   background-color: transparent;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-menu-items
//   .dialer-menu-content
//   .dialer-calllogs-list {
//   margin-top: 20px;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-menu-items
//   .dialer-menu-content
//   .dialer-calllogs-list
//   .dialer-calllog-listitem {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   padding: 0 5px;
//   margin-bottom: 18px;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-menu-items
//   .dialer-menu-content
//   .dialer-calllogs-list
//   .dialer-calllog-listitem
//   .avatar {
//   height: 30px;
//   width: 30px;
//   border-radius: 25px;
//   background-color: hsla(0, 0%, 100%, 0.2);
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-menu-items
//   .dialer-menu-content
//   .dialer-calllogs-list
//   .dialer-calllog-listitem
//   .avatar
//   p {
//   margin: 0;
//   font-size: 12px;
//   color: #fff;
// }

// .dialer-wrapper
//   .dialer-body
//   .dialer-menu-items
//   .dialer-menu-content
//   .dialer-calllogs-list
//   .dialer-calllog-listitem
//   .avatar
//   svg {
//   height: 12px;
//   width: 12px;
// }

// .dialer-wrapper
//   .dialer-body
//   .dialer-menu-items
//   .dialer-menu-content
//   .dialer-calllogs-list
//   .dialer-calllog-listitem
//   .avatar
//   svg
//   path {
//   fill: #fff;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-menu-items
//   .dialer-menu-content
//   .dialer-calllogs-list
//   .dialer-calllog-listitem
//   .contact-detail {
//   -webkit-box-flex: 1;
//   -ms-flex-positive: 1;
//   flex-grow: 1;
//   margin-left: 12px;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
//   -ms-flex-direction: column;
//   flex-direction: column;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-menu-items
//   .dialer-menu-content
//   .dialer-calllogs-list
//   .dialer-calllog-listitem
//   .contact-detail
//   .h3,
// .dialer-wrapper
//   .dialer-body
//   .dialer-menu-items
//   .dialer-menu-content
//   .dialer-calllogs-list
//   .dialer-calllog-listitem
//   .contact-detail
//   h3 {
//   font-size: 12px;
//   color: #fff;
//   margin-bottom: 0;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   max-width: 90%;
//   overflow: hidden;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-menu-items
//   .dialer-menu-content
//   .dialer-calllogs-list
//   .dialer-calllog-listitem
//   .contact-detail
//   p {
//   font-size: 10px;
//   color: hsla(0, 0%, 100%, 0.7);
//   margin-bottom: 0;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-menu-items
//   .dialer-menu-content
//   .dialer-calllogs-list
//   .dialer-calllog-listitem
//   .contact-detail
//   p
//   svg {
//   margin-right: 5px;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-menu-items
//   .dialer-menu-content
//   .dialer-calllogs-list
//   .dialer-calllog-listitem
//   .call-time {
//   font-size: 10px;
//   color: #fff;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-menu-items
//   .dialer-menu-content
//   .dialer-calllogs-list
//   .dialer-calllog-listitem
//   .call-time
//   p {
//   margin-bottom: 0;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-menu-items
//   .dialer-menu-content
//   .dialer-calllogs-list
//   .dialer-calllog-listitem.outgoing
//   .contact-detail
//   p
//   svg
//   path {
//   fill: #3cc480 !important;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-menu-items
//   .dialer-menu-content
//   .dialer-calllogs-list
//   .dialer-calllog-listitem.incoming
//   .contact-detail
//   svg
//   path {
//   fill: #0a66c2 !important;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-menu-items
//   .dialer-menu-content
//   .dialer-calllogs-list
//   .dialer-calllog-listitem.missed
//   .contact-detail
//   svg
//   path {
//   fill: #ff505c !important;
// }
// .dialer-wrapper .dialer-body .dialer-menu-items .dialer-menu-item {
//   opacity: 0;
//   -webkit-transition-delay: 0.5s;
//   transition-delay: 0.5s;
//   -webkit-transition-property: opacity;
//   transition-property: opacity;
//   visibility: hidden;
//   position: absolute;
//   padding: 20px;
//   width: 100%;
//   height: 100%;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-menu-items
//   .dialer-menu-item
//   .close-menu-item {
//   position: absolute;
//   top: 15px;
//   right: 15px;
//   background-color: transparent;
//   border: 0;
// }

// .dialer-wrapper
//   .dialer-body
//   .dialer-menu-items
//   .dialer-menu-item
//   .close-menu-item
//   svg {
//   height: 16px;
//   width: 16px;
// }

// .dialer-wrapper
//   .dialer-body
//   .dialer-menu-items
//   .dialer-menu-item
//   .close-menu-item
//   svg {
//   height: 16px;
//   width: 16px;
// }

// .dialer-wrapper
//   .dialer-body
//   .dialer-menu-items
//   .dialer-menu-item
//   .close-menu-item
//   svg
//   path {
//   fill: #ffffff;
// }
// .dialer-wrapper .dialer-body .dialer-menu-items .dialer-menu-item.open {
//   opacity: 1;
//   visibility: visible;
// }
// .dialer-wrapper
//   .dialer-body
//   .dialer-menu-items
//   .dialer-menu-item.ivr-input
//   .dialer-menu-content {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
//   -ms-flex-direction: column;
//   flex-direction: column;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
// }
// .dialer-wrapper .dialer-body .block-btn {
//   height: 32px;
//   width: 100%;
//   background-color: transparent;
//   border-radius: 10px;
//   border: 0;
//   font-size: 12px;
//   color: #fff;
// }
// .dialer-wrapper .dialer-body .block-btn.greenBorder {
//   border: 1px solid #3cc480;
//   color: #3cc480;
//   -webkit-transition: all 0.5s ease;
//   transition: all 0.5s ease;
//   margin-top: auto;
// }
// .dialer-wrapper .dialer-body .block-btn.greenBorder:hover {
//   background-color: #3cc480;
//   color: #fff;
// }
// .dialer-wrapper .dialer-body .dialer-input-wrapper {
//   margin-bottom: 30px;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
// }
// .dialer-wrapper .dialer-body .dialer-input-wrapper input {
//   background-color: transparent;
//   font-size: 16px;
//   border: 0;
//   color: #fff;
//   outline: 0;
//   margin-right: 10px;
//   max-width: 110px;
//   text-align: center;
// }
// .dialer-wrapper .dialer-body .dialer-input-wrapper button {
//   background-color: transparent;
//   border: 0;
// }
// .dialer-wrapper .dialer-body .dialer-input-wrapper button svg path {
//   fill: #fff;
//   font-size: 12px;
// }
// .dialer-wrapper .dialer-body .dialer-numpad-btn {
//   background-color: hsla(0, 0%, 100%, 0.1);
//   height: 40px;
//   width: 40px;
//   border-radius: 12px;
//   border: none;
//   color: #fff;
//   font-size: 16px;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
// }
// .dialer-wrapper .dialer-body .dialer-numpad {
//   display: grid;
//   grid-template-columns: auto auto auto;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
//   gap: 8px;
// }
// .dialer-wrapper .dialer-incoming-call-chip {
//   visibility: hidden;
//   opacity: 0;
// }
// .dialer-wrapper.connecting {
//   width: 140px;
// }
// .dialer-wrapper.connecting .dialer-btn #dialer-disabled {
//   visibility: hidden;
//   opacity: 0;
// }
// .dialer-wrapper.connecting .dialer-btn .dialer-connecting {
//   opacity: 1;
//   visibility: visible;
//   font-size: 14px;
// }
// .dialer-wrapper.dialer-ready {
//   width: 140px;
// }
// .dialer-wrapper.dialer-ready .dialer-btn #dialer-disabled {
//   visibility: hidden;
//   opacity: 0;
// }
// .dialer-wrapper.dialer-ready .dialer-btn #dialer-connected-time {
//   visibility: visible;
//   opacity: 1;
// }
// .dialer-wrapper.dialer-connected {
//   width: 290px;
//   height: 470px;
// }
// .dialer-wrapper.dialer-connected .dialer-btn #dialer-disabled {
//   visibility: hidden;
//   opacity: 0;
// }
// .dialer-wrapper.dialer-connected .dialer-body {
//   visibility: visible;
//   opacity: 1;
//   height: 100%;
//   width: 100%;
// }
// .dialer-wrapper.menu-item-open {
//   width: 530px;
// }
// .dialer-wrapper.menu-item-open .dialer-menu-items {
//   width: 240px;
//   opacity: 1;
//   -webkit-transform: translateX(0);
//   transform: translateX(0);
// }
// .dialer-wrapper.call-dialing
//   .dialer-main-section
//   .dialer-main-body
//   #dialer-initial-screen {
//   opacity: 0 !important;
//   visibility: hidden !important;
// }
// .dialer-wrapper.call-dialing
//   .dialer-main-section
//   .dialer-main-body
//   #dialer-outgoing-call {
//   opacity: 1;
//   visibility: visible;
// }
// .dialer-wrapper.call-dialing
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-main-btn {
//   width: 100%;
// }
// .dialer-wrapper.call-dialing
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-main-btn
//   button {
//   width: 100% !important;
// }
// .dialer-wrapper.call-dialing
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-main-btn
//   button
//   #call-hangup-btn {
//   visibility: hidden;
//   opacity: 0;
// }
// .dialer-wrapper.call-dialing
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-main-btn
//   button#call-hangup-btn {
//   visibility: visible;
//   opacity: 1;
// }
// .dialer-wrapper.call-dialing
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-main-btn
//   button#call-hangup-btn
//   svg {
//   -webkit-transform: rotate(135deg);
//   transform: rotate(135deg);
// }
// .dialer-wrapper.call-connected
//   .dialer-main-section
//   .dialer-main-body
//   .call-going-loader {
//   height: 0 !important;
//   width: 0 !important;
// }
// .dialer-wrapper.call-connected
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-main-btn
//   button {
//   width: 40px !important;
// }
// .dialer-wrapper.call-connected
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-main-btn
//   button#call-ivr-btn {
//   visibility: visible;
//   opacity: 1;
//   -webkit-transform: translateX(-50px);
//   transform: translateX(-50px);
// }
// .dialer-wrapper.call-connected
//   .dialer-main-section
//   .dialer-main-body
//   #dialer-outgoing-call
//   .outgoing-call
//   .call-connected-actions,
// .dialer-wrapper.call-connected
//   .dialer-main-section
//   .dialer-main-body
//   #dialer-outgoing-call
//   .outgoing-call
//   .call-connectivity-time,
// .dialer-wrapper.call-connected
//   .dialer-main-section
//   .dialer-main-body
//   #dialer-outgoing-call
//   .outgoing-call
//   .connected-call-journey {
//   visibility: visible !important;
//   opacity: 1 !important;
// }
// .dialer-wrapper.call-completed
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-main-btn
//   button {
//   width: 100% !important;
// }
// .dialer-wrapper.call-completed
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-main-btn
//   button#call-dial-btn {
//   visibility: hidden;
//   opacity: 0;
// }
// .dialer-wrapper.call-completed
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-main-btn
//   button#call-ivr-btn {
//   visibility: hidden;
//   opacity: 0;
//   -webkit-transform: translateX(0);
//   transform: translateX(0);
// }
// .dialer-wrapper.call-completed
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-main-btn
//   button#call-hangup-btn {
//   visibility: hidden;
//   opacity: 0;
// }
// .dialer-wrapper.call-completed
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-main-btn
//   button#submit-feedback-btn {
//   visibility: visible;
//   opacity: 1;
// }
// .dialer-wrapper.call-completed
//   .dialer-main-section
//   .dialer-main-body
//   #dialer-outgoing-call
//   .outgoing-call
//   .call-connectivity-time {
//   color: #ff505c !important;
// }

// .dialer-wrapper.call-completed
//   .dialer-main-section
//   .dialer-main-body
//   #dialer-outgoing-call
//   .outgoing-call
//   .call-connectivity-time
//   svg
//   path {
//   fill: #ff505c !important;
// }

// .dialer-wrapper.call-completed
//   .dialer-main-section
//   .dialer-main-body
//   #dialer-outgoing-call
//   .outgoing-call
//   .call-connected-actions {
//   visibility: hidden !important;
//   opacity: 0 !important;
//   height: 0 !important;
//   margin: 0 !important;
// }
// .dialer-wrapper.call-completed
//   .dialer-main-section
//   .dialer-main-body
//   #dialer-outgoing-call
//   .outgoing-call
//   .call-completed-actions {
//   visibility: visible !important;
//   opacity: 1 !important;
// }
// .dialer-wrapper.call-completed
//   .dialer-main-section
//   .dialer-main-body
//   #dialer-outgoing-call
//   .outgoing-call
//   .call-completed-actions
//   .feedback-item.active:before {
//   background-image: url("./assets/images/circle-check.svg");
// }
// .dialer-wrapper.incoming-call-dialer-closed {
//   width: 290px;
//   height: 84px;
//   border: 2px solid #452778;
//   background-color: #241243;
// }
// .dialer-wrapper.incoming-call-dialer-closed .dialer-btn {
//   visibility: hidden;
//   opacity: 0;
// }
// .dialer-wrapper.incoming-call-dialer-closed .dialer-incoming-call-chip {
//   position: absolute;
//   top: 0;
//   left: 0;
//   padding: 0 20px;
//   width: 100%;
//   height: 100%;
//   visibility: visible;
//   opacity: 1;
// }
// .dialer-wrapper.incoming-call-dialer-closed .dialer-incoming-call-chip,
// .dialer-wrapper.incoming-call-dialer-closed
//   .dialer-incoming-call-chip
//   .icon-avatar {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
// }
// .dialer-wrapper.incoming-call-dialer-closed
//   .dialer-incoming-call-chip
//   .icon-avatar {
//   height: 32px;
//   width: 32px;
//   background-color: #452778;
//   border-radius: 10px;
// }
// .dialer-wrapper.incoming-call-dialer-closed
//   .dialer-incoming-call-chip
//   .caller-details {
//   -webkit-box-flex: 1;
//   -ms-flex: 1;
//   flex: 1;
//   margin-left: 10px;
// }
// .dialer-wrapper.incoming-call-dialer-closed
//   .dialer-incoming-call-chip
//   .caller-details
//   .pre-heading {
//   font-size: 12px;
//   color: hsla(0, 0%, 100%, 0.7);
//   margin-bottom: 0;
// }
// .dialer-wrapper.incoming-call-dialer-closed
//   .dialer-incoming-call-chip
//   .caller-details
//   .user-name {
//   font-size: 14px;
//   color: #fff;
//   margin-bottom: 0;
// }
// .dialer-wrapper.incoming-call-dialer-closed
//   .dialer-incoming-call-chip
//   .caller-details
//   .user-number {
//   font-size: 12px;
//   color: #fff;
//   margin-bottom: 0;
// }
// .dialer-wrapper.incoming-call-dialer-closed
//   .dialer-incoming-call-chip
//   .incoming-call-actions
//   button {
//   height: 32px;
//   width: 32px;
//   border-radius: 10px;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   font-size: 12px;
//   border: 0;
// }
// .dialer-wrapper.incoming-call-dialer-closed
//   .dialer-incoming-call-chip
//   .incoming-call-actions
//   button
//   svg
//   path {
//   fill: #fff !important;
// }
// .dialer-wrapper.incoming-call-dialer-closed
//   .dialer-incoming-call-chip
//   .incoming-call-actions
//   button#hang-up-btn-small {
//   background-color: #ff505c;
// }
// .dialer-wrapper.incoming-call-dialer-closed
//   .dialer-incoming-call-chip
//   .incoming-call-actions
//   button#call-pick-btn-small {
//   background-color: #3cc480;
// }
// .dialer-wrapper.incoming-call-dialer-opened
//   .dialer-main-section
//   #dialer-initial-screen {
//   visibility: hidden !important;
//   opacity: 0 !important;
// }
// .dialer-wrapper.incoming-call-dialer-opened
//   .dialer-main-section
//   #dialer-incoming-call {
//   visibility: visible !important;
//   opacity: 1;
// }
// .dialer-wrapper.incoming-call-dialer-opened
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-main-btn,
// .dialer-wrapper.incoming-call-dialer-opened
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-main-btn
//   button {
//   width: 100% !important;
// }
// .dialer-wrapper.incoming-call-dialer-opened
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-main-btn
//   button#call-dial-btn {
//   -webkit-transform: translateY(-50px);
//   transform: translateY(-50px);
//   visibility: visible !important;
//   opacity: 1 !important;
// }
// .dialer-wrapper.incoming-call-dialer-opened
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-main-btn
//   button#call-hangup-btn {
//   opacity: 1 !important;
//   visibility: visible;
// }
// .dialer-wrapper.incoming-call-dialer-opened
//   .dialer-main-section
//   .dialer-main-body
//   .dialer-main-btn
//   button#call-hangup-btn
//   path {
//   -webkit-transform: rotate(135deg);
//   transform: rotate(135deg);
// }

// .avatar img {
//   width: 100%;
//   height: 100%;
//   -webkit-object-fit: cover;
//   -moz-object-fit: cover;
//   -ms-object-fit: cover;
//   object-fit: cover;
//   border-radius: 100%;
// }

// .loader-wrapper {
//   width: 25px;
//   position: relative;
// }
// .blob-1,
// .blob-2 {
//   width: 10px;
//   height: 10px;
//   position: absolute;
//   background: #fff;
//   border-radius: 50%;
//   top: 50%;
//   left: 50%;
//   -webkit-transform: translate(-50%, -50%);
//   transform: translate(-50%, -50%);
// }
// .blob-1 {
//   left: 20%;
//   -webkit-animation: o 2s ease infinite;
//   animation: o 2s ease infinite;
//   background: hsla(0, 0%, 100%, 0.7);
// }
// .blob-2 {
//   left: 80%;
//   -webkit-animation: p 2s ease infinite;
//   animation: p 2s ease infinite;
//   background: #fff;
// }

// @-webkit-keyframes o {
//   0% {
//     left: 20%;
//   }
//   50% {
//     left: 50%;
//   }
//   to {
//     left: 20%;
//   }
// }
// @keyframes o {
//   0% {
//     left: 20%;
//   }
//   50% {
//     left: 50%;
//   }
//   to {
//     left: 20%;
//   }
// }
// @-webkit-keyframes p {
//   0% {
//     left: 80%;
//   }
//   50% {
//     left: 50%;
//   }
//   to {
//     left: 80%;
//   }
// }
// @keyframes p {
//   0% {
//     left: 80%;
//   }
//   50% {
//     left: 50%;
//   }
//   to {
//     left: 80%;
//   }
// }
