<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
   <p style="color: white"> Loading... </p>
</ngx-spinner>

<div id="signupWrapper" class="">
   <!-- <p class="text-end px-4 py-2 m-0 top-0 end-0 position-absolute">Don’t have an account? <a>Sign up</a> </p> -->

   <aside>
      <div class="left-body">
         <div class="logo mb-5">
            <img src="../../../assets/images/ibex-enteract-engage.svg" width="300" alt="">
         </div>

         <div class="iconsbox">
            <span class="iconButton iconfacebook"> <i class="fa-brands fa-facebook-f"></i></span>
            <span class="iconButton icontiktok"> <i class="fa-brands fa-tiktok"></i></span>
            <span class="iconButton icontwitter d-none"> <i class="fa-brands fa-twitter"></i></span>
            <span class="iconButton iconwhatsapp"><i class="fa-brands fa-whatsapp"></i></span>
            <span class="iconButton icongoogle"> <i class="fa-brands fa-google"></i></span>
            <span class="iconButton iconyoutube"> <i class="fa-brands fa-youtube"></i></span>
            <span class="iconButton iconlinkedin"><i class="fa-brands fa-linkedin-in"></i></span>
            <span class="iconButton iconinstagram"> <i class="fa-brands fa-instagram"></i></span>
         </div>
         <div class="illustration">
            <img src="../../../assets/images/illustration.svg" alt="-">
         </div>
      </div>

      <div class="circlebg topleft"></div>
      <div class="circlebg bottomright">
         <p></p>
      </div>
   </aside>
   <ng-container *ngIf="isUserLoging==false">
      <div class="main-body">

         <div class="login-form main-login-form agentExtensionWrapper">
            <h4>Glad to see you again!</h4>
            <h6 class="coal mb-5">
               Login with your enteract credentials
            </h6>
            <span *ngIf="countdownTime>0">

               <p>Remaining Time {{display}} </p>

            </span>
            <div class="form w-100">
               <form [formGroup]="loginForm" (submit)="login()">
                  <!-- <div class="dropdown loginas">
                     <select class="form-select d-flex align-items-center mb-3" id="floatingSelect" aria-label="Floating label select"
                        formControlName="actor">
                        <option value="" disabled selected hidden>Login As</option>
                        <option *ngFor="let actor of Actors" [ngValue]="actor.name">
                           {{actor.name}}</option>
                     </select>
                  </div> -->
                  <div class="form-floating mb-3">
                     <input formControlName="userName" class="form-control" id="userName"
                        placeholder="Enter your Email">
                     <label for="userName"> Username or Email</label>
                  </div>
                  <div class="form-floating mb-3">
                     <input formControlName="password" type="password" class="form-control" id="password"
                        placeholder="Enter your Password">
                     <label for="password">Password</label>
                  </div>
                  <div class="col-12 d-flex justify-content-between mb-4">
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label coal" for="gridCheck">
                           Remember me
                        </label>
                     </div>
                     <!-- <div id="register-link">
                        <a routerLink="/forgotpassword" class="forgot-password-btn">Forget Password</a>
                     </div> -->
                  </div>
                  <div class="form-btn">
                     <button type="submit" class="w-100 btn loginbtn" id="loginBtn" tabindex="-1" role="button"
                        [disabled]="loginDisabled==true || loginForm.invalid">Login</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </ng-container>
   <ng-container *ngIf="isUserLoging==true">
      <div class="main-body">
         <div class="login-form reset-password-form agentExtensionWrapper">
            <h4>Glad to see you again</h4>
            <h6 class="coal mb-3 text-center">
               Login with your enteract credentials
            </h6>
            <h6 class="coal mb-3 text-center">
               Code Sent on your Email
            </h6>
            <div class="form w-100">
               <form [formGroup]="verificationForm">
                  <div class="form-floating mb-3">
                     <input readonly class="form-control" id="floatingInputPassword" [(ngModel)]="Verificationemail"
                        formControlName="Verificationemail" placeholder="Password">
                     <label for="floatingInputPassword">Email</label>
                     <div id="password_msg"></div>
                  </div>
                  <div class="form-floating mb-3">
                     <input type="password" class="form-control" id="floatingInputPassword"
                        formControlName="verificationCode" placeholder="Password">
                     <label for="floatingInputPassword">Please Enter Code</label>
                     <div id="password_msg"></div>
                  </div>
                  <div class="form-btn">
                     <button class="w-100 btn loginbtn" id="loginBtn" tabindex="-1" role="button"
                        (click)="Submituser()" [disabled]="verificationForm.invalid">Verify</button>
                  </div>
                  <span *ngIf="isVerificationcodeFailed==true">
                     <div class="center-section">
                        <span class="line"></span>
                        <span class="or-option">OR</span>
                        <span class="line"></span>
                     </div>

                     <div class="form-btn">
                        <button class="w-100 btn loginbtn" id="loginBtn" tabindex="-1" role="button"
                           (click)="VerificationcodeFailed()">Login Again</button>
                     </div>


                  </span>

               </form>

            </div>
         </div>
      </div>
   </ng-container>

</div>

<div class="position-fixed toast-bar border-0 shadow-sm rounded navyBg" style="z-index: 60">
   <div [ngClass]="toastermessage == true ? 'show' : 'hide'" class="toast border-0 p-2 h-100 navyBg fade" role="alert"
      aria-live="assertive" aria-atomic="true">
      <div class="d-flex border-0 justify-content-between align-items-center w-100 h-100">
         <p class="toast-line-para ice m-0">{{AlterMsg}}</p>
         <div class="toast-btn d-flex align-items-center">

            <button type="button" class="btn m-0 ms-2" aria-label="Close" data-bs-dismiss="toast"
               (click)="closeToaster()"><i class="fal fa-times"></i></button>

         </div>
      </div>
   </div>
</div>