<div id="callList" class="tab-pane dialerMainTabs" role="tabpanel" aria-labelledby="callList">
    <div class="callListTab-Content tab-body">

        <div class="tab-header px-3">
            <div class="header-title">
                <div class="back-to-call goBackToConnectedCall d-none">
                    <i class="far fa-long-arrow-left night"></i>
                </div>
                <div>
                    <div class="d-flex">
                        <div class="goBackExpandedGroup d-none">
                            <i class="fal fa-chevron-left"></i>
                        </div>
                        <div class="heading">Calling List</div>
                    </div>
                    <div class="sub-heading">23 Lists</div>
                </div>
            </div>
            <div class="header-action-btns">
                <div class="icons-list">
                    <div class="searchbar-click">
                        <form class="searchbox">
                            <input placeholder="What are you looking for?" name="search" class="searchbox-input"
                                required="">
                            <span class="searchbox-icon medium iconButton iconHover"><i class="fa fa-search"></i></span>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="animated-border">
            <div class="border-line"></div>
        </div>
        <div class="found-wrapper d-none">
            4 results found
        </div>
        <div class="bodySection perfect-scrollbar" data-scrollbar="true" tabindex="-1"
            style="overflow: hidden; outline: none;">
            <div class="scroll-content">
                <div class="groups-list">
                    <div class="listItem expandGroupBtn">
                        <div class="contact-details">
                            <div class="person-details">
                                <div class="name">Sales Follow Up</div>
                                <div class="number">4 Contacts</div>
                            </div>
                        </div>
                        <div class="actionBtns">
                            <div class="btn iconButton small">
                                <i class="far fa-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="listItem expandGroupBtn">
                        <div class="contact-details">
                            <div class="person-details">
                                <div class="name">Sales Follow Up</div>
                                <div class="number">4 Contacts</div>
                            </div>
                        </div>
                        <div class="actionBtns">
                            <div class="btn iconButton small">
                                <i class="far fa-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="listItem expandGroupBtn">
                        <div class="contact-details">
                            <div class="person-details">
                                <div class="name">Sales Follow Up</div>
                                <div class="number">53 Contacts</div>
                            </div>
                        </div>
                        <div class="actionBtns">
                            <div class="btn iconButton small">
                                <i class="far fa-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="listItem expandGroupBtn">
                        <div class="contact-details">
                            <div class="person-details">
                                <div class="name">Sales Follow Up</div>
                                <div class="number">53 Contacts</div>
                            </div>
                        </div>
                        <div class="actionBtns">
                            <div class="btn iconButton small addContact">
                                <i class="far fa-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="listItem expandGroupBtn">
                        <div class="contact-details">
                            <div class="person-details">
                                <div class="name">Sales Follow Up</div>
                                <div class="number">53 Contacts</div>
                            </div>
                        </div>
                        <div class="actionBtns">
                            <div class="btn iconButton small addContact">
                                <i class="far fa-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="listItem expandGroupBtn">
                        <div class="contact-details">
                            <div class="person-details">
                                <div class="name">Sales Follow Up</div>
                                <div class="number">53 Contacts</div>
                            </div>
                        </div>
                        <div class="actionBtns">
                            <div class="iconButton small addContact">
                                <i class="far fa-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="listItem expandGroupBtn">
                        <div class="contact-details">
                            <div class="person-details">
                                <div class="name">Sales Follow Up</div>
                                <div class="number">53 Contacts</div>
                            </div>
                        </div>
                        <div class="actionBtns">
                            <div class="btn iconButton small addContact">
                                <i class="far fa-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="listItem expandGroupBtn">
                        <div class="contact-details">
                            <div class="person-details">
                                <div class="name">Sales Follow Up</div>
                                <div class="number">53 Contacts</div>
                            </div>
                        </div>
                        <div class="actionBtns">
                            <div class="btn iconButton small addContact">
                                <i class="far fa-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="listItem expandGroupBtn">
                        <div class="contact-details">
                            <div class="person-details">
                                <div class="name">Sales Follow Up</div>
                                <div class="number">53 Contacts</div>
                            </div>
                        </div>
                        <div class="actionBtns">
                            <div class="btn iconButton small addContact">
                                <i class="far fa-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="listItem expandGroupBtn">
                        <div class="contact-details">
                            <div class="person-details">
                                <div class="name">Sales Follow Up</div>
                                <div class="number">53 Contacts</div>
                            </div>
                        </div>
                        <div class="actionBtns">
                            <div class="btn iconButton small addContact">
                                <i class="far fa-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="listItem expandGroupBtn">
                        <div class="contact-details">
                            <div class="person-details">
                                <div class="name">Sales Follow Up</div>
                                <div class="number">53 Contacts</div>
                            </div>
                        </div>
                        <div class="actionBtns">
                            <div class="btn iconButton small addContact">
                                <i class="far fa-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="listItem expandGroupBtn">
                        <div class="contact-details">
                            <div class="person-details">
                                <div class="name">Sales Follow Up</div>
                                <div class="number">53 Contacts</div>
                            </div>
                        </div>
                        <div class="actionBtns">
                            <div class="btn iconButton small addContact">
                                <i class="far fa-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="listItem expandGroupBtn">
                        <div class="contact-details">
                            <div class="person-details">
                                <div class="name">Sales Follow Up</div>
                                <div class="number">53 Contacts</div>
                            </div>
                        </div>
                        <div class="actionBtns">
                            <div class="btn iconButton small addContact">
                                <i class="far fa-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="listItem expandGroupBtn">
                        <div class="contact-details">
                            <div class="person-details">
                                <div class="name">Sales Follow Up</div>
                                <div class="number">53 Contacts</div>
                            </div>
                        </div>
                        <div class="actionBtns">
                            <div class="btn iconButton small addContact">
                                <i class="far fa-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="listItem expandGroupBtn">
                        <div class="contact-details">
                            <div class="person-details">
                                <div class="name">Sales Follow Up</div>
                                <div class="number">53 Contacts</div>
                            </div>
                        </div>
                        <div class="actionBtns">
                            <div class="btn iconButton small addContact">
                                <i class="far fa-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="listItem expandGroupBtn">
                        <div class="contact-details">
                            <div class="person-details">
                                <div class="name">Sales Follow Up</div>
                                <div class="number">53 Contacts</div>
                            </div>
                        </div>
                        <div class="actionBtns">
                            <div class="btn iconButton small addContact">
                                <i class="far fa-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="scrollbar-track scrollbar-track-x" style="display: none;">
                <div class="scrollbar-thumb scrollbar-thumb-x"></div>
            </div>
            <div class="scrollbar-track scrollbar-track-y" style="display: none;">
                <div class="scrollbar-thumb scrollbar-thumb-y"></div>
            </div>
        </div>
    </div>
</div>