
<form class="team-detail-form" [formGroup]="roleForm" (ngSubmit)="onSubmit()">    
    <div class="wider-container pt-3 mb-5">
        <div class="tab-header">
            <nav>
                <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="role-detail-tab" data-bs-toggle="tab"
                        data-bs-target="#role-detail" type="button" role="tab" aria-controls="role-detail"
                        aria-selected="false">
                        <h6>Details</h6>
                    </button>
                    <button class="nav-link" id="permission-sec-tab" data-bs-toggle="tab"
                        data-bs-target="#permission-sec" type="button" role="tab" aria-controls="permission-sec"
                        aria-selected="false">
                        <h6>Permissions</h6>
                    </button>
                    <!-- <button class="nav-link" id="holiday-tab" data-bs-toggle="tab" data-bs-target="#holiday-sec"
                        type="button" role="tab" aria-controls="holiday-sec" aria-selected="false">
                        <h6>Users</h6> [routerLink]="['/']"
                    </button>-->
                    <span class=" pull-right" style=" margin-left:auto;">
                        <button type="button" class="nav-link " style="float:right; color: #D63382; border-bottom-color: #D63382; " (click)="onBtnClick()"  ><h6> <i class="fa-solid fa-angles-left"></i> Back </h6> </button>
                        <button type="reset" class="nav-link " style="float:right; color: rgb(255, 179, 0); border-bottom-color: rgb(255, 179, 0); "><h6><i class="fas fa-undo"></i> Reset</h6>  </button>
                        <button type="submit" class="nav-link" style="float:right; color: blue; border-bottom-color: blue; " ><h6><i class="fas fa-save"></i> Save </h6></button>
                        
                    </span>
                    
                </div>
            </nav>
        </div>
        <div class="tab-body console-body-wrapper mb-10" data-scrollbar="true" tabindex="-1"
        style="overflow-y:auto; outline: none;">
        <!-- <div class="scroll-content"></div> -->
            <div class="tab-content scroll-content  mb-10"  style="transform: translate3d(0px, 0px, 0px);" id="nav-tabContent">
                <div id="role-detail" class="tab-pane fade active show" role="tabpanel"
                    aria-labelledby="role-detail-tab">
                    <div class="role-detail-wrap scroll-content">
                        <p class="line-txt mb-4">
                            The permissions of default roles cannot be edited. Create a new role to select custom
                            permissions.
                        </p>
                        <div class="floating-list ">
                            <div class="floating-item mb-4">
                                <div class="floating-wrap form-floating mb-2"
                                    [ngClass]="{'was-validated' : roleForm.get('name')!.valid && roleForm.get('name')!.touched}">
                                    <input [ngClass]="{'is-invalid' : (roleForm.get('name')!.errors && (roleForm.get('name')!.touched ||
                                    roleForm.get('name')!.dirty))}" formControlName="name" type="text"
                                        class="form-control" id="name" placeholder="Sales Role">
                                    <label for="name">Role Name</label>
                                    <div class="invalid-feedback" *ngIf="(roleForm.get('name')!.errors && (roleForm.get('name')!.touched || roleForm.get('name')!.dirty))">
                                        <div *ngIf="roleForm.get('name')!.errors?.['maxlength'] || roleForm.get('name')!.errors?.['minlength']">
                                            Role name must be grater than 1 character and less than 25 characters!
                                        </div>
                                        <div *ngIf="roleForm.get('name')!.errors?.['required']">
                                            Role Name is required!
                                        </div>
                                    </div>
                                    <div class="valid-feedback" *ngIf="roleForm.get('name')!.valid && roleForm.get('name')!.touched">
                                        Looks Good!
                                    </div>
                                </div>
                                <small class="example-text ms-3">e.g. Application Support Role</small>
                            </div>
                            <div class="floating-item mb-4">
                            <div [ngClass]="{'was-validated' : roleForm.get('description')!.valid && roleForm.get('description')!.touched}"
                                class="floating-wrap form-floating mb-2">
                                <textarea [ngClass]="{'is-invalid' : (roleForm.get('description')!.errors && (roleForm.get('description')!.touched ||
                                roleForm.get('description')!.dirty))}" formControlName="description"
                                    class="form-control" placeholder="Leave a comment here"
                                    id="floatingTextarea2" style="height: 100px"></textarea>
                                <label for="floatingTextarea2">Description</label>
                                <div class="invalid-feedback" *ngIf="(roleForm.get('description')!.errors && (roleForm.get('description')!.touched ||
                                                                    roleForm.get('description')!.dirty))">

                                    <div *ngIf="roleForm.get('description')!.errors?.['required']">
                                        Description is required!
                                    </div>
                                </div>
                                <div class="valid-feedback" *ngIf="roleForm.get('description')!.valid && roleForm.get('description')!.touched">
                                    Looks Good!
                                </div>
                            </div>
                            <small class="example-text ms-3">e.g. This Role belongs to Rule Administration </small>
                            </div>
                        </div>
                    </div>
                    <footer class="footer">
                        <div class="ps-3 pe-3">
                            <div class="icon-buttons-wrapper d-flex justify-content-between pt-3 pb-4">
                                <div class="row w-100">
                                    <div class="col-md-4"> 
                                    </div>
                                    <div class="col-md-8 justify-content-end d-flex">
                                        <div class="buttons-wrap d-flex">
                                            <button type="button" class="btn btn-outline-secondary btn-medium me-2 px-4">Cancel</button> 
                                            <button type="reset" class="btn btn-outline-secondary btn-medium me-2 px-4">Reset</button>                  
                                            <button type="submit" class="btn skyBg ms-2 px-4 btn-medium saveBtn" >Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
                <!-- Permission Section -->
                <div id="permission-sec" class="tab-pane fade" role="tabpanel" aria-labelledby="permission-sec-tab">
                    <p class="coal mb-4">
                        The permissions of default roles cannot be edited. Create a new role to select custom
                        permissions.
                    </p>
                    <div class="border mb-3"></div>
                    <engage2-card-box-list class="scroll-content mb-10" [menulist]="RolesNPermission" [menulistselectall]="menulistselectall" (menulistchecked)="setMenuList($event)"></engage2-card-box-list>
                            
                    <!-- <div *ngFor="let role of RolesNPermission" class="collapse-toggle-card toggle-wrap shadow-sm rounded border mb-3">
                        
                        <div class="toggle-head">
                            <ul class="list-group list-group-flush">
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-sm-center saltBg">
                                    <span class="iconButton chevron-icon ms-4 me-2"></span>
                                    <div class="ms-2 me-auto darkblue">
                                        <div class="fw-bold darkblue">{{role.name}}</div>
                                        Select permissions for {{role.name}}
                                    </div>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                                            data-bs-toggle="collapse" [attr.data-bs-target]="'#'+role.slug"
                                            aria-expanded="true" [attr.aria-controls]="role.slug">
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="collapse" [id]="role.slug">
                            <div class="card card-body darkblue">
                                <div class="list-group list-group-flush">
                                    <label class="list-group-item active text-decoration-underline night fw-bold">
                                        <input class="form-check-input me-2" type="checkbox">
                                        {{ role?.subMenu.length  || '0' }} permissions
                                    </label>
                                    <label *ngFor="let smenu of role?.subMenu" class="list-group-item night fw-bold">
                                        <input class="form-check-input me-2" type="checkbox">
                                        {{role.name}} -
                                        <small class="fw-normal">{{smenu.name}}</small>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="collapse-toggle-card toggle-wrap shadow-sm rounded border mb-3">
                        <div class="toggle-head">
                            <ul class="list-group list-group-flush">
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-sm-center saltBg">
                                    <span class="iconButton chevron-icon ms-4 me-2"></span>
                                    <div class="ms-2 me-auto darkblue">
                                        <div class="fw-bold darkblue">Conversations</div>
                                        Select permissions for conversations
                                    </div>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                                            data-bs-toggle="collapse" data-bs-target="#permissioncard1"
                                            aria-expanded="true" aria-controls="permissioncard1">
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="collapse" id="permissioncard1">
                            <div class="card card-body darkblue">
                                <div class="list-group list-group-flush">
                                    <label class="list-group-item active text-decoration-underline night fw-bold">
                                        <input class="form-check-input me-2" type="checkbox">
                                        5 Of 7 Permissions
                                    </label>
                                    <label class="list-group-item night fw-bold">
                                        <input class="form-check-input me-2" type="checkbox">
                                        Messages -
                                        <small class="fw-normal">Send</small>
                                    </label>
                                    <label class="list-group-item night fw-bold">
                                        <input class="form-check-input me-2" type="checkbox">
                                        Conversation -
                                        <small class="fw-normal">Assign</small>
                                    </label>
                                    <label class="list-group-item night fw-bold">
                                        <input class="form-check-input me-2" type="checkbox">
                                        Conversation -
                                        <small class="fw-normal">archive</small>

                                    </label>
                                    <label class="list-group-item night fw-bold">
                                        <input class="form-check-input me-2" type="checkbox">
                                        Conversation -<small class="fw-normal">
                                            delete / mark as spam</small>
                                    </label>
                                    <label class="list-group-item night fw-bold disabled" aria-disabled="true">
                                        <input class="form-check-input me-2" type="checkbox">
                                        Conversation -
                                        <small class="fw-normal">
                                            Move</small>
                                    </label>
                                    <label class="list-group-item night fw-bold disabled" aria-disabled="true">
                                        <input class="form-check-input me-2" type="checkbox">
                                        Conversation / Messages -
                                        <small class="fw-normal">
                                            delete permanently</small>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div> -->
                
                    <footer class="footer">
                        <div class="ps-3 pe-3">
                            <div class="icon-buttons-wrapper d-flex justify-content-between pt-3 pb-4">
                                <div class="row w-100">
                                    <div class="col-md-4"> 
                                    </div>
                                    <div class="col-md-8 justify-content-end d-flex">
                                        <div class="buttons-wrap d-flex">
                                            <button type="button" class="btn btn-outline-secondary btn-medium me-2 px-4">Cancel</button> 
                                            <button type="reset" class="btn btn-outline-secondary btn-medium me-2 px-4">Reset</button>                  
                                            <button type="submit" class="btn skyBg ms-2 px-4 btn-medium saveBtn" >Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>    
                </div>
            </div>            
        </div>        
    </div>    
</form>
        
    
    <!-- <div class="scrollbar-track scrollbar-track-x" style="display: none;">
        <div class="scrollbar-thumb scrollbar-thumb-x" style="width: 1176px; transform: translate3d(0px, 0px, 0px);">
        </div>
    </div>
    <div class="scrollbar-track scrollbar-track-y" style="display: block;">
        <div class="scrollbar-thumb scrollbar-thumb-y"
            style="height: 165.253px; transform: translate3d(0px, 0px, 0px);"></div>
    </div> -->
<!-- </div> -->