<div class="create-business-hour console-body-wrapper" data-scrollbar="true" tabindex="-1"
    style="overflow-y:auto; outline: none;">
    <!-- <div class="container pt-3 me-3">
        <div class="form-floating col-md-11">
            <select class="form-select" aria-label="Floating label select" [(ngModel)]="teamId" (change)="onTeamSelect()">
                <option value="0" disabled selected>Please Select Team</option>
                <option *ngFor="let team of teams" [value]="team.id" >{{ team.name }}</option>
            </select>
            <label for="timeZone">Teams</label>
        </div>
    </div> -->

    <div class="scroll-content">
      
        <div class="wider-container pt-3" style="margin-bottom: -10px;">
            <div class="tab-body">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-header">
                        <nav>
                            <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="permission-detail-tab" data-bs-toggle="tab"
                                    data-bs-target="#permission-detail" type="button" role="tab"
                                    aria-controls="permission-detail" aria-selected="false">
                                    <h6>Add/Update SLA</h6>
                                </button>
                                <!-- <button class="nav-link" id="permission-rules-tab" data-bs-toggle="tab"
                                    data-bs-target="#permission-rules" type="button" role="tab"
                                    aria-controls="permission-rules" aria-selected="false">
                                    <h6>Rules</h6>
                                </button> -->
                            </div>
                        </nav>
                    </div>
                    <div class="floating-item">
                        <div class="form-floating">
                            <select class="form-select" aria-label="Floating label select" [(ngModel)]="teamId" (change)="onTeamSelect()">
                                <option value="0" disabled selected>Please Select Wing</option>
                                <option *ngFor="let team of teams" [value]="team.id" >{{ team.name }}</option>
                            </select>
                            <label for="timeZone">Wings</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form [formGroup]="messageForm!" (ngSubmit)=" onSubmit()">
            <div class="wider-container pt-1">
                <div class="tab-body">
                    <div class="tab-content" id="nav-tabContent">
                        <!-- Detail Section -->
                        <div id="permission-detail" class="tab-pane fade active show" role="tabpanel"
                            aria-labelledby="permission-detail-tab">
                            <div class="permission-detail-wrap">
                                <div id="holiday-detail" class="tab-pane fade active show" role="tabpanel"
                                aria-labelledby="holiday-detail-tab">
                                <div class="business-detail-wrap">
<!-- 
                                    <div class="floating-item mb-3">
                                        <div class="form-floating">
                                            <select class="form-select multi-select" aria-label="Floating label select" [(ngModel)]="teamId" name="teamId" (ngModelChange)="onTeamSelect()">
                                                <option value="0" disabled selected>Please Select Team</option>
                                                <option *ngFor="let team of teams" [value]="team.id" >{{ team.name }}</option>
                                            </select>
                                            <label for="timeZone">Teams</label>
                                        </div>
                                    </div> -->

                                    <div class="floating-item mb-3">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="policyName"
                                                placeholder="Policy Name" formControlName="policyName"
                                                [ngClass]="{'is-valid': messageForm.get('policyName')?.valid, 'is-invalid': messageForm.get('policyName')?.invalid && (messageForm.get('policyName')?.dirty || messageForm.get('policyName')?.touched)}">
                                            <label for="policyName"> Name</label>
                                            <span
                                                *ngIf="messageForm.get('policyName')?.invalid && (messageForm.get('policyName')?.dirty || messageForm.get('policyName')?.touched)"
                                                class="invalid-feedback">Only alphabets are allowed.</span>
                                            <span *ngIf="messageForm.get('policyName')?.valid" class="success-icon">
                                                <!-- <i class="fa fa-check-circle"></i> -->
                                            </span>
                                        </div>
                                    </div>
                                    <div class="floating-item mb-4">
                                        <div class="form-floating">
                                            <textarea class="form-control" placeholder="Leave a comment here"
                                                id="description" style="height: 100px" formControlName="description"
                                                [ngClass]="{'is-valid': messageForm.get('description')?.valid, 'is-invalid': messageForm.get('description')?.invalid && 
                                                (messageForm.get('description')?.dirty || messageForm.get('description')?.touched)}"></textarea>
                                            <label for="description">Description</label>
                                            <span
                                                *ngIf="messageForm.get('description')?.invalid && (messageForm.get('description')?.dirty || messageForm.get('description')?.touched)"
                                                class="invalid-feedback">Description is required.</span>
                                            <span *ngIf="messageForm.get('description')?.valid" class="success-icon">
                                                <!-- <i class="fa fa-check-circle"></i> -->
                                            </span>
                                        </div>
                                    </div>
                                    <div class="floating-item mb-4">
                                        <div class="form-floating mb-2">
                                            <select class="form-select multi-select" aria-label="Floating label select"
                                                formControlName="timeZone"
                                                [ngClass]="{'is-valid': messageForm.get('timeZone')?.valid, 'is-invalid': messageForm.get('timeZone')?.invalid && (messageForm.get('timeZone')?.dirty || messageForm.get('timeZone')?.touched)}">
                                                <option disabled selected>Select Time zone</option>
                                                <option value="(GMT+09:00) Karachi">(GMT+09:00) Karachi</option>
                                                <option value="(GMT+03:00) Lahore">(GMT+03:00) Lahore</option>
                                                <option value="(GMT+05:00) Peshawar">(GMT+05:00) Peshawar</option>
                                                <option value="(GMT+06:00) Islamabad">(GMT+06:00) Islamabad</option>
                                            </select>
                                            <label for="timeZone">Time zone</label>
                                            <span
                                                *ngIf="messageForm.get('timeZone')?.invalid && (messageForm.get('timeZone')?.dirty || messageForm.get('timeZone')?.touched)"
                                                class="invalid-feedback">Time zone is required.</span>
                                            <span *ngIf="messageForm.get('timeZone')?.valid" class="success-icon">
                                                <!-- <i class="fa fa-check-circle"></i> -->
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <!-- SLA Chart Section -->
                                <div class="sla-chart-section mt-5">
                                    <h5 class="sla-title mb-4">Set SLA target as:</h5>
                                    <div class="sla-chart-header border-bottom border-info">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <h6 class="charcoal mb-1">Priority</h6>
                                            </div>
                                            <div class="col-lg-3">
                                                <h6 class="charcoal mb-1">First response time</h6>
                                            </div>
                                            <div class="col-lg-3">
                                                <h6 class="charcoal mb-1">Every response time</h6>
                                            </div>
                                            <div class="col-lg-3">
                                                <h6 class="charcoal mb-1">Resolution time</h6>
                                            </div>
                                            <!-- <div class="col-lg-2">
                                                <h6 class="charcoal mb-1">Operational hours</h6>
                                            </div> -->
                                            <!-- <div class="col-lg-1">
                                                <h6 class="charcoal mb-1">Escalation</h6>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="sla-chart-body" formArrayName="slaTargets">
                                        <div *ngFor="let targetGroup of SLATargetsControls.controls; let i = index">
                                            <div class="row pt-4 pb-4 border-bottom" [formGroupName]="i">
                                                <div class="col-lg-3">
                                                    <div class="sla-status d-flex align-items-center h-100">
                                                        <ng-container [ngSwitch]="i">
                                                            <p class="m-0 ms-2 radical" *ngSwitchCase="0"> <i
                                                                    class="fal fa-flag radical mx-2"></i>Urgent</p>
                                                            <p class="m-0 ms-2 mango" *ngSwitchCase="1"> <i
                                                                    class="fal fa-flag mango mx-2 "></i>High</p>
                                                            <p class="m-0 ms-2 sky" *ngSwitchCase="2"> <i
                                                                    class="fal fa-flag sky mx-2"></i>Medium</p>
                                                            <p class="m-0 ms-2 mint" *ngSwitchCase="3"> <i
                                                                    class="fal fa-flag mint mx-2"></i>Low</p>
                                                        </ng-container>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                     <input class="form-control form-control-sm border"
                                                             placeholder="Enter Time"
                                                             aria-label="Positive integer only"
                                                             formControlName="firstResponseTime"
                                                             required>
                                                      <div class="error-message"
                                                           *ngIf="SLATargetsControls.controls[i].get('firstResponseTime')!.hasError('required')">
                                                        This field is required.
                                                      </div>
                                                      <div class="error-message"
                                                           *ngIf="SLATargetsControls.controls[i].get('firstResponseTime')!.hasError('pattern')">
                                                           Please fill first response time in correct format.
                                                      </div>
                                                    <!-- <input class="form-control form-control-sm border"
                                                        placeholder="4d 6h 30m" aria-label="15m "
                                                        formControlName="firstResponseTime" required>
                                                    <div class="error-message"
                                                        *ngIf="SLATargetsControls.controls[i].get('firstResponseTime')!.hasError('required')" >
                                                        Please fill first response time in correct format.
                                                    </div> -->
                                                </div>
                                                <div class="col-lg-3">
                                                    <input class="form-control form-control-sm border"
                                                             placeholder="Enter Time"
                                                             aria-label="Positive integer only"
                                                             formControlName="everyResponseTime"
                                                             required>
                                                      <div class="error-message"
                                                           *ngIf="SLATargetsControls.controls[i].get('everyResponseTime')!.hasError('required')">
                                                        This field is required.
                                                      </div>
                                                      <div class="error-message"
                                                           *ngIf="SLATargetsControls.controls[i].get('everyResponseTime')!.hasError('pattern')">
                                                           Please fill every response time in correct format.
                                                      </div>
                                                    <!-- <input class="form-control form-control-sm border" placeholder="Enter
                                                              time open" aria-label="Enter time open"
                                                        formControlName="everyResponseTime" required>
                                                    <div class="error-message"
                                                        *ngIf="SLATargetsControls.controls[i].get('everyResponseTime')!.hasError('required')">
                                                        Please fill every response time in correct format.
                                                    </div> -->
                                                </div>
                                                <div class="col-lg-3">
                                                      <input class="form-control form-control-sm border"
                                                             placeholder="Enter Time"
                                                             aria-label="Positive integer only"
                                                             formControlName="resolutionTime"
                                                             required>
                                                      <div class="error-message"
                                                           *ngIf="SLATargetsControls.controls[i].get('resolutionTime')!.hasError('required')">
                                                        This field is required.
                                                      </div>
                                                      <div class="error-message"
                                                           *ngIf="SLATargetsControls.controls[i].get('resolutionTime')!.hasError('pattern')">
                                                           Please fill resolution response time in correct format.
                                                      </div>

                                                    <!-- <input class="form-control form-control-sm border"
                                                        placeholder="Enter time open" aria-label="Enter time open"
                                                        formControlName="resolutionTime" required>
                                                    <div class="error-message"
                                                        *ngIf="SLATargetsControls.controls[i].get('resolutionTime')!.hasError('required')">
                                                        Please fill resolution time in correct format.
                                                    </div> -->
                                                </div>
                                                <!-- <div class="col-lg-2">
                                                    <select class="form-select" id="businessHoursSelect"
                                                        (change)="selectOperationalhours($any($event.target).value ,i)">
                                                        <option value="" selected disabled> Business Hours</option>
                                                        <option *ngFor="let operationalHour of oprationalHours"
                                                            [value]="operationalHour.id">
                                                            {{ operationalHour.oprationalHours }}
                                                        </option>
                                                    </select>
                                                </div> -->
                                                <!-- <div class="col-lg-1 ps-4">
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox" id="flexSwitch1"
                                                            data-bs-toggle="collapse" data-bs-target="#slacheck1"
                                                            aria-expanded="true" aria-controls="slacheck1"
                                                            formControlName="isEscalated">
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Roles Section -->
                        <div id="permission-rules" class="tab-pane fade" role="tabpanel"
                            aria-labelledby="permission-rules-tab">
                            <p class="line-txt mb-4">
                                Needs to be added later once discussed.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="ps-3 pe-3">
                    <div class="icon-buttons-wrapper d-flex justify-content-between pt-3 pb-4">
                        <div class="row w-100">
                            <div class="col-md-4">
                                <div class="f-icon-txt-wrapper d-flex align-items-center">
                                </div>
                            </div>
                            <div class="col-md-8 justify-content-end d-flex">
                                <div class="buttons-wrap d-flex">
                                    <button type="button" class="btn btn-outline-secondary btn-medium me-2 px-4"
                                        (click)="cancelForm()">Cancel</button>
                                    <button type="submit" [disabled]="messageForm.disabled" class="btn skyBg ms-2 px-4 btn-medium saveBtn"
                                        data-bs-target="">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </form>
    </div>
</div>