<div class="create-business-hour console-body-wrapper" data-scrollbar="true" tabindex="-1"
    style="overflow-y:auto; outline: none;">
    <div class="scroll-content">
        <form [formGroup]="messageForm!" (ngSubmit)=" onSubmit()">
            <div class="wider-container pt-3">
                <div class="tab-header">
                    <nav>
                        <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="permission-detail-tab" data-bs-toggle="tab"
                                data-bs-target="#permission-detail" type="button" role="tab"
                                aria-controls="permission-detail" aria-selected="false">
                                <h6>Details</h6>
                            </button>
                            <!-- <button class="nav-link" id="permission-rules-tab" data-bs-toggle="tab"
                                data-bs-target="#permission-rules" type="button" role="tab"
                                aria-controls="permission-rules" aria-selected="false">
                                <h6>Rules</h6>
                            </button> -->
                        </div>
                    </nav>
                </div>
                <div class="tab-body">
                    <div class="tab-content" id="nav-tabContent">
                        <!-- Detail Section -->
                        <div id="permission-detail" class="tab-pane fade active show" role="tabpanel"
                            aria-labelledby="permission-detail-tab">
                            <div class="permission-detail-wrap">
                                <div class="floating-list ps-5 pe-5">
                                    <div class="floating-item mb-4">
                                        <div class="floating-wrap form-floating">
                                            <input type="email" class="form-control" id="floatingInput"
                                                placeholder="Policy Name" id="policyName" formControlName="policyName">
                                            <label for="floatingInputValue">Name</label>
                                        </div>
                                        <div class="example-text">
                                            <small>e.g. Customer Support Team</small>
                                        </div>
                                    </div>
                                    <div class="floating-item mb-4">
                                        <div class="floating-wrap form-floating">
                                            <textarea class="form-control" placeholder="This roles &amp;
                                            permissions belong to agent and
                                            team members" id="description" formControlName="description" style="height:
                                            150px"></textarea>
                                            <label for="floatingTextarea2">Description</label>
                                        </div>
                                        <div class="example-text">
                                            <small>e.g. This SLA Policy belongs to Customer Support Channel</small>
                                        </div>
                                    </div>
                                    <div class="floating-item mb-4">
                                        <div class="form-floating mb-2">
                                            <select class="form-select multi-select" aria-label="Floating label select"
                                                formControlName="timeZone">
                                                <option selected="">(GMT+09:00) Karachi</option>
                                                <option value="1">(GMT+03:00) Lahore</option>
                                                <option value="2">(GMT+05:00) Peshawar</option>
                                                <option value="3">(GMT+06:00) Islamabad</option>
                                            </select>
                                            <label for="floatingSelect">Time zone</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- SLA Chart Section -->
                                <div class="sla-chart-section mt-5">
                                    <h5 class="sla-title mb-4">Set SLA target as:</h5>

                                    <div class="sla-chart-header border-bottom border-info">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <h6 class="charcoal mb-1">Priority</h6>
                                            </div>
                                            <div class="col-lg-2">
                                                <h6 class="charcoal mb-1">First response time</h6>
                                            </div>
                                            <div class="col-lg-2">
                                                <h6 class="charcoal mb-1">Every response time</h6>
                                            </div>
                                            <div class="col-lg-2">
                                                <h6 class="charcoal mb-1">Resolution time</h6>
                                            </div>
                                            <div class="col-lg-2">
                                                <h6 class="charcoal mb-1">Operational hours</h6>
                                            </div>
                                            <div class="col-lg-2">
                                                <h6 class="charcoal mb-1">Escalation</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sla-chart-body" formArrayName="slaTargets">
                                        <div *ngFor="let targetGroup of SLATargetsControls.controls; let i = index">
                                            <div class="row pt-4 pb-4 border-bottom" [formGroupName]="i">

                                                <div class="col-lg-2">
                                                    <div class="sla-status d-flex align-items-center h-100">

                                                        <ng-container [ngSwitch]="i">
                                                            <p class="m-0 ms-2 radical" *ngSwitchCase="0"> <i
                                                                    class="fal fa-flag radical mx-2"></i>Urgent</p>
                                                            <p class="m-0 ms-2 mango" *ngSwitchCase="1"> <i
                                                                    class="fal fa-flag mango mx-2 "></i>High</p>
                                                            <p class="m-0 ms-2 sky" *ngSwitchCase="2"> <i
                                                                    class="fal fa-flag sky mx-2"></i>Medium</p>
                                                            <p class="m-0 ms-2 mint" *ngSwitchCase="3"> <i
                                                                    class="fal fa-flag mint mx-2"></i>Low</p>
                                                        </ng-container>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <input class="form-control form-control-sm border"
                                                        placeholder="4d 6h 30m" aria-label="15m "
                                                        formControlName="firstResponseTime">
                                                </div>
                                                <div class="col-lg-2">
                                                    <input class="form-control form-control-sm border" placeholder="Enter
                                                              time open" aria-label="Enter time open"
                                                        formControlName="everyResponseTime">
                                                </div>
                                                <div class="col-lg-2">
                                                    <input class="form-control form-control-sm border"
                                                        placeholder="Enter time open" aria-label="Enter time open"
                                                        formControlName="resolutionTime">
                                                </div>
                                                <div class="col-lg-2">

                                                    <select class="form-select" id="businessHoursSelect"
                                                        (change)="selectOperationalhours($any($event.target).value ,i)">
                                                        <option value="" selected disabled> Business Hours</option>
                                                        <!-- Loop through the operationalHours array and create select options -->
                                                        <option *ngFor="let operationalHour of oprationalHours"
                                                            [value]="operationalHour.id">
                                                            {{ operationalHour.oprationalHours }}
                                                        </option>
                                                    </select>
                                                </div>

                                                <div class="col-lg-2 ps-4">
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox" id="flexSwitch1"
                                                            data-bs-toggle="collapse" data-bs-target="#slacheck1"
                                                            aria-expanded="true" aria-controls="slacheck1"
                                                            formControlName="isEscalated">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Roles Section -->
                        <div id="permission-rules" class="tab-pane fade" role="tabpanel"
                            aria-labelledby="permission-rules-tab">
                            <p class="line-txt mb-4">
                                Needs to be added later once discussed.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="ps-3 pe-3">
                    <div class="icon-buttons-wrapper d-flex justify-content-between pt-3 pb-4">
                        <div class="row w-100">
                            <div class="col-md-4">
                                <div class="f-icon-txt-wrapper d-flex align-items-center">
                                </div>
                            </div>
                            <div class="col-md-8 justify-content-end d-flex">
                                <div class="buttons-wrap d-flex">
                                    <button type="button" class="btn btn-outline-secondary btn-medium me-2 px-4"
                                        (click)="cancelForm()">Cancel</button>
                                    <button type="submit" class="btn skyBg ms-2   px-4 btn-medium saveBtn"
                                        data-bs-target="">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </form>
    </div>

</div>