<div class="tags-wrap console-body-wrapper" data-scrollbar="true" tabindex="-1"
  style="overflow-y: auto; outline: none;">
  <div class="scroll-content">
    <div class="wider-container pt-3">
      <div id="nav-team">
        <div class="searchBar-wrapper mb-4">
          <div class="row">
            <div class="col-lg-4">
              <div class="d-flex align-items-lg-center">
                <p class="coal m-0">Status:</p>
                <div class="dropdown">
                  <button class="btn dropdown-toggle coal" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {{ status }}
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>
                      <a class="dropdown-item" (click)="setStatus('All')">All</a>
                    </li>
                    <li>
                      <a class="dropdown-item" (click)="setStatus('Ascending')">Ascending</a>
                    </li>
                    <li>
                      <a class="dropdown-item" (click)="setStatus('Descending')">Descending</a>
                    </li>
                    <li>
                      <a class="dropdown-item" (click)="setStatus('Tickets')">Tickets</a>
                    </li>
                    <li>
                      <a class="dropdown-item" (click)="setStatus('Contacts')">Contacts</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-8 d-flex align-items-center justify-content-end">
              <a class="search-btn">
                <button class="iconButton medium">
                  <i class="fal fa-search silver"></i>
                </button>
                <input placeholder="Search">
              </a>
              <a (click)="updatevalue('consoleCreateTagsHeader')" [routerLink]="['/console/tag/create/0']" class="ms-2">
                <button type="button" class="btn btn-success">
                  <i class="fal fa-plus me-2"></i>
                  Create Tags
                </button>
              </a>
            </div>
          </div>
        </div>
        <div class="table-section">
          <table class="table mb-5 align-middle">
            <thead>
              <tr>
                <th>
                  {{ tags.length }} Tags
                </th>
                <th>
                  <a class="charcoal hover-icon" (click)="sortByTickets()">
                    Tickets
                    <i class="fas fa-long-arrow-alt-down"></i>
                  </a>
                </th>
                <th>
                  <a class="charcoal hover-icon" (click)="sortByContacts()">
                    Contacts
                    <i class="fas fa-long-arrow-alt-down"></i>
                  </a>
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tag of tags">
                <th>
                  <a class="night">{{ tag.name }}</a>
                </th>
                <td>
                  <div class="d-flex align-items-center darkblue">
                    <i class="fal fa-ticket coal coal me-2"></i>
                    {{ tag.tickets }}
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center darkblue">
                    <i class="fal fa-id-card coal me-2"></i>
                    {{ tag.contacts }}
                  </div>
                </td>
                <td>
                  <div class="icons-list d-flex justify-content-end dropstart">
                    <button class="btn iconButton medium iconHover" (click)="editTag(tag)">
                      <i class="fal fa-edit"></i>
                    </button>
                    <button class="btn iconButton medium iconHover btn-group" type="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      <i class="far fa-ellipsis-v dropdown-toggle"></i>
                    </button>
                    <ul class="dropdown-menu fade">
                      <li>
                        <a class="dropdown-item" (click)="editTag(tag)">Edit</a>
                      </li>
                      <li>
                        <a class="dropdown-item" (click)="deleteTemplate(tag)">Delete</a>
                      </li>
                      <li>
                        <a class="dropdown-item" (click)="disableTag(tag)">Disable</a>
                      </li>
                      <li>
                        <a class="dropdown-item" (click)="cloneTag(tag)">Clone</a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>
                  <nav aria-label="Page navigation example" class="d-flex align-items-center mt-3 mb-3">
                    <ul class="pagination m-0">
                      <li class="page-item" (click)="previousPage()">
                        <a class="page-link">Previous</a>
                      </li>
                      <li class="page-item" *ngFor="let pageNumber of getPageNumbers()">
                        <a class="page-link" (click)="goToPage(pageNumber)">{{ pageNumber }}</a>
                      </li>
                      <li class="page-item" (click)="nextPage()">
                        <a class="page-link">Next</a>
                      </li>
                    </ul>
                  </nav>
                </td>
                <td></td>
                <td></td>
                <td>
                  <div class="tags-per-page d-flex align-items-center justify-content-end mt-3 mb-3 coal">
                    Per page
                    <div class="dropdown simple-dropdown w-auto">
                      <button class="dropdown-toggle chevron-icon down ps-2 pe-4" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{ perPage }}
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li>
                          <a class="dropdown-item" (click)="setPerPage(15)">15</a>
                        </li>
                        <li>
                          <a class="dropdown-item" (click)="setPerPage(30)">30</a>
                        </li>
                        <li>
                          <a class="dropdown-item" (click)="setPerPage(45)">45</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>