<div class="w-auto chat-message-component w-100 inbox-container">
  <div class="d-flex main-body-wrapper">
    <div class="agent-page-main-content">
      <div class="filter-toolbar p-0 border-0 collapse show" id="filter-bar">
        <div class="filter-panel">
          <!-- <p style="display: contents;"><b>Report Name: </b></p> -->
          <ng-select
            class="filter-buttons"
            [(ngModel)]="reportName"
            (change)="getReportData()"
            [clearable]="false"
          >
            <ng-option
              style="width: 250px; margin-right: 10px; background-color: red"
              *ngFor="let report of reports"
              [value]="report.name"

              >{{ report.name }}</ng-option
            >
          </ng-select>
          <div style="margin-right: 6px" *ngIf="tableData.length > 0">
            <!-- <input
              type="number"
              name="limit"
              value="0"
              class="form-control"
              [(ngModel)]="limitValue"
              (input)="limitData()"
              required
            /> -->
            <ng-select
              class="filter-buttons"
              [(ngModel)]="pageSize"
              (change)="limitData()"
              [clearable]="false"
            >
              <ng-option *ngFor="let size of pageSizes" [value]="size">{{
                size
              }}</ng-option>
            </ng-select>
          </div>
          <div class="analytics-pagination-bar" *ngIf="tableData.length > 0">
            <div class="">
              <button
                class="btn iconHover"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ startPage }}-{{ endPage }} of {{ totalCount }}
              </button>
              <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Newest</a></li>
                    <li><a class="dropdown-item" href="#"> Oldest</a></li>
                </ul> -->
            </div>
            <span class="iconButton medium iconHover" (click)="decrementPage()">
              <i class="fal fa-chevron-left"></i>
            </span>
            <span class="iconButton medium iconHover" (click)="incrementPage()">
              <i class="fal fa-chevron-right"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="agent-skill-stats pb-3">
        <div class="tab-content" id="nav-tabContent">
          <div
            class="tab-pane fade show active"
            id="agent-stats"
            role="tabpanel"
            aria-labelledby="agent-stats-tab"
          >
            <div
              class="query-container perfect-scrollbar"
              data-scrollbar="true"
              tabindex="-1"
              style="overflow: auto; outline: none"
            >
              <div class="scroll-content" style="width: 45vh">
                <table class="table">
                  <thead>
                    <tr>
                      <th *ngFor="let key of dataKeys">{{ key }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="region-row" *ngFor="let row of tableData">
                      <td *ngFor="let key of dataKeys">
                        <div class="d-flex align-items-center darkblue">
                          {{ row[key] }}
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer" *ngIf="tableData.length > 0">
          <div class="ps-3 pe-3">
            <div
              class="icon-buttons-wrapper d-flex justify-content-between pt-3 pb-4"
            >
              <div class="row w-100">
                <div class="col-md-4">
                  <div
                    class="f-icon-txt-wrapper d-flex align-items-center"
                  ></div>
                </div>
                <div class="col-md-8 justify-content-end d-flex">
                  <div class="buttons-wrap d-flex">
                    <button
                      type="button"
                      class="btn skyBg ms-2 px-4 btn-medium saveBtn"
                      data-bs-target=""
                      (click)="exportAsXLSX()"
                    >
                      Download
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>
