<monitoring-content>
  <div class="row" *ngIf="chats.length === 0">
    <div class="col-sm-12">
      <section
        class="empty col d-flex flex-column justify-content-center h-100 align-items-center gap-3"
      >
        <img src="../../../../assets//images/empty.svg" width="300px" alt="" />
        <p class="m-0 coal">Select the conversation to load the messages</p>
      </section>
    </div>
  </div>
  <main class="chatlisting row align-items-start p-3">
    <div
      class="page-content-wrapper custom-scroll chatbot-main"
      [ngClass]="{ thirdactive: chats.length === 3 }"
      *ngIf="chats.length > 0"
    >
      <div class="row align-items-start"> 
        <div
          *ngFor="let chat of chats"
          [ngClass]="{
            'col-12': chats.length === 1,
            'col-md-6': chats.length === 2,
            'col-md-4': chats.length === 3
          }"
        >
          <app-bot-chat
            [chat]="chat"
            (minimizeToggle)="onMinimizeToggle(chat)"
          ></app-bot-chat>
          <!-- (minimizeToggle)="onMinimizeToggle(chat)" -->
        </div>
      </div>
    </div>
  </main>
</monitoring-content>
