<nav id="dialer-rightbar" class="expended-rigth-sidebar open ps-0">
    <div class="right-bar-wrapper">
        <div class="dialerWrapper" [ngClass]="{'incomingCall': inboundCall, 'call-connected': OBCallConnected}">
            <div class="dialerBgHead">
                <img src="../../../../assets/images/wave.svg" alt="">
            </div>
            <div class="dialerContent">
                <div class="tab-content" #dialerTabContent>
                    <div id="dialer" class="tab-pane dialerTab dialerMainTabs show active" role="tabpanel" aria-labelledby="dialer">
                      <div class="d-flex justify-content-between py-3 px-3" *ngIf="isSipRegistered">
                        <button class="btn  btn-light" (click)="changeStatus('READY','*3')">Ready</button>
                        <button class="btn  btn-light" (click)="changeStatus('Manual Dial','*12')">Manual</button>
                        <button class="btn  btn-light" (click)="changeStatus('15 Min Break','*417')">Short Break</button>
                        <button class="btn  btn-light" (click)="changeWrapup()">Unwrapup</button>
                        <button class="btn  btn-light" (click)="sipLogin()">Login</button>
                        <button class="btn  btn-light" (click)="sipLogout()">Logout</button>
                      </div>
                      <div class="dialerTab-Content" [ngClass]="{'inboundCall' : inboundCall ,'on-transfered' : box2Show}">
                            <div class="call-without-transfered" [ngClass]="{'dialerScreen' : !inManualCall || (!inboundCall && transferringCall),'compress': !OBCallConnected && showManualTransferButtons && !callTransferred}">
                                <div class="header dialerHeader" [ngClass]="{'compress' : callTransferred}">
                                    <div class="dialer-title">
                                        Smart Dialer
                                    </div>
                                    <div class="call-type">
                                        {{ inboundCall ? "Incoming Call" : "Manual Call" }}
                                    </div>
                                    <div class="call-avatar dialer-call-avatar" [ngClass]="{'d-none': callTransferred}">
                                        <div *ngIf="userInfo.image" class="avatar large person-image" [ngClass]="{'show' : inManualCall && !transferringCall}">
                                            <img src="../images/avatar-8.jpg" alt="">
                                        </div>
                                        <div *ngIf="!userInfo.name" class="avatar large callIcon" [ngClass]="{'show' : inManualCall && !transferringCall}">
                                            <i class="far fa-user"></i>
                                        </div>
                                        <div *ngIf="userInfo.name" class="avatar large person-name" [ngClass]="{'show' : inManualCall && !transferringCall}">
                                            AK
                                        </div>
                                    </div>
                                </div>
                                <div class="numberInputWrapper dialer-numberInputWrapper show" [ngClass]="{'d-none' : inManualCall || transferringCall || box2Show}">
                                    <div class="dialer-numberInput">
                                        <div class="person-number-input">
                                            <input class="numberInput second" value="" [(ngModel)]="manualDialNum">
                                        </div>
                                        <div class="number-backspace">
                                            <i class="fal fa-backspace"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-details-wrapper accordion md-accordion" [ngClass]="{'show' : inManualCall && (transferringCall || !callTransferred)}" id="accordionExample" role="tablist" aria-multiselectable="true">
                                    <div class="contact-details">
                                        <div class="person-numbers-dropdown collapsed" [ngClass]="{'hide': transferringCall}" data-bs-parent="#accordionExample" data-bs-toggle="collapse" data-bs-target="#ContactOtherNum" aria-expanded="true" aria-controls="ContactOtherNum">
                                            <i class="far fa-chevron-down ice"></i>
                                        </div>
                                        <div class="person-details">
                                            <div class="person-name">
                                                <div class="name">{{ userInfo.name }}</div>
                                                <div class="person-designation" [ngClass]="{'d-none' : inManualCall && !transferringCall}">Technical Support Consultant</div>
                                            </div>
                                            <div class="number-count" [ngClass]="{'d-none' : !inManualCall || transferringCall}" data-bs-parent="#accordionExample" data-bs-toggle="collapse" data-bs-target="#ContactOtherNum" aria-expanded="true" aria-controls="ContactOtherNum">
                                                +3
                                            </div>
                                        </div>
                                        <div class="contact-action hide">
                                            <i class="fal fa-plus ice"></i>
                                        </div>
                                    </div>
                                    <div class="person-numbers-list collapse" id="ContactOtherNum" role="tabpanel" aria-labelledby="headingOne1" data-bs-parent="#accordionExample">
                                        <div class="listItem">
                                            <div class="number">0300 1234567</div>
                                            <div class="d-flex actionWrapper">
                                                <div class="number-action">
                                                    <i class="fal fa-comment-alt"></i>
                                                </div>
                                                <div class="number-action">
                                                    <i class="fal fa-phone-alt"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="listItem">
                                            <div class="number">0300 1234567</div>
                                            <div class="d-flex actionWrapper">
                                                <div class="number-action">
                                                    <i class="fal fa-comment-alt"></i>
                                                </div>
                                                <div class="number-action">
                                                    <i class="fal fa-phone-alt"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="listItem">
                                            <div class="number">0213 1234567</div>
                                            <div class="d-flex actionWrapper">
                                                <div class="number-action">
                                                    <i class="fal fa-phone-alt"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="number-dialing" [ngClass]="{'show' : inManualCall || (transferringCall && !callTransferred)}">
                                    <div class="number">
                                        {{ manualDialNum }}
                                    </div>
                                    <div class="dialing-status wide" [ngClass]="{'wide' : inManualCall && OBCallConnected && !transferringCall}">
                                        <div class="status">{{ dialingStatus }}</div>
                                        <div class="dialingLoader" [ngClass]="{'d-none' : inManualCall && OBCallConnected && !transferringCall}">
                                            <div class="loading"></div>
                                        </div>
                                        <div class="status-time" [ngClass]="{'d-none' : !OBCallConnected || transferringCall}">0:00</div>
                                    </div>
                                    <div class="dialing-time" [ngClass]="{'hide' : inManualCall && OBCallConnected && !transferringCall}">
                                        0:00
                                    </div>
                                </div>
                                <div class="inbound-call-transfer" [ngClass]="{'d-none' : transferringCall || callTransferred}">
                                    <div class="inbound-attended-transfer transfer-types-btn active btn" [ngClass]="{'active' : transferType =='attended'}" (click)="setTransferType('attended')">Attended Transfer</div>
                                    <div class="inbound-conference-transfer transfer-types-btn btn" [ngClass]="{'active' : transferType =='conference'}" (click)="setTransferType('conference')">Conference</div>
                                    <div class="inbound-direct-transfer transfer-types-btn btn" [ngClass]="{'active' : transferType =='blind'}" (click)="setTransferType('blind')">Direct Transfer
                                    </div>
                                </div>
                                <div class="keypad dialer-keypad open" [ngClass]="{'d-none' : inManualCall || transferringCall || callTransferred}">
                                    <div class="d-flex keypad-row">
                                        <button class="keypad-btn btn">1</button>
                                        <button class="keypad-btn btn">2</button>
                                        <button class="keypad-btn btn">3</button>
                                    </div>
                                    <div class="d-flex keypad-row">
                                        <button class="keypad-btn btn">4</button>
                                        <button class="keypad-btn btn">5</button>
                                        <button class="keypad-btn btn">6</button>
                                    </div>
                                    <div class="d-flex keypad-row">
                                        <button class="keypad-btn btn">7</button>
                                        <button class="keypad-btn btn">8</button>
                                        <button class="keypad-btn btn">9</button>
                                    </div>
                                    <div class="d-flex keypad-row">
                                        <button class="keypad-btn btn">*</button>
                                        <button class="keypad-btn btn">0</button>
                                        <button class="keypad-btn btn">#</button>
                                    </div>
                                </div>
                                <div class="buttons-section">
                                    <div class="mainBtns-group show" [ngClass]="{'d-none': callTransferred || inboundCall}">
                                        <button class="actionBtn cancelCallBtn iceBg" (click)="confirmCancelCall()" [ngClass]="{'show' : manualDisconnect}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Cancel">
                                          <i class="fal fa-times ocean"></i>
                                        </button>
                                        <button class="actionBtn dialBtn" [ngClass]="{'show' : !inManualCall || manualDisconnect}" (click)="manualDial()" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Dial">
                                          <i class="fal fa-phone-alt ice"></i>
                                        </button>
                                        <button class="actionBtn leaveMsgBtn iceBg" [ngClass]="{'show' : manualDisconnect}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Leave a Message">
                                          <i class="fal fa-comment-alt ocean"></i>
                                        </button>
                                        <button class="actionBtn disconnectBtn" (click)="hangUpCall(1)" [ngClass]="{'show' : inManualCall && !manualDisconnect}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Disconnect">
                                          <i class="fal fa-phone-alt ice disconnectIcon"></i>
                                        </button>
                                    </div>
                                    <div class="callConnected-btns" [ngClass]="{'show' : OBCallConnected || box2Show, 'hide': transferringCall, 'd-none': transferringCall && !callTransferred}">
                                        <button class="smallBtn trans muteCallButton" (click)="toggleMute()" [ngClass]="{'active': isMute}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ isMute? 'Unmute' : 'Mute' }}">
                                          <i class="fal" [ngClass]="{'fa-microphone-slash' : isMute, 'fa-microphone' : !isMute }"></i>
                                        </button>
                                        <button class="smallBtn disconnectMergedBtn radicalBg d-none" [ngClass]="{'d-none': !callMerged}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Disconnect">
                                          <i class="fal fa-phone-alt disconnectIcon"></i>
                                        </button>
                                        <button class="smallBtn trans transferBtn" [ngClass]="{'active': showManualTransferButtons, 'd-none': callTransferred}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Transfer Call" (click)="transferBtnClick()">
                                          <i class="fal fa-share"></i>
                                        </button>
                                        <button class="smallBtn trans holdCallButton" [ngClass]="{'active': isHold}" (click)="toggleHold(1)" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ isMute? 'Unhold' : 'Hold' }}" data-bs-original-title="Hold">
                                          <i class="fal fa-pause"></i>
                                        </button>
                                        <button class="smallBtn trans IVRBtn" [ngClass]="{'d-none': callTransferred}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="IVR">
                                          <i class="fal fa-wave-triangle"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="call-transfer-types d-none" [ngClass]="{'d-none': !showManualTransferButtons || transferringCall}">
                                    <div class="transfer-pill btn attended" [ngClass]="{'active' : transferType =='attended'}" (click)="setTransferType('attended')">
                                        Attended Transfer
                                    </div>
                                    <div class="transfer-pill btn" [ngClass]="{'active' : transferType =='conference'}" (click)="setTransferType('conference')">
                                        Conference
                                    </div>
                                    <div class="transfer-pill btn" [ngClass]="{'active' : transferType =='blind'}" (click)="setTransferType('blind')">
                                        Blind Transfer
                                    </div>
                                </div>
                                <div class="keypad IVR-keypad d-none" [ngClass]="{'d-none': !OBCallConnected || callTransferred, 'open': !OBCallConnected && !showManualTransferButtons}">
                                    <div class="d-flex keypad-row">
                                        <button class="keypad-btn btn">1</button>
                                        <button class="keypad-btn btn">2</button>
                                        <button class="keypad-btn btn">3</button>
                                    </div>
                                    <div class="d-flex keypad-row">
                                        <button class="keypad-btn btn">4</button>
                                        <button class="keypad-btn btn">5</button>
                                        <button class="keypad-btn btn">6</button>
                                    </div>
                                    <div class="d-flex keypad-row">
                                        <button class="keypad-btn btn">7</button>
                                        <button class="keypad-btn btn">8</button>
                                        <button class="keypad-btn btn">9</button>
                                    </div>
                                    <div class="d-flex keypad-row">
                                        <button class="keypad-btn btn">*</button>
                                        <button class="keypad-btn btn">0</button>
                                        <button class="keypad-btn btn">#</button>
                                    </div>
                                </div>
                                <div class="transfer-status-wrapper" [ngClass]="{'d-none': !box2Show}">
                                    <div class="content-wrapper">
                                        <div class="transfer-type text">Attended Transfer</div>
                                        <div class="transfer-time text">05:48</div>
                                    </div>
                                </div>
                                <div class="input-number-status d-none">
                                    <div class="number-status">Number Not Found</div>
                                </div>
                                <div class="dial-btn-inbound-transfer" [ngClass]="{'d-none': transferringCall}">
                                    <div class="btn emeraldBg dialContact" (click)="transferCall()">
                                        <i class="fal fa-phone-alt"></i>
                                    </div>
                                </div>
                                <div class="call-dialer-component" [ngClass]="{'show' : showSecondCallDialer}" id="callDialerComponent">
                                    <div class="dialerComponentBg">
                                        <img src="../../../../assets/images/wave.svg" alt="">
                                    </div>
                                    <div class="dialerComponent-Content">
                                        <div class="header">
                                            <div class="dialer-title">
                                                Smart Dialer
                                            </div>
                                            <div class="call-type">
                                                Outgoing Call
                                            </div>
                                        </div>
                                        <div class="numberInputWrapper show">
                                            <div class="dialer-numberInput">
                                                <div class="person-number-input">
                                                    <input class="numberInput first" [(ngModel)]="transferNum">
                                                </div>
                                                <div class="number-backspace">
                                                    <i class="fal fa-backspace"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="keypad dialer-component-keypad open">
                                            <div class="d-flex keypad-row">
                                                <button class="keypad-btn btn">1</button>
                                                <button class="keypad-btn btn">2</button>
                                                <button class="keypad-btn btn">3</button>
                                            </div>
                                            <div class="d-flex keypad-row">
                                                <button class="keypad-btn btn">4</button>
                                                <button class="keypad-btn btn">5</button>
                                                <button class="keypad-btn btn">6</button>
                                            </div>
                                            <div class="d-flex keypad-row">
                                                <button class="keypad-btn btn">7</button>
                                                <button class="keypad-btn btn">8</button>
                                                <button class="keypad-btn btn">9</button>
                                            </div>
                                            <div class="d-flex keypad-row">
                                                <button class="keypad-btn btn">*</button>
                                                <button class="keypad-btn btn">0</button>
                                                <button class="keypad-btn btn">#</button>
                                            </div>
                                        </div>
                                        <div class="buttons-section">
                                            <div class="mainBtns-group show" [ngClass]="{'d-none': callTransferred}">
                                                <div class="actionBtn dialContact btn show" (click)="transferCall()">
                                                    <i class="fas fa-phone-alt ice"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cancel-dialer-wrapper">
                                            <div class="cancel-dialer-btn back-to-call" (click)="showSecondDialer(false)">
                                                <i class="far fa-long-arrow-left ice"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="call-transfered" [ngClass]="{'flex' : callTransferred}">
                                <div class="connected-person-box-wrapper">
                                    <div class="connected-person-box box1" [ngClass]="{'show': transferringCall || callTransferred}">
                                        <div class="boxWrapper">
                                            <div class="boxBody">
                                                <div class="detailWrapper">
                                                    <div class="avatarWrapper">
                                                        <div class="avatar medium">
                                                            <img src="../images/avatar-8.jpg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="contact-details">
                                                        <div class="name">Fatima Ahmed</div>
                                                        <div class="number">+92 300 1234567</div>
                                                    </div>
                                                </div>
                                                <div class="actionWrapper">
                                                    <div class="actionBtn">
                                                        <i class="fal fa-pause mango"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="boxBottom">
                                                <div class="callStatus">
                                                    On-Hold
                                                    <span>01:17</span>
                                                </div>
                                                <div class="call-actionButtons d-flex">
                                                    <button class="smallBtn trans transBgActive callResumeButton" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Resume">
                          <i class="fal fa-phone-alt ice"></i>
                        </button>
                                                    <button class="smallBtn trans transBgActive callHoldButton" [ngClass]="{'d-none': transferringCall}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Hold">
                          <i class="fal fa-pause mango ice"></i>
                        </button>
                                                    <button class="smallBtn trans transBgActive callDisconnectButton" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Diconnect">
                          <i class="fal fa-phone-alt disconnectIcon ice"></i>
                        </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="call-merged-dots d-none">
                                        <div class="dot1 dot">.</div>
                                        <div class="dot2 dot">.</div>
                                        <div class="dot3 dot">.</div>
                                        <div class="dot4 dot">.</div>
                                        <div class="dot5 dot">.</div>
                                    </div>
                                    <div class="connected-person-box box2" [ngClass]="{'show': box2Show}">
                                        <div class="boxWrapper">
                                            <div class="boxBody">
                                                <div class="detailWrapper">
                                                    <div class="avatarWrapper">
                                                        <div class="avatar medium berryBg">
                                                            <div class="person-name">AK</div>
                                                        </div>
                                                    </div>
                                                    <div class="contact-details">
                                                        <div class="name">Aniqa Khan</div>
                                                        <div class="number">+92 300 8957452</div>
                                                    </div>
                                                </div>
                                                <div class="actionWrapper">
                                                    <div class="actionBtn">
                                                        <i class="fal fa-phone-alt emerald"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="boxBottom">
                                                <div class="callStatus">
                                                    Connected
                                                    <span>02:32</span>
                                                </div>
                                                <div class="call-actionButtons d-flex">
                                                    <button class="smallBtn trans transBgActive callResumeButton" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Resume">
                          <i class="fal fa-phone-alt"></i>
                        </button>
                                                    <button class="smallBtn trans transBgActive callHoldButton" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Hold">
                          <i class="fal fa-pause mango ice"></i>
                        </button>
                                                    <button class="smallBtn trans transBgActive mergedCallHangUpBtn callDisconnectButton" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Diconnect">
                          <i class="fal fa-phone-alt disconnectIcon"></i>
                        </button>
                                                    <button class="smallBtn trans IVRBtnSecond" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="IVR">
                          <i class="fal fa-wave-triangle"></i>
                        </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="keypad IVRSecond-keypad secondCallDTMP-keypad">
                                        <div class="d-flex keypad-row">
                                            <button class="keypad-btn btn">1</button>
                                            <button class="keypad-btn btn">2</button>
                                            <button class="keypad-btn btn">3</button>
                                        </div>
                                        <div class="d-flex keypad-row">
                                            <button class="keypad-btn btn">4</button>
                                            <button class="keypad-btn btn">5</button>
                                            <button class="keypad-btn btn">6</button>
                                        </div>
                                        <div class="d-flex keypad-row">
                                            <button class="keypad-btn btn">7</button>
                                            <button class="keypad-btn btn">8</button>
                                            <button class="keypad-btn btn">9</button>
                                        </div>
                                        <div class="d-flex keypad-row">
                                            <button class="keypad-btn btn">*</button>
                                            <button class="keypad-btn btn">0</button>
                                            <button class="keypad-btn btn">#</button>
                                        </div>
                                    </div>
                                    <div class="merged-call-hanged-up connected-person-box">
                                        <div class="boxWrapper">
                                            <div class="boxBody">
                                                <div class="detailWrapper">
                                                    <div class="avatarWrapper">
                                                        <div class="avatar medium berryBg">
                                                            <div class="person-name">AK</div>
                                                        </div>
                                                    </div>
                                                    <div class="contact-details">
                                                        <div class="name">Aniqa Khan</div>
                                                        <div class="number">+92 300 8957452</div>
                                                    </div>
                                                </div>
                                                <div class="actionWrapper callHangedUp">
                                                    <button class="emeraldBg dialContact">
                          <i class="fal fa-phone-alt"></i>
                        </button>
                                                    <div class="btnLabel">
                                                        Redial
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="boxBottom">
                                                <div class="callStatus radical">
                                                    <span>Call has been dropped</span>
                                                </div>
                                                <div class="call-actionButtons d-flex">
                                                    <button class="smallBtn transparent close-merged-call-hanged-up">
                          <i class="fal fa-times"></i>
                        </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="merge-split-call-btns">
                                    <div class="mergeCallBtn btnWrap" [ngClass]="{'show': !callMerged && callTransferred}">
                                        <div class="btn">
                                            <img src="../images/icon-merge.svg" alt="">
                                        </div>
                                        <div class="btn-label">
                                            <div class="label">Merge</div>
                                            <div class="sub-label">Conference</div>
                                        </div>
                                    </div>
                                    <div class="splitCallBtn btnWrap">
                                        <div class="btn">
                                            <img src="../images/icon-split.svg" alt="">
                                        </div>
                                        <div class="btn-label">
                                            <div class="label">Split</div>
                                            <div class="sub-label">Conference</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="leave-call-btn" [ngClass]="{'show': box2Show}">
                                    <div class="btn leaveCallBtn">
                                        Leave
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <app-web-phone-contacts *ngIf="contacts == true" (callNumber)="callFromContacts($event)"
                                            (contactsComponent)="closeContactsComponent($event)"></app-web-phone-contacts>
                        <app-web-phone-call-list *ngIf="callList == true"></app-web-phone-call-list>
                </div>
                <div class="dialerActions" #dialerTabs>
                    <ul class="tabs nav nav-tabs" [ngClass]="{'show' : showDialerTabs || (showManualTransferButtons && !transferringCall)}" id="nav-tab" role="tablist">
                        <li class="tab nav-item contactBtn" (click)="loadComponent('contacts')">
                            <button class="nav-link" id="contacts-tab" data-bs-toggle="tab" data-bs-target="#contacts" type="button" role="tab" aria-controls="contacts" aria-selected="true">
                                <i class="far fa-user coal"></i>
                                <div class="tab-heading coal">Contacts</div>
                            </button>
                        </li>
                        <li class="tab nav-item callListBtn" (click)="loadComponent('callList')">
                            <button class="nav-link" id="callList-tab" data-bs-toggle="tab" data-bs-target="#callList" type="button" role="tab" aria-controls="callList" aria-selected="true">
                                <i class="far fa-bars coal"></i>
                                <div class="tab-heading coal">Call List</div>
                            </button>
                        </li>
                        <li class="tab nav-item dialerTabBtn" (click)="showSecondDialer(true)">
                            <button class="nav-link active" id="dialer-tab" data-bs-toggle="tab" data-bs-target="#dialer" type="button" role="tab" aria-controls="dialer" aria-selected="true">
                                <div class="phoneDialerIcon">
                                    <i class="fas fa-ellipsis-h coal"></i>
                                    <i class="fas fa-ellipsis-h coal"></i>
                                    <i class="fas fa-ellipsis-h coal"></i>
                                    <i class="fas fa-circle circle coal"></i>
                                </div>
                                <div class="tab-heading">Dial</div>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </nav>
