<div class="multiple-screens" *ngIf="hasFocusedPermission">
  <div id="all-inboxes-wrapper">
    <div class="sidebar-header border-bottom ps-4 pe-3 pt-3 pb-3" > 
      <h6 class="fw-bold m-0">All Inboxes <span class="badge twltte-bg rounded-pill"
          *ngIf="UnResponded > 0">{{UnResponded}}</span></h6>
    </div>
    <ul class="list-group list-group-flush" id="inboxes-list" data-scrollbar="true" tabindex="-1"
      style="overflow-y: auto; outline: none;">
      <div class="scroll-content">
        <a class="all-inboxes-menu list-group-item list-group-item-action" [routerLink]="['/all-inboxes/'+flag+'/all']"
          (click)="updateWing('')" [class.active]="activeChannel == 'all'" value="all-conversation">
          <div class="iconButton medium skyBg">
            <i class="far fa-inbox"></i>
          </div>
          <div class="ms-2 me-auto">
            <div class="black-text">All Conversations </div>
          </div>
          <span class="badge twltte-bg rounded-pill" *ngIf="UnResponded > 0">{{UnResponded}}</span>
        </a>
        <a class="all-inboxes-menu list-group-item list-group-item-action" *ngFor="let channel of allSkills"
          (click)="updateWing(channel.skilSlug)"  [class.active]="activeChannel == channel.skilSlug" [routerLink]="['/all-inboxes/'+flag+'/'+channel.skilSlug]">
          <div [ngClass]="channel.color" [innerHTML]="channel.icon ">
          </div>
          <div class="ms-2 me-auto">
            <div class="black-text">{{channel.skillName}}</div>
            <small class="coal">{{channel.wing}}</small>
          </div>
          <!-- <span class="badge twltte-bg rounded-pill">{{channel.count}}</span> -->
        </a>
      </div>
    </ul>
  </div>
</div>