<div class="multiple-screens">
    <div id="all-inboxes-wrapper">
      <div class="sidebar-header border-bottom ps-4 pe-3 pt-3 pb-3">
        <h6 class="fw-bold m-0">All Inboxes <span class="badge twltte-bg rounded-pill">{{UnResponded}}</span></h6>
      </div>
      <ul class="list-group list-group-flush" id="inboxes-list" data-scrollbar="true" tabindex="-1"
        style="overflow-y: auto; outline: none;">
        <div class="scroll-content">
          <a (click)="updatevalue('')" [routerLink]="['/all-inboxes/my_inbox']"
            class="all-inboxes-menu list-group-item list-group-item-action" value="all-conversation">
            <div class="iconButton medium skyBg">
              <i class="far fa-inbox"></i>
            </div>
            <div class="ms-2 me-auto">
              <div class="black-text">All Conversations </div>
            </div>
            <span class="badge twltte-bg rounded-pill">{{UnResponded}}</span>
          </a>
          <!-- <a (click)="updatevalue('allInboxesHeader')" [routerLink]="['/all-inboxes/sla']"
            class="all-inboxes-menu list-group-item list-group-item-action" value="all-slas">
            <div class="iconButton medium radicalBg">
              <i class="fal fa-bell"></i>
            </div>
            <div class="ms-2 me-auto">
              <div class="black-text">SLAs Imminent</div>
              <span class="badge rounded-pill badge-danger">{{SlaUnResponded}} High </span>

              <span class="badge rounded-pill badge-success">5 Low</span>
            </div>
            <span class="badge twltte-bg rounded-pill">{{SlaUnResponded}}</span>
          </a> -->

<!-- From DB -->
          <!-- <a *ngFor="let channel of allChannels" (click)="updatevalue(channel.title)" [routerLink]="['/all-inboxes/my_inbox']"
            class="all-inboxes-menu list-group-item list-group-item-action">
            <div [ngClass]="channel.color" [innerHTML]="channel.icon">
            </div>
            <div class="ms-2 me-auto">
              <div class="black-text">{{channel.title}}</div>
              <small class="coal">{{channel.subtitle}}</small>
            </div>
            <span class="badge twltte-bg rounded-pill">{{channel.count}}</span>
          </a>

<br>
<br>
<br>
<br> -->
           <a (click)="updatevalue('Facebook')"
            class="all-inboxes-menu list-group-item list-group-item-action" value="facebook">
            <div class="iconButton medium navyBg">
              <i class="fab fa-facebook-f"></i>
            </div>
            <div class="ms-2 me-auto">
              <div>Facebook</div>
              <small class="coal">/KElectricPk</small>
            </div>
            <span class="badge twltte-bg rounded-pill">{{FbUnResponded}}</span>
          </a>
          <a (click)="updatevalue('Twitter')"
            class="all-inboxes-menu list-group-item list-group-item-action" value="twitter">
            <div class="iconButton medium oceanBg">
              <i class="fab fa-twitter"></i>
            </div>

            <div class="ms-2 me-auto">
              <div>Twitter</div>
            </div>
            <span class="badge twltte-bg rounded-pill">{{TwitterUnResponded}}</span>
          </a>
          <a (click)="updatevalue('Instagram')"
            class="all-inboxes-menu list-group-item list-group-item-action" value="instagram">
            <div class="iconButton medium instabg">
              <i class="fab fa-instagram"></i>
            </div>

            <div class="ms-2 me-auto">
              <div>Instagram</div>
            </div>
            <span class="badge twltte-bg rounded-pill">{{InstaUnResponded}}</span>
          </a>
          <a (click)="updatevalue('LinkedIn')"
            class="all-inboxes-menu list-group-item list-group-item-action" value="linkedin">
            <div class="iconButton medium linkedinbg">
              <i class="fa-brands fa-linkedin-in"></i>
            </div>

            <div class="ms-2 me-auto">
              <div>LinkedIn</div>
            </div>
            <span class="badge twltte-bg rounded-pill">{{LinkedInUnResponded}}</span>
          </a>
        </div>
        </ul>
    </div>
  </div>
